USE [dea]
GO
/****** Object:  Table [dbo].[arc_Attachment_AttachmentID_Delete_List]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arc_Attachment_AttachmentID_Delete_List](
	[AttachmentID] [int] NOT NULL,
	[ProcessDate] [datetime] NULL,
 CONSTRAINT [PK_arc_Attachment_AttachmentID_Delete_List] PRIMARY KEY CLUSTERED 
(
	[AttachmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arc_Attachment_ClaimID_Delete_List]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arc_Attachment_ClaimID_Delete_List](
	[ClaimID] [int] NOT NULL,
	[ProcessDate] [datetime] NULL,
 CONSTRAINT [PK_arc_Attachment_ClaimID_Delete_List] PRIMARY KEY CLUSTERED 
(
	[ClaimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arc_Attachment_RTServiceAuditID_Delete_List]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arc_Attachment_RTServiceAuditID_Delete_List](
	[RTServiceAuditID] [int] NOT NULL,
	[ProcessDate] [datetime] NULL,
 CONSTRAINT [PK_arc_Attachment_RTServiceAuditID_Delete_List] PRIMARY KEY CLUSTERED 
(
	[RTServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arc_Attachment_SAServiceAuditID_Delete_List]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arc_Attachment_SAServiceAuditID_Delete_List](
	[SAServiceAuditID] [int] NOT NULL,
	[ProcessDate] [datetime] NULL,
 CONSTRAINT [PK_arc_Attachment_SAServiceAuditID_Delete_List] PRIMARY KEY CLUSTERED 
(
	[SAServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachment]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachment](
	[AttachmentID] [int] IDENTITY(1000,1) NOT FOR REPLICATION NOT NULL,
	[ClaimID] [int] NULL,
	[ExternalRef] [varchar](50) NULL,
	[VendorAttachmentCtrlNo] [varchar](50) NULL,
	[Status] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[ServiceCode] [char](3) NULL,
	[ServiceAuditID] [int] NULL,
	[Narrative] [varchar](2000) NULL,
	[SubscriberID] [varchar](80) NULL,
	[PayerRefID] [varchar](50) NULL,
	[BillingNPI] [varchar](30) NULL,
	[RenderingNPI] [varchar](30) NULL,
	[PatientLastName] [varchar](60) NULL,
	[PatientFirstName] [varchar](35) NULL,
	[PatientDOB] [datetime] NULL,
	[DateOfService] [datetime] NULL,
	[CreateDate] [datetime] NOT NULL,
	[ViewDate] [datetime] NULL,
	[SubmitDate] [datetime] NULL,
	[TimeStmp] [datetime] NULL,
	[SupportUserID] [int] NULL,
	[ParentAttachmentID] [int] NULL,
	[OrigClaimId] [varchar](50) NULL,
	[PayerIdCode] [varchar](50) NULL,
	[SourcePartnerCode] [char](3) NULL,
	[DestPartnerCode] [char](3) NULL,
	[PartnerClaimID] [varchar](50) NULL,
	[BillProvFirstName] [varchar](35) NULL,
	[BillProvLastName] [varchar](60) NULL,
	[BillProvTaxonomy] [varchar](10) NULL,
	[BillProvAddr] [varchar](50) NULL,
	[BillProvAddr2] [varchar](50) NULL,
	[BillProvCity] [varchar](30) NULL,
	[BillProvState] [varchar](2) NULL,
	[BillProvZip] [varchar](10) NULL,
	[SubscriberFirstName] [varchar](35) NULL,
	[SubscriberLastName] [varchar](60) NULL,
	[STCDetail] [varchar](100) NULL,
	[TaxID] [varchar](30) NULL,
	[GroupID] [int] NULL,
	[PayerID] [int] NULL,
	[RenderProvAddr] [varchar](50) NULL,
	[RenderProvAddr2] [varchar](50) NULL,
	[RenderProvCity] [varchar](30) NULL,
	[RenderProvState] [varchar](2) NULL,
	[RenderProvZip] [varchar](10) NULL,
	[RTServiceAuditID] [int] NULL,
	[SourceIndicator] [char](1) NULL,
	[UserID] [int] NULL,
	[AttachmentRequestType] [int] NULL,
	[ReleaseType] [int] NOT NULL,
	[PartnerAttachmentID] [varchar](50) NULL,
	[RenderProvLicense] [varchar](50) NULL,
	[RenderProvFirstName] [varchar](35) NULL,
	[RenderProvLastName] [varchar](60) NULL,
	[SpecialtyCode] [int] NULL,
 CONSTRAINT [PK_Attachment] PRIMARY KEY CLUSTERED 
(
	[AttachmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentHistory]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentHistory](
	[AttachmentHistoryID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AttachmentID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[TimeStmp] [datetime] NULL,
	[ServiceAuditId] [int] NULL,
	[Active] [int] NULL,
	[SupportUserId] [int] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
	[UserID] [int] NULL,
	[RtServiceAuditId] [int] NULL,
	[PayerIdCode] [varchar](50) NULL,
	[DestPartnerCode] [char](3) NULL,
	[PayerID] [int] NULL,
 CONSTRAINT [PK_AttachmentHistory] PRIMARY KEY CLUSTERED 
(
	[AttachmentHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentImage]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentImage](
	[AttachmentImageID] [int] IDENTITY(1000,1) NOT FOR REPLICATION NOT NULL,
	[AttachmentID] [int] NOT NULL,
	[ImageCode] [char](2) NULL,
	[ImageType] [int] NULL,
	[ImageOrientationType] [int] NULL,
	[CreateUserID] [int] NULL,
	[ImageDate] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[VendorImageID] [varchar](50) NULL,
	[Status] [int] NOT NULL,
	[OutImageID] [varchar](15) NULL,
	[Source] [varchar](50) NULL,
	[DeliveredAttachmentID] [int] NULL,
	[ImageSize] [bigint] NULL,
	[Compressed] [bit] NOT NULL,
	[ParentAttachmentImageID] [int] NULL,
 CONSTRAINT [PK_AttachmentImage] PRIMARY KEY CLUSTERED 
(
	[AttachmentImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentNote]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentNote](
	[AttachmentNoteID] [int] IDENTITY(1,1) NOT NULL,
	[AttachmentID] [int] NOT NULL,
	[Note] [text] NOT NULL,
	[Type] [varchar](50) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentReportTypeCode]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentReportTypeCode](
	[ReportTypeCode] [char](2) NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[ImageType] [int] NOT NULL,
	[NeaImageCode] [int] NOT NULL,
 CONSTRAINT [PK_AttachmentReportTypeCode] PRIMARY KEY CLUSTERED 
(
	[ReportTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentService]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentService](
	[AttachmentServiceID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PayerID] [int] NOT NULL,
	[GroupID] [int] NULL,
	[ServiceType] [varchar](50) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[PayerIDCode] [varchar](80) NULL,
	[MasterPayerID] [int] NULL,
	[SupportUserID] [int] NULL,
	[RetryCount] [int] NULL,
	[RetryDelayInMins] [int] NULL,
 CONSTRAINT [PK_AttachmentService] PRIMARY KEY CLUSTERED 
(
	[AttachmentServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_AttachmentService_PayerID_GroupID_ServiceType] UNIQUE NONCLUSTERED 
(
	[PayerID] ASC,
	[GroupID] ASC,
	[ServiceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentServiceAudit]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentServiceAudit](
	[AttachmentServiceAuditID] [int] IDENTITY(1,1) NOT NULL,
	[AttachmentServiceID] [int] NULL,
	[PayerID] [int] NULL,
	[GroupID] [int] NULL,
	[ServiceType] [varchar](50) NULL,
	[ServiceCode] [char](3) NULL,
	[MasterPayerID] [int] NULL,
	[PayerIDCode] [varchar](80) NULL,
	[SupportUserID] [int] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_AttachmentServiceAudit] PRIMARY KEY CLUSTERED 
(
	[AttachmentServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentStatus]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentStatus](
	[AttachmentStatusID] [int] NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[display] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AttachmentStatus] PRIMARY KEY CLUSTERED 
(
	[AttachmentStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEAPayer]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEAPayer](
	[PayerID] [int] NOT NULL,
	[SolicitedType] [int] NOT NULL,
	[AddressRequired] [bit] NOT NULL,
	[AddressUpgradeType] [int] NULL,
	[AddlInfoConfigType] [int] NOT NULL,
	[DeliveryFormat] [varchar](10) NULL,
 CONSTRAINT [PK_DEAPayer] PRIMARY KEY CLUSTERED 
(
	[PayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEAProcedureCode]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEAProcedureCode](
	[DEAProcedureCodeID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PayerID] [int] NULL,
	[ProcedureCode] [varchar](5) NULL,
	[ClaimType] [char](2) NULL,
	[Narrative] [bit] NOT NULL,
	[Xray] [bit] NOT NULL,
	[Periochart] [bit] NOT NULL,
	[GroupID] [int] NULL,
	[UserID] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[Other] [bit] NOT NULL,
	[AdditionalInfo] [varchar](200) NULL,
	[ProcedureSelectionType] [int] NOT NULL,
	[WeightedOrder]  AS (((((case when [UserID] IS NULL then (0) else (-10000000) end+case when [GroupID] IS NULL then (0) else (-1000000) end)+case when isnull([PayerID],(0))=(0) then (0) else (-100000) end)-((10000)-CONVERT([int],right(isnull([ProcedureCode],'00000'),(4)),(0))))-((100)-case [ClaimType] when 'PB' then (3) when 'EN' then (2) when 'CL' then (1) else (0) end))-case when [ProcedureSelectionType] IS NULL then (0) else [ProcedureSelectionType]*(10000) end) PERSISTED,
 CONSTRAINT [PK_DEAProcedureCode] PRIMARY KEY CLUSTERED 
(
	[DEAProcedureCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEAProcedureCode_20230615]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEAProcedureCode_20230615](
	[DEAProcedureCodeID] [int] IDENTITY(1,1) NOT NULL,
	[PayerID] [int] NULL,
	[ProcedureCode] [varchar](5) NULL,
	[ClaimType] [char](2) NULL,
	[Narrative] [bit] NOT NULL,
	[Xray] [bit] NOT NULL,
	[Periochart] [bit] NOT NULL,
	[GroupID] [int] NULL,
	[UserID] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[Other] [bit] NOT NULL,
	[WeightedOrder] [int] NULL,
	[AdditionalInfo] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEAProcedureCodeAudit]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEAProcedureCodeAudit](
	[DEAProcedureCodeAuditID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DEAProcedureCodeID] [int] NULL,
	[PayerID] [int] NULL,
	[ProcedureCode] [varchar](5) NULL,
	[ClaimType] [char](2) NULL,
	[Narrative] [bit] NULL,
	[Xray] [bit] NULL,
	[Periochart] [bit] NULL,
	[GroupID] [int] NULL,
	[UserID] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[Other] [bit] NOT NULL,
	[WeightedOrder] [int] NULL,
	[AdditionalInfo] [varchar](200) NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
	[ProcedureSelectionType] [int] NULL,
 CONSTRAINT [PK_DEAProcedureCodeAudit] PRIMARY KEY CLUSTERED 
(
	[DEAProcedureCodeAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageDocument]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageDocument](
	[ImageDocumentID] [int] IDENTITY(1,1) NOT NULL,
	[AttachmentImageID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifyDate] [datetime] NULL,
	[FileName] [varchar](200) NULL,
	[ContentType] [varchar](200) NULL,
	[Content] [varbinary](max) NULL,
	[OutImageID] [varchar](50) NULL,
 CONSTRAINT [PK_ImageDocument] PRIMARY KEY CLUSTERED 
(
	[ImageDocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Secondary]
) ON [Secondary] TEXTIMAGE_ON [Secondary]
GO
/****** Object:  Table [dbo].[ResourceType]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceType](
	[ResourceTypeID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ResourceType] PRIMARY KEY CLUSTERED 
(
	[ResourceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RowCountsAndSizes]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RowCountsAndSizes](
	[TableName] [nvarchar](128) NULL,
	[rows] [char](11) NULL,
	[reserved] [varchar](18) NULL,
	[data] [varchar](18) NULL,
	[index_size] [varchar](18) NULL,
	[unused] [varchar](18) NULL,
	[createdate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTServiceAudit]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTServiceAudit](
	[RTServiceAuditID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Error] [bit] NULL,
	[ServiceCode] [varchar](4) NULL,
	[ServiceType] [varchar](32) NULL,
	[ClientName] [varchar](50) NULL,
	[ClientVersion] [varchar](50) NULL,
	[ParentAuditID] [int] NULL,
	[ErrorString] [varchar](256) NULL,
	[ContractID] [int] NULL,
	[TxRequest] [image] NULL,
	[TxResponse] [image] NULL,
	[WidgetID] [int] NULL,
	[MessageID] [varchar](255) NULL,
	[UserID] [int] NULL,
	[SubServiceType] [varchar](32) NULL,
	[BatchNo] [int] NULL,
 CONSTRAINT [PK_RTServiceAudit] PRIMARY KEY CLUSTERED 
(
	[RTServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAServiceAudit]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAServiceAudit](
	[SAServiceAuditID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Error] [bit] NULL,
	[ServiceCode] [varchar](4) NULL,
	[ServiceType] [varchar](32) NULL,
	[SuccessCount] [int] NULL,
	[FailureCount] [int] NULL,
	[IncomingLocalFile] [varchar](1024) NULL,
	[OutgoingLocalFile] [varchar](1024) NULL,
	[IncomingRemoteFile] [varchar](1024) NULL,
	[OutgoingRemoteFile] [varchar](1024) NULL,
	[MessageID] [varchar](50) NULL,
	[ErrorString] [varchar](256) NULL,
 CONSTRAINT [PK_SAServiceAudit] PRIMARY KEY CLUSTERED 
(
	[SAServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceDowntime]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceDowntime](
	[ServiceDowntimeID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceType] [varchar](50) NOT NULL,
	[DayOfWeek] [int] NULL,
	[OverrideDate] [datetime] NULL,
	[StartTime] [time](0) NULL,
	[EndTime] [time](0) NULL,
 CONSTRAINT [PK_ServiceDowntime] PRIMARY KEY CLUSTERED 
(
	[ServiceDowntimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceHostConfiguration]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceHostConfiguration](
	[ServiceHostConfigurationID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [varchar](32) NOT NULL,
	[ServiceCode] [varchar](32) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Processor] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ServiceHostConfiguration] PRIMARY KEY CLUSTERED 
(
	[ServiceHostConfigurationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceProperty]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceProperty](
	[ServicePropertyID] [int] IDENTITY(1,1) NOT NULL,
	[Stage] [char](3) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Property] [varchar](32) NOT NULL,
	[Val] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_ServiceProperty] PRIMARY KEY CLUSTERED 
(
	[ServicePropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ServiceProperty_ServiceCode_ServiceType_Property_Stage] UNIQUE NONCLUSTERED 
(
	[ServiceCode] ASC,
	[ServiceType] ASC,
	[Property] ASC,
	[Stage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePropertyAudit]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePropertyAudit](
	[ServicePropertyAuditID] [int] IDENTITY(1,1) NOT NULL,
	[ServicePropertyID] [int] NULL,
	[Stage] [char](3) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Property] [varchar](32) NOT NULL,
	[Val] [varchar](1024) NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkStation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_ServicePropertyAudit] PRIMARY KEY CLUSTERED 
(
	[ServicePropertyAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zDBTestTable]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zDBTestTable](
	[DBTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [nvarchar](255) NULL,
	[Timestmp] [datetime] NOT NULL,
 CONSTRAINT [PK_zDBTestTable] PRIMARY KEY CLUSTERED 
(
	[DBTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zPoolTestTable]    Script Date: 8/15/2025 4:44:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zPoolTestTable](
	[PoolTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Column1] [bit] NULL,
 CONSTRAINT [PK_zPoolTestTable] PRIMARY KEY CLUSTERED 
(
	[PoolTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[arc_Attachment_AttachmentID_Delete_List] ADD  CONSTRAINT [DF_arc_Attachment_AttachmentID_Delete_List_ProcessDate]  DEFAULT (getdate()) FOR [ProcessDate]
GO
ALTER TABLE [dbo].[arc_Attachment_ClaimID_Delete_List] ADD  CONSTRAINT [DF_arc_Attachment_ClaimID_Delete_List_ProcessDate]  DEFAULT (getdate()) FOR [ProcessDate]
GO
ALTER TABLE [dbo].[arc_Attachment_RTServiceAuditID_Delete_List] ADD  CONSTRAINT [DF_arc_Attachment_RTServiceAuditID_Delete_List_ProcessDate]  DEFAULT (getdate()) FOR [ProcessDate]
GO
ALTER TABLE [dbo].[arc_Attachment_SAServiceAuditID_Delete_List] ADD  CONSTRAINT [DF_arc_Attachment_SAServiceAuditID_Delete_List_ProcessDate]  DEFAULT (getdate()) FOR [ProcessDate]
GO
ALTER TABLE [dbo].[Attachment] ADD  CONSTRAINT [DF_Attachment_ReleaseType]  DEFAULT ((0)) FOR [ReleaseType]
GO
ALTER TABLE [dbo].[AttachmentImage] ADD  CONSTRAINT [DF_AttachmentImage_Compressed]  DEFAULT ((0)) FOR [Compressed]
GO
ALTER TABLE [dbo].[AttachmentNote] ADD  CONSTRAINT [DF_AttachmentNote_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AttachmentService] ADD  CONSTRAINT [DF_AttachmentService_PayerIDCode]  DEFAULT (NULL) FOR [PayerIDCode]
GO
ALTER TABLE [dbo].[DEAPayer] ADD  CONSTRAINT [DF_DEAPayer_AddressRequired]  DEFAULT ((0)) FOR [AddressRequired]
GO
ALTER TABLE [dbo].[DEAPayer] ADD  CONSTRAINT [DF_DEAPayer_AddlInfoConfigType]  DEFAULT ((1)) FOR [AddlInfoConfigType]
GO
ALTER TABLE [dbo].[DEAProcedureCode] ADD  CONSTRAINT [DF_DEAProcedureCode_Narrative]  DEFAULT ((1)) FOR [Narrative]
GO
ALTER TABLE [dbo].[DEAProcedureCode] ADD  CONSTRAINT [DF_DEAProcedureCode_Xray]  DEFAULT ((1)) FOR [Xray]
GO
ALTER TABLE [dbo].[DEAProcedureCode] ADD  CONSTRAINT [DF_DEAProcedureCode_PerioChart]  DEFAULT ((1)) FOR [Periochart]
GO
ALTER TABLE [dbo].[DEAProcedureCode] ADD  CONSTRAINT [DF_DEAProcedureCode_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DEAProcedureCode] ADD  CONSTRAINT [DF_DEAProcedureCode_Other]  DEFAULT ((0)) FOR [Other]
GO
ALTER TABLE [dbo].[RowCountsAndSizes] ADD  CONSTRAINT [DF_RowCountsAndSizes_createdate]  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[ServiceProperty] ADD  CONSTRAINT [DF_ServiceProperty_Stage]  DEFAULT ('com') FOR [Stage]
GO
ALTER TABLE [dbo].[zDBTestTable] ADD  CONSTRAINT [DF_zDBTestTable_Timestmp]  DEFAULT (getdate()) FOR [Timestmp]
GO
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_RTServiceAudit_RTServiceAuditID] FOREIGN KEY([RTServiceAuditID])
REFERENCES [dbo].[RTServiceAudit] ([RTServiceAuditID])
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FK_Attachment_RTServiceAudit_RTServiceAuditID]
GO
ALTER TABLE [dbo].[AttachmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_AttachmentHistory_Attachment_AttachmentID] FOREIGN KEY([AttachmentID])
REFERENCES [dbo].[Attachment] ([AttachmentID])
GO
ALTER TABLE [dbo].[AttachmentHistory] CHECK CONSTRAINT [FK_AttachmentHistory_Attachment_AttachmentID]
GO
ALTER TABLE [dbo].[AttachmentImage]  WITH CHECK ADD  CONSTRAINT [FK_AttachmentImage_Attachment_AttachmentID] FOREIGN KEY([AttachmentID])
REFERENCES [dbo].[Attachment] ([AttachmentID])
GO
ALTER TABLE [dbo].[AttachmentImage] CHECK CONSTRAINT [FK_AttachmentImage_Attachment_AttachmentID]
GO
ALTER TABLE [dbo].[ImageDocument]  WITH CHECK ADD  CONSTRAINT [FK_ImageDocument_AttachmentImage_AttachmentImageID] FOREIGN KEY([AttachmentImageID])
REFERENCES [dbo].[AttachmentImage] ([AttachmentImageID])
GO
ALTER TABLE [dbo].[ImageDocument] CHECK CONSTRAINT [FK_ImageDocument_AttachmentImage_AttachmentImageID]
GO
ALTER TABLE [dbo].[AttachmentService]  WITH NOCHECK ADD  CONSTRAINT [CK_AttachmentService_ServiceCode] CHECK NOT FOR REPLICATION (([dbo].[IsValidServiceCode]([ServiceCode])=(1)))
GO
ALTER TABLE [dbo].[AttachmentService] CHECK CONSTRAINT [CK_AttachmentService_ServiceCode]
GO
ALTER TABLE [dbo].[AttachmentService]  WITH NOCHECK ADD  CONSTRAINT [CK_AttachmentService_ServiceType] CHECK NOT FOR REPLICATION (([dbo].[IsValidServiceType]([ServiceType])=(1)))
GO
ALTER TABLE [dbo].[AttachmentService] CHECK CONSTRAINT [CK_AttachmentService_ServiceType]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identity PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'RTServiceAuditID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client host name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'Host'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Start time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'StartTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Elig / Status / RTEOB' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'EndTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates a fatal error - the whole process failed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'Error'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The (recipient)code of the operation' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'ServiceCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The type of the operation - claim sender, EOB reader, ect.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'ServiceType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'String identifying the client of the service' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'ClientName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Version of the client''s system/software.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'ClientVersion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reference to the parent invokation  audit record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'ParentAuditID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Exception interpretation.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'ErrorString'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Customer''s Contract ID used when making the service request.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'ContractID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Used to record TRN segment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RTServiceAudit', @level2type=N'COLUMN',@level2name=N'MessageID'
GO
