USE [merchant]
GO
/****** Object:  Table [dbo].[AccountToken]    Script Date: 8/15/2025 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountToken](
	[AccountTokenID] [int] IDENTITY(1000,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Token] [char](12) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ExpireDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AccountToken] PRIMARY KEY CLUSTERED 
(
	[AccountTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 8/15/2025 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1000,1) NOT NULL,
	[NameOnCard] [varchar](50) NULL,
	[Address] [varchar](55) NULL,
	[Zip] [varchar](10) NULL,
	[Amount] [money] NULL,
	[Number] [varchar](50) NULL,
	[ExpMo] [int] NULL,
	[ExpYr] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[GroupId] [int] NULL,
	[InvoiceNumber] [varchar](25) NULL,
	[Status] [int] NULL,
	[Message] [varchar](256) NULL,
	[TransactionType] [varchar](1) NULL,
	[Token] [varchar](15) NULL,
	[RefNumber] [varchar](25) NULL,
	[AccountTokenID] [int] NOT NULL,
	[PaymentTokenID] [int] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentAudit]    Script Date: 8/15/2025 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentAudit](
	[PaymentAuditID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentID] [int] NULL,
	[NameOnCard] [varchar](50) NULL,
	[Address] [varchar](55) NULL,
	[Zip] [varchar](10) NULL,
	[Amount] [money] NULL,
	[Number] [varchar](50) NULL,
	[ExpMo] [int] NULL,
	[ExpYr] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[GroupId] [int] NULL,
	[InvoiceNumber] [varchar](25) NULL,
	[Status] [int] NULL,
	[Message] [varchar](256) NULL,
	[TransactionType] [varchar](1) NULL,
	[Token] [varchar](15) NULL,
	[RefNumber] [varchar](25) NULL,
	[AccountTokenID] [int] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_PaymentAudit] PRIMARY KEY CLUSTERED 
(
	[PaymentAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDetails]    Script Date: 8/15/2025 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetails](
	[PaymentDetailsID] [int] IDENTITY(1000,1) NOT FOR REPLICATION NOT NULL,
	[Type] [varchar](20) NULL,
	[Number] [varchar](50) NOT NULL,
	[ExpMo] [int] NOT NULL,
	[ExpYr] [int] NOT NULL,
	[NameOnCard] [varchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[GroupID] [int] NULL,
	[MerchantID] [varchar](50) NULL,
 CONSTRAINT [PK_PaymentDetails] PRIMARY KEY CLUSTERED 
(
	[PaymentDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentToken]    Script Date: 8/15/2025 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentToken](
	[PaymentTokenID] [int] IDENTITY(1000,1) NOT FOR REPLICATION NOT NULL,
	[PaymentDetailsID] [int] NOT NULL,
	[Token] [char](16) NOT NULL,
	[ExpMo] [int] NOT NULL,
	[ExpYr] [int] NOT NULL,
	[GroupID] [int] NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[MerchantID] [varchar](50) NULL,
	[CCToken] [varchar](50) NULL,
 CONSTRAINT [PK_PaymentToken] PRIMARY KEY CLUSTERED 
(
	[PaymentTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTServiceAudit]    Script Date: 8/15/2025 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTServiceAudit](
	[RTServiceAuditID] [int] IDENTITY(3000000,1) NOT FOR REPLICATION NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Error] [bit] NULL,
	[ServiceCode] [char](3) NULL,
	[ServiceType] [varchar](32) NULL,
	[ClientName] [varchar](50) NULL,
	[ClientVersion] [varchar](50) NULL,
	[ParentAuditID] [int] NULL,
	[ErrorString] [varchar](256) NULL,
	[TxRequest] [image] NULL,
	[TxResponse] [image] NULL,
	[UserID] [int] NULL,
	[GroupID] [int] NULL,
	[MerchantKey] [int] NULL,
	[SubServiceType] [varchar](32) NULL,
 CONSTRAINT [PK_RTServiceAudit] PRIMARY KEY CLUSTERED 
(
	[RTServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RTServiceAudit] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[zDBTestTable]    Script Date: 8/15/2025 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zDBTestTable](
	[DBTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [nvarchar](255) NULL,
	[Timestmp] [datetime] NOT NULL,
 CONSTRAINT [PK_zDBTestTable] PRIMARY KEY CLUSTERED 
(
	[DBTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zPoolTestTable]    Script Date: 8/15/2025 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zPoolTestTable](
	[PoolTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Column1] [bit] NULL,
 CONSTRAINT [PK_zPoolTestTable] PRIMARY KEY CLUSTERED 
(
	[PoolTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zDBTestTable] ADD  CONSTRAINT [DF_zDBTestTable_Timestmp]  DEFAULT (getdate()) FOR [Timestmp]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_AccountToken] FOREIGN KEY([AccountTokenID])
REFERENCES [dbo].[AccountToken] ([AccountTokenID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_AccountToken]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentToken] FOREIGN KEY([PaymentTokenID])
REFERENCES [dbo].[PaymentToken] ([PaymentTokenID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentToken]
GO
ALTER TABLE [dbo].[PaymentToken]  WITH CHECK ADD  CONSTRAINT [FK_PaymentToken_PaymentDetails_PaymentDetailsID] FOREIGN KEY([PaymentDetailsID])
REFERENCES [dbo].[PaymentDetails] ([PaymentDetailsID])
GO
ALTER TABLE [dbo].[PaymentToken] CHECK CONSTRAINT [FK_PaymentToken_PaymentDetails_PaymentDetailsID]
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD  CONSTRAINT [CK_PaymentDetail_GroupID_MerchantID] CHECK  (([GroupID] IS NOT NULL OR [MerchantID] IS NOT NULL))
GO
ALTER TABLE [dbo].[PaymentDetails] CHECK CONSTRAINT [CK_PaymentDetail_GroupID_MerchantID]
GO
ALTER TABLE [dbo].[PaymentToken]  WITH CHECK ADD  CONSTRAINT [CK_PaymentToken_GroupID_MerchantID] CHECK  (([GroupID] IS NOT NULL OR [MerchantID] IS NOT NULL))
GO
ALTER TABLE [dbo].[PaymentToken] CHECK CONSTRAINT [CK_PaymentToken_GroupID_MerchantID]
GO
