USE [pnt]
GO
/****** Object:  Table [dbo].[BillingActivity]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingActivity](
	[BillingActivityID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ContractID] [int] NOT NULL,
	[PriceScheduleID] [int] NULL,
	[WidgetID] [nvarchar](20) NOT NULL,
	[WidgetType] [nvarchar](10) NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[StatementItemID] [int] NULL,
	[ResellerStatementID] [int] NULL,
	[VendorStatementID] [int] NULL,
	[GroupCommissionID] [int] NULL,
	[CommissionStatementItemID] [int] NULL,
	[SubscriptionCharge] [bit] NULL,
 CONSTRAINT [PK_BillingActivity] PRIMARY KEY CLUSTERED 
(
	[BillingActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BillingActivitySummaryView]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[BillingActivitySummaryView]
WITH SCHEMABINDING 
AS
SELECT     CONVERT(DATETIME, CAST(DATEPART(MONTH, SubmitDate) AS NVARCHAR(2)) + '/1/' + CAST(DATEPART(YEAR, SubmitDate) AS CHAR(4)), 101) AS Period, ContractID, 
                      PriceScheduleID, WidgetType, ISNULL(SubscriptionCharge, 0) AS SubscriptionCharge, CASE WHEN dbo.BillingActivity.StatementItemID IS NULL OR
                      dbo.BillingActivity.StatementItemID = 0 THEN 0 ELSE 1 END AS Billed, COUNT_BIG(*) AS Quantity
FROM         dbo.BillingActivity
GROUP BY CONVERT(DATETIME, CAST(DATEPART(MONTH, SubmitDate) AS NVARCHAR(2)) + '/1/' + CAST(DATEPART(YEAR, SubmitDate) AS CHAR(4)), 101), ContractID, 
                      PriceScheduleID, WidgetType, ISNULL(SubscriptionCharge, 0), StatementItemID

GO
/****** Object:  View [dbo].[BillingActivitySummaryCommissionView]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[BillingActivitySummaryCommissionView]
AS
    SELECT  master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) AS Period ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ba.GroupCommissionID ,
            gc.SupportUserID ,
            ISNULL(ba.SubscriptionCharge, 0) AS SubscriptionCharge ,
            CASE WHEN ba.CommissionStatementItemID IS NULL
                      OR ba.CommissionStatementItemID = 0 THEN 0
                 ELSE 1
            END AS Billed ,
            COUNT_BIG(*) AS Quantity
    FROM    BillingActivity ba
            JOIN common..GroupCommission gc ON ba.GroupCommissionID = gc.GroupCommissionID
    WHERE   ( ba.GroupCommissionID IS NOT NULL
              AND ba.GroupCommissionID <> 0
            )
            AND ( gc.SupportUserID IS NOT NULL
                  AND gc.SupportUserID > 0
                )
    GROUP BY master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ba.GroupCommissionID ,
            gc.SupportUserID ,
            ISNULL(ba.SubscriptionCharge, 0) ,
            ba.CommissionStatementItemID 

GO
/****** Object:  View [dbo].[BillingActivitySummaryResellerView]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[BillingActivitySummaryResellerView]
AS
    SELECT  master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) AS Period ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ISNULL(ba.SubscriptionCharge, 0) AS SubscriptionCharge ,
            CASE WHEN ba.ResellerStatementID IS NULL
                      OR ba.ResellerStatementID = 0 THEN 0
                 ELSE 1
            END AS Billed ,
            COUNT_BIG(*) AS Quantity
    FROM    BillingActivity ba
            JOIN Common.dbo.ProductGroupPackage pgp ON ba.ContractID = pgp.ContractID
            JOIN Common.dbo.GroupResellerView grv ON pgp.GroupID = grv.GroupID
    WHERE   grv.ResellerType = 'R'
    GROUP BY master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ISNULL(ba.SubscriptionCharge, 0) ,
            ba.ResellerStatementID

GO
/****** Object:  View [dbo].[BillingActivitySummaryVendorView]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[BillingActivitySummaryVendorView]
AS
    SELECT  master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) AS Period ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ISNULL(ba.SubscriptionCharge, 0) AS SubscriptionCharge ,
            CASE WHEN ba.VendorStatementID IS NULL
                      OR ba.VendorStatementID = 0 THEN 0
                 ELSE 1
            END AS Billed ,
            COUNT_BIG(*) AS Quantity
    FROM    BillingActivity ba
            JOIN Common.dbo.ProductGroupPackage pgp ON ba.ContractID = pgp.ContractID
            LEFT JOIN Common.dbo.PMSGroup pg ON pgp.GroupID = pg.GroupID
            JOIN Common.dbo.PMS p ON pg.PMSID = p.PMSID
            JOIN Common.dbo.Reseller r ON p.ResellerID = r.ResellerID
    WHERE   r.Type = 'V'
            AND pg.IsActive = 1
    GROUP BY master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ISNULL(ba.SubscriptionCharge, 0) ,
            ba.VendorStatementID
GO
/****** Object:  Table [dbo].[DataBill_Support_Temp]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataBill_Support_Temp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StatementID] [varchar](1000) NULL,
	[Guarantor] [varchar](1000) NULL,
	[NumberOfPages] [varchar](50) NULL,
	[duplexPageCount] [varchar](50) NULL,
	[ProcessDate] [datetime] NULL,
	[SumAdditionalPostage] [varchar](50) NULL,
	[FastForwardAmount] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatabillEOMReport]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatabillEOMReport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[stmtscount] [int] NULL,
	[AddPageCount] [int] NULL,
	[duplexPageCount] [int] NULL,
	[StmtsSupprCount] [int] NULL,
	[stmtsEmailcount] [int] NULL,
	[DPVNCount] [int] NULL,
	[DPVUCount] [int] NULL,
	[NCOACount] [int] NULL,
	[stmtCost] [money] NULL,
	[AddPagesCost] [money] NULL,
	[DuplexCost] [money] NULL,
	[emailCount] [money] NULL,
	[DPVNcost] [money] NULL,
	[DPVUcost] [money] NULL,
	[NCOACost] [money] NULL,
	[PostageCost] [money] NULL,
	[Itemtotalcost] [money] NULL,
	[Period] [datetime] NOT NULL,
	[ProcessDate] [datetime] NULL,
 CONSTRAINT [PK_DatabillEOMReport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatabillEOMReportTemp]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatabillEOMReportTemp](
	[stmtscount] [varchar](50) NULL,
	[AddPageCount] [varchar](50) NULL,
	[duplexPageCount] [varchar](50) NULL,
	[StmtsSupprCount] [varchar](50) NULL,
	[stmtsEmailcount] [varchar](50) NULL,
	[DPVNCount] [varchar](50) NULL,
	[DPVUCount] [varchar](50) NULL,
	[NCOACount] [varchar](50) NULL,
	[stmtCost] [varchar](50) NULL,
	[AddPagesCost] [varchar](50) NULL,
	[DuplexCost] [varchar](50) NULL,
	[emailCount] [varchar](50) NULL,
	[DPVNcost] [varchar](50) NULL,
	[DPVUcost] [varchar](50) NULL,
	[NCOACost] [varchar](50) NULL,
	[PostageCost] [varchar](50) NULL,
	[Itemtotalcost] [varchar](50) NULL,
	[Period] [varchar](255) NULL,
	[ProcessDate] [varchar](255) NULL,
	[TAX] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorMessage]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorMessage](
	[ErrorCode] [varchar](30) NOT NULL,
	[Description] [varchar](512) NOT NULL,
 CONSTRAINT [PK_ErrorMessage] PRIMARY KEY CLUSTERED 
(
	[ErrorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invitation]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invitation](
	[InvitationID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GroupID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](254) NULL,
	[Message] [varchar](7000) NULL,
	[TimeStmp] [datetime] NOT NULL,
	[RegisterDate] [datetime] NULL,
	[InvitationSent] [bit] NULL,
	[PtpUserID] [int] NULL,
 CONSTRAINT [PK_Invitation] PRIMARY KEY CLUSTERED 
(
	[InvitationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageFeature]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageFeature](
	[PageName] [varchar](50) NOT NULL,
	[FeatureName] [char](32) NOT NULL,
 CONSTRAINT [PK_PageFeature] PRIMARY KEY CLUSTERED 
(
	[PageName] ASC,
	[FeatureName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientOptOut]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientOptOut](
	[PatientOptOutID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](254) NULL,
	[OptOutDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PatientOptOut_PatientOptOutID] PRIMARY KEY CLUSTERED 
(
	[PatientOptOutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientOptOutAudit]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientOptOutAudit](
	[PatientOptOutAuditID] [int] IDENTITY(1,1) NOT NULL,
	[PatientOptOutID] [int] NULL,
	[GroupID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](254) NULL,
	[OptOutDate] [datetime] NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_PatientOptOutAudit_PatientOptOutAuditID] PRIMARY KEY CLUSTERED 
(
	[PatientOptOutAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PntGroup]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PntGroup](
	[GroupID] [int] NOT NULL,
	[Directory] [varchar](500) NULL,
	[FileName] [varchar](50) NULL,
	[Suspend] [bit] NOT NULL,
	[OutputFormat] [varchar](25) NOT NULL,
	[ReturnService] [bit] NOT NULL,
	[CreditCardChoice] [varchar](20) NOT NULL,
	[UseLogo] [bit] NOT NULL,
	[ElectronicDelivery] [bit] NOT NULL,
	[UseDefaultPaymentUrl] [bit] NOT NULL,
	[CustomPaymentUrl] [varchar](500) NULL,
	[PrintOnlinePaymentInfo] [bit] NOT NULL,
	[UseDefaultDueDays] [bit] NOT NULL,
	[DueDays] [int] NOT NULL,
	[NcoaType] [int] NULL,
	[DueDateTextOverride] [varchar](50) NULL,
	[WriteAgingInfo] [bit] NOT NULL,
	[RequirePatientAccount] [bit] NULL,
	[ValidatorName] [varchar](255) NULL,
	[AutoDropInvalidEmailToPrint] [bit] NULL,
	[RemitAddr1] [varchar](50) NULL,
	[RemitAddr2] [varchar](50) NULL,
	[RemitCity] [varchar](30) NULL,
	[RemitState] [char](2) NULL,
	[RemitZip] [varchar](10) NULL,
	[RemitName] [varchar](50) NULL,
	[EDeliveryLogo] [varchar](50) NULL,
	[Destination] [varchar](16) NULL,
	[ShowPaymentOption] [bit] NOT NULL,
	[LogoName] [varchar](30) NULL,
	[RemitPhone] [varchar](30) NULL,
 CONSTRAINT [PK_PntGroup] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PntGroupHistory]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PntGroupHistory](
	[PntGroupHistoryID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GroupID] [int] NOT NULL,
	[Directory] [varchar](500) NULL,
	[FileName] [varchar](50) NULL,
	[Suspend] [bit] NOT NULL,
	[OutputFormat] [varchar](25) NULL,
	[ReturnService] [bit] NOT NULL,
	[CreditCardChoice] [varchar](20) NULL,
	[UseLogo] [bit] NOT NULL,
	[ElectronicDelivery] [bit] NOT NULL,
	[UseDefaultPaymentUrl] [bit] NOT NULL,
	[CustomPaymentUrl] [varchar](500) NULL,
	[PrintOnlinePaymentInfo] [bit] NOT NULL,
	[TimeStmp] [datetime] NOT NULL,
	[UseDefaultDueDays] [bit] NOT NULL,
	[DueDays] [int] NOT NULL,
	[NcoaType] [int] NULL,
	[DueDateTextOverride] [varchar](50) NULL,
	[WriteAgingInfo] [bit] NULL,
	[RequirePatientAccount] [bit] NULL,
	[ValidatorName] [varchar](255) NULL,
	[AutoDropInvalidEmailToPrint] [bit] NULL,
	[RemitAddr1] [varchar](50) NULL,
	[RemitAddr2] [varchar](50) NULL,
	[RemitCity] [varchar](30) NULL,
	[RemitState] [char](2) NULL,
	[RemitZip] [varchar](10) NULL,
	[RemitName] [varchar](50) NULL,
	[RemitPhone] [varchar](30) NULL,
 CONSTRAINT [PK_PntGroupHistory] PRIMARY KEY CLUSTERED 
(
	[PntGroupHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PntPms]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PntPms](
	[PmsID] [int] NOT NULL,
	[SolutionType] [int] NOT NULL,
	[Code] [varchar](50) NULL,
	[Description] [text] NULL,
	[Guide] [text] NULL,
	[PaymentMethod] [varchar](20) NULL,
	[StatementFormat] [varchar](100) NULL,
	[ParserClass] [varchar](250) NULL,
 CONSTRAINT [PK_PntPms] PRIMARY KEY CLUSTERED 
(
	[PmsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTServiceAudit]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTServiceAudit](
	[RTServiceAuditID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Error] [bit] NULL,
	[ServiceCode] [varchar](4) NULL,
	[ServiceType] [varchar](32) NULL,
	[ClientName] [varchar](50) NULL,
	[ClientVersion] [varchar](50) NULL,
	[ParentAuditID] [int] NULL,
	[ErrorString] [varchar](256) NULL,
	[ClientID] [int] NULL,
	[ContractID] [int] NULL,
	[PartnerID] [varchar](10) NULL,
	[TxRequest] [image] NULL,
	[TxResponse] [image] NULL,
	[WidgetID] [varchar](50) NULL,
	[UserID] [int] NULL,
	[SubServiceType] [varchar](32) NULL,
	[MessageID] [varchar](255) NULL,
 CONSTRAINT [PK_RTServiceAudit] PRIMARY KEY CLUSTERED 
(
	[RTServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAServiceAudit]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAServiceAudit](
	[SAServiceAuditID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Error] [bit] NULL,
	[ServiceCode] [varchar](4) NULL,
	[ServiceType] [varchar](32) NULL,
	[SuccessCount] [int] NULL,
	[FailureCount] [int] NULL,
	[IncomingLocalFile] [varchar](1024) NULL,
	[OutgoingLocalFile] [varchar](1024) NULL,
	[IncomingRemoteFile] [varchar](1024) NULL,
	[OutgoingRemoteFile] [varchar](1024) NULL,
	[MessageID] [varchar](50) NULL,
	[ErrorString] [varchar](256) NULL,
 CONSTRAINT [PK_SAServiceAudit] PRIMARY KEY CLUSTERED 
(
	[SAServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceDowntime]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceDowntime](
	[ServiceDowntimeID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceType] [varchar](50) NOT NULL,
	[DayOfWeek] [int] NULL,
	[OverrideDate] [datetime] NULL,
	[StartTime] [time](0) NULL,
	[EndTime] [time](0) NULL,
 CONSTRAINT [PK_ServiceDowntime] PRIMARY KEY CLUSTERED 
(
	[ServiceDowntimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceHostConfiguration]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceHostConfiguration](
	[ServiceHostConfigurationID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [varchar](32) NOT NULL,
	[ServiceCode] [varchar](32) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Processor] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ServiceHostConfiguration] PRIMARY KEY CLUSTERED 
(
	[ServiceHostConfigurationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceProperty]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceProperty](
	[ServicePropertyID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Stage] [char](3) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Property] [varchar](32) NOT NULL,
	[Val] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_ServiceProperty] PRIMARY KEY CLUSTERED 
(
	[ServicePropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePropertyAudit]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePropertyAudit](
	[ServicePropertyAuditID] [int] IDENTITY(1,1) NOT NULL,
	[ServicePropertyID] [int] NULL,
	[Stage] [char](3) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Property] [varchar](32) NOT NULL,
	[Val] [varchar](1024) NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkStation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_ServicePropertyAudit] PRIMARY KEY CLUSTERED 
(
	[ServicePropertyAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statement]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statement](
	[StatementID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OutputFormat] [varchar](25) NOT NULL,
	[CreditCardChoice] [varchar](20) NOT NULL,
	[Name] [varchar](95) NULL,
	[PatientAccount] [varchar](50) NULL,
	[Addr1] [varchar](55) NULL,
	[Addr2] [varchar](55) NULL,
	[City] [varchar](30) NULL,
	[State] [char](2) NULL,
	[Zip] [varchar](15) NULL,
	[Email] [varchar](254) NULL,
	[Password] [varchar](20) NULL,
	[StatementPracticeID] [int] NOT NULL,
	[Status] [int] NULL,
	[ErrorMsg] [nvarchar](50) NULL,
	[GroupID] [int] NOT NULL,
	[PriorStatementDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[StatementDate] [datetime] NULL,
	[PriorBalance] [money] NULL,
	[RunningBalance] [money] NULL,
	[Adjustments] [money] NULL,
	[NewCharges] [money] NULL,
	[FinanceCharges] [money] NULL,
	[Credits] [money] NULL,
	[EstInsPayment] [money] NULL,
	[PatientShare] [money] NULL,
	[CurrentBalance] [money] NULL,
	[PastDue30] [money] NULL,
	[PastDue60] [money] NULL,
	[PastDue90] [money] NULL,
	[PastDue120] [money] NULL,
	[ServiceAuditID] [int] NULL,
	[Active] [bit] NOT NULL,
	[UniqueSortValue]  AS (convert(varchar(10),(999999999 - [StatementID]))),
	[ContractID] [int] NULL,
	[SubmitDate] [datetime] NULL,
	[UserID] [int] NULL,
	[Host] [varchar](50) NULL,
	[TimeStmp] [datetime] NULL,
	[DeliveryType] [varchar](10) NULL,
	[PerPayAdj] [money] NULL,
	[InsPayAdj] [money] NULL,
	[PageColor] [varchar](10) NULL,
	[HighColor] [varchar](10) NULL,
	[ErrorCode] [varchar](10) NULL,
	[RecipientName] [varchar](50) NULL,
	[RecipientAddr1] [varchar](110) NULL,
	[RecipientAddr2] [varchar](110) NULL,
	[RecipientCity] [varchar](50) NULL,
	[RecipientState] [varchar](2) NULL,
	[RecipientZip] [varchar](15) NULL,
	[PatUserID] [int] NULL,
	[PaymentVerificationID] [varchar](50) NULL,
	[EstPerPayment] [money] NULL,
	[DmdUploadImageID] [int] NULL,
	[PtpUserAliasID] [int] NULL,
	[DueDateText] [varchar](50) NULL,
 CONSTRAINT [PK_Statement] PRIMARY KEY CLUSTERED 
(
	[StatementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementAgedStatement]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementAgedStatement](
	[StatementAgedStatementID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatementID] [int] NOT NULL,
	[Description1] [varchar](50) NULL,
	[Description2] [varchar](50) NULL,
	[CurrentBalance] [money] NULL,
	[PastDue30] [money] NULL,
	[PastDue60] [money] NULL,
	[PastDue90] [money] NULL,
	[PastDue120] [money] NULL,
 CONSTRAINT [PK_StatementAgedStatement] PRIMARY KEY CLUSTERED 
(
	[StatementAgedStatementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementDigest]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementDigest](
	[StatementID] [int] NOT NULL,
	[Digest] [varchar](250) NOT NULL,
	[DigestHash] [int] NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_StatementDigest] PRIMARY KEY CLUSTERED 
(
	[StatementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementEmail]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementEmail](
	[StatementEmailID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatementID] [int] NOT NULL,
	[Timestmp] [datetime] NOT NULL,
 CONSTRAINT [PK_StatementEmail] PRIMARY KEY CLUSTERED 
(
	[StatementEmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementExtension]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementExtension](
	[StatementID] [int] NOT NULL,
	[CompletedReason] [varchar](50) NULL,
	[MerchantLeadCreated] [bit] NOT NULL,
 CONSTRAINT [PK_StatementExtension] PRIMARY KEY CLUSTERED 
(
	[StatementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementFile]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementFile](
	[StatementFileID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GroupID] [int] NOT NULL,
	[ServiceCode] [char](3) NULL,
	[FileName] [varchar](50) NULL,
	[UploadDate] [datetime] NOT NULL,
	[PMSName] [varchar](255) NULL,
	[PMSVersion] [varchar](50) NULL,
	[VendorID] [char](3) NULL,
	[PrimarySubmitter] [varchar](9) NULL,
	[SubmitDate] [datetime] NULL,
	[Transmitter] [varchar](10) NULL,
	[Status] [int] NOT NULL,
	[SuccessCount] [int] NULL,
	[FailureCount] [int] NULL,
	[ContractID] [int] NULL,
	[ServiceAuditID] [int] NULL,
	[UniqueSortValue]  AS (convert(varchar(10),(999999999 - [StatementFileID]))),
	[UserID] [int] NULL,
	[Version] [varchar](10) NULL,
	[OutputFormat] [varchar](25) NULL,
	[TotalAmountDue] [money] NULL,
	[DmdFileUploadId] [int] NULL,
	[PmsID] [int] NULL,
 CONSTRAINT [PK_StatementFile] PRIMARY KEY CLUSTERED 
(
	[StatementFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementFileAudit]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementFileAudit](
	[StatementFileAuditID] [int] IDENTITY(1,1) NOT NULL,
	[StatementFileID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[ServiceCode] [char](3) NULL,
	[FileName] [varchar](50) NULL,
	[UploadDate] [datetime] NOT NULL,
	[PMSName] [varchar](255) NULL,
	[PMSVersion] [varchar](50) NULL,
	[VendorID] [char](3) NULL,
	[PrimarySubmitter] [varchar](9) NULL,
	[SubmitDate] [datetime] NULL,
	[Transmitter] [varchar](10) NULL,
	[Status] [int] NOT NULL,
	[SuccessCount] [int] NULL,
	[FailureCount] [int] NULL,
	[ContractID] [int] NULL,
	[ServiceAuditID] [int] NULL,
	[UserID] [int] NULL,
	[Version] [varchar](10) NULL,
	[OutputFormat] [varchar](25) NULL,
	[TotalAmountDue] [money] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_StatementFileAudit] PRIMARY KEY CLUSTERED 
(
	[StatementFileAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementFileException]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementFileException](
	[StatementFileExceptionID] [int] IDENTITY(1,1) NOT NULL,
	[StatementFileID] [int] NULL,
	[GroupID] [int] NULL,
	[ExceptionDate] [datetime] NULL,
	[Exception] [varchar](max) NULL,
 CONSTRAINT [PK_StatementFileException] PRIMARY KEY CLUSTERED 
(
	[StatementFileExceptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementFileNote]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementFileNote](
	[StatementFileNoteID] [int] IDENTITY(1,1) NOT NULL,
	[StatementFileID] [int] NOT NULL,
	[Comment] [ntext] NOT NULL,
	[SupportUserID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_StatementFileNote] PRIMARY KEY CLUSTERED 
(
	[StatementFileNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementHistory]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementHistory](
	[StatementHistoryID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatementID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[UserID] [int] NULL,
	[Host] [varchar](50) NULL,
	[ServiceAuditID] [int] NULL,
	[TimeStmp] [datetime] NULL,
	[Active] [bit] NOT NULL,
	[RTServiceAuditID] [int] NULL,
 CONSTRAINT [PK_StatementHistory] PRIMARY KEY CLUSTERED 
(
	[StatementHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementItem]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementItem](
	[StatementItemID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatementID] [int] NOT NULL,
	[BilledDate] [datetime] NULL,
	[PatientName] [varchar](95) NULL,
	[Description] [varchar](120) NULL,
	[Charges] [money] NULL,
	[Credits] [money] NULL,
	[Balance] [money] NULL,
	[Note] [varchar](500) NULL,
	[FgColor] [varchar](10) NULL,
	[BgColor] [varchar](10) NULL,
	[Sequence] [varchar](4) NULL,
	[PriorBalance] [money] NULL,
	[PriorCharges] [money] NULL,
	[InsPayAdj] [money] NULL,
	[PerPayAdj] [money] NULL,
	[EstInsPayment] [money] NULL,
	[EstPerPayment] [money] NULL,
	[PatientShare] [money] NULL,
	[NoteCode] [varchar](10) NULL,
	[LineSeparator] [varchar](15) NULL,
	[StatementItemType] [int] NULL,
 CONSTRAINT [PK_StatementItem] PRIMARY KEY CLUSTERED 
(
	[StatementItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementNote]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementNote](
	[StatementNoteID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatementID] [int] NOT NULL,
	[Note] [varchar](500) NOT NULL,
	[FgColor] [varchar](10) NULL,
	[BgColor] [varchar](10) NULL,
 CONSTRAINT [PK_StatementNote] PRIMARY KEY CLUSTERED 
(
	[StatementNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementPageCount]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementPageCount](
	[StatementID] [int] NOT NULL,
	[NumberOfPages] [int] NULL,
	[DuplexPageCount] [int] NULL,
	[TimeStmp] [datetime] NULL,
	[BillingTimestmp] [datetime] NULL,
	[MissingAddPageCount] [int] NULL,
	[SumAdditionalPostage] [float] NULL,
	[FastForwardAmount] [float] NULL,
	[ServiceCode] [char](3) NULL,
	[PostalOverage] [float] NULL,
	[DataProcessingFee] [float] NULL,
	[LaserPrintingFee] [float] NULL,
	[PaperFee] [float] NULL,
	[InsertingFeePerSheet] [float] NULL,
	[RemitEnvelopeFee] [float] NULL,
	[RemitEnvInsertFee] [float] NULL,
	[OutgoingEnvelopeFee] [float] NULL,
 CONSTRAINT [StatementPageCount_PK_Statement] PRIMARY KEY CLUSTERED 
(
	[StatementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementPractice]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementPractice](
	[StatementPracticeID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PracticeAccount] [varchar](20) NULL,
	[Name] [varchar](95) NULL,
	[Addr1] [varchar](50) NULL,
	[Addr2] [varchar](50) NULL,
	[City] [varchar](30) NULL,
	[State] [char](2) NULL,
	[Zip] [varchar](10) NULL,
	[Phone] [varchar](30) NULL,
	[RemitName] [varchar](95) NULL,
	[RemitAddr1] [varchar](50) NULL,
	[RemitAddr2] [varchar](50) NULL,
	[RemitCity] [varchar](30) NULL,
	[RemitState] [char](2) NULL,
	[RemitZip] [varchar](10) NULL,
	[RemitPhone] [varchar](30) NULL,
	[RenderingProvName] [varchar](75) NULL,
	[RenderingProvLicense] [varchar](20) NULL,
	[RenderingProvState] [char](2) NULL,
	[StatementFileID] [int] NULL,
	[Disclaimer] [varchar](500) NULL,
	[URL] [varchar](255) NULL,
	[RemitURL] [varchar](255) NULL,
 CONSTRAINT [PK_StatementPractice] PRIMARY KEY CLUSTERED 
(
	[StatementPracticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementPrepaymentAccount]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementPrepaymentAccount](
	[StatementPrepaymentAccountID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatementID] [int] NOT NULL,
	[PriorBalance] [money] NULL,
	[NewDeposits] [money] NULL,
	[TransferAmount] [money] NULL,
	[CurrentBalance] [money] NULL,
 CONSTRAINT [PK_StatementPrepaymentAccount] PRIMARY KEY CLUSTERED 
(
	[StatementPrepaymentAccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementReminder]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementReminder](
	[StatementReminderID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatementID] [int] NOT NULL,
	[ReminderType] [varchar](25) NOT NULL,
	[PatientName] [varchar](50) NULL,
	[ServiceDate] [datetime] NULL,
	[ServiceTime] [varchar](15) NULL,
	[Location] [varchar](100) NULL,
	[Description] [varchar](100) NULL,
	[ProviderName] [varchar](50) NULL,
	[Message] [varchar](250) NULL,
	[Balance] [money] NULL,
 CONSTRAINT [PK_StatementReminder] PRIMARY KEY CLUSTERED 
(
	[StatementReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementStatus]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementStatus](
	[StatementStatusID] [int] NOT NULL,
	[Category] [varchar](50) NULL,
	[Status] [varchar](100) NULL,
	[Display] [varchar](50) NULL,
 CONSTRAINT [PK_StatementStatus] PRIMARY KEY CLUSTERED 
(
	[StatementStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementType]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementType](
	[Type] [varchar](30) NOT NULL,
	[Description] [varchar](100) NULL,
 CONSTRAINT [PK_StatementType] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementTypePms]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementTypePms](
	[PmsID] [int] NOT NULL,
	[Type] [varchar](30) NOT NULL,
 CONSTRAINT [PK_StatementTypePms] PRIMARY KEY CLUSTERED 
(
	[PmsID] ASC,
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAgreement]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAgreement](
	[UserAgreementID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[VersionID] [int] NULL,
 CONSTRAINT [PK_UserAgreement] PRIMARY KEY CLUSTERED 
(
	[UserAgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zDBTestTable]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zDBTestTable](
	[DBTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [varchar](255) NULL,
	[Timestmp] [datetime] NOT NULL,
 CONSTRAINT [PK_zDBTestTable] PRIMARY KEY CLUSTERED 
(
	[DBTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zPoolTestTable]    Script Date: 8/15/2025 4:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zPoolTestTable](
	[PoolTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Column1] [bit] NULL,
 CONSTRAINT [PK_zPoolTestTable] PRIMARY KEY CLUSTERED 
(
	[PoolTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataBill_Support_Temp] ADD  DEFAULT (getdate()) FOR [ProcessDate]
GO
ALTER TABLE [dbo].[DatabillEOMReport] ADD  DEFAULT (getdate()) FOR [ProcessDate]
GO
ALTER TABLE [dbo].[DatabillEOMReportTemp] ADD  DEFAULT (getdate()) FOR [ProcessDate]
GO
ALTER TABLE [dbo].[Invitation] ADD  CONSTRAINT [DF_Invitation_TimeStmp]  DEFAULT (getdate()) FOR [TimeStmp]
GO
ALTER TABLE [dbo].[PntGroup] ADD  CONSTRAINT [DF_PntGroup_Suspend]  DEFAULT (0) FOR [Suspend]
GO
ALTER TABLE [dbo].[PntGroup] ADD  CONSTRAINT [DF_PntGroup_ReturnService]  DEFAULT (1) FOR [ReturnService]
GO
ALTER TABLE [dbo].[PntGroup] ADD  CONSTRAINT [DF_PntGroup_UseLogo]  DEFAULT (0) FOR [UseLogo]
GO
ALTER TABLE [dbo].[PntGroup] ADD  CONSTRAINT [DF_PntGroup_ElectronicDelivery]  DEFAULT (0) FOR [ElectronicDelivery]
GO
ALTER TABLE [dbo].[PntGroup] ADD  CONSTRAINT [DF_PntGroup_UseDefaultPaymentUrl]  DEFAULT (1) FOR [UseDefaultPaymentUrl]
GO
ALTER TABLE [dbo].[PntGroup] ADD  CONSTRAINT [DF_PntGroup_PrintOnlinePaymentInfo]  DEFAULT (0) FOR [PrintOnlinePaymentInfo]
GO
ALTER TABLE [dbo].[PntGroup] ADD  CONSTRAINT [DF_PntGroup_UseDefaultDueDays]  DEFAULT (1) FOR [UseDefaultDueDays]
GO
ALTER TABLE [dbo].[PntGroup] ADD  CONSTRAINT [DF_PntGroup_DueDays]  DEFAULT (30) FOR [DueDays]
GO
ALTER TABLE [dbo].[PntGroup] ADD  CONSTRAINT [DF_PntGroup_WriteAgingInfo]  DEFAULT ((0)) FOR [WriteAgingInfo]
GO
ALTER TABLE [dbo].[PntGroup] ADD  DEFAULT ((1)) FOR [ShowPaymentOption]
GO
ALTER TABLE [dbo].[PntGroupHistory] ADD  CONSTRAINT [DF_PntGroupHistory_TimeStmp]  DEFAULT (getdate()) FOR [TimeStmp]
GO
ALTER TABLE [dbo].[PntGroupHistory] ADD  CONSTRAINT [DF_PntGroupHistory_UseDefaultDueDays]  DEFAULT ((1)) FOR [UseDefaultDueDays]
GO
ALTER TABLE [dbo].[PntGroupHistory] ADD  CONSTRAINT [DF_PntGroupHistory_DueDays]  DEFAULT ((30)) FOR [DueDays]
GO
ALTER TABLE [dbo].[ServiceProperty] ADD  CONSTRAINT [DF_ServiceProperty_Stage]  DEFAULT ('com') FOR [Stage]
GO
ALTER TABLE [dbo].[Statement] ADD  CONSTRAINT [DF_Statement_Active]  DEFAULT (1) FOR [Active]
GO
ALTER TABLE [dbo].[Statement] ADD  CONSTRAINT [DF_Statement_TimeStmp]  DEFAULT (getdate()) FOR [TimeStmp]
GO
ALTER TABLE [dbo].[StatementEmail] ADD  CONSTRAINT [DF_StatementEmail_TimeStmp]  DEFAULT (getdate()) FOR [Timestmp]
GO
ALTER TABLE [dbo].[StatementExtension] ADD  CONSTRAINT [DF_StatementExtension_MerchantLeadCreated]  DEFAULT (0) FOR [MerchantLeadCreated]
GO
ALTER TABLE [dbo].[StatementFile] ADD  CONSTRAINT [DF_StatementFile_UpLoadDate]  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[StatementPageCount] ADD  DEFAULT (getdate()) FOR [TimeStmp]
GO
ALTER TABLE [dbo].[zDBTestTable] ADD  CONSTRAINT [DF_zDBTestTable_Timestmp]  DEFAULT (getdate()) FOR [Timestmp]
GO
ALTER TABLE [dbo].[Statement]  WITH CHECK ADD  CONSTRAINT [FK_Statement_StatementPractice_StatementPracticeID] FOREIGN KEY([StatementPracticeID])
REFERENCES [dbo].[StatementPractice] ([StatementPracticeID])
GO
ALTER TABLE [dbo].[Statement] CHECK CONSTRAINT [FK_Statement_StatementPractice_StatementPracticeID]
GO
ALTER TABLE [dbo].[Statement]  WITH CHECK ADD  CONSTRAINT [FK_Statement_StatementStatus_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[StatementStatus] ([StatementStatusID])
GO
ALTER TABLE [dbo].[Statement] CHECK CONSTRAINT [FK_Statement_StatementStatus_Status]
GO
ALTER TABLE [dbo].[StatementAgedStatement]  WITH CHECK ADD  CONSTRAINT [FK_StatementAgedStatement_Statement_StatementID] FOREIGN KEY([StatementID])
REFERENCES [dbo].[Statement] ([StatementID])
GO
ALTER TABLE [dbo].[StatementAgedStatement] CHECK CONSTRAINT [FK_StatementAgedStatement_Statement_StatementID]
GO
ALTER TABLE [dbo].[StatementEmail]  WITH CHECK ADD  CONSTRAINT [FK_StatementEmail_Statement_StatementID] FOREIGN KEY([StatementID])
REFERENCES [dbo].[Statement] ([StatementID])
GO
ALTER TABLE [dbo].[StatementEmail] CHECK CONSTRAINT [FK_StatementEmail_Statement_StatementID]
GO
ALTER TABLE [dbo].[StatementExtension]  WITH CHECK ADD  CONSTRAINT [FK_StatementExtension_Statement_StatementID] FOREIGN KEY([StatementID])
REFERENCES [dbo].[Statement] ([StatementID])
GO
ALTER TABLE [dbo].[StatementExtension] CHECK CONSTRAINT [FK_StatementExtension_Statement_StatementID]
GO
ALTER TABLE [dbo].[StatementFile]  WITH CHECK ADD  CONSTRAINT [FK_StatementFile_StatementStatus_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[StatementStatus] ([StatementStatusID])
GO
ALTER TABLE [dbo].[StatementFile] CHECK CONSTRAINT [FK_StatementFile_StatementStatus_Status]
GO
ALTER TABLE [dbo].[StatementFileException]  WITH CHECK ADD  CONSTRAINT [FK_StatementFileException_StatementFile_StatementFileID] FOREIGN KEY([StatementFileID])
REFERENCES [dbo].[StatementFile] ([StatementFileID])
GO
ALTER TABLE [dbo].[StatementFileException] CHECK CONSTRAINT [FK_StatementFileException_StatementFile_StatementFileID]
GO
ALTER TABLE [dbo].[StatementFileNote]  WITH CHECK ADD  CONSTRAINT [FK_StatementFileNote_StatementFile_StatementFileID] FOREIGN KEY([StatementFileID])
REFERENCES [dbo].[StatementFile] ([StatementFileID])
GO
ALTER TABLE [dbo].[StatementFileNote] CHECK CONSTRAINT [FK_StatementFileNote_StatementFile_StatementFileID]
GO
ALTER TABLE [dbo].[StatementHistory]  WITH CHECK ADD  CONSTRAINT [FK_StatementHistory_Statement_StatementID] FOREIGN KEY([StatementID])
REFERENCES [dbo].[Statement] ([StatementID])
GO
ALTER TABLE [dbo].[StatementHistory] CHECK CONSTRAINT [FK_StatementHistory_Statement_StatementID]
GO
ALTER TABLE [dbo].[StatementHistory]  WITH CHECK ADD  CONSTRAINT [FK_StatementHistory_StatementStatus_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[StatementStatus] ([StatementStatusID])
GO
ALTER TABLE [dbo].[StatementHistory] CHECK CONSTRAINT [FK_StatementHistory_StatementStatus_Status]
GO
ALTER TABLE [dbo].[StatementItem]  WITH CHECK ADD  CONSTRAINT [FK_StatementItem_Statement_StatementID] FOREIGN KEY([StatementID])
REFERENCES [dbo].[Statement] ([StatementID])
GO
ALTER TABLE [dbo].[StatementItem] CHECK CONSTRAINT [FK_StatementItem_Statement_StatementID]
GO
ALTER TABLE [dbo].[StatementNote]  WITH CHECK ADD  CONSTRAINT [FK_StatementNote_Statement_StatementID] FOREIGN KEY([StatementID])
REFERENCES [dbo].[Statement] ([StatementID])
GO
ALTER TABLE [dbo].[StatementNote] CHECK CONSTRAINT [FK_StatementNote_Statement_StatementID]
GO
ALTER TABLE [dbo].[StatementPageCount]  WITH CHECK ADD  CONSTRAINT [FK_StatementPageCount_Statement_StatementID] FOREIGN KEY([StatementID])
REFERENCES [dbo].[Statement] ([StatementID])
GO
ALTER TABLE [dbo].[StatementPageCount] CHECK CONSTRAINT [FK_StatementPageCount_Statement_StatementID]
GO
ALTER TABLE [dbo].[StatementPractice]  WITH CHECK ADD  CONSTRAINT [FK_StatementPractice_StatementFile_StatementFileID] FOREIGN KEY([StatementFileID])
REFERENCES [dbo].[StatementFile] ([StatementFileID])
GO
ALTER TABLE [dbo].[StatementPractice] CHECK CONSTRAINT [FK_StatementPractice_StatementFile_StatementFileID]
GO
ALTER TABLE [dbo].[StatementPrepaymentAccount]  WITH CHECK ADD  CONSTRAINT [FK_StatementPrepaymentAccount_Statement_StatementID] FOREIGN KEY([StatementID])
REFERENCES [dbo].[Statement] ([StatementID])
GO
ALTER TABLE [dbo].[StatementPrepaymentAccount] CHECK CONSTRAINT [FK_StatementPrepaymentAccount_Statement_StatementID]
GO
ALTER TABLE [dbo].[StatementReminder]  WITH CHECK ADD  CONSTRAINT [FK_StatementReminder_Statement_StatementID] FOREIGN KEY([StatementID])
REFERENCES [dbo].[Statement] ([StatementID])
GO
ALTER TABLE [dbo].[StatementReminder] CHECK CONSTRAINT [FK_StatementReminder_Statement_StatementID]
GO
ALTER TABLE [dbo].[StatementTypePms]  WITH CHECK ADD  CONSTRAINT [FK_StatementTypePms_PntPms_PmsID] FOREIGN KEY([PmsID])
REFERENCES [dbo].[PntPms] ([PmsID])
GO
ALTER TABLE [dbo].[StatementTypePms] CHECK CONSTRAINT [FK_StatementTypePms_PntPms_PmsID]
GO
ALTER TABLE [dbo].[StatementTypePms]  WITH CHECK ADD  CONSTRAINT [FK_StatementTypePms_StatementType_Type] FOREIGN KEY([Type])
REFERENCES [dbo].[StatementType] ([Type])
GO
ALTER TABLE [dbo].[StatementTypePms] CHECK CONSTRAINT [FK_StatementTypePms_StatementType_Type]
GO
ALTER TABLE [dbo].[BillingActivity]  WITH NOCHECK ADD  CONSTRAINT [CK_BillingActivity_WidgetType] CHECK NOT FOR REPLICATION (([dbo].[IsValidWidgetType]([WidgetType]) = 1))
GO
ALTER TABLE [dbo].[BillingActivity] CHECK CONSTRAINT [CK_BillingActivity_WidgetType]
GO
ALTER TABLE [dbo].[PntGroup]  WITH NOCHECK ADD  CONSTRAINT [CK_PntGroup_GroupID] CHECK NOT FOR REPLICATION (([dbo].[IsValidGroup]([GroupID]) = 1))
GO
ALTER TABLE [dbo].[PntGroup] CHECK CONSTRAINT [CK_PntGroup_GroupID]
GO
ALTER TABLE [dbo].[PntPms]  WITH NOCHECK ADD  CONSTRAINT [CK_PntPms_PmsID] CHECK NOT FOR REPLICATION (([dbo].[IsValidPms]([PmsID]) = 1))
GO
ALTER TABLE [dbo].[PntPms] CHECK CONSTRAINT [CK_PntPms_PmsID]
GO
ALTER TABLE [dbo].[ServiceProperty]  WITH NOCHECK ADD  CONSTRAINT [CK_ServiceProperty_ServiceCode] CHECK NOT FOR REPLICATION (([dbo].[IsValidServiceCode]([ServiceCode]) = 1))
GO
ALTER TABLE [dbo].[ServiceProperty] CHECK CONSTRAINT [CK_ServiceProperty_ServiceCode]
GO
ALTER TABLE [dbo].[ServiceProperty]  WITH NOCHECK ADD  CONSTRAINT [CK_ServiceProperty_ServiceType] CHECK NOT FOR REPLICATION (([dbo].[IsValidServiceType]([ServiceType]) = 1))
GO
ALTER TABLE [dbo].[ServiceProperty] CHECK CONSTRAINT [CK_ServiceProperty_ServiceType]
GO
ALTER TABLE [dbo].[Statement]  WITH NOCHECK ADD  CONSTRAINT [CK_Statement_DeliveryType] CHECK NOT FOR REPLICATION (([DeliveryType] = 'ELECTRONIC' or [DeliveryType] = 'PAPER'))
GO
ALTER TABLE [dbo].[Statement] CHECK CONSTRAINT [CK_Statement_DeliveryType]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of payment accepted by pms.Values will be V,M,D,A,S ->VISA,MASTERCARD,DISCOVER,AMEX,SEARS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PntPms', @level2type=N'COLUMN',@level2name=N'PaymentMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of statement format accepted by pms.Values will be StmOut_Blue5Col or StmOut_Blue6Col or DCP_StmOut_Blue6Col' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PntPms', @level2type=N'COLUMN',@level2name=N'StatementFormat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Service code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ServiceProperty', @level2type=N'COLUMN',@level2name=N'ServiceCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Service Property' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ServiceProperty', @level2type=N'COLUMN',@level2name=N'Property'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Property Val' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ServiceProperty', @level2type=N'COLUMN',@level2name=N'Val'
GO
