USE [ptp]
GO
/****** Object:  Table [dbo].[BillingInfo]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingInfo](
	[BillingInfoID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Type] [varchar](20) NULL,
	[Number] [varchar](38) NULL,
	[SecurityCode] [varchar](10) NULL,
	[ExpMo] [int] NULL,
	[ExpYr] [int] NULL,
	[UserID] [int] NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Addr1] [varchar](50) NULL,
	[Addr2] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](2) NULL,
	[Zip] [varchar](10) NULL,
	[country] [varchar](50) NULL,
	[Phone] [varchar](30) NULL,
	[PhoneExt] [varchar](10) NULL,
	[PMTSel] [int] NULL,
	[Valid] [int] NULL,
	[AcctName] [varchar](50) NULL,
	[AbaCode] [varchar](50) NULL,
	[BankName] [varchar](50) NULL,
	[IsAuthorized] [int] NULL,
	[Active] [bit] NOT NULL,
	[Version] [varchar](25) NULL,
 CONSTRAINT [PK_BillingInfo] PRIMARY KEY CLUSTERED 
(
	[BillingInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorMessage]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorMessage](
	[ErrorCode] [varchar](50) NOT NULL,
	[Description] [varchar](512) NOT NULL,
 CONSTRAINT [PK_ErrorMessage] PRIMARY KEY CLUSTERED 
(
	[ErrorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTrans]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTrans](
	[PaymentTransID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BillingInfoID] [int] NULL,
	[Reference] [varchar](50) NULL,
	[TranDate] [datetime] NULL,
	[Request] [varchar](1000) NULL,
	[Response] [varchar](300) NULL,
	[TRXType] [varchar](1) NULL,
	[Amt] [decimal](18, 2) NULL,
	[PNRef] [varchar](36) NULL,
	[Result] [int] NULL,
	[Surcharge] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PaymentTrans] PRIMARY KEY CLUSTERED 
(
	[PaymentTransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransHistory]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransHistory](
	[PaymentTransHistoryID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatementID] [int] NOT NULL,
	[PaymentTransID] [int] NOT NULL,
 CONSTRAINT [PK_PaymentTransHistory] PRIMARY KEY CLUSTERED 
(
	[PaymentTransHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderPayment]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderPayment](
	[ProviderPaymentID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GroupID] [int] NULL,
	[TransactionID] [int] NULL,
	[PatientName] [varchar](50) NULL,
	[PatientAccountNum] [varchar](50) NULL,
	[StatementID] [varchar](50) NULL,
	[DateOfService] [datetime] NULL,
 CONSTRAINT [PK_ProviderPayment] PRIMARY KEY CLUSTERED 
(
	[ProviderPaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAgreement]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAgreement](
	[UserAgreementID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[VersionID] [int] NULL,
 CONSTRAINT [PK_UserAgreement] PRIMARY KEY CLUSTERED 
(
	[UserAgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAlias]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAlias](
	[UserAliasID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [int] NOT NULL,
	[Alias] [varchar](255) NOT NULL,
	[GroupID] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_UserAlias] PRIMARY KEY CLUSTERED 
(
	[UserAliasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PrimaryEmail] [varchar](254) NULL,
	[SecondaryEmail] [varchar](254) NULL,
	[DateCreated] [datetime] NOT NULL,
	[Pwd] [varchar](60) NOT NULL,
	[PwdHint] [varchar](250) NOT NULL,
	[Expires] [datetime] NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[Addr1] [varchar](50) NOT NULL,
	[Addr2] [varchar](50) NULL,
	[City] [varchar](30) NOT NULL,
	[State] [varchar](2) NOT NULL,
	[Zip] [varchar](10) NOT NULL,
	[Country] [varchar](30) NULL,
	[Phone] [varchar](30) NULL,
	[PhoneExt] [varchar](10) NULL,
	[LastLogin] [datetime] NULL,
	[ElectronicDelivery] [bit] NOT NULL,
	[ShareEmail] [bit] NOT NULL,
	[Alias] [varchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersGroups]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersGroups](
	[UsersGroupsID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ShowOnUpgradeRpt] [bit] NOT NULL,
	[LastUpdate] [datetime] NULL,
	[SourceApp] [varchar](5) NULL,
	[InvitationId] [int] NULL,
	[ApprovalType] [int] NOT NULL,
 CONSTRAINT [PK_UsersGroups] PRIMARY KEY CLUSTERED 
(
	[UsersGroupsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [UQ_UsersGroups_UserID_GroupID] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zDBTestTable]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zDBTestTable](
	[DBTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [varchar](255) NULL,
	[Timestmp] [datetime] NOT NULL,
 CONSTRAINT [PK_zDBTestTable] PRIMARY KEY CLUSTERED 
(
	[DBTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zPoolTestTable]    Script Date: 8/15/2025 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zPoolTestTable](
	[PoolTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Column1] [bit] NULL,
 CONSTRAINT [PK_zPoolTestTable] PRIMARY KEY CLUSTERED 
(
	[PoolTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillingInfo] ADD  CONSTRAINT [DF_BillingInfo_Valid]  DEFAULT (1) FOR [Valid]
GO
ALTER TABLE [dbo].[BillingInfo] ADD  CONSTRAINT [DF_BillingInfo_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[UserAlias] ADD  CONSTRAINT [DF_UserAlias_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[UserAlias] ADD  CONSTRAINT [DF_UserAlias_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_ElectronicDelivery]  DEFAULT (1) FOR [ElectronicDelivery]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_ShareEmail]  DEFAULT (1) FOR [ShareEmail]
GO
ALTER TABLE [dbo].[UsersGroups] ADD  CONSTRAINT [DF_UsersGroups_ShowOnUpgradeRpt]  DEFAULT (0) FOR [ShowOnUpgradeRpt]
GO
ALTER TABLE [dbo].[UsersGroups] ADD  CONSTRAINT [DF_UsersGroups_ApprovalType]  DEFAULT ((0)) FOR [ApprovalType]
GO
ALTER TABLE [dbo].[zDBTestTable] ADD  CONSTRAINT [DF_zDBTestTable_Timestmp]  DEFAULT (getdate()) FOR [Timestmp]
GO
ALTER TABLE [dbo].[BillingInfo]  WITH CHECK ADD  CONSTRAINT [FK_BillingInfo_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BillingInfo] CHECK CONSTRAINT [FK_BillingInfo_Users_UserID]
GO
ALTER TABLE [dbo].[PaymentTrans]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTrans_BillingInfo_BillingInfoID] FOREIGN KEY([BillingInfoID])
REFERENCES [dbo].[BillingInfo] ([BillingInfoID])
GO
ALTER TABLE [dbo].[PaymentTrans] CHECK CONSTRAINT [FK_PaymentTrans_BillingInfo_BillingInfoID]
GO
ALTER TABLE [dbo].[PaymentTransHistory]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransHistory_PaymentTrans_PaymentTransID] FOREIGN KEY([PaymentTransID])
REFERENCES [dbo].[PaymentTrans] ([PaymentTransID])
GO
ALTER TABLE [dbo].[PaymentTransHistory] CHECK CONSTRAINT [FK_PaymentTransHistory_PaymentTrans_PaymentTransID]
GO
ALTER TABLE [dbo].[UserAgreement]  WITH CHECK ADD  CONSTRAINT [FK_UserAgreement_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserAgreement] CHECK CONSTRAINT [FK_UserAgreement_Users_UserID]
GO
ALTER TABLE [dbo].[UserAlias]  WITH CHECK ADD  CONSTRAINT [FK_UserAlias_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserAlias] CHECK CONSTRAINT [FK_UserAlias_Users_UserID]
GO
ALTER TABLE [dbo].[UsersGroups]  WITH CHECK ADD  CONSTRAINT [FK_UsersGroups_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UsersGroups] CHECK CONSTRAINT [FK_UsersGroups_Users_UserID]
GO
ALTER TABLE [dbo].[UsersGroups]  WITH CHECK ADD  CONSTRAINT [CK_UsersGroups_GroupID] CHECK  (([dbo].[IsValidGroup]([GroupID]) = 1))
GO
ALTER TABLE [dbo].[UsersGroups] CHECK CONSTRAINT [CK_UsersGroups_GroupID]
GO
