USE [dwDev]
GO
/****** Object:  View [dbo].[Invoices]    Script Date: 8/15/2025 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[Invoices] AS
SELECT r.NSRecordName AS NetSuite_Invoice_Type				
	, u.LegacyInvoiceNumber AS GP_Invoice_Number			
	, u.ClientUsageSummaryID AS Record_Unique_ID			
	, u.InvoiceNumber AS NetSuite_Invoice_Number			
	, u.BillingPeriod AS Billing_Period						
	, u.ClientID AS Customer_Number							
	, e.ClientName AS Company_Name							
	, u.GroupID AS Group_ID									
	, u.GroupName AS Group_Name								
	, u.VipID AS DSO_Unique_Identifier						
	, u.VipName AS DSO_Name									
	, u.ResellerID AS Reseller_Unique_Identifier			
	, u.ResellerName AS Reseller_Name						
	, u.ClientType AS Client_Type							
	, u.ReportingClientType AS Reporting_Client_Type		
	, u.NSItemInternalID AS NetSuite_Item_Internal_ID		
	, i.DisplayName AS NetSuite_Item_Display_Name			
	, u.NSAccountInternalID AS NetSuite_Account_Internal_ID	
	, a.Account AS NetSuite_Account							
	, u.ItemNumber AS DXC_Item_Number						
	, u.ItemDescription AS DXC_Item_Description				
	, i.Class AS Item_Class									
	, u.Subscription AS Is_Subscription_Charge				
	, u.NSEntityName AS NetSuite_Entity_Name				
	, u.Quantity AS Quantity								
	, u.UnitPrice AS Unit_Price								
	, u.ExtendedPrice AS Extended_Price						
	, u.UnitCost AS Unit_Cost								
	, u.ExtendedCost AS Extended_Cost						
	, u.SalesTaxAmount AS Sales_Tax_Amount					
	, CASE	
		WHEN u.SalesTaxStatus = 3 THEN 'Tax Success'
		WHEN u.SalesTaxStatus IS NOT NULL AND u.SalesTaxStatus != 3 THEN 'Tax Fail'
		ELSE NULL
		END AS Sales_Tax_Status								
	, u.Commission											
	, u.EarnedCommission AS Earned_Commission				
	, u.Revenue AS Calculated_Commission_Revenue			
	, CASE 
		WHEN u.BoomiStatusID = 1 THEN 'Sync Success'
		WHEN u.BoomiStatusID = 0 THEN 'Sync Fail'
		WHEN u.BoomiStatusID IS NULL THEN 'Not Attempted'
		WHEN u.BoomiStatusID = -1 THEN 'User Ignore'
		ELSE NULL END AS Boomi_Status						
	, u.RecordModifyDate AS Record_Last_Update_Date			
	, u.RecordModifyReason AS Record_Last_Update_Action		
FROM erpDev.dbo.ClientUsageSummary AS u WITH (NOLOCK)
LEFT JOIN enty.dbo.Entities AS e WITH (NOLOCK) ON u.ClientID = e.ClientID
LEFT JOIN erpDev.dbo.ERPItemLookup AS i WITH (NOLOCK) ON u.NSItemInternalID = i.NSInternalID
LEFT JOIN erpDev.dbo.ERPRecordTypeLookup AS r WITH (NOLOCK) ON u.NSRecordType = r.NSRecordType
LEFT JOIN erpDev.dbo.ERPAccountLookup AS a WITH (NOLOCK) ON u.NSAccountInternalID = a.NSInternalID
WHERE r.IntegrationAction LIKE 'Pass record into NetSuite%'

GO
/****** Object:  View [dbo].[NetSuite_Sales_Invoiced]    Script Date: 8/15/2025 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE   VIEW [dbo].[NetSuite_Sales_Invoiced] 
AS

/***
-- DentalXChange NetSuite Billing | NetSuite Sales Invoiced Dev
-- Purpose: display invoice information from NetSuite Sandbox with cross referenced Client Usage Summary records
--
-- History:				Author:									Revision:
-- 2024-02-08			Jean Simmons-Delpit			Create
--
-- Important Notes:
-- i.	Case statement being used to verify that the custcol_staging_database_id value is correct because there are verified incorrect values in that column from previous testing scenarios
--
***/

SELECT inv.Invoice_Number
	, inv.Invoice_Category
	, inv.Invoice_Line_Number
	, inv.Billing_Period
	, inv.Customer_Number
	, inv.Company_Name
	, inv.NetSuite_Item_Internal_ID
	, inv.Master_Item_Code
	, inv.DXC_Item_Number
	, inv.NetSuite_Item_Description
	, inv.Quantity
	, inv.Unit_Price
	, inv.Extended_Price
	, CASE 
		WHEN inv.Billing_Period = iq.Billing_Period AND inv.Customer_Number = iq.Customer_Number AND inv.Client_Usage_Summary_ID_List IS NOT NULL
		THEN inv.Client_Usage_Summary_ID_List
		ELSE STRING_AGG(iq.Client_Usage_Summary_ID, '|')
		END AS Client_Usage_Summary_ID_List
FROM OPENQUERY (
	NETSUITE_SB,
	'SELECT t.tranid AS Invoice_Number
		, CASE s.type WHEN ''CustInvc'' THEN ''Customer Invoice'' ELSE s.type END AS Invoice_Category
		, s.tranline AS Invoice_Line_Number
		, TO_CHAR(s.trandate, ''yyyy-mm-dd'') AS Billing_Period
		, c.entityid AS Customer_Number
		, c.companyname AS Company_Name
		, s.item AS NetSuite_Item_Internal_ID
		, i.custitem_master_item AS Master_Item_Code
		, i.externalid AS DXC_Item_Number
		, s.memo AS NetSuite_Item_Description
		, s.itemcount AS Quantity
		, tl.rate AS Unit_Price
		, s.amount AS Extended_Price
		, tl.custcol_staging_database_id AS Client_Usage_Summary_ID_List
	FROM "DentalXchange - SB1"."TBAUser"."salesInvoiced" AS s
	INNER JOIN "DentalXchange - SB1"."TBAUser"."customer" AS c ON s.entity = c.id
	INNER JOIN "DentalXchange - SB1"."TBAUser"."item" AS i ON s.item = i.id
	INNER JOIN "DentalXchange - SB1"."TBAUser"."transaction" AS t ON s.transaction = t.id
	INNER JOIN "DentalXchange - SB1"."TBAUser"."transactionLine" AS tl ON s.transaction = tl.transaction
		AND s.tranline = tl.id'
) AS inv
LEFT JOIN (
	SELECT cus.ClientUsageSummaryID AS Client_Usage_Summary_ID
		, cus.ClientID AS Customer_Number
		, cus.BillingPeriod AS Billing_Period
		, cus.ItemDescription AS Item_Description
		, SUM(cus.Quantity) OVER(PARTITION BY cus.ClientID, cus.BillingPeriod, cus.NSSalesItemID, cus.UnitPrice) AS JOINQuantity
		, cus.ItemNumber AS Item_Number
		, cus.Quantity
	FROM erpDev.dbo.ClientUsageSummary AS cus WITH (NOLOCK)
	WHERE BoomiStatusID = 1
) AS iq ON iq.Customer_Number = inv.Customer_Number
	AND iq.Billing_Period = inv.Billing_Period
	AND iq.Item_Number = inv.DXC_Item_Number
	AND iq.JOINQuantity = inv.Quantity
GROUP BY inv.Invoice_Number
	, inv.Invoice_Category
	, inv.Invoice_Line_Number
	, inv.Billing_Period
	, inv.Customer_Number
	, inv.Company_Name
	, inv.NetSuite_Item_Internal_ID
	, inv.Master_Item_Code
	, inv.DXC_Item_Number
	, inv.NetSuite_Item_Description
	, inv.Quantity
	, inv.Unit_Price
	, inv.Extended_Price
	, inv.Client_Usage_Summary_ID_List
	, iq.Billing_Period
	, iq.Customer_Number
GO
/****** Object:  Table [dbo].[NetSuite_Sales_Invoiced_Snapshot]    Script Date: 8/15/2025 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetSuite_Sales_Invoiced_Snapshot](
	[Invoice_Number] [nvarchar](138) NULL,
	[Invoice_Category] [varchar](16) NULL,
	[Invoice_Line_Number] [bigint] NULL,
	[Billing_Period] [varchar](8000) NULL,
	[Customer_Number] [nvarchar](83) NULL,
	[Company_Name] [nvarchar](83) NULL,
	[NetSuite_Item_Internal_ID] [bigint] NULL,
	[Master_Item_Code] [nvarchar](4000) NULL,
	[DXC_Item_Number] [nvarchar](255) NULL,
	[NetSuite_Item_Description] [nvarchar](4000) NULL,
	[Quantity] [bigint] NULL,
	[Unit_Price] [float] NULL,
	[Extended_Price] [float] NULL,
	[Client_Usage_Summary_ID_List] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite record type associated to the usage record; indicates if the record is a usage, invoice, or commission record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Invoice_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the invoice associated to the usage record from the legacy ERP system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'GP_Invoice_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the usage record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Record_Unique_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the invoice associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Invoice_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monthly period the usage record is being billed for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Billing_Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the client associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name associated to the client associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Company_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the group/single provider office associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Group_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the group/single provider office associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Group_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the DSO/Dental Services Organization associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'DSO_Unique_Identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the DSO/Dental Services Organization associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'DSO_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the reseller associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Reseller_Unique_Identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the reseller associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Reseller_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of client associated to the usage record; class in the erp system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Client_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'More granular reporting client type of the responsible client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Reporting_Client_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite Item unique id associated to the item number associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Item_Internal_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name displayed in Netsuite for the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Item_Display_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Account information posted through the Boomi Integration by NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Account_Internal_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Account name associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the item associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'DXC_Item_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description of the item associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'DXC_Item_Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite item class associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Item_Class'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the record is a subscription charge' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Is_Subscription_Charge'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Individual child account information associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Entity_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Count of billable transactions (usage volume)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit price associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Unit_Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Extended Price associated to the grouped item numbers for the billing period associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Extended_Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit cost associated to the usage record; usually applies to a rebate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Unit_Cost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Extended cost associated to the usage record; usually applies to a rebate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Extended_Cost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Amount in sales tax charged to the customer through Avalara' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Sales_Tax_Amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the sales tax amount charged to the customer through Avalara was successful' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Sales_Tax_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Commission amount associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Commission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Commission value associated to the usage record to be pushed to the ERP system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Earned_Commission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Revenue the commission amount associated to the usage record was calculated from when commission depends on revenue' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Calculated_Commission_Revenue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether usage record was successfully synced to NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Boomi_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Record_Last_Update_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Record_Last_Update_Action'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Displays invoice fields from the summary level usage data for various DentalXChange client types' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Invoice unique ID that displays on the Invoice PDF in the Invoice # field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Invoice_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the invoice is a customer invoice or a journal entry' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Invoice_Category'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Invoice line unique identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Invoice_Line_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monthly period the invoice is being billed for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Billing_Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the client associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the client associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Company_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite Item unique id associated to the item number associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'NetSuite_Item_Internal_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy Great Plains (GP) Master Item code associated to the invoice line item' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Master_Item_Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the item associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'DXC_Item_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description displayed in NetSuite for the item associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'NetSuite_Item_Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quantity of items being charged for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit price of items being charged for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Unit_Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Total price of items being charged for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Extended_Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier associated to the billing server record associated to the invoice line' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Client_Usage_Summary_ID_List'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Displays invoice data from NetSuite using the NetSuite ODBC connector' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced'
GO
