USE [erpDev]
GO
/****** Object:  Table [dbo].[ClientGLEntrySummary]    Script Date: 8/15/2025 8:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientGLEntrySummary](
	[ClientGLEntrySummaryID] [bigint] IDENTITY(1,1) NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[NSSubsidiaryID] [int] NULL,
	[NSRevenueAccountID] [int] NULL,
	[Receivable] [float] NULL,
	[Revenue] [float] NULL,
	[ItemDescription] [varchar](500) NULL,
	[ClientID] [varchar](10) NOT NULL,
	[NSID] [int] NULL,
	[ClientType] [varchar](25) NOT NULL,
	[LegacyInvoiceNumber] [varchar](25) NULL,
	[Paid] [bit] NULL,
	[ClientPaymentDetailID] [bigint] NULL,
	[ClientPaymentStatus] [int] NULL,
	[NSEntityName] [varchar](500) NULL,
	[ChildClientInformation] [varchar](150) NULL,
	[EndUserInformation] [varchar](150) NULL,
	[PartnerTranTypeID] [int] NULL,
	[PartnerTranTypeName] [varchar](50) NULL,
	[PartnerTranSubTypeID] [int] NULL,
	[PartnerTranSubTypeName] [varchar](50) NULL,
	[FeatureName] [varchar](32) NULL,
	[RecordModifyDate] [datetime] NULL,
	[RecordModifySupportUserID] [int] NULL,
	[RecordModifyReason] [varchar](200) NULL,
	[BoomiStatusID] [int] NULL,
	[ReportingClientType] [varchar](50) NULL,
	[FiservInvoiceNoMemo] [varchar](25) NULL,
	[JournalEntryNumber] [int] NULL,
 CONSTRAINT [PK_ClientGLEntrySummary_ClientGLEntrySummaryID] PRIMARY KEY CLUSTERED 
(
	[ClientGLEntrySummaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientUsageSummary]    Script Date: 8/15/2025 8:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientUsageSummary](
	[ClientUsageSummaryID] [bigint] IDENTITY(1,1) NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[ClientType] [varchar](25) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
	[LedgerAccount] [char](1) NOT NULL,
	[PartnerTranTypeID] [int] NOT NULL,
	[PartnerTranTypeName] [varchar](50) NOT NULL,
	[PartnerTranSubTypeID] [int] NOT NULL,
	[PartnerTranSubTypeName] [varchar](50) NOT NULL,
	[ItemNumber] [varchar](30) NULL,
	[ClientID] [varchar](166) NOT NULL,
	[InvoiceNumber] [varchar](25) NULL,
	[Paid] [bit] NULL,
	[ItemDescription] [varchar](500) NULL,
	[DestinationPartnerCode] [varchar](3) NULL,
	[DestinationPartnerName] [varchar](255) NULL,
	[SourcePartnerCode] [varchar](3) NULL,
	[SourcePartnerName] [varchar](255) NULL,
	[PartnerCode] [varchar](3) NULL,
	[PartnerName] [varchar](255) NULL,
	[InvoicedPartnerCode] [varchar](3) NULL,
	[InvoicedPartnerName] [varchar](255) NULL,
	[PayerID] [int] NULL,
	[PayerName] [varchar](100) NULL,
	[GroupID] [int] NULL,
	[GroupName] [varchar](50) NULL,
	[VipID] [int] NULL,
	[VipName] [varchar](60) NULL,
	[VipServiceCode] [varchar](3) NULL,
	[PmsID] [int] NULL,
	[PmsName] [varchar](255) NULL,
	[PmsSolutionTypeID] [int] NULL,
	[ResellerID] [int] NULL,
	[ResellerName] [varchar](40) NULL,
	[BillingEntity] [bit] NULL,
	[ManuallyBilled] [bit] NULL,
	[VendorBilled] [bit] NULL,
	[ProductGroupPackageContractID] [int] NULL,
	[ProductGroupPackageContractStartDate] [datetime] NULL,
	[ProductGroupPackageContractEndDate] [datetime] NULL,
	[ProductGroupPackageContractServiceCode] [varchar](3) NULL,
	[TransactionDirection] [char](1) NULL,
	[PayerSetName] [varchar](32) NULL,
	[PartnerPayerSetTierIncluded] [bit] NULL,
	[PartnerPartnerGroupBy] [char](1) NULL,
	[PartnerPartnerIncludeInBilling] [bit] NULL,
	[UnitPrice] [float] NULL,
	[ExtendedPrice] [float] NULL,
	[NSRecordType] [varchar](1) NOT NULL,
	[NSSalesItemID] [int] NULL,
	[Commission] [money] NULL,
	[Revenue] [money] NULL,
	[LegacyInvoiceNumber] [varchar](25) NULL,
	[EarnedCommission] [money] NULL,
	[UnitCost] [float] NULL,
	[ExtendedCost] [float] NULL,
	[NSRevenueAccountID] [int] NULL,
	[NSEntityName] [varchar](500) NULL,
	[BoomiStatusID] [int] NULL,
	[RecordModifyDate] [datetime] NULL,
	[RecordModifySupportUserID] [int] NULL,
	[RecordModifyReason] [varchar](200) NULL,
	[LegacyInvoiceLineNumber] [varchar](25) NULL,
	[ReportingClientType] [varchar](50) NULL,
	[ProductGroupPackageContractPartnerID] [varchar](10) NULL,
	[NSPurchaseItemID] [int] NULL,
	[NSExpenseAccountID] [int] NULL,
	[SalesTaxAmount] [money] NULL,
	[SalesTaxStatus] [bit] NULL,
	[Subscription] [bit] NULL,
	[NSItemInternalID] [int] NULL,
	[NSAccountInternalID] [int] NULL,
	[InvoiceLineNumber] [int] NULL,
	[BillingActivityPriceScheduleID] [int] NULL,
	[ZoneSubscription] [int] NULL,
	[ZoneSubscriptionItem] [int] NULL,
	[UsageInteralID] [int] NULL,
	[IsCostItem] [bit] NULL,
	[NSZabUsageID] [int] NULL,
	[MasterItemCode] [varchar](15) NULL,
	[PrepaidSubscriptionItem] [bit] NULL,
 CONSTRAINT [PK_ClientUsageSummary_ClientUsageSummaryID] PRIMARY KEY CLUSTERED 
(
	[ClientUsageSummaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERPAccountLookup]    Script Date: 8/15/2025 8:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERPAccountLookup](
	[ERPAccountLookupID] [int] IDENTITY(1,1) NOT NULL,
	[NSInternalID] [int] NOT NULL,
	[NSAccountNumber] [varchar](15) NULL,
	[Account] [varchar](100) NOT NULL,
	[Type] [varchar](35) NOT NULL,
	[Description] [varchar](50) NULL,
	[Currency] [varchar](15) NULL,
 CONSTRAINT [PK_ERPRevenueAccountLookup_ERPRevenueAccountLookupID] PRIMARY KEY CLUSTERED 
(
	[ERPAccountLookupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ERPRevenueAccountLookup_NSInternalID] UNIQUE NONCLUSTERED 
(
	[NSInternalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERPItemFeatureNameLookup]    Script Date: 8/15/2025 8:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERPItemFeatureNameLookup](
	[ERPItemFeatureNameLookupID] [int] IDENTITY(1,1) NOT NULL,
	[ERPItemLookupID] [int] NOT NULL,
	[FeatureName] [varchar](32) NOT NULL,
 CONSTRAINT [PK_ERPItemFeatureNameLookup_ERPItemFeatureNameLookupID] PRIMARY KEY CLUSTERED 
(
	[ERPItemFeatureNameLookupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERPItemLookup]    Script Date: 8/15/2025 8:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERPItemLookup](
	[ERPItemLookupID] [int] IDENTITY(1,1) NOT NULL,
	[NSSalesItemID] [int] NULL,
	[ItemNumber] [varchar](30) NULL,
	[DisplayName] [varchar](60) NULL,
	[NSSubType] [varchar](20) NULL,
	[ItemDescription] [varchar](100) NULL,
	[IncomeAccount] [varchar](50) NULL,
	[Class] [varchar](25) NULL,
	[ClientType] [varchar](25) NULL,
	[NSCreateDate] [datetime] NOT NULL,
	[NSLastModifyDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[EffectiveStartDate] [datetime] NOT NULL,
	[EffectiveEndDate] [datetime] NULL,
	[PartnerTranTypeID] [int] NULL,
	[PartnerTranTypeName] [varchar](50) NULL,
	[PartnerTranSubTypeID] [int] NULL,
	[PartnerTranSubTypeName] [varchar](50) NULL,
	[FeatureName] [varchar](250) NULL,
	[ExpenseAccount] [varchar](50) NULL,
	[RecordModifyDate] [datetime] NULL,
	[RecordModifySupportUserID] [int] NULL,
	[RecordModifyReason] [varchar](200) NULL,
	[NSPurchaseItemID] [int] NULL,
	[NSInternalID] [int] NULL,
	[NSAccountInternalID] [int] NULL,
 CONSTRAINT [PK_ERPItemLookup_EPRItemLookupID] PRIMARY KEY CLUSTERED 
(
	[ERPItemLookupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_NSItemLookup_NSInternalID] UNIQUE NONCLUSTERED 
(
	[NSInternalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERPItemMasterItemLookup]    Script Date: 8/15/2025 8:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERPItemMasterItemLookup](
	[ERPItemMasterItemLookupID] [int] IDENTITY(1,1) NOT NULL,
	[ERPItemLookupID] [int] NOT NULL,
	[ERPMasterItemLookupID] [int] NOT NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
 CONSTRAINT [PK_ERPItemMasterItemLookup_ERPItemMasterItemLookupID] PRIMARY KEY CLUSTERED 
(
	[ERPItemMasterItemLookupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERPMasterItemLookup]    Script Date: 8/15/2025 8:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERPMasterItemLookup](
	[ERPMasterItemLookupID] [int] IDENTITY(1,1) NOT NULL,
	[MasterItemCode] [varchar](15) NOT NULL,
	[MasterItemDescription] [varchar](200) NULL,
	[ClientType] [varchar](25) NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
 CONSTRAINT [PK_ERPMasterItemLookup_ERPMasterItemLookupID] PRIMARY KEY CLUSTERED 
(
	[ERPMasterItemLookupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_ERPMasterItemLookup_MasterItemCode] UNIQUE NONCLUSTERED 
(
	[MasterItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERPRecordTypeLookup]    Script Date: 8/15/2025 8:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERPRecordTypeLookup](
	[NSRecordType] [varchar](1) NOT NULL,
	[NSRecordName] [varchar](25) NOT NULL,
	[IntegrationAction] [varchar](150) NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyDate] [datetime] NULL,
	[Active] [bit] NOT NULL,
	[EffectiveStartDate] [datetime] NOT NULL,
	[EffectiveEndDate] [datetime] NULL,
	[CreateSupportUserID] [int] NULL,
	[ModifySupportUserID] [int] NULL,
 CONSTRAINT [PK_ERPRecordTypeLookup_NSRecordType] PRIMARY KEY CLUSTERED 
(
	[NSRecordType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERPSubsidiaryLookup]    Script Date: 8/15/2025 8:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERPSubsidiaryLookup](
	[ERPSubsidiaryLookupID] [int] IDENTITY(1,1) NOT NULL,
	[NSInternalID] [int] NOT NULL,
	[Name] [varchar](83) NOT NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
	[Active] [bit] NOT NULL,
	[NSLastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ERPSubsidiaryLookup_ERPSubsidiaryLookupID] PRIMARY KEY CLUSTERED 
(
	[ERPSubsidiaryLookupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ERPSubsidiaryLookup_NSInternalID] UNIQUE NONCLUSTERED 
(
	[NSInternalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientGLEntrySummary]  WITH CHECK ADD  CONSTRAINT [FK_ClientGLEntrySummary_NSSubsidiaryID] FOREIGN KEY([NSSubsidiaryID])
REFERENCES [dbo].[ERPSubsidiaryLookup] ([NSInternalID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientGLEntrySummary] CHECK CONSTRAINT [FK_ClientGLEntrySummary_NSSubsidiaryID]
GO
ALTER TABLE [dbo].[ClientUsageSummary]  WITH CHECK ADD  CONSTRAINT [FK_ClientUsageSummary_NSRecordType] FOREIGN KEY([NSRecordType])
REFERENCES [dbo].[ERPRecordTypeLookup] ([NSRecordType])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientUsageSummary] CHECK CONSTRAINT [FK_ClientUsageSummary_NSRecordType]
GO
ALTER TABLE [dbo].[ClientGLEntrySummary]  WITH CHECK ADD  CONSTRAINT [CK_ClientGLEntrySummary_NSID] CHECK  (([NSID]=(101) OR [NSID]=(103) OR [NSID]=(102)))
GO
ALTER TABLE [dbo].[ClientGLEntrySummary] CHECK CONSTRAINT [CK_ClientGLEntrySummary_NSID]
GO
ALTER TABLE [dbo].[ClientUsageSummary]  WITH CHECK ADD  CONSTRAINT [CHK_ClientUsageSummary_ClientType] CHECK  (([ClientType]='Trading Partner' OR [ClientType]='Payer' OR [ClientType]='Reseller' OR [ClientType]='DSO' OR [ClientType]='Provider' OR [ClientType]='Credit Card'))
GO
ALTER TABLE [dbo].[ClientUsageSummary] CHECK CONSTRAINT [CHK_ClientUsageSummary_ClientType]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the gl entry record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'ClientGLEntrySummaryID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'DATEADD(MONTH, DATEDIFF(MONTH, ''19000101'', {{Transaction Date}}), ''19000101'')' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'BillingPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monthly period the gl entry is being billed for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'BillingPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Subsidiary information posted through the Boomi Integration by NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'NSSubsidiaryID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Account information posted through the Boomi Integration by NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'NSRevenueAccountID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Debit amount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'Receivable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Credit amount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'Revenue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Line description information posted through the Boomi Integration by NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'ItemDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the client associated to the gl entry; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'ClientID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Department information posted through the Boomi Integration by NetSuite; valid values are 101 (40 Revenue) for revenue records or 103 (00 Balance Sheet) for receivable records. Values provided by the Account Team from the NS Departments list.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'NSID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'Provider | DSO | Payer | Trading Partner | Reseller' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'ClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of client associated to the gl entry; class in the erp system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'ClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the invoice associated to the gl entry record from the legacy ERP system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'LegacyInvoiceNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the invoice associated to the gl entry record was paid or not' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'Paid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client payment unique identifier associated to the gl entry record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'ClientPaymentDetailID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Status of the client payment associated to the client payment associated to the gl entry record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'ClientPaymentStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Individual child account information associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'NSEntityName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) unique identifier for the general product line or parent transaction type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'PartnerTranTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) name for the general product line or parent transaction type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'PartnerTranTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) unique identifier for the specific transaction completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'PartnerTranSubTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) name for the specific transaction completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'PartnerTranSubTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Provider side transaction type category associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'FeatureName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'RecordModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'common.dbo.SupportUser unique identifier of the user who created/modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'RecordModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'RecordModifyReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'More granular reporting client type of the responsible client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'ReportingClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Expected Invoice No column field from the Fiserv/PayConnect 2.0 cash receipt downloads/transactions' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary', @level2type=N'COLUMN',@level2name=N'FiservInvoiceNoMemo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Captures summary level GL Entry data for various DentalXChange client types to be pushed to the ERP system through third party integration and transformation' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientGLEntrySummary'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ClientUsageSummaryID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the usage record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ClientUsageSummaryID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'DATEADD(MONTH, DATEDIFF(MONTH, ''19000101'', {{Transaction Date}}), ''19000101'')' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'BillingPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monthly period the usage record is being billed for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'BillingPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'Provider | DSO | Payer | Trading Partner | Reseller' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of client associated to the usage record; class in the erp system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the usage record was considered billable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'TransactionDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Count of billable transactions (usage volume)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'Accounts Receivable | Accounts Payable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'LedgerAccount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the usage record is booked as revenue (accounts receivable) or cost (accounts payable)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'LedgerAccount'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerTranType.PartnerTranTypeID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerTranTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the transaction type associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerTranTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerTranType.Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerTranTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaction type description/name associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerTranTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerTranSubType.PartnerTranSubTypeID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerTranSubTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaction subtype associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerTranSubTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerTranSubType.Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerTranSubTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaction subtype description/name associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerTranSubTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the item associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ItemNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the client associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ClientID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the invoice associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'InvoiceNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the invoice associated to the usage record was paid or not' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'Paid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description of the item associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ItemDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerCode.PartnerCode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'DestinationPartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Three (3) character clearinghouse (CHS) partner code of the destination entity associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'DestinationPartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerCode.Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'DestinationPartnerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the destination entity associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'DestinationPartnerName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerCode.PartnerCode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'SourcePartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Three (3) character clearinghouse (CHS) partner code of the source entity associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'SourcePartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerCode.Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'SourcePartnerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the source entity associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'SourcePartnerName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerCode.PartnerCode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Three (3) character clearinghouse (CHS) partner code of the entity associated to the usage record who conducted said business with DentalXChange; usually the Destination Partner Code for an outbound transaction and the Source Partner Code for an inbound transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerCode.Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the entity associated to the usage record who conducted said business with DentalXChange; usually the Destination Partner Code for an outbound transaction and the Source Partner Code for an inbound transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerCode.PartnerCode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'InvoicedPartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Three (3) character clearinghouse (CHS) partner code of the entity associated to the usage record with payment responsibility' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'InvoicedPartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerCode.Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'InvoicedPartnerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the entity associated to the usage record with payment responsibility' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'InvoicedPartnerName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Payer.PayerID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PayerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the payer/insurance company associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PayerID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Payer.Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PayerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the payer/insurance company associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PayerName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Groups.GroupID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'GroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the group/single provider office associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'GroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Groups.Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'GroupName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the group/single provider office associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'GroupName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Vip.VipID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'VipID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the DSO/Dental Services Organization associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'VipID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Vip.Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'VipName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the DSO/Dental Services Organization associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'VipName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Vip.ServiceCode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'VipServiceCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Three (3) character clearinghouse (CHS) partner code of the DSO/Dental Services Organization associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'VipServiceCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Pms.PmsID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PmsID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the PMS/Practice Management Software associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PmsID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Pms.Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PmsName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the PMS/Practice Management Software associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PmsName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.PmsSolution.SolutionType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PmsSolutionTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the PMS solution type of the PMS/Practice Management Software associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PmsSolutionTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Reseller.ResellerID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ResellerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the reseller associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ResellerID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Reseller.Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ResellerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the reseller associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ResellerName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.Vip.BillingEntity | livesql.common.dbo.Reseller.BillingEntity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'BillingEntity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'For usage records with an associated VipID or ResellerID, indicates whether the DSO/Dental Service Organization or Reseller is the billing entity associated to the usage record; records with a value of 0 may be duplicated usage information' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'BillingEntity'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.GroupBillingInfoSkip.ManuallyBilled' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ManuallyBilled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the single provider office is billed manually through the erp system for the usage record; most manually billed single provider offices use a payment method other than credit card' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ManuallyBilled'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.common.dbo.ProductPriceSchedule.Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'VendorBilled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'For usage records with an associated VipID, indicates whether the Reseller is the billing entity associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'VendorBilled'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'common.dbo.ProductGroupPackage.ContractID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the product contract associated to the single provider office associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'common.dbo.ProductGroupPackage.AgreeDate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractStartDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Agree date of the product contract associated to the single provider office associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractStartDate'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'common.dbo.ProductGroupPackage.EndDate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractEndDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'End date of the product contract associated to the single provider office associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractEndDate'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'common.dbo.ProductGroupPackage.ServiceCode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractServiceCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Service Code of the product contract associated to the single provider office associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractServiceCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'Inbound | Outbound' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'TransactionDirection'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the usage record represents an inbound or outbound transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'TransactionDirection'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Payer set name associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PayerSetName'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerPayerSet.TierIncluded' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerPayerSetTierIncluded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'For usage records with Trading Partner as the associated Client Type, indicates whether specific partners'' payer set usage should be inlcuded on the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerPayerSetTierIncluded'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.dbo.chs.PartnerPartnerCode.GroupBy' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerPartnerGroupBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the usage record should be grouped by file (F) or grouped by payer (P) for usage sums and item description display; F records display the delivery file link on the invoice while P records display the payer/insurance company name on the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerPartnerGroupBy'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'livesql.chs.dbo.PartnerPartnerCode.IncludeInBilling' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerPartnerIncludeInBilling'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'For usage records with Trading Partner as the associated Client Type, indicates whether specific partners'' usage should be inlcuded on the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'PartnerPartnerIncludeInBilling'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit price associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'UnitPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Extended Price associated to the grouped item numbers for the billing period associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ExtendedPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite record type associated to the usage record; indicates if the record is a usage, invoice, or commission record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'NSRecordType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite Sales Item unique id associated to the item number associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'NSSalesItemID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Commission amount associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'Commission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Revenue the commission amount associated to the usage record was calculated from when commission depends on revenue' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'Revenue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the invoice associated to the usage record from the legacy ERP system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'LegacyInvoiceNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Commission value associated to the usage record to be pushed to the ERP system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'EarnedCommission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit cost associated to the usage record; usually applies to a rebate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'UnitCost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Extended cost associated to the usage record; usually applies to a rebate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ExtendedCost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Account information posted through the Boomi Integration by NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'NSRevenueAccountID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Individual child account information associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'NSEntityName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'RecordModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'common.dbo.SupportUser unique identifier of the user who created/modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'RecordModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'RecordModifyReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'More granular reporting client type of the responsible client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ReportingClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'common.dbo.ProductGroupPackage.PartnerID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractPartnerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Partner ID of the product contract associated to the single provider office associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractPartnerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Captures summary level usage data for various DentalXChange client types to be pushed to the ERP system through third party integration and transformation' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientUsageSummary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique indentifier associated to the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPAccountLookup', @level2type=N'COLUMN',@level2name=N'ERPAccountLookupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite unique identifier associated to the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPAccountLookup', @level2type=N'COLUMN',@level2name=N'NSInternalID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Original Microsoft Dynamics Great Plains (GP) book unique identifier associated to the account associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPAccountLookup', @level2type=N'COLUMN',@level2name=N'NSAccountNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Account name associated to the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPAccountLookup', @level2type=N'COLUMN',@level2name=N'Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type associated to account' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPAccountLookup', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description associated to the account' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPAccountLookup', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Currency type associated to the account' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPAccountLookup', @level2type=N'COLUMN',@level2name=N'Currency'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores NetSuite account data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPAccountLookup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the lookup record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemFeatureNameLookup', @level2type=N'COLUMN',@level2name=N'ERPItemFeatureNameLookupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the lookup record; foreign key from erp.dbo.ERPItemLookup' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemFeatureNameLookup', @level2type=N'COLUMN',@level2name=N'ERPItemLookupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Provider side transaction type category associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemFeatureNameLookup', @level2type=N'COLUMN',@level2name=N'FeatureName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the lookup record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'ERPItemLookupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite specific unique identifier of the lookup record; provided by the NetSuite integration of Accounting Team' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'NSSalesItemID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the item associated to the lookup record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'ItemNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name displayed in Netsuite for the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'DisplayName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Subtype information in Netsuite for the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'NSSubType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description associated to the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'ItemDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite income account associated to the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'IncomeAccount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of client associated to the lookup record; class in the erp system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'ClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the lookup record was created in NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'NSCreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Latest date the lookup record was modified in NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'NSLastModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the lookup record is actively in use' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'Active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the lookup record began use' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'EffectiveStartDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the lookup record ended use' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'EffectiveEndDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) unique identifier for the general product line or parent transaction type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'PartnerTranTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) name for the general product line or parent transaction type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'PartnerTranTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) unique identifier for the specific transaction completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'PartnerTranSubTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) name for the specific transaction completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'PartnerTranSubTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Provider side transaction type category associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup', @level2type=N'COLUMN',@level2name=N'FeatureName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores NetSuite/Legacy GP Item Number translation information' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemLookup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ERP Item Master Item unique identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemMasterItemLookup', @level2type=N'COLUMN',@level2name=N'ERPItemMasterItemLookupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ERP Item unique identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemMasterItemLookup', @level2type=N'COLUMN',@level2name=N'ERPItemLookupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ERP Master Item unique identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemMasterItemLookup', @level2type=N'COLUMN',@level2name=N'ERPMasterItemLookupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemMasterItemLookup', @level2type=N'COLUMN',@level2name=N'RecordModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'common.dbo.SupportUser unique identifier of the user who created/modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemMasterItemLookup', @level2type=N'COLUMN',@level2name=N'RecordModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemMasterItemLookup', @level2type=N'COLUMN',@level2name=N'RecordModifyReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores Legacy GP Master Item Code relationships to NetSuite/Legacy GP Item Numbers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPItemMasterItemLookup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ERP Master Item unique identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPMasterItemLookup', @level2type=N'COLUMN',@level2name=N'ERPMasterItemLookupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique Master Item alphanumeric code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPMasterItemLookup', @level2type=N'COLUMN',@level2name=N'MasterItemCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description associated to the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPMasterItemLookup', @level2type=N'COLUMN',@level2name=N'MasterItemDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of client associated to the lookup record; class in the erp system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPMasterItemLookup', @level2type=N'COLUMN',@level2name=N'ClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPMasterItemLookup', @level2type=N'COLUMN',@level2name=N'RecordModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'common.dbo.SupportUser unique identifier of the user who created/modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPMasterItemLookup', @level2type=N'COLUMN',@level2name=N'RecordModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPMasterItemLookup', @level2type=N'COLUMN',@level2name=N'RecordModifyReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores Legacy GP Master Item Code information' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPMasterItemLookup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the lookup record; usually the first letter of the type description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup', @level2type=N'COLUMN',@level2name=N'NSRecordType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup', @level2type=N'COLUMN',@level2name=N'NSRecordName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Full description of the actions taken by Boomi during record processing' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup', @level2type=N'COLUMN',@level2name=N'IntegrationAction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the lookup record was created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Latest date the lookup record was modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup', @level2type=N'COLUMN',@level2name=N'LastModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the lookup record is actively in use' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup', @level2type=N'COLUMN',@level2name=N'Active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the lookup record began use' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup', @level2type=N'COLUMN',@level2name=N'EffectiveStartDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the lookup record ended use' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup', @level2type=N'COLUMN',@level2name=N'EffectiveEndDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Production Support User ID of the person/system who created the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup', @level2type=N'COLUMN',@level2name=N'CreateSupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Production Support User ID of the person/system who modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup', @level2type=N'COLUMN',@level2name=N'ModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores valid NetSuite record type information used to direct the Boomi integration on how to process each record in the Client Usage Summary table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPRecordTypeLookup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier associated with the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPSubsidiaryLookup', @level2type=N'COLUMN',@level2name=N'ERPSubsidiaryLookupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite unique identifier associated to the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPSubsidiaryLookup', @level2type=N'COLUMN',@level2name=N'NSInternalID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Subsidiary name associated to the lookup record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPSubsidiaryLookup', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was last created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPSubsidiaryLookup', @level2type=N'COLUMN',@level2name=N'RecordModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SupportUserID of the support user who last created/modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPSubsidiaryLookup', @level2type=N'COLUMN',@level2name=N'RecordModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason for the latest create/update to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPSubsidiaryLookup', @level2type=N'COLUMN',@level2name=N'RecordModifyReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the record is active' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPSubsidiaryLookup', @level2type=N'COLUMN',@level2name=N'Active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last recorded date the record was created/modified in its original NetSuite table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPSubsidiaryLookup', @level2type=N'COLUMN',@level2name=N'NSLastModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores NetSuite subsidiary data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ERPSubsidiaryLookup'
GO
