USE [rpt]
GO
/****** Object:  Table [dbo].[ClientInvoiceDetail]    Script Date: 8/15/2025 8:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientInvoiceDetail](
	[ClientInvoiceDetailID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [varchar](25) NOT NULL,
	[ClientID] [varchar](10) NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[FileName] [varchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[DXCHomeSentDate] [datetime] NULL,
 CONSTRAINT [PK_ClientInvoiceDetail_ClientInvoiceDetailID] PRIMARY KEY CLUSTERED 
(
	[ClientInvoiceDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HSOneAprilMayMissingBillingClaims]    Script Date: 8/15/2025 8:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HSOneAprilMayMissingBillingClaims](
	[HSOne_Claim_Sent_Date] [datetime] NULL,
	[HSOne_Claim_ID] [varchar](33) NOT NULL,
	[DXC_Claim_ID] [char](20) NULL,
	[DXC_Delivery_Date] [datetime] NULL,
	[Billing_Period] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HSOneAprilMissingBillingClaimsCorrections]    Script Date: 8/15/2025 8:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HSOneAprilMissingBillingClaimsCorrections](
	[ClientUsageSummaryID] [bigint] NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[ClientID] [varchar](10) NULL,
	[PartnerCode] [varchar](3) NULL,
	[ItemNumber] [varchar](30) NULL,
	[BilledQuantity] [int] NOT NULL,
	[CorrectedQuantity] [int] NULL,
	[Difference] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HSOneMayMissingBillingClaimsCorrections]    Script Date: 8/15/2025 8:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HSOneMayMissingBillingClaimsCorrections](
	[ClientUsageSummaryID] [bigint] NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[ClientID] [varchar](10) NULL,
	[PartnerCode] [varchar](3) NULL,
	[ItemNumber] [varchar](30) NULL,
	[BilledQuantity] [int] NOT NULL,
	[CorrectedQuantity] [int] NULL,
	[Difference] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NetSuiteItemNumberCorrectionSyncHistory]    Script Date: 8/15/2025 8:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetSuiteItemNumberCorrectionSyncHistory](
	[ClientID] [varchar](10) NULL,
	[BillingPeriod] [date] NULL,
	[StagingDatabaseID] [int] NULL,
	[InvoiceNumber] [varchar](25) NULL,
	[OldNSItemInternalID] [int] NULL,
	[OldItemNumber] [varchar](30) NULL,
	[NewNSItemInternalID] [int] NULL,
	[NewItemNumber] [varchar](30) NULL,
	[UpdateDate] [datetime] NULL,
	[ReportDate] [datetime] NULL
) ON [PRIMARY]
GO
