USE [sch]
GO
/****** Object:  Table [dbo].[ProcedureSchedules]    Script Date: 8/15/2025 8:04:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureSchedules](
	[ProcedureScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ProcessName] [varchar](100) NOT NULL,
	[Frequency] [varchar](35) NOT NULL,
	[NextDataLoadDate] [date] NULL,
	[GoLiveDate] [date] NOT NULL,
	[NextRunDate] [date] NULL,
	[LastSuccessfulRunDate] [date] NULL,
	[IsActiveSchedule] [bit] NOT NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NULL,
	[LastDataAvailableCheck] [datetime] NULL,
	[CurrentDataBillingPeriod] [date] NULL,
	[MaxDataTransactionDateProcessed] [datetime] NULL,
	[DataIsAvailable] [bit] NULL,
	[DataAvailableRecordCount] [int] NULL,
 CONSTRAINT [PK_ProcedureSchedules_ProcedureScheduleID] PRIMARY KEY CLUSTERED 
(
	[ProcedureScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcedureSchedulesAudit]    Script Date: 8/15/2025 8:04:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureSchedulesAudit](
	[ProcedureScheduleAuditID] [int] IDENTITY(1,1) NOT NULL,
	[ProcedureScheduleID] [int] NOT NULL,
	[ProcessName] [varchar](100) NOT NULL,
	[Frequency] [varchar](35) NOT NULL,
	[NextDataLoadDate] [date] NULL,
	[GoLiveDate] [date] NOT NULL,
	[NextRunDate] [date] NULL,
	[LastSuccessfulRunDate] [date] NULL,
	[IsActiveSchedule] [bit] NOT NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NULL,
	[TriggerDate] [datetime] NOT NULL,
	[TriggerLogin] [varchar](50) NOT NULL,
	[TriggerWorkstation] [varchar](50) NOT NULL,
	[TriggerAction] [varchar](20) NOT NULL,
	[LastDataAvailableCheck] [datetime] NULL,
	[CurrentDataBillingPeriod] [date] NULL,
	[MaxDataTransactionDateProcessed] [datetime] NULL,
	[DataIsAvailable] [bit] NULL,
	[DataAvailableRecordCount] [int] NULL,
 CONSTRAINT [PK_ProcedureSchedulesAudit_ProcedureScheduleAuditID] PRIMARY KEY CLUSTERED 
(
	[ProcedureScheduleAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcedureSchedules] ADD  CONSTRAINT [DF_ProcedureSchedules_IsActiveSchedule]  DEFAULT ((1)) FOR [IsActiveSchedule]
GO
ALTER TABLE [dbo].[ProcedureSchedules]  WITH CHECK ADD  CONSTRAINT [CK_ProcedureSchedules_Frequency] CHECK  (([Frequency]='Yearly' OR [Frequency]='Quarterly' OR [Frequency]='Monthly' OR [Frequency]='Weekly' OR [Frequency]='Daily'))
GO
ALTER TABLE [dbo].[ProcedureSchedules] CHECK CONSTRAINT [CK_ProcedureSchedules_Frequency]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the scheduling record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'ProcedureScheduleID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stored procedure name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'ProcessName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates the frequency the stored procedure should run' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'Frequency'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date new data is expected in the source table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'NextDataLoadDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the schedule went live' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'GoLiveDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Next date the procedure should run' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'NextRunDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last date the procedure ran successfully' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'LastSuccessfulRunDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates if the schedule is active' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'IsActiveSchedule'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'RecordModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'common.dbo.SupportUser unique identifier of the user who created/modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'RecordModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'RecordModifyReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Latest data a process has checked for data availability' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'LastDataAvailableCheck'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The most recent billing period that is currently being processed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'CurrentDataBillingPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The most recent transaction date that has been processed already' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'MaxDataTransactionDateProcessed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether or not the data being processed is available for the current processing frequency.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'DataIsAvailable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Count of records available for the current processing frequency' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules', @level2type=N'COLUMN',@level2name=N'DataAvailableRecordCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Details scheduling information for the various stored procedures that run against the server' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedules'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Audit logging for the sch.dbo.ProcedureSchedules table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcedureSchedulesAudit'
GO
