USE [trxBrch]
GO
/****** Object:  View [dbo].[ClientTransactionEvents_View]    Script Date: 8/15/2025 8:06:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ClientTransactionEvents_View] 
AS
SELECT ct.*
	, te.TransactionEventID
	, te.EventDate
	, te.Description
	, te.PartnerTranSubTypeID
	, te.PartnerTranSubTypeName
	, te.TransactionDirection
	, te.ClientID
	, te.ClientName
	, te.ClientDatabaseTable
	, te.ClientIDColumn
	, te.ClientState
	, te.TransactionClientType
	, te.ReportingClientType
	, te.ProductGroupPackageContractID
	, te.PayerSetName
	, te.ParClass
	, te.BillingModel
	, te.BillingPeriod
	, te.NSItemInternalID
	, te.ItemNumberShort
	, te.ItemNumber
	, te.Revenue
	, te.UnitPrice
	, te.UnitCost
	, te.RecordModifyDate AS TransactionEventsRecordModifyDate
	, te.RecordModifySupportUserID AS TransactionEventsRecordModifySupportUserID
	, te.RecordModifyReason AS TransactionEventRecordModifyReason
	, te.InvoiceClientID
	, te.InvoiceClientName
	, te.MasterItemCode
	, te.SubscriptionID
	, te.SubscriptionName
	, te.SubscriptionCheckDate
	, te.HasInvoiceClientSubscription
	, te.SubscriptionLineID
	, te.Quantity
	, te.ClientType
FROM trxQA.dbo.ClientTransactions AS ct WITH (NOLOCK)
JOIN trxQA.dbo.TransactionEvents AS te WITH (NOLOCK) ON ct.ClientTransactionID = te.ClientTransactionID

GO
/****** Object:  Table [dbo].[ClientSubscriptionEvents]    Script Date: 8/15/2025 8:06:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientSubscriptionEvents](
	[ClientSubscriptionEventID] [int] IDENTITY(1,1) NOT NULL,
	[ProductionSubscriptionID] [varchar](80) NOT NULL,
	[ProductionSubscriptionDatabaseTable] [varchar](150) NOT NULL,
	[ProductionSubscriptionIDColumn] [varchar](60) NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[ClientID] [varchar](50) NOT NULL,
	[ClientName] [varchar](180) NOT NULL,
	[ClientDatabaseTable] [varchar](150) NOT NULL,
	[ClientIDColumn] [varchar](60) NOT NULL,
	[ClientState] [varchar](2) NULL,
	[ReportingClientType] [varchar](50) NOT NULL,
	[ServiceCode] [varchar](3) NULL,
	[PartnerID] [varchar](10) NULL,
	[BundleName] [varchar](50) NULL,
	[GroupID] [int] NULL,
	[GroupName] [varchar](50) NULL,
	[VipID] [int] NULL,
	[VipName] [varchar](60) NULL,
	[MultilocationEntityID] [int] NULL,
	[MultilocationEntityName] [varchar](50) NULL,
	[PmsID] [int] NULL,
	[PmsName] [varchar](255) NULL,
	[ResellerID] [int] NULL,
	[ResellerName] [varchar](40) NULL,
	[NSItemInternalID] [int] NULL,
	[ItemNumberShort] [varchar](30) NULL,
	[ItemNumber] [varchar](30) NULL,
	[InvoiceClientID] [varchar](50) NULL,
	[InvoiceClientName] [varchar](180) NULL,
	[MasterItemCode] [varchar](50) NULL,
	[SubscriptionID] [bigint] NULL,
	[SubscriptionName] [varchar](220) NULL,
	[SubscriptionCheckDate] [datetime] NULL,
	[HasInvoiceClientSubscription] [bit] NULL,
	[SubscriptionLineID] [bigint] NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
	[ClientType] [varchar](50) NULL,
	[EntityRelationshipTypeDescription] [varchar](100) NULL,
	[EntityID] [int] NULL,
	[EntityName] [varchar](50) NULL,
	[NSEntityName] [varchar](500) NULL,
	[UsageDetail] [varchar](500) NULL,
	[NSZabUsageID] [int] NULL,
	[SourceProcess] [varchar](50) NULL,
	[PrepaidSubscriptionItem] [bit] NOT NULL,
	[Billable] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [float] NULL,
	[UnitCost] [float] NULL,
 CONSTRAINT [PK_ClientSubscriptionEvents_ClientSubscriptionEventID] PRIMARY KEY CLUSTERED 
(
	[ClientSubscriptionEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientTransactions]    Script Date: 8/15/2025 8:06:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientTransactions](
	[ClientTransactionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [varchar](20) NOT NULL,
	[TransactionDatabaseTable] [varchar](150) NOT NULL,
	[TransactionIDColumn] [varchar](60) NOT NULL,
	[ParentTransactionID] [varchar](38) NULL,
	[ParentTransactionDatabaseTable] [varchar](150) NULL,
	[ParentTransactionIDColumn] [varchar](60) NULL,
	[DXCApplicationName] [varchar](100) NOT NULL,
	[PartnerTranTypeID] [int] NOT NULL,
	[PartnerTranTypeName] [varchar](50) NOT NULL,
	[FeatureName] [varchar](32) NULL,
	[SourcePartnerCode] [varchar](15) NULL,
	[SourcePartnerDescription] [varchar](128) NULL,
	[DestinationPartnerCode] [varchar](15) NULL,
	[DestinationPartnerDescription] [varchar](128) NULL,
	[MasterDestinationPartnerCode] [varchar](15) NULL,
	[MasterDestinationPartnerDescription] [varchar](128) NULL,
	[GroupID] [int] NULL,
	[GroupName] [varchar](50) NULL,
	[VipID] [int] NULL,
	[VipName] [varchar](60) NULL,
	[MultilocationEntityID] [int] NULL,
	[MultilocationEntityName] [varchar](50) NULL,
	[PayerID] [int] NULL,
	[PayerIDCode] [varchar](80) NULL,
	[PayerName] [varchar](100) NULL,
	[PmsID] [int] NULL,
	[PmsName] [varchar](255) NULL,
	[ResellerID] [int] NULL,
	[ResellerName] [varchar](40) NULL,
	[MerchantID] [varchar](50) NULL,
	[MerchantName] [varchar](50) NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
	[BillingProviderTaxID] [varchar](80) NULL,
	[RenderingProviderNPI] [varchar](30) NULL,
	[IsPrint] [bit] NULL,
	[RemoteURL] [varchar](255) NULL,
	[SourceProcess] [varchar](50) NULL,
	[DeliveryTransactionID] [varchar](255) NULL,
	[DeliveryTransactionDatabaseTable] [varchar](150) NULL,
	[DeliveryTransactionIDColumn] [varchar](60) NULL,
 CONSTRAINT [PK_ClientTransactions_ClientTransactionID] PRIMARY KEY CLUSTERED 
(
	[ClientTransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionEvents]    Script Date: 8/15/2025 8:06:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionEvents](
	[TransactionEventID] [int] IDENTITY(1,1) NOT NULL,
	[ClientTransactionID] [int] NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[PartnerTranSubTypeID] [int] NOT NULL,
	[PartnerTranSubTypeName] [varchar](50) NOT NULL,
	[TransactionDirection] [varchar](10) NULL,
	[ClientID] [varchar](50) NOT NULL,
	[ClientName] [varchar](180) NOT NULL,
	[ClientDatabaseTable] [varchar](150) NOT NULL,
	[ClientIDColumn] [varchar](60) NOT NULL,
	[ClientState] [varchar](2) NULL,
	[TransactionClientType] [varchar](50) NULL,
	[ReportingClientType] [varchar](50) NOT NULL,
	[ProductGroupPackageContractID] [varchar](15) NULL,
	[PayerSetName] [varchar](32) NULL,
	[ParClass] [varchar](15) NULL,
	[BillingModel] [varchar](50) NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[NSItemInternalID] [int] NULL,
	[ItemNumberShort] [varchar](30) NULL,
	[ItemNumber] [varchar](30) NULL,
	[Revenue] [float] NULL,
	[UnitPrice] [float] NULL,
	[UnitCost] [float] NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
	[InvoiceClientID] [varchar](50) NULL,
	[InvoiceClientName] [varchar](180) NULL,
	[MasterItemCode] [varchar](50) NULL,
	[SubscriptionID] [bigint] NULL,
	[SubscriptionName] [varchar](220) NULL,
	[SubscriptionCheckDate] [datetime] NULL,
	[HasInvoiceClientSubscription] [bit] NULL,
	[SubscriptionLineID] [bigint] NULL,
	[Quantity] [int] NULL,
	[ClientType] [varchar](50) NULL,
	[NSEntityName] [varchar](500) NULL,
	[UsageDetail] [varchar](500) NULL,
	[SourceProcess] [varchar](50) NULL,
	[DeliveryTransactionID] [varchar](255) NULL,
	[DeliveryTransactionDatabaseTable] [varchar](150) NULL,
	[DeliveryTransactionIDColumn] [varchar](60) NULL,
	[PrepaidSubscriptionItem] [bit] NOT NULL,
	[Billable] [bit] NOT NULL,
 CONSTRAINT [PK_TransactionEvents_TransactionEventID] PRIMARY KEY CLUSTERED 
(
	[TransactionEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientSubscriptionEvents] ADD  CONSTRAINT [DF_ClientSubscriptionEvents_PrepaidSubscriptionItem]  DEFAULT ((0)) FOR [PrepaidSubscriptionItem]
GO
ALTER TABLE [dbo].[ClientSubscriptionEvents] ADD  CONSTRAINT [DF_ClientSubscriptionEvents_Billable]  DEFAULT ((1)) FOR [Billable]
GO
ALTER TABLE [dbo].[ClientSubscriptionEvents] ADD  CONSTRAINT [DF_ClientSubscriptionEvents_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[TransactionEvents] ADD  CONSTRAINT [DF_TransactionEvents_PrepaidSubscriptionItem]  DEFAULT ((0)) FOR [PrepaidSubscriptionItem]
GO
ALTER TABLE [dbo].[TransactionEvents] ADD  CONSTRAINT [DF_TransactionEvents_Billable]  DEFAULT ((1)) FOR [Billable]
GO
ALTER TABLE [dbo].[TransactionEvents]  WITH CHECK ADD  CONSTRAINT [FK_TransactionEvents_ClientTransactionID] FOREIGN KEY([ClientTransactionID])
REFERENCES [dbo].[ClientTransactions] ([ClientTransactionID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionEvents] CHECK CONSTRAINT [FK_TransactionEvents_ClientTransactionID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the subscription event record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ClientSubscriptionEventID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Subscription unique identifier from the transaction origin table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ProductionSubscriptionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Database table where the subscription originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ProductionSubscriptionDatabaseTable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Column name where the ProductionSubscriptionID originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ProductionSubscriptionIDColumn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Month based period the subscription event is billed in' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'BillingPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Accounting or production system unique identifier for the entity responsible for payment or debit of the subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ClientID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Accounting or production system name for the entity responsible for payment or debit of the subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ClientName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Database table where the ClientID originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ClientDatabaseTable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Column name where the ClientID originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ClientIDColumn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'US State or province where the client does business' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ClientState'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'More granular reporting client type of the responsible client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ReportingClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Production system unique identifier used to track service use across DentalXChange services; livesql.common.dbo.ServiceCode.ServiceCode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ServiceCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Partner unique identifier pushed from the partner landing page that the associated client signed up for the subscription through; clients are managed end users of partnered entities' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'PartnerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Shared bundle package name in common across a grouping of packges with differing names' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'BundleName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Group unique identifier associated to the subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'GroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Group name associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'GroupName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'VIP unique identifier associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'VipID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'VIP name associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'VipName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Multilocation EntityID from common.dbo.Entity associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'MultilocationEntityID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Multilocationi name from common.dbo.Entity associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'MultilocationEntityName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Practice Management System (PMS) unique identifier associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'PmsID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PMS name associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'PmsName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reseller unique identifier associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ResellerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reseller name associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ResellerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite unique identifier for the transaction event sku' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'NSItemInternalID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DentalXChange transaction event sku segments 3 and 4 only' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ItemNumberShort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DentalXChange transaction event sku' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'ItemNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ERP System client unique identifier of the client responsible for remitting payment/receiving rebate funds' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'InvoiceClientID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ERP System client name of the client responsible for remitting payment/receiving rebate funds' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'InvoiceClientName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy ERP System (GP) object representing the parent product line that an item belongs to' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'MasterItemCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client subscription unique ID from the ERP System (NetSuite) associated to the production subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'SubscriptionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client subscription name from the ERP System (NetSuite) associated to the production subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'SubscriptionName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Latest date the system confirmed the existence of a client subscription int he ERP System (NetSuite) for the associated production subscription record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'SubscriptionCheckDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the invoice client has a confirmed subscription in the ERP System (NetSuite)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'HasInvoiceClientSubscription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client subscription line number associated to the subscription record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'SubscriptionLineID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'RecordModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'common.dbo.SupportUser unique identifier of the user who created/modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'RecordModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents', @level2type=N'COLUMN',@level2name=N'RecordModifyReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Captures production subscription information on subscriptions being billed at the Partner/Corporate level' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientSubscriptionEvents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the transaction record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'ClientTransactionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaction unique identifier from the transaction origin table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'TransactionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Database table where the transaction originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'TransactionDatabaseTable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Column name where the TransactionID originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'TransactionIDColumn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parent transaction unique identifier from the parent transaction origin table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'ParentTransactionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Database table where the parent transaction originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'ParentTransactionDatabaseTable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Column name where the ParentTransactionID originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'ParentTransactionIDColumn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DentalXChange application where the transaction originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'DXCApplicationName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) unique identifier for the general product line or parent transaction type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'PartnerTranTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) name for the general product line or parent transaction type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'PartnerTranTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Provider side transaction type category associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'FeatureName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) PartnerCode for the entity DentalXChange received the transaction from' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'SourcePartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) partner name for the entity DentalXChange received the transaction from' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'SourcePartnerDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) PartnerCode for the entity DentalXChange sent the transaction to' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'DestinationPartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) partner name for the entity DentalXChange sent the transaction to' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'DestinationPartnerDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) parent PartnerCode for the entity DentalXChange sent the transaction to' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'MasterDestinationPartnerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) parent partner name for the entity DentalXChange sent the transaction to' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'MasterDestinationPartnerDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Group unique identifier associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'GroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Group name associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'GroupName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'VIP unique identifier associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'VipID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'VIP name associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'VipName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Multilocation EntityID from common.dbo.Entity associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'MultilocationEntityID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Multilocationi name from common.dbo.Entity associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'MultilocationEntityName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Payer unique identifier associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'PayerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Insurance industry unique identifier associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'PayerIDCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Payer name associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'PayerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Practice Management System (PMS) unique identifier associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'PmsID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PMS name associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'PmsName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reseller unique identifier associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'ResellerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reseller name associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'ResellerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PayConnect merchant unique identifier associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'MerchantID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PayConnect merchant name associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'MerchantName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'RecordModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'common.dbo.SupportUser unique identifier of the user who created/modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'RecordModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'RecordModifyReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tax Identification Number of the billing provider associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'BillingProviderTaxID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'National Provider Identifier of the rendering provider associated to the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'RenderingProviderNPI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the transaction was printed or not' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'IsPrint'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Directory location where file was delivered/received between DentalXChange and the referenced client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions', @level2type=N'COLUMN',@level2name=N'RemoteURL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Captures transaction level usage data for various DentalXChange client types for later aggregation for both billing and reporting purposes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClientTransactions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the transaction event record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'TransactionEventID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the transaction record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ClientTransactionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the event took place' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'EventDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'General description of the event' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) unique identifier for the specific transaction completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'PartnerTranSubTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) name for the specific transaction completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'PartnerTranSubTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the transaction is an inbound or outbound transaction where applicable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'TransactionDirection'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Accounting or production system unique identifier for the entity responsible for payment or debit of the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ClientID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Accounting or production system name for the entity responsible for payment or debit of the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ClientName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Database table where the ClientID originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ClientDatabaseTable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Column name where the ClientID originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ClientIDColumn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'US State or province where the client does business' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ClientState'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client type of the responsible client; ERP system class' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'TransactionClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'More granular reporting client type of the responsible client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ReportingClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'common.dbo.ProductGroupPackage ContractID associated to the transaction where applicable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ProductGroupPackageContractID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Claims par class associated to the transaction event where applicable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'PayerSetName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'common.dbo.ProductPayerSet or chs.dbo.PartnerPayerSet associated to the transaction event where applicable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ParClass'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates if billing is transaction or subscription based where applicable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'BillingModel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Month based period the transaction event is billed in' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'BillingPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite unique identifier for the transaction event sku' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'NSItemInternalID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DentalXChange transaction event sku segments 3 and 4 only' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ItemNumberShort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DentalXChange transaction event sku' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'ItemNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Revenue amount paid to DentalXChange for the transaction where applicable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'Revenue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Per unit price associated to the transaction event where applicable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'UnitPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Per unit cost associated to the transaction event where applicable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'UnitCost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'RecordModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'common.dbo.SupportUser unique identifier of the user who created/modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'RecordModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'RecordModifyReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ERP System client unique identifier of the client responsible for remitting payment/receiving rebate funds' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'InvoiceClientID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ERP System client name of the client responsible for remitting payment/receiving rebate funds' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'InvoiceClientName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy ERP System (GP) object representing the parent product line that an item belongs to' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'MasterItemCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client subscription unique ID from the ERP System (NetSuite) associated to the production subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'SubscriptionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client subscription name from the ERP System (NetSuite) associated to the production subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'SubscriptionName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Latest date the system confirmed the existence of a client subscription int he ERP System (NetSuite) for the associated production subscription record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'SubscriptionCheckDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the invoice client has a confirmed subscription in the ERP System (NetSuite)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'HasInvoiceClientSubscription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client subscription line number associated to the subscription record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'SubscriptionLineID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Event quantity to bill during the billing period' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Captures important transaction dates needed for billing and reporting' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionEvents'
GO
