USE [bdd]
GO
/****** Object:  Table [dbo].[ClaimConnectClaimDeliveryFacts]    Script Date: 8/15/2025 4:53:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimConnectClaimDeliveryFacts](
	[ClaimConnectClaimDeliveryFactID] [int] IDENTITY(1,1) NOT NULL,
	[ClaimID] [int] NOT NULL,
	[DeliveryType] [varchar](60) NULL,
	[MetaClaimID] [varchar](50) NULL,
	[RTServiceAuditID] [int] NULL,
	[ClaimSubmitDate] [datetime] NULL,
	[StageDate] [datetime] NOT NULL,
	[ClaimStatusID] [int] NULL,
	[ClaimStatusDisplay] [varchar](50) NULL,
 CONSTRAINT [PK_ClaimConnectClaimDeliveryFacts_ClaimConnectClaimDeliveryFactsID] PRIMARY KEY CLUSTERED 
(
	[ClaimConnectClaimDeliveryFactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClearinghouseClaimDeliveryFacts]    Script Date: 8/15/2025 4:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClearinghouseClaimDeliveryFacts](
	[ClearinghouseClaimDeliveryFactID] [int] IDENTITY(1,1) NOT NULL,
	[MetaClaimID] [varchar](20) NOT NULL,
	[MinDeliveredMetaFileID] [varchar](20) NOT NULL,
	[MinDeliveredMetaFileTransactionDirection] [varchar](10) NOT NULL,
	[MinDeliveryTransportAuditID] [int] NOT NULL,
	[MinDeliveryTransportTime] [datetime] NOT NULL,
	[StageDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ClearinghouseClaimDeliveryFacts_ClearinghouseClaimDeliveryFactsID] PRIMARY KEY CLUSTERED 
(
	[ClearinghouseClaimDeliveryFactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisibilEDIPayers$]    Script Date: 8/15/2025 4:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisibilEDIPayers$](
	[Payer Name] [nvarchar](255) NULL,
	[PayerID] [nvarchar](255) NULL,
	[DentalClaims] [nvarchar](255) NULL,
	[InstClaims] [nvarchar](255) NULL,
	[ProfClaims] [nvarchar](255) NULL,
	[AcceptsSecondaryPayerClaims] [nvarchar](255) NULL,
	[Gateway] [nvarchar](255) NULL,
	[ERA] [nvarchar](255) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Record unique identifier; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClaimConnectClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'ClaimConnectClaimDeliveryFactID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Claim unique identifier from the dci.dbo.Claim table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClaimConnectClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'ClaimID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the claim was delivered through the Clearinghouse or as a Real-Time claim' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClaimConnectClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'DeliveryType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the chs.dbo.MetaClaim record associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClaimConnectClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'MetaClaimID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the dci.dbo.RTServiceAudit record associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClaimConnectClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'RTServiceAuditID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fact table that stores the MetaClaim ID and/or Real-Time Service Audit ID involved in the delivery of a ClaimConnect Claim (ClaimID) for billing purposes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClaimConnectClaimDeliveryFacts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Record unique identifier; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClearinghouseClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'ClearinghouseClaimDeliveryFactID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the chs.dbo.MetaClaim record associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClearinghouseClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'MetaClaimID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Minimum unique identifier of the chs.dbo.MetaFile record associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClearinghouseClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'MinDeliveredMetaFileID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the transaction is an inbound or outbound transaction where applicable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClearinghouseClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'MinDeliveredMetaFileTransactionDirection'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Minimum unique identifier of the chs.dbo.TransportAudit record associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClearinghouseClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'MinDeliveryTransportAuditID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date/time stamp associated to the minimum unique identifier of the chs.dbo.TransportAudit record associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClearinghouseClaimDeliveryFacts', @level2type=N'COLUMN',@level2name=N'MinDeliveryTransportTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fact table that stores the minimum MetaFile/OutFile and Transport Audit IDs involved in the delivery of a Clearinghouse Claim (MetaClaimID) for billing purposes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ClearinghouseClaimDeliveryFacts'
GO
