USE [bireports]
GO
/****** Object:  View [dbo].[DscPackageFeatureView]    Script Date: 8/15/2025 4:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DscPackageFeatureView]
AS
SELECT     dsc.Period, dsc.SupportUserID, dsc.GroupID, pgp.ContractID, ppf.FeatureName AS PPFfeatureName, dsc.Points, dsc.FeatureName
FROM         reports.dbo.DssSalesCommission AS dsc INNER JOIN
                      common.dbo.ProductGroupPackage AS pgp ON dsc.GroupID = pgp.GroupID INNER JOIN
                      common.dbo.ProductPackageFeatures AS ppf ON pgp.PackageName = ppf.PackageName
WHERE     (ppf.FeatureName NOT LIKE '%Bundle%') AND (pgp.BundleName IS NULL) AND (pgp.PriceSchedule IS NOT NULL)
GROUP BY dsc.Period, dsc.SupportUserID, dsc.GroupID, ppf.FeatureName, ppf.FeatureName, pgp.ContractID, dsc.Points, dsc.FeatureName
GO
/****** Object:  View [dbo].[DssPkgFeatureStatementView]    Script Date: 8/15/2025 4:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DssPkgFeatureStatementView]
AS
SELECT     dsc.DssSalesCommissionID, dsc.Period, dsc.GroupStartDate, dsc.SupportUserID, dsc.GroupID, dsc.FeatureName, dsc.GroupCommissionID, dsc.Points, dsc.ReAssignedFrom, dsc.CancelledFrom, 
                      pgp.ContractID, pgp.GroupID AS Expr1, pgp.PackageName, pgp.StartDate, pgp.EndDate, pgp.PriceSchedule, pgp.CanDelete, pgp.AgreeDate, pgp.AgreeUser, pgp.CreateDate, pgp.CreateUser, 
                      pgp.SupportUserID AS Expr2, pgp.EndUser, pgp.ShowExpiration, pgp.ExpirationNotificationCreated, pgp.PartnerID, pgp.BundleName AS pgpBundleName, pgp.ServiceCode, ppf.PackageFeaturesID, 
                      ppf.PackageName AS PPFPcjageName, ppf.FeatureName AS PPFfeatureName, ppf.PayerSetName, ppf.DisplayOrder, ppf.PartnerRegistrationTier, s.ActivityID, s.GroupID AS statementGrpID, 
                      s.Period AS statementPeriod, s.CreateDate AS Expr7, s.CCTID, s.LastTransResult, s.LastTransDate, s.Settled, s.ManuallySent, si.StatementItemID, si.StatementID, si.Description, si.UnitPrice, 
                      si.Quantity, si.ContractID AS SiContractID, si.ItemTotal, si.FeatureName AS SiFeatureName, si.Prorate, si.OriginalUnitPrice, si.BundleName AS SiBundleName, si.VendorUnitPrice, 
                      si.VendorItemTotal, si.ServiceCode AS Expr12
FROM         reports.dbo.DssSalesCommission AS dsc INNER JOIN
                      common.dbo.ProductGroupPackage AS pgp ON pgp.GroupID = dsc.GroupID INNER JOIN
                      common.dbo.ProductPackageFeatures AS ppf ON ppf.PackageName = pgp.PackageName INNER JOIN
                      common.dbo.Statement AS s ON dsc.GroupID = s.GroupID INNER JOIN
                      common.dbo.StatementItem AS si ON s.StatementID = si.StatementID AND si.FeatureName = ppf.FeatureName AND si.ContractID = pgp.ContractID
GO
/****** Object:  Table [dbo].[AccountRevenueDetail]    Script Date: 8/15/2025 4:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRevenueDetail](
	[TeamID] [int] NULL,
	[SupportUserID] [int] NOT NULL,
	[AEFirstName] [varchar](50) NULL,
	[AELastName] [varchar](50) NULL,
	[CommissionPeriod] [datetime] NOT NULL,
	[FeatureName] [char](50) NOT NULL,
	[GroupID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[GeneratedRevenue] [money] NULL,
	[CollectedRevenue] [money] NULL,
	[LostRevenue] [money] NULL,
	[ActiveMonths] [int] NULL,
	[InactiveMonths] [int] NULL,
	[PMS] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimProblem]    Script Date: 8/15/2025 4:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimProblem](
	[GroupID] [int] NOT NULL,
	[PMSName] [varchar](255) NULL,
	[IdleDays] [int] NULL,
	[ClaimVEAll] [int] NOT NULL,
	[ClaimVE-PM] [int] NOT NULL,
	[ClaimVE-Att] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdleAccount]    Script Date: 8/15/2025 4:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdleAccount](
	[AccountIdleID] [int] IDENTITY(1,1) NOT NULL,
	[PMSName] [varchar](255) NULL,
	[GroupID] [int] NOT NULL,
	[ContractID] [int] NULL,
	[Year] [int] NULL,
	[MonthName] [nvarchar](60) NULL,
	[MonthNumber] [int] NULL,
	[tranCount] [int] NULL,
	[LongName] [varchar](50) NULL,
	[ProductFeature] [varchar](32) NULL,
	[ShortName] [varchar](10) NULL,
	[FeatureID] [int] NULL,
	[FirstPackage] [datetime] NULL,
	[CurrentPackage] [datetime] NULL,
	[CurrentAgreedPackage] [datetime] NULL,
	[PriorPackageEnd] [datetime] NULL,
	[FirstActivity] [datetime] NULL,
	[LastActivity] [datetime] NULL,
	[IdleDays] [int] NULL,
	[AE] [varchar](101) NULL,
	[TeamID] [int] NULL,
	[SupportUserID] [int] NULL,
 CONSTRAINT [PK_AccountIdleID] PRIMARY KEY CLUSTERED 
(
	[AccountIdleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "dsc"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 126
               Right = 235
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "pgp"
            Begin Extent = 
               Top = 6
               Left = 273
               Bottom = 126
               Right = 503
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "ppf"
            Begin Extent = 
               Top = 6
               Left = 541
               Bottom = 126
               Right = 742
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 29
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 2025
         Alias = 1935
         Table = 1170
         Output = 720
         Append = 1400
         NewVal' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DscPackageFeatureView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'ue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DscPackageFeatureView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DscPackageFeatureView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "dsc"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 126
               Right = 235
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "pgp"
            Begin Extent = 
               Top = 158
               Left = 139
               Bottom = 278
               Right = 369
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ppf"
            Begin Extent = 
               Top = 157
               Left = 527
               Bottom = 277
               Right = 728
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "s"
            Begin Extent = 
               Top = 0
               Left = 424
               Bottom = 120
               Right = 590
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "si"
            Begin Extent = 
               Top = 4
               Left = 795
               Bottom = 124
               Right = 967
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2010
         Table = 1170
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DssPkgFeatureStatementView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DssPkgFeatureStatementView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DssPkgFeatureStatementView'
GO
