USE [dw_atm_dxc]
GO
/****** Object:  Table [dbo].[chs_MetaClaim_Since2023]    Script Date: 8/15/2025 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chs_MetaClaim_Since2023](
	[MetaClaimID] [char](20) NOT NULL,
	[OrigClaimID] [varchar](38) NULL,
	[PayerID] [int] NULL,
	[PatientAccountNo] [varchar](38) NULL,
	[ProvTaxID] [varchar](9) NULL,
	[PatientLastName] [varchar](60) NULL,
	[PatientFirstName] [varchar](50) NULL,
	[BillProvLastName] [varchar](60) NULL,
	[BillProvFirstName] [varchar](50) NULL,
	[RenderingProvLastName] [varchar](50) NULL,
	[RenderingProvFirstName] [varchar](50) NULL,
	[ClaimTotal] [money] NULL,
	[DateOfService] [datetime] NULL,
	[MemberNo] [varchar](80) NULL,
	[ClaimType] [char](2) NULL,
	[SourcePartnerCode] [char](3) NOT NULL,
	[DestPartnerCode] [char](3) NOT NULL,
	[TimeCreated] [datetime] NOT NULL,
	[InFileID] [varchar](20) NULL,
	[OutFileID] [varchar](20) NULL,
	[BatchID] [int] NULL,
	[ErrorCode] [int] NULL,
	[Warnings] [varchar](120) NULL,
	[PayerName] [varchar](100) NULL,
	[PayerAddress1] [varchar](100) NULL,
	[PayerAddress2] [varchar](100) NULL,
	[PayerCity] [varchar](50) NULL,
	[PayerState] [char](2) NULL,
	[PayerZip] [varchar](15) NULL,
	[Compress] [bit] NOT NULL,
	[CompressionDone] [bit] NOT NULL,
	[BillingProvNPI] [varchar](20) NULL,
	[RenderingProvNPI] [varchar](20) NULL,
	[BillingProvLicNum] [varchar](50) NULL,
	[RenderingProvLicNum] [varchar](50) NULL,
	[PartnerAccountNumber] [varchar](50) NULL,
	[ContractID] [int] NULL,
	[DestinationUpgradeReasonID] [int] NULL,
	[NEANo] [varchar](20) NULL,
	[AttachmentID] [int] NULL,
	[State] [int] NULL,
	[PayerIDCode] [varchar](80) NULL,
	[PatientDOB] [datetime] NULL,
	[MultiPayers] [bit] NULL,
	[OutboundPayerIDCode] [varchar](80) NULL,
	[InboundPayerIDCode] [varchar](80) NULL,
	[AttRetryCount] [int] NULL,
	[AttRetryTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cred_billingactivity]    Script Date: 8/15/2025 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cred_billingactivity](
	[Billing_Activity_Database_Source] [varchar](4) NOT NULL,
	[Billing_Activity_ID] [int] NULL,
	[Widget_ID] [nvarchar](20) NULL,
	[Widget_Type] [nvarchar](10) NULL,
	[Widget_Type_Extended] [nvarchar](255) NOT NULL,
	[Claim_Status] [int] NOT NULL,
	[Submit_Date] [datetime] NOT NULL,
	[Widget_Feature_Name] [char](32) NULL,
	[Package_Feature_Name] [char](32) NULL,
	[Contract_ID] [int] NULL,
	[Group_ID] [int] NOT NULL,
	[IS_Vip_Account] [int] NOT NULL,
	[Vip_ID] [int] NULL,
	[Group_Package_Name] [char](50) NOT NULL,
	[Group_Package_Agree_Date] [datetime] NULL,
	[Group_Package_End_Date] [datetime] NULL,
	[Group_Package_Bundle_Name] [varchar](50) NULL,
	[Group_Package_Partner_ID] [varchar](10) NULL,
	[Group_Package_Partner_Name] [varchar](50) NULL,
	[Group_Package_Service_Code] [char](3) NULL,
	[Price_Schedule_ID] [int] NULL,
	[Price_Schedule_Name] [char](12) NULL,
	[Price_Payer_Set_Name] [char](32) NULL,
	[DentalXChange_Payer_ID] [int] NULL,
	[Industry_Payer_ID] [varchar](80) NULL,
	[Payer_Name] [varchar](100) NULL,
	[Statement_Item_ID] [int] NULL,
	[Statement_ID] [int] NULL,
	[Statement_Period] [datetime] NULL,
	[Statement_Settled] [bit] NULL,
	[Statement_Manually_Sent] [bit] NULL,
	[Statement_Item_Total] [money] NULL,
	[Is_Subscription_Charge] [bit] NULL,
	[Group_Commission_ID] [int] NULL,
	[Group_Commission_Feature_Name] [char](32) NULL,
	[Group_Commission_Support_User_ID] [int] NULL,
	[Group_Commission_Support_User_Last_Name] [varchar](60) NULL,
	[Group_Commission_Support_User_First_Name] [varchar](50) NULL,
	[Commission_Date] [int] NULL,
	[Commission_Create_Date] [datetime] NULL,
	[Commission_Paid_Date] [datetime] NULL,
	[Commission_Amount] [money] NULL,
	[Commission_Statement_ID] [int] NULL,
	[Commission_Statement_Item_ID] [int] NULL,
	[Revenue_Amount] [money] NULL,
	[Original_Revenue_Amount] [money] NULL,
	[Revenue_Collected] [bit] NULL,
	[Prorate] [float] NULL,
	[Reseller_Statement_ID] [int] NULL,
	[Reseller_ID] [int] NULL,
	[Reseller_Name] [nvarchar](40) NULL,
	[Reseller_Statement_Period] [datetime] NULL,
	[Reseller_Statement_Widget_Type] [nvarchar](10) NULL,
	[Reseller_Commission] [money] NULL,
	[Reseller_Commission_Create_Date] [datetime] NULL,
	[Is_Reseller_Commission_Paid] [bit] NULL,
	[Reseller_Revenue] [money] NULL,
	[Vendor_Statement_ID] [int] NULL,
	[Vendor_Reseller_ID] [int] NULL,
	[Vendor_Reseller_Name] [nvarchar](40) NULL,
	[Vendor_Reseller_Statement_Period] [datetime] NULL,
	[Vendor_Reseller_Statement_Widget_Type] [nvarchar](10) NULL,
	[Vendor_Reseller_Commission] [money] NULL,
	[Vendor_Reseller_Commission_Create_Date] [datetime] NULL,
	[Vendor_Is_Reseller_Commission_Paid] [bit] NULL,
	[Vendor_Reseller_Revenue] [money] NULL,
	[Transaction_Status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dci_ba_6mos]    Script Date: 8/15/2025 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dci_ba_6mos](
	[BillingActivityID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NOT NULL,
	[PriceScheduleID] [int] NULL,
	[WidgetID] [nvarchar](20) NOT NULL,
	[WidgetType] [nvarchar](10) NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[StatementItemID] [int] NULL,
	[ResellerStatementID] [int] NULL,
	[VendorStatementID] [int] NULL,
	[GroupCommissionID] [int] NULL,
	[CommissionStatementItemID] [int] NULL,
	[SubscriptionCharge] [bit] NULL,
	[CommissionDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dci_ba_6mos2]    Script Date: 8/15/2025 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dci_ba_6mos2](
	[BillingActivityID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NOT NULL,
	[PriceScheduleID] [int] NULL,
	[WidgetID] [int] NULL,
	[WidgetType] [nvarchar](10) NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[StatementItemID] [int] NULL,
	[ResellerStatementID] [int] NULL,
	[VendorStatementID] [int] NULL,
	[GroupCommissionID] [int] NULL,
	[CommissionStatementItemID] [int] NULL,
	[SubscriptionCharge] [bit] NULL,
	[CommissionDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dci_billingactivity]    Script Date: 8/15/2025 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dci_billingactivity](
	[Billing_Activity_Database_Source] [varchar](3) NOT NULL,
	[Billing_Activity_ID] [int] NULL,
	[Widget_ID] [nvarchar](20) NULL,
	[Widget_Type] [nvarchar](10) NULL,
	[Widget_Type_Extended] [nvarchar](255) NOT NULL,
	[Claim_Status] [int] NOT NULL,
	[Submit_Date] [datetime] NOT NULL,
	[Widget_Feature_Name] [char](32) NULL,
	[Package_Feature_Name] [char](32) NULL,
	[Contract_ID] [int] NULL,
	[Group_ID] [int] NOT NULL,
	[IS_Vip_Account] [int] NOT NULL,
	[Vip_ID] [int] NULL,
	[Group_Package_Name] [char](50) NOT NULL,
	[Group_Package_Agree_Date] [datetime] NULL,
	[Group_Package_End_Date] [datetime] NULL,
	[Group_Package_Bundle_Name] [varchar](50) NULL,
	[Group_Package_Partner_ID] [varchar](10) NULL,
	[Group_Package_Partner_Name] [varchar](50) NULL,
	[Group_Package_Service_Code] [char](3) NULL,
	[Price_Schedule_ID] [int] NULL,
	[Price_Schedule_Name] [char](12) NULL,
	[Price_Payer_Set_Name] [char](32) NULL,
	[DentalXChange_Payer_ID] [int] NULL,
	[Industry_Payer_ID] [varchar](80) NULL,
	[Payer_Name] [varchar](100) NULL,
	[Statement_Item_ID] [int] NULL,
	[Statement_ID] [int] NULL,
	[Statement_Period] [datetime] NULL,
	[Statement_Settled] [bit] NULL,
	[Statement_Manually_Sent] [bit] NULL,
	[Statement_Item_Total] [money] NULL,
	[Is_Subscription_Charge] [bit] NULL,
	[Group_Commission_ID] [int] NULL,
	[Group_Commission_Feature_Name] [char](32) NULL,
	[Group_Commission_Support_User_ID] [int] NULL,
	[Group_Commission_Support_User_Last_Name] [varchar](60) NULL,
	[Group_Commission_Support_User_First_Name] [varchar](50) NULL,
	[Commission_Date] [datetime] NULL,
	[Commission_Create_Date] [datetime] NULL,
	[Commission_Paid_Date] [datetime] NULL,
	[Commission_Amount] [money] NULL,
	[Commission_Statement_ID] [int] NULL,
	[Commission_Statement_Item_ID] [int] NULL,
	[Revenue_Amount] [money] NULL,
	[Original_Revenue_Amount] [money] NULL,
	[Revenue_Collected] [bit] NULL,
	[Prorate] [float] NULL,
	[Reseller_Statement_ID] [int] NULL,
	[Reseller_ID] [int] NULL,
	[Reseller_Name] [nvarchar](40) NULL,
	[Reseller_Statement_Period] [datetime] NULL,
	[Reseller_Statement_Widget_Type] [nvarchar](10) NULL,
	[Reseller_Commission] [money] NULL,
	[Reseller_Commission_Create_Date] [datetime] NULL,
	[Is_Reseller_Commission_Paid] [bit] NULL,
	[Reseller_Revenue] [money] NULL,
	[Vendor_Statement_ID] [int] NULL,
	[Vendor_Reseller_ID] [int] NULL,
	[Vendor_Reseller_Name] [nvarchar](40) NULL,
	[Vendor_Reseller_Statement_Period] [datetime] NULL,
	[Vendor_Reseller_Statement_Widget_Type] [nvarchar](10) NULL,
	[Vendor_Reseller_Commission] [money] NULL,
	[Vendor_Reseller_Commission_Create_Date] [datetime] NULL,
	[Vendor_Is_Reseller_Commission_Paid] [bit] NULL,
	[Vendor_Reseller_Revenue] [money] NULL,
	[Transaction_Status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dci_claim_6mos]    Script Date: 8/15/2025 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dci_claim_6mos](
	[ClaimID] [int] IDENTITY(837261,1) NOT NULL,
	[FacilityCode] [char](2) NULL,
	[FacilityName] [varchar](60) NULL,
	[AccidentCode] [char](2) NULL,
	[AccidentDate] [datetime] NULL,
	[AccidentState] [char](2) NULL,
	[ExternalRef] [varchar](50) NULL,
	[OrthoDate] [datetime] NULL,
	[OrthoTotal] [int] NULL,
	[OrthoRemain] [int] NULL,
	[PretreatmentCode] [char](2) NOT NULL,
	[SpecialtyCode] [char](10) NULL,
	[FundingCode] [char](2) NULL,
	[PriorAuthorization] [varchar](30) NULL,
	[SourceIndicator] [char](1) NULL,
	[EISClaimType] [int] NULL,
	[Note] [varchar](800) NULL,
	[Valid] [int] NULL,
	[GroupID] [int] NULL,
	[OriginalClaimID] [int] NULL,
	[ClaimFileUploadID] [int] NULL,
	[Active] [int] NULL,
	[HasImages] [int] NULL,
	[ImagesCount] [int] NULL,
	[NEANo] [varchar](20) NULL,
	[PayerID] [int] NULL,
	[InfoSignOnFile] [bit] NULL,
	[BenefitsSignOnFile] [bit] NULL,
	[Status] [int] NULL,
	[UserID] [int] NULL,
	[ClaimResponseID] [int] NULL,
	[ServiceAuditID] [int] NULL,
	[RTServiceAuditID] [int] NULL,
	[Host] [varchar](50) NULL,
	[TimeStmp] [datetime] NULL,
	[UniqueSortValue] [varchar](12) NULL,
	[EDISortValue] [char](291) NULL,
	[UniqueID_old] [bigint] NULL,
	[PID] [varchar](10) NULL,
	[MissingTeeth] [varchar](100) NULL,
	[ReferralNo] [varchar](20) NULL,
	[AuthNo] [varchar](20) NULL,
	[FacilityIdentifier] [varchar](255) NULL,
	[FacilityIdentifierType] [varchar](20) NULL,
	[BatchNo] [int] NULL,
	[PredeterminationID] [varchar](50) NULL,
	[ArchiveError_20120125] [bit] NULL,
	[AmountPaidByPatient] [decimal](9, 2) NULL,
	[ContractID] [int] NULL,
	[SubmitDate] [datetime] NULL,
	[PayerRequestAttachment] [bit] NULL,
	[SubmissionReasonCode] [int] NOT NULL,
	[ClaimStatus] [varchar](100) NULL,
	[DelayReasonCode] [int] NULL,
	[AuthExceptCode] [int] NULL,
	[DiagnosisCodes] [varchar](255) NULL,
	[UniqueID] [varchar](30) NULL,
	[AttachmentID] [int] NULL,
	[pending] [int] NULL,
	[DmdUploadImageID] [int] NULL,
	[IsOrthoRelated] [bit] NULL,
	[ReceivedAttachmentID] [int] NULL,
	[HasAttachments] [bit] NULL,
	[ValidateForAttachment] [int] NULL,
	[BillingActivityID] [int] NULL,
	[DateCreated] [datetime] NULL,
	[UpgradeComplete] [bit] NULL,
	[ProviderRuleId] [int] NULL,
	[BypassElig] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dci_rtserviceaudit_6mos]    Script Date: 8/15/2025 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dci_rtserviceaudit_6mos](
	[RTServiceAuditID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Error] [bit] NULL,
	[ServiceCode] [varchar](4) NULL,
	[ServiceType] [varchar](32) NULL,
	[Source] [char](2) NULL,
	[Tmp_MessageID_20111215] [varchar](50) NULL,
	[ClientVersion] [varchar](50) NULL,
	[ErrorString] [varchar](256) NULL,
	[ClientName] [varchar](50) NULL,
	[ParentAuditID] [int] NULL,
	[ContractID] [int] NULL,
	[PartnerID] [varchar](10) NULL,
	[ProviderTIN] [varchar](10) NULL,
	[WidgetID] [int] NULL,
	[MessageID] [varchar](255) NULL,
	[UserID] [int] NULL,
	[SubServiceType] [varchar](32) NULL,
	[BatchNo] [int] NULL,
	[PayerID] [int] NULL,
	[StatusMessage] [varchar](100) NULL,
	[NEANo] [varchar](20) NULL,
	[SubscriberID] [varchar](128) NULL,
	[GroupID] [int] NULL,
	[BenefitSearchType] [int] NULL,
	[BenefitSearchCodes] [varchar](1000) NULL,
	[NPI] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dea_attachments_6mos]    Script Date: 8/15/2025 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dea_attachments_6mos](
	[AttachmentID] [int] IDENTITY(1000,1) NOT NULL,
	[ClaimID] [int] NULL,
	[ExternalRef] [varchar](50) NULL,
	[VendorAttachmentCtrlNo] [varchar](50) NULL,
	[Status] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[ServiceCode] [char](3) NULL,
	[ServiceAuditID] [int] NULL,
	[Narrative] [varchar](2000) NULL,
	[SubscriberID] [varchar](80) NULL,
	[PayerRefID] [varchar](50) NULL,
	[BillingNPI] [varchar](30) NULL,
	[RenderingNPI] [varchar](30) NULL,
	[PatientLastName] [varchar](60) NULL,
	[PatientFirstName] [varchar](35) NULL,
	[PatientDOB] [datetime] NULL,
	[DateOfService] [datetime] NULL,
	[CreateDate] [datetime] NOT NULL,
	[ViewDate] [datetime] NULL,
	[SubmitDate] [datetime] NULL,
	[TimeStmp] [datetime] NULL,
	[SupportUserID] [int] NULL,
	[ParentAttachmentID] [int] NULL,
	[OrigClaimId] [varchar](50) NULL,
	[PayerIdCode] [varchar](50) NULL,
	[SourcePartnerCode] [char](3) NULL,
	[DestPartnerCode] [char](3) NULL,
	[PartnerClaimID] [varchar](50) NULL,
	[BillProvFirstName] [varchar](35) NULL,
	[BillProvLastName] [varchar](60) NULL,
	[BillProvTaxonomy] [varchar](10) NULL,
	[BillProvAddr] [varchar](50) NULL,
	[BillProvAddr2] [varchar](50) NULL,
	[BillProvCity] [varchar](30) NULL,
	[BillProvState] [varchar](2) NULL,
	[BillProvZip] [varchar](10) NULL,
	[SubscriberFirstName] [varchar](35) NULL,
	[SubscriberLastName] [varchar](60) NULL,
	[STCDetail] [varchar](100) NULL,
	[TaxID] [varchar](30) NULL,
	[GroupID] [int] NULL,
	[PayerID] [int] NULL,
	[RenderProvAddr] [varchar](50) NULL,
	[RenderProvAddr2] [varchar](50) NULL,
	[RenderProvCity] [varchar](30) NULL,
	[RenderProvState] [varchar](2) NULL,
	[RenderProvZip] [varchar](10) NULL,
	[RTServiceAuditID] [int] NULL,
	[SourceIndicator] [char](1) NULL,
	[UserID] [int] NULL,
	[AttachmentRequestType] [int] NULL,
	[ReleaseType] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pnt_billingactivity]    Script Date: 8/15/2025 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pnt_billingactivity](
	[Billing_Activity_Database_Source] [varchar](3) NOT NULL,
	[Billing_Activity_ID] [int] NULL,
	[Widget_ID] [nvarchar](20) NULL,
	[Widget_Type] [nvarchar](10) NULL,
	[Widget_Type_Extended] [nvarchar](255) NOT NULL,
	[Claim_Status] [int] NOT NULL,
	[Submit_Date] [datetime] NOT NULL,
	[Widget_Feature_Name] [char](32) NULL,
	[Package_Feature_Name] [char](32) NULL,
	[Contract_ID] [int] NULL,
	[Group_ID] [int] NOT NULL,
	[IS_Vip_Account] [int] NOT NULL,
	[Vip_ID] [int] NULL,
	[Group_Package_Name] [char](50) NOT NULL,
	[Group_Package_Agree_Date] [datetime] NULL,
	[Group_Package_End_Date] [datetime] NULL,
	[Group_Package_Bundle_Name] [varchar](50) NULL,
	[Group_Package_Partner_ID] [varchar](10) NULL,
	[Group_Package_Partner_Name] [varchar](50) NULL,
	[Group_Package_Service_Code] [char](3) NULL,
	[Price_Schedule_ID] [int] NULL,
	[Price_Schedule_Name] [char](12) NULL,
	[Price_Payer_Set_Name] [char](32) NULL,
	[DentalXChange_Payer_ID] [int] NULL,
	[Industry_Payer_ID] [varchar](3) NOT NULL,
	[Payer_Name] [varchar](3) NOT NULL,
	[Statement_Item_ID] [int] NULL,
	[Statement_ID] [int] NULL,
	[Statement_Period] [datetime] NULL,
	[Statement_Settled] [bit] NULL,
	[Statement_Manually_Sent] [bit] NULL,
	[Statement_Item_Total] [money] NULL,
	[Is_Subscription_Charge] [bit] NULL,
	[Group_Commission_ID] [int] NULL,
	[Group_Commission_Feature_Name] [char](32) NULL,
	[Group_Commission_Support_User_ID] [int] NULL,
	[Group_Commission_Support_User_Last_Name] [varchar](60) NULL,
	[Group_Commission_Support_User_First_Name] [varchar](50) NULL,
	[Commission_Date] [int] NULL,
	[Commission_Create_Date] [datetime] NULL,
	[Commission_Paid_Date] [datetime] NULL,
	[Commission_Amount] [money] NULL,
	[Commission_Statement_ID] [int] NULL,
	[Commission_Statement_Item_ID] [int] NULL,
	[Revenue_Amount] [money] NULL,
	[Original_Revenue_Amount] [money] NULL,
	[Revenue_Collected] [bit] NULL,
	[Prorate] [float] NULL,
	[Reseller_Statement_ID] [int] NULL,
	[Reseller_ID] [int] NULL,
	[Reseller_Name] [nvarchar](40) NULL,
	[Reseller_Statement_Period] [datetime] NULL,
	[Reseller_Statement_Widget_Type] [nvarchar](10) NULL,
	[Reseller_Commission] [money] NULL,
	[Reseller_Commission_Create_Date] [datetime] NULL,
	[Is_Reseller_Commission_Paid] [bit] NULL,
	[Reseller_Revenue] [money] NULL,
	[Vendor_Statement_ID] [int] NULL,
	[Vendor_Reseller_ID] [int] NULL,
	[Vendor_Reseller_Name] [nvarchar](40) NULL,
	[Vendor_Reseller_Statement_Period] [datetime] NULL,
	[Vendor_Reseller_Statement_Widget_Type] [nvarchar](10) NULL,
	[Vendor_Reseller_Commission] [money] NULL,
	[Vendor_Reseller_Commission_Create_Date] [datetime] NULL,
	[Vendor_Is_Reseller_Commission_Paid] [bit] NULL,
	[Vendor_Reseller_Revenue] [money] NULL,
	[Transaction_Status] [int] NOT NULL
) ON [PRIMARY]
GO
