USE [ext_raw_mp]
GO
/****** Object:  Table [dbo].[DXC_ZentistParnershipRevenueTracker2]    Script Date: 8/15/2025 5:02:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DXC_ZentistParnershipRevenueTracker2](
	[Name] [varchar](50) NULL,
	[Account ID] [varchar](50) NULL,
	[Stage] [varchar](50) NULL,
	[Pilot Unit Price] [varchar](50) NULL,
	[Total Deal Value] [varchar](50) NULL,
	[Revenue] [varchar](50) NULL,
	[DXC Rev Share ] [varchar](50) NULL,
	[DXC Revenue] [varchar](50) NULL,
	[Zentist Revenue] [varchar](50) NULL,
	[Tier Type] [varchar](50) NULL,
	[# Total Practices] [varchar](50) NULL,
	[# Pilot Target] [varchar](50) NULL,
	[# Expansion ] [varchar](50) NULL,
	[Number of locations] [varchar](50) NULL,
	[Cumulative Number of locations] [varchar](50) NULL,
	[Company] [varchar](50) NULL,
	[Expected Close] [varchar](50) NULL,
	[Closed Won Date] [varchar](50) NULL,
	[Contact Phone] [varchar](50) NULL,
	[Contact Email] [varchar](50) NULL,
	[Account Owner #1] [varchar](50) NULL,
	[Lead Added] [varchar](50) NULL,
	[Champion's Job Title] [varchar](50) NULL,
	[Champions   Points of Contact (i)] [varchar](50) NULL,
	[Clearinghouse] [varchar](50) NULL,
	[Closed Won] [varchar](50) NULL,
	[Created time] [varchar](50) NULL,
	[DXC Account Executive] [varchar](50) NULL,
	[DXC Group ID] [varchar](50) NULL,
	[Implementation Price Location] [varchar](50) NULL,
	[Key Coverage] [varchar](50) NULL,
	[Last Card Update] [varchar](50) NULL,
	[Notes (from Google Form submission)] [varchar](50) NULL,
	[PMS] [varchar](50) NULL,
	[Send to Onboarding] [varchar](50) NULL,
	[Source] [varchar](50) NULL,
	[Website] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPExtZentistNotionleadsexport]    Script Date: 8/15/2025 5:02:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPExtZentistNotionleadsexport](
	[Name] [varchar](50) NULL,
	[LeadID] [varchar](50) NOT NULL,
	[Createdtime] [datetime] NULL,
	[TotalPractices] [int] NULL,
	[PilotTarget] [int] NULL,
	[Stage] [varchar](50) NULL,
	[FinancialInstitution] [varchar](50) NULL,
	[DiscountedUnitPrice] [money] NULL,
	[AccountManager] [varchar](50) NULL,
	[AccountOwner1] [varchar](50) NULL,
	[AccountOwner2] [varchar](50) NULL,
	[ChampionsPointsofContact] [varchar](150) NULL,
	[Company] [varchar](50) NULL,
	[ContactEmail] [varchar](50) NULL,
	[ContactPhone] [varchar](50) NULL,
	[Clearinghouse] [varchar](50) NULL,
	[DemoDone] [varchar](50) NULL,
	[ExpectedClose] [datetime] NULL,
	[LastCardUpdate] [datetime] NULL,
	[LeadAdded] [datetime] NULL,
	[NumofTaxIDs] [int] NULL,
	[PEBacker] [varchar](50) NULL,
	[PMS] [varchar](50) NULL,
	[PainPoints] [varchar](50) NULL,
	[PilotDealValue] [money] NULL,
	[PilotUnitPrice] [money] NULL,
	[Priority] [varchar](50) NULL,
	[RCMSoftware] [varchar](50) NULL,
	[Source] [varchar](50) NULL,
	[TotalDealValue] [money] NULL,
	[AdvancedAnalyticsPrice] [money] NULL,
	[AutoBankReconciliationPrice] [money] NULL,
	[ChampionsJobTitle] [varchar](300) NULL,
	[DXCAccountExecutive] [varchar](150) NULL,
	[DXCGroupID] [varchar](150) NULL,
	[EFTEnrollment] [varchar](50) NULL,
	[Employees] [varchar](50) NULL,
	[HQLocation] [varchar](50) NULL,
	[ImplementationPriceLocation] [varchar](50) NULL,
	[NotesfromGoogleFormsubmission] [varchar](300) NULL,
	[Revenue] [varchar](50) NULL,
	[SendtoOnboarding] [varchar](50) NULL,
	[Website] [varchar](150) NULL,
	[TotalPracticestext] [varchar](150) NULL,
	[AccountID] [varchar](50) NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
 CONSTRAINT [PK_LeadID1] PRIMARY KEY CLUSTERED 
(
	[LeadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPExtZentistNotionleadsexportAudit]    Script Date: 8/15/2025 5:02:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPExtZentistNotionleadsexportAudit](
	[MPExtZentistNotionleadsexportID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[LeadID] [varchar](50) NOT NULL,
	[Createdtime] [datetime] NULL,
	[TotalPractices] [int] NULL,
	[PilotTarget] [int] NULL,
	[Stage] [varchar](50) NULL,
	[FinancialInstitution] [varchar](50) NULL,
	[DiscountedUnitPrice] [money] NULL,
	[AccountManager] [varchar](50) NULL,
	[AccountOwner1] [varchar](50) NULL,
	[AccountOwner2] [varchar](50) NULL,
	[ChampionsPointsofContact] [varchar](150) NULL,
	[Company] [varchar](50) NULL,
	[ContactEmail] [varchar](50) NULL,
	[ContactPhone] [varchar](50) NULL,
	[Clearinghouse] [varchar](50) NULL,
	[DemoDone] [varchar](50) NULL,
	[ExpectedClose] [datetime] NULL,
	[LastCardUpdate] [datetime] NULL,
	[LeadAdded] [datetime] NULL,
	[NumofTaxIDs] [int] NULL,
	[PEBacker] [varchar](50) NULL,
	[PMS] [varchar](50) NULL,
	[PainPoints] [varchar](50) NULL,
	[PilotDealValue] [money] NULL,
	[PilotUnitPrice] [money] NULL,
	[Priority] [varchar](50) NULL,
	[RCMSoftware] [varchar](50) NULL,
	[Source] [varchar](50) NULL,
	[TotalDealValue] [money] NULL,
	[AdvancedAnalyticsPrice] [money] NULL,
	[AutoBankReconciliationPrice] [money] NULL,
	[ChampionsJobTitle] [varchar](300) NULL,
	[DXCAccountExecutive] [varchar](150) NULL,
	[DXCGroupID] [varchar](150) NULL,
	[EFTEnrollment] [varchar](50) NULL,
	[Employees] [varchar](50) NULL,
	[HQLocation] [varchar](50) NULL,
	[ImplementationPriceLocation] [varchar](50) NULL,
	[NotesfromGoogleFormsubmission] [varchar](300) NULL,
	[Revenue] [varchar](50) NULL,
	[SendtoOnboarding] [varchar](50) NULL,
	[Website] [varchar](150) NULL,
	[TotalPracticestext] [varchar](150) NULL,
	[AccountID] [varchar](50) NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_ID] PRIMARY KEY CLUSTERED 
(
	[MPExtZentistNotionleadsexportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPExtZentistNotionleadsexporttemp]    Script Date: 8/15/2025 5:02:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPExtZentistNotionleadsexporttemp](
	[Name] [varchar](150) NULL,
	[LeadID] [varchar](150) NOT NULL,
	[Createdtime] [varchar](150) NULL,
	[TotalPractices] [varchar](150) NULL,
	[PilotTarget] [varchar](150) NULL,
	[Stage] [varchar](150) NULL,
	[FinancialInstitution] [varchar](150) NULL,
	[DiscountedUnitPrice] [varchar](150) NULL,
	[AccountManager] [varchar](150) NULL,
	[AccountOwner1] [varchar](150) NULL,
	[AccountOwner2] [varchar](150) NULL,
	[ChampionsPointsofContact] [varchar](150) NULL,
	[Company] [varchar](150) NULL,
	[ContactEmail] [varchar](150) NULL,
	[ContactPhone] [varchar](150) NULL,
	[Clearinghouse] [varchar](150) NULL,
	[DemoDone] [varchar](150) NULL,
	[ExpectedClose] [varchar](150) NULL,
	[LastCardUpdate] [varchar](150) NULL,
	[LeadAdded] [varchar](150) NULL,
	[NumofTaxIDs] [varchar](150) NULL,
	[PEBacker] [varchar](150) NULL,
	[PMS] [varchar](150) NULL,
	[PainPoints] [varchar](150) NULL,
	[PilotDealValue] [int] NULL,
	[PilotUnitPrice] [varchar](150) NULL,
	[Priority] [varchar](150) NULL,
	[RCMSoftware] [varchar](150) NULL,
	[Source] [varchar](150) NULL,
	[TotalDealValue] [varchar](150) NULL,
	[AdvancedAnalyticsPrice] [varchar](150) NULL,
	[AutoBankReconciliationPrice] [varchar](150) NULL,
	[ChampionsJobTitle] [varchar](300) NULL,
	[DXCAccountExecutive] [varchar](150) NULL,
	[DXCGroupID] [varchar](150) NULL,
	[EFTEnrollment] [varchar](150) NULL,
	[Employees] [varchar](150) NULL,
	[HQLocation] [varchar](150) NULL,
	[ImplementationPriceLocation] [varchar](150) NULL,
	[NotesfromGoogleFormsubmission] [varchar](300) NULL,
	[Revenue] [varchar](150) NULL,
	[SendtoOnboarding] [varchar](150) NULL,
	[Website] [varchar](150) NULL,
	[TotalPracticestext] [varchar](150) NULL,
	[AccountID] [varchar](150) NULL,
	[ProcessDate] [varchar](150) NULL,
 CONSTRAINT [PK_LeadID] PRIMARY KEY CLUSTERED 
(
	[LeadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MPExtZentistNotionleadsexport] ADD  CONSTRAINT [DF_MPExtZent_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[MPExtZentistNotionleadsexport] ADD  CONSTRAINT [DF_MPExtZent__DateUpdate]  DEFAULT (getdate()) FOR [DateUpdate]
GO
ALTER TABLE [dbo].[MPExtZentistNotionleadsexporttemp] ADD  DEFAULT (getdate()) FOR [ProcessDate]
GO
