USE [lkr]
GO
/****** Object:  Table [pdt].[CONNECTION_REG_R3]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[CONNECTION_REG_R3](
	[REG_KEY] [varchar](32) NOT NULL,
	[LOOKER] [varchar](255) NULL,
	[CREATED_AT] [bigint] NULL,
	[EXPIRES_AT] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [pdt].[LR$LQ07M1755241406650_realtime_dci_transactions_outbound_vw]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[LR$LQ07M1755241406650_realtime_dci_transactions_outbound_vw](
	[transaction_service_type_id] [varchar](32) NULL,
	[transaction_sub_service_type_id] [varchar](32) NULL,
	[start_date] [date] NULL,
	[payer_id] [int] NULL,
	[payer_name] [varchar](100) NULL,
	[n_transactions] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [pdt].[LR$LQ2XV1755273788089_eligibility_ai_transactions]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[LR$LQ2XV1755273788089_eligibility_ai_transactions](
	[eligibility_id] [int] NULL,
	[appointment_id] [int] NULL,
	[verification_type] [nvarchar](255) NULL,
	[verification_status] [nvarchar](255) NULL,
	[insurance_status] [nvarchar](255) NULL,
	[eligibility_checked_at] [datetime2](7) NULL,
	[patient_member_id] [nvarchar](255) NULL,
	[subscriber_relationship] [nvarchar](4000) NULL,
	[subscriber_id] [int] NULL,
	[subscriber_first_name] [nvarchar](255) NULL,
	[subscriber_last_name] [nvarchar](255) NULL,
	[subscriber_dob] [date] NULL,
	[provider_first_name] [nvarchar](255) NULL,
	[provider_last_name] [nvarchar](255) NULL,
	[provider_npi] [nvarchar](255) NULL,
	[provider_tax_id] [nvarchar](255) NULL,
	[payer_name] [nvarchar](255) NULL,
	[industry_payer_id] [nvarchar](255) NULL,
	[dxc_payer_id] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [pdt].[LR$LQ5851755271927769_eligibility_ai_data_errors]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[LR$LQ5851755271927769_eligibility_ai_data_errors](
	[eligibility_schedule_id] [int] NULL,
	[eligibility_id] [int] NULL,
	[verification_source] [nvarchar](255) NULL,
	[verification_started_at] [datetime2](7) NULL,
	[verification_ended_at] [datetime2](7) NULL,
	[data_source_error] [nvarchar](255) NULL,
	[data_source_error_message] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [pdt].[LR$LQ7391755234095634_clearinghouse_claim_statuses]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[LR$LQ7391755234095634_clearinghouse_claim_statuses](
	[Source_Partner_Code] [char](3) NOT NULL,
	[Source_Partner_Name] [varchar](255) NULL,
	[Meta_Claim_ID] [char](20) NOT NULL,
	[Original_Claim_ID] [varchar](38) NULL,
	[In_File_ID] [varchar](20) NULL,
	[In_File_Name] [varchar](150) NULL,
	[Group_ID] [int] NULL,
	[Group_Name] [varchar](50) NULL,
	[VIP_ID] [int] NULL,
	[VIP_Name] [varchar](60) NULL,
	[Claim_Created_At] [datetime] NOT NULL,
	[Service_Date] [datetime] NULL,
	[Rendering_Provider_First_Name] [varchar](50) NULL,
	[Rendering_Provider_Last_Name] [varchar](50) NULL,
	[Rendering_Provider_NPI] [varchar](20) NULL,
	[Billing_Provider_First_Name] [varchar](50) NULL,
	[Billing_Provider_Last_Name] [varchar](60) NULL,
	[Billing_Provider_NPI] [varchar](20) NULL,
	[Billing_Provider_Tax_ID] [varchar](9) NULL,
	[Billing_Provider_Phone] [varchar](30) NULL,
	[Payer_ID] [varchar](80) NULL,
	[Payer_Name] [varchar](100) NULL,
	[Payer_Is_Active] [bit] NULL,
	[Claim_Status] [varchar](50) NULL,
	[Claim_Status_Description] [varchar](528) NULL,
	[Claim_Status_Source_Partner_Code] [char](3) NULL,
	[Error_Code] [int] NULL,
	[Error_Code_Description] [varchar](255) NULL,
	[Claim_Status_Category_Code] [varchar](50) NULL,
	[Claim_Status_Category_Description] [varchar](300) NULL,
	[Claim_Status_Code] [smallint] NULL,
	[Claim_Status_Code_Description] [varchar](250) NULL,
	[EDI_Entity_Code] [varchar](50) NULL,
	[EDI_Entity_Code_Description] [varchar](255) NULL,
	[Latest_Enrollment_Application_Status] [varchar](65) NULL,
	[Service_Started_At] [datetime] NULL,
	[Number_of_Claim_Items] [int] NULL,
	[List_of_Procedure_Codes] [varchar](max) NULL,
	[List_of_Tooth_Numbers] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [pdt].[LR$LQCDP1755266433236_dci_claim_statuses]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[LR$LQCDP1755266433236_dci_claim_statuses](
	[Claim_ID] [int] NOT NULL,
	[Provider_Claim_ID] [varchar](50) NULL,
	[Claim_Created_At] [datetime] NULL,
	[Claim_Updated_At] [datetime] NULL,
	[Claim_Submitted_At] [datetime] NULL,
	[Claim_Active_Status] [varchar](11) NULL,
	[Current_Claim_Status_ID] [int] NULL,
	[Current_Claim_Status_Category] [varchar](50) NULL,
	[Current_Claim_Status_Name] [varchar](100) NULL,
	[Current_Claim_Status] [varchar](50) NULL,
	[Group_ID] [int] NULL,
	[Group_Name] [varchar](50) NULL,
	[Is_VIP] [int] NOT NULL,
	[VIP_ID] [int] NULL,
	[VIP_Name] [varchar](60) NULL,
	[DXC_Payer_ID] [int] NULL,
	[Payer_Name] [varchar](100) NULL,
	[Industry_Payer_ID] [varchar](80) NULL,
	[Claim_Source_Indicator] [char](1) NULL,
	[Claim_Source] [varchar](273) NULL,
	[Upload_File_Name] [varchar](512) NULL,
	[Claim_File_Upload_Status] [varchar](29) NULL,
	[PMS_Name] [varchar](255) NULL,
	[PMS_ID] [int] NULL,
	[Billing_Provider_Name] [varchar](96) NULL,
	[Billing_Provider_Tax_ID] [varchar](30) NULL,
	[Billing_Provider_License] [varchar](50) NULL,
	[Billing_Provider_Address] [varchar](111) NULL,
	[Billing_Provider_City] [varchar](30) NULL,
	[Billing_Provider_State] [char](2) NULL,
	[Billing_Provider_Zip] [varchar](15) NULL,
	[Rendering_Provider_Name] [varchar](96) NULL,
	[Rendering_Provider_Tax_ID] [varchar](30) NULL,
	[Rendering_Provider_License] [varchar](50) NULL,
	[Rendering_Provider_NPI] [varchar](30) NULL,
	[Rendering_Provider_Address] [varchar](111) NULL,
	[Rendering_Provider_City] [varchar](30) NULL,
	[Rendering_Provider_State] [char](2) NULL,
	[Rendering_Provider_Zip] [varchar](15) NULL,
	[Rejected_By_Payer] [int] NOT NULL,
	[Rejected_By_Payer_At] [datetime] NULL,
	[Payer_Rejection_Status] [varchar](100) NULL,
	[Payer_Rejection_Category_Code] [varchar](100) NULL,
	[Payer_Rejection_Category_Description] [varchar](300) NULL,
	[Payer_Rejection_Status_Code] [smallint] NULL,
	[Payer_Rejection_Status_Code_Description] [varchar](250) NULL,
	[Payer_Rejection_EDI_Entity_Code] [varchar](100) NULL,
	[Payer_Rejection_EDI_Entity_Code_Description] [varchar](255) NULL,
	[Service_Started_At] [datetime] NULL,
	[Number_of_Claim_Items] [int] NULL,
	[List_of_Procedure_Codes] [varchar](max) NULL,
	[List_of_Tooth_Numbers] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [pdt].[LR$LQI821755264608836_clean_claim_rates_by_client_vw]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[LR$LQI821755264608836_clean_claim_rates_by_client_vw](
	[GroupID] [int] NULL,
	[GroupName] [varchar](50) NULL,
	[VipID] [int] NULL,
	[VipName] [varchar](60) NULL,
	[n_dxc_rejections] [int] NULL,
	[n_payer_rejections] [int] NULL,
	[n_dxc_rejection_and_payer_rejection] [int] NULL,
	[n_dxc_acceptance_and_payer_rejection] [int] NULL,
	[n_dxc_rejection_and_payer_acceptance] [int] NULL,
	[n_dxc_acceptance_and_payer_acceptance] [int] NULL,
	[n_total_claims] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [pdt].[LR$LQPAC1755293594531_clearinghouse_enrollment_errors]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[LR$LQPAC1755293594531_clearinghouse_enrollment_errors](
	[Source_Partner_Code] [char](3) NOT NULL,
	[Source_Partner_Name] [varchar](255) NULL,
	[Meta_Claim_ID] [char](20) NOT NULL,
	[Original_Claim_ID] [varchar](38) NULL,
	[In_File_ID] [varchar](20) NULL,
	[In_File_Name] [varchar](150) NULL,
	[Group_ID] [int] NULL,
	[Group_Name] [varchar](50) NULL,
	[VIP_ID] [int] NULL,
	[VIP_Name] [varchar](60) NULL,
	[Claim_Created_At] [datetime] NOT NULL,
	[Service_Date] [datetime] NULL,
	[Claim_Rejected_At] [datetime] NOT NULL,
	[Rendering_Provider_First_Name] [varchar](50) NULL,
	[Rendering_Provider_Last_Name] [varchar](50) NULL,
	[Rendering_Provider_NPI] [varchar](20) NULL,
	[Billing_Provider_First_Name] [varchar](50) NULL,
	[Billing_Provider_Last_Name] [varchar](60) NULL,
	[Billing_Provider_NPI] [varchar](20) NULL,
	[Billing_Provider_Tax_ID] [varchar](9) NULL,
	[Billing_Provider_Phone] [varchar](30) NULL,
	[Billing_Provider_Email] [varchar](254) NULL,
	[Payer_ID] [varchar](80) NULL,
	[Payer_Name] [varchar](100) NULL,
	[Payer_Is_Active] [bit] NULL,
	[Payer_Enrollment_Required] [bit] NULL,
	[Is_Payer_Reenrollment_Error] [int] NOT NULL,
	[Claim_Status] [varchar](50) NULL,
	[Claim_Status_Description] [varchar](528) NULL,
	[Claim_Status_Source_Partner_Code] [char](3) NOT NULL,
	[Error_Code] [int] NULL,
	[Error_Code_Description] [varchar](255) NULL,
	[Claim_Status_Category_Description] [varchar](300) NULL,
	[Claim_Status_Code_Description] [varchar](250) NULL,
	[EDI_Entity_Code_Description] [varchar](255) NULL,
	[Latest_Enrollment_Application_Status] [varchar](65) NULL,
	[Latest_Enrollment_Application_Created_At] [datetime] NULL,
	[Latest_Enrollment_Application_Updated_At] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [pdt].[LR$LQPAC1755300938467_clearinghouse_enrollment_errors]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[LR$LQPAC1755300938467_clearinghouse_enrollment_errors](
	[Source_Partner_Code] [char](3) NOT NULL,
	[Source_Partner_Name] [varchar](255) NULL,
	[Meta_Claim_ID] [char](20) NOT NULL,
	[Original_Claim_ID] [varchar](38) NULL,
	[In_File_ID] [varchar](20) NULL,
	[In_File_Name] [varchar](150) NULL,
	[Group_ID] [int] NULL,
	[Group_Name] [varchar](50) NULL,
	[VIP_ID] [int] NULL,
	[VIP_Name] [varchar](60) NULL,
	[Claim_Created_At] [datetime] NOT NULL,
	[Service_Date] [datetime] NULL,
	[Claim_Rejected_At] [datetime] NOT NULL,
	[Rendering_Provider_First_Name] [varchar](50) NULL,
	[Rendering_Provider_Last_Name] [varchar](50) NULL,
	[Rendering_Provider_NPI] [varchar](20) NULL,
	[Billing_Provider_First_Name] [varchar](50) NULL,
	[Billing_Provider_Last_Name] [varchar](60) NULL,
	[Billing_Provider_NPI] [varchar](20) NULL,
	[Billing_Provider_Tax_ID] [varchar](9) NULL,
	[Billing_Provider_Phone] [varchar](30) NULL,
	[Billing_Provider_Email] [varchar](254) NULL,
	[Payer_ID] [varchar](80) NULL,
	[Payer_Name] [varchar](100) NULL,
	[Payer_Is_Active] [bit] NULL,
	[Payer_Enrollment_Required] [bit] NULL,
	[Is_Payer_Reenrollment_Error] [int] NOT NULL,
	[Claim_Status] [varchar](50) NULL,
	[Claim_Status_Description] [varchar](528) NULL,
	[Claim_Status_Source_Partner_Code] [char](3) NOT NULL,
	[Error_Code] [int] NULL,
	[Error_Code_Description] [varchar](255) NULL,
	[Claim_Status_Category_Description] [varchar](300) NULL,
	[Claim_Status_Code_Description] [varchar](250) NULL,
	[EDI_Entity_Code_Description] [varchar](255) NULL,
	[Latest_Enrollment_Application_Status] [varchar](65) NULL,
	[Latest_Enrollment_Application_Created_At] [datetime] NULL,
	[Latest_Enrollment_Application_Updated_At] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [pdt].[LR$LQRMC1755242563835_realtime_dci_transactions_inbound_vw]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[LR$LQRMC1755242563835_realtime_dci_transactions_inbound_vw](
	[transaction_service_type_id] [varchar](32) NULL,
	[transaction_sub_service_type_id] [varchar](32) NULL,
	[start_date] [date] NULL,
	[contract_id] [int] NULL,
	[package_name] [char](50) NULL,
	[group_id] [int] NULL,
	[group_name] [varchar](50) NULL,
	[vip_id] [int] NULL,
	[vip_name] [varchar](60) NULL,
	[n_transactions] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [pdt].[LR$LQVK31748889293551_eligibility_ai_appointments]    Script Date: 8/15/2025 5:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pdt].[LR$LQVK31748889293551_eligibility_ai_appointments](
	[appointment_id] [int] NULL,
	[appointment_source] [nvarchar](255) NULL,
	[appointment_clinic] [nvarchar](255) NULL,
	[appointment_at] [datetime2](7) NULL,
	[appointment_sync_status] [nvarchar](255) NULL,
	[dxc_group_id] [nvarchar](255) NULL,
	[patient_id] [int] NULL,
	[patient_first_name] [nvarchar](255) NULL,
	[patient_last_name] [nvarchar](255) NULL,
	[patient_dob] [date] NULL
) ON [PRIMARY]
GO
