USE [partcredDM]
GO
/****** Object:  Table [dbo].[Credential]    Script Date: 8/15/2025 5:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credential](
	[CredentialID] [int] IDENTITY(1,1) NOT NULL,
	[PayerID] [int] NOT NULL,
	[ProviderID] [int] NOT NULL,
	[RenewDate] [date] NULL,
	[Active] [bit] NULL,
	[DXCCycle] [int] NULL,
	[CurrentApplication] [int] NULL,
	[CredentialType] [char](1) NULL,
	[CurrentStatusCode] [int] NULL,
	[CurrentStatusCategory] [varchar](50) NULL,
	[StartHistoryID] [int] NULL,
	[StartDate] [date] NULL,
	[StartMonth] [char](3) NULL,
	[StartYear] [int] NULL,
	[StartWeek] [int] NULL,
	[EndHistoryID] [int] NULL,
	[EndDate] [date] NULL,
	[EndMonth] [char](3) NULL,
	[EndYear] [int] NULL,
	[EndWeek] [int] NULL,
	[NewRenewDate] [date] NULL,
	[ApproxDurationWeeks] [int] NULL,
	[DurationDays] [int] NULL,
	[LastUpdatedDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Credential_CredentialID] PRIMARY KEY CLUSTERED 
(
	[CredentialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSSCredBillingAlt]    Script Date: 8/15/2025 5:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSSCredBillingAlt](
	[DSSCredBillingAltID] [int] IDENTITY(1000,1) NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[DSSCredBillingPeriod] [date] NULL,
	[PayerID] [int] NOT NULL,
	[PayerName] [varchar](100) NOT NULL,
	[ProviderDirectoryPayerID] [int] NOT NULL,
	[ProviderDirectoryID] [int] NOT NULL,
	[ProviderName] [varchar](110) NULL,
	[RenewDate] [date] NULL,
	[GroupID] [int] NULL,
	[TransCategory] [varchar](15) NOT NULL,
	[TransID] [int] NOT NULL,
	[TransDate] [date] NOT NULL,
	[TransType] [varchar](500) NOT NULL,
	[TransNote] [varchar](50) NULL,
	[TransLineItemID] [int] NULL,
	[TransLineItemType] [varchar](250) NULL,
	[POSStatus] [int] NOT NULL,
	[POSDateModified] [date] NULL,
	[POSDescription] [varchar](50) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DSSCredBillingAltID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outreach]    Script Date: 8/15/2025 5:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outreach](
	[OutreachID] [int] IDENTITY(1,1) NOT NULL,
	[PayerID] [int] NOT NULL,
	[ProviderID] [int] NOT NULL,
	[RenewDate] [date] NULL,
	[BatchID] [int] NULL,
	[Active] [bit] NULL,
	[DXCCycle] [int] NULL,
	[CurrentOutreach] [int] NULL,
	[CredentialType] [char](1) NULL,
	[OutreachType] [char](1) NULL,
	[CurrentStatusCode] [int] NULL,
	[CurrentStatusCategory] [varchar](50) NULL,
	[StartHistoryID] [int] NULL,
	[StartDate] [date] NULL,
	[StartMonth] [char](3) NULL,
	[StartYear] [int] NULL,
	[StartWeek] [int] NULL,
	[EndHistoryID] [int] NULL,
	[EndDate] [date] NULL,
	[EndMonth] [char](3) NULL,
	[EndYear] [int] NULL,
	[EndWeek] [int] NULL,
	[ApproxDurationWeeks] [int] NULL,
	[DurationDays] [int] NULL,
	[LastUpdatedDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Outreach_OutreachID] PRIMARY KEY CLUSTERED 
(
	[OutreachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutreachBatch]    Script Date: 8/15/2025 5:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutreachBatch](
	[BatchID] [int] IDENTITY(1,1) NOT NULL,
	[PayerID] [int] NOT NULL,
	[RenewDate] [date] NOT NULL,
	[BatchDate] [date] NOT NULL,
	[BatchSize] [int] NULL,
	[ActiveOutreachSize] [int] NULL,
	[PassiveOutreachSize] [int] NULL,
	[StartDate] [date] NULL,
	[StartMonth] [char](3) NULL,
	[StartYear] [int] NULL,
	[StartWeek] [int] NULL,
	[EndDate] [date] NULL,
	[EndMonth] [char](3) NULL,
	[EndYear] [int] NULL,
	[EndWeek] [int] NULL,
	[ApproxDurationWeeks] [int] NULL,
	[DurationDays] [int] NULL,
	[LastUpdatedDate] [smalldatetime] NULL,
 CONSTRAINT [PK_OutreachBatch_BatchID] PRIMARY KEY CLUSTERED 
(
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayerPartnerOutreach]    Script Date: 8/15/2025 5:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayerPartnerOutreach](
	[PayerPartnerOutreachID] [int] IDENTITY(1,1000) NOT NULL,
	[PayerID] [int] NOT NULL,
	[ProviderDirectoryPayerID] [int] NOT NULL,
	[ProviderDirectoryID] [int] NOT NULL,
	[RenewDateID] [int] NOT NULL,
	[RenewDate] [date] NOT NULL,
	[IsCurrentRecredentialingCycleOutreach] [bit] NOT NULL,
	[OutreachID] [int] NULL,
	[OutreachDisposition] [varchar](10) NOT NULL,
	[OutreachCycleStartDate] [date] NOT NULL,
	[OutreachCycleStartDateProviderDirectoryPayerStatusID] [int] NULL,
	[OutreachStartDate] [date] NULL,
	[StartDateHistoryID] [int] NULL,
	[StartMonth] [char](3) NULL,
	[StartYear] [int] NULL,
	[StartWeek] [int] NULL,
	[OutreachEndDateProviderDirectoryPayerStatusID] [int] NULL,
	[OutreachEndDateProviderDirectoryPayerStatusCategory] [varchar](50) NULL,
	[OutreachEndDate] [date] NULL,
	[EndDateHistoryID] [int] NULL,
	[EndMonth] [char](3) NULL,
	[EndYear] [int] NULL,
	[EndWeek] [int] NULL,
	[OutreachDurationDays] [int] NULL,
	[RecordDateCreatedDate] [datetime] NOT NULL,
	[RecordModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PayerPartnerOutreach_PayerPartnerOutreachID] PRIMARY KEY CLUSTERED 
(
	[PayerPartnerOutreachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecredentialingCycleOutreach]    Script Date: 8/15/2025 5:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecredentialingCycleOutreach](
	[RecordDateCreatedDate] [datetime] NOT NULL,
	[RecordModifiedDate] [datetime] NULL,
	[ProviderDirectoryPayerID] [int] NOT NULL,
	[ProviderDirectoryID] [int] NOT NULL,
	[ProviderName] [varchar](300) NULL,
	[PayerID] [int] NOT NULL,
	[PayerName] [varchar](100) NULL,
	[OutreachID] [int] NULL,
	[BillingOutreachID] [int] NULL,
	[PayerGoLiveDate] [date] NOT NULL,
	[RenewDateCreatedDate] [date] NOT NULL,
	[RenewDate] [date] NOT NULL,
	[OutreachStartDate] [date] NULL,
	[BillingOutreachStartDate] [date] NULL,
	[OutreachRuleID] [int] NOT NULL,
	[OutreachSequenceNo] [int] NOT NULL,
	[OutreachDate] [date] NOT NULL,
	[OutreachSource] [varchar](10) NOT NULL,
	[EventID] [int] NULL,
	[EventDate] [date] NULL,
	[OutreachDaysCount] [int] NOT NULL,
	[OutreachDescription] [varchar](50) NOT NULL,
	[OutreachSearchStatus] [varchar](150) NULL,
	[MinHistoricalStatusID] [int] NULL,
	[MaxHistoricalStatusID] [int] NULL,
	[OutreachUpdateStatus] [int] NULL,
	[OutreachTypeID] [int] NOT NULL,
	[OutreachTypeDescription] [varchar](20) NULL,
	[IsFirstCycle] [bit] NULL,
	[IsOutreachStartDate] [bit] NULL,
	[UserID] [int] NULL,
	[AppSetID] [int] NULL,
	[BillingAppSetID] [int] NULL,
	[AppSetGroupID] [int] NULL,
	[AppSetGroupName] [varchar](50) NULL,
	[IsAppActive] [bit] NULL,
	[AppSetDateCreated] [date] NULL,
	[AppSetSubmitToPayerDate] [date] NULL,
	[IsPayerCreatedApplication] [bit] NULL,
	[IsSubmittedToPayer] [bit] NULL,
 CONSTRAINT [PK_RecredentialingCycleOutreach] PRIMARY KEY CLUSTERED 
(
	[ProviderDirectoryPayerID] ASC,
	[RenewDate] ASC,
	[RenewDateCreatedDate] ASC,
	[OutreachSequenceNo] ASC,
	[OutreachTypeID] ASC,
	[OutreachRuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecredentialingCycleOutreachSummary]    Script Date: 8/15/2025 5:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecredentialingCycleOutreachSummary](
	[RecredentialingCycleOutreachSummaryID] [int] IDENTITY(1000,1) NOT NULL,
	[SurrogateUniqueKey] [varchar](60) NOT NULL,
	[PayerID] [int] NOT NULL,
	[ProviderDirectoryID] [int] NOT NULL,
	[ProviderDirectoryPayerID] [int] NOT NULL,
	[UserID] [int] NULL,
	[IsDuplicateRecord] [bit] NOT NULL,
	[IsReported] [bit] NULL,
	[BatchID] [varchar](25) NOT NULL,
	[RenewDate] [date] NOT NULL,
	[OutreachID] [int] NULL,
	[FirstOutreachEventIDThisCycle] [int] NULL,
	[OutreachStartDate] [date] NULL,
	[OutreachExpectedStartDate] [date] NULL,
	[OutreachNotificationArrivalType] [varchar](10) NULL,
	[OutreachNotificationArrivalDaysDifferential] [int] NULL,
	[AppSetIDMatchedByUserIDRecredentialingDate] [int] NULL,
	[AppSetID] [int] NULL,
	[ApplicationState] [char](2) NULL,
	[PayerDefaultState] [char](2) NULL,
	[AppSetDateCreated] [date] NULL,
	[AppSetSubmitToPayerDate] [date] NULL,
	[AppSetDecisionDate] [date] NULL,
	[AppSetDecision] [varchar](15) NULL,
	[AppSetActive] [bit] NULL,
	[AppSetDeactivatedDate] [date] NULL,
	[RecordDateCreated] [datetime] NULL,
	[RecordModifiedDate] [datetime] NULL,
	[LastProviderUpdatedDate] [datetime] NULL,
	[LastApplicationUpdatedDate] [datetime] NULL,
	[LastReportedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecredentialingCycleOutreachSummaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_RecredentialingCycleOutreachSummary_SurrogateUniqueKey] UNIQUE NONCLUSTERED 
(
	[SurrogateUniqueKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RenewDates]    Script Date: 8/15/2025 5:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenewDates](
	[RenewDateID] [int] IDENTITY(1000,1) NOT NULL,
	[ProviderDirectoryPayerID] [int] NOT NULL,
	[ProviderDirectoryID] [int] NOT NULL,
	[PayerID] [int] NOT NULL,
	[PayerName] [varchar](100) NOT NULL,
	[RenewDate] [date] NULL,
	[RenewDateCreatedDate] [date] NULL,
	[RenewDateOrder] [int] NOT NULL,
	[IsCurrentRenewDate] [bit] NOT NULL,
	[CredentialType] [char](1) NOT NULL,
	[RecordCreatedDate] [datetime] NOT NULL,
	[RecordLastUpdatedDate] [datetime] NULL,
	[DecisionStatusID] [int] NULL,
	[DecisionProviderDirectoryPayerHistoryID] [int] NULL,
	[DecisionDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RenewDateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecredentialingCycleOutreach] ADD  CONSTRAINT [DF_RecredentialingCycleOutreach_RecordDateCreatedDate]  DEFAULT (getdate()) FOR [RecordDateCreatedDate]
GO
ALTER TABLE [dbo].[RenewDates] ADD  CONSTRAINT [DF_RenewDates_IsCurrentRenewDate]  DEFAULT ((0)) FOR [IsCurrentRenewDate]
GO
ALTER TABLE [dbo].[RenewDates] ADD  CONSTRAINT [DF_RenewDates_RecordCreatedDate]  DEFAULT (getdate()) FOR [RecordCreatedDate]
GO
ALTER TABLE [dbo].[RenewDates] ADD  CONSTRAINT [DF_RenewDates_RecordLastUpdatedDate]  DEFAULT (getdate()) FOR [RecordLastUpdatedDate]
GO
ALTER TABLE [dbo].[PayerPartnerOutreach]  WITH CHECK ADD  CONSTRAINT [FK_PayerPartnerOutreach_RenewDateID] FOREIGN KEY([RenewDateID])
REFERENCES [dbo].[RenewDates] ([RenewDateID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PayerPartnerOutreach] CHECK CONSTRAINT [FK_PayerPartnerOutreach_RenewDateID]
GO
ALTER TABLE [dbo].[PayerPartnerOutreach]  WITH CHECK ADD  CONSTRAINT [CK_PayerPartnerOutreach_OutreachDisposition] CHECK  (([OutreachDisposition]='Active' OR [OutreachDisposition]='Passive' OR [OutreachDisposition]='None'))
GO
ALTER TABLE [dbo].[PayerPartnerOutreach] CHECK CONSTRAINT [CK_PayerPartnerOutreach_OutreachDisposition]
GO
ALTER TABLE [dbo].[RecredentialingCycleOutreach]  WITH CHECK ADD  CONSTRAINT [CK_RecredentialingCycleOutreach_OutreachSource] CHECK  (([OutreachSource]='User' OR [OutreachSource]='System'))
GO
ALTER TABLE [dbo].[RecredentialingCycleOutreach] CHECK CONSTRAINT [CK_RecredentialingCycleOutreach_OutreachSource]
GO
