USE [rpt]
GO
/****** Object:  Table [dbo].[SSISDeliveryDays]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISDeliveryDays](
	[DeliveryDayID] [varchar](3) NOT NULL,
	[Display] [varchar](30) NOT NULL,
	[DynamicDateValue] [varchar](300) NOT NULL,
	[DropdownDisplay] [bit] NOT NULL,
 CONSTRAINT [PK_SSISDeliveryDays_DeliveryDayID] PRIMARY KEY CLUSTERED 
(
	[DeliveryDayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Display] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISReportFrequencies]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISReportFrequencies](
	[ReportFrequencyID] [varchar](3) NOT NULL,
	[Display] [varchar](35) NOT NULL,
	[Title] [varchar](500) NOT NULL,
	[DropdownDisplay] [bit] NOT NULL,
 CONSTRAINT [PK_SSISReportFrequencies_ReportFrequencyID] PRIMARY KEY CLUSTERED 
(
	[ReportFrequencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Display] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISGrandfatheredReportsMap]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISGrandfatheredReportsMap](
	[GrandfatheredReportMapID] [int] IDENTITY(1000,1) NOT NULL,
	[DistributionClientID] [int] NOT NULL,
	[SSISPackagePath] [varchar](150) NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreateSupportUserID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifySupportUserID] [int] NULL,
	[PackageVariable_directory] [varchar](150) NULL,
	[PackageVariable_endDate] [varchar](150) NULL,
	[PackageVariable_fileName] [varchar](150) NULL,
	[PackageVariable_fileNameOrtho] [varchar](150) NULL,
	[PackageVariable_fileNameNonOrtho] [varchar](150) NULL,
	[PackageVariable_reportName] [varchar](150) NULL,
	[PackageVariable_reportNumber] [varchar](10) NULL,
	[PackageVariable_startDate] [varchar](150) NULL,
	[PackageVariable_emailDeliveryType] [varchar](100) NULL,
	[PackageVariable_fileNameOsa] [varchar](150) NULL,
	[PackageVariable_fileNameOrthoOsa] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[GrandfatheredReportMapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UX_SSISGrandfatheredReportsMap] UNIQUE NONCLUSTERED 
(
	[DistributionClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISTemplateReports]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISTemplateReports](
	[TemplateReportID] [varchar](6) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[LatestVersionNumber] [int] NULL,
	[DescriptionHTML] [varchar](800) NULL,
	[ImageURL] [varchar](250) NULL,
	[SampleURL] [varchar](250) NULL,
	[SSISPackageName] [varchar](32) NOT NULL,
	[ReportClientTypeID] [varchar](15) NOT NULL,
	[FrequencyIsEditable] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreateSupportUserID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifySupportUserID] [int] NULL,
	[ActiveDateModified] [datetime] NULL,
	[ActiveModifySupportUserID] [int] NULL,
	[DropdownDisplay] [bit] NOT NULL,
	[JIRAIssue] [varchar](25) NOT NULL,
	[EmailDeliveryDisplay] [bit] NOT NULL,
	[SFTPDeliveryDisplay] [bit] NOT NULL,
 CONSTRAINT [PK_SSISTemplateReports_TemplateReportID] PRIMARY KEY CLUSTERED 
(
	[TemplateReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[ReportClientTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SSISPackageName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISDistributionClients]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISDistributionClients](
	[DistributionClientID] [int] IDENTITY(1000,1) NOT NULL,
	[TemplateReportID] [varchar](6) NOT NULL,
	[IdentityKey] [varchar](6) NOT NULL,
	[ReportFrequencyID] [varchar](3) NOT NULL,
	[DeliveryDayID] [varchar](3) NOT NULL,
	[DataDaysID] [char](2) NULL,
	[LastDistributedDate] [datetime] NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreateSupportUserID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifySupportUserID] [int] NULL,
	[ActiveDateModified] [datetime] NULL,
	[ActiveModifySupportUserID] [int] NULL,
	[EntityActive] [bit] NULL,
	[PackagesActive] [bit] NULL,
	[RecipientsActive] [bit] NULL,
	[LastSSISRunDate] [datetime] NULL,
	[FirstDistributionRequiredDate] [datetime] NULL,
	[ExecutionOrder] [int] NULL,
	[FailEmailRecipientOverride] [varchar](100) NULL,
	[NextDistributionDate] [datetime] NULL,
	[UpdateLastDistributedDateScope] [varchar](25) NULL,
 CONSTRAINT [PK_SSISDistributionClients_DistributionClientID] PRIMARY KEY CLUSTERED 
(
	[DistributionClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISDistributionClientsEmails]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISDistributionClientsEmails](
	[DistributionClientsEmailsID] [int] IDENTITY(1000,1) NOT NULL,
	[DistributionClientID] [int] NOT NULL,
	[Email] [varchar](254) NOT NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreateSupportUserID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifySupportUserID] [int] NULL,
	[ActiveDateModified] [datetime] NULL,
	[ActiveModifySupportUserID] [int] NULL,
 CONSTRAINT [PK_SSISDistributionClientsEmails_SSISDistributionClientsEmailsID] PRIMARY KEY CLUSTERED 
(
	[DistributionClientsEmailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UX_SSISDistributionClientsEmails] UNIQUE NONCLUSTERED 
(
	[DistributionClientID] ASC,
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISReportClientTypes]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISReportClientTypes](
	[ReportClientTypeID] [varchar](15) NOT NULL,
	[Name] [varchar](60) NOT NULL,
	[Description] [varchar](255) NOT NULL,
	[CollectionQuery] [varchar](500) NOT NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreateSupportUserID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifySupportUserID] [int] NULL,
	[ActiveDateModified] [datetime] NULL,
	[ActiveModifySupportUserID] [int] NULL,
	[FailEmailRecipient] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SSISReportClientTypes_ReportClientTypeID] PRIMARY KEY CLUSTERED 
(
	[ReportClientTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISDistributionClientsFTPDistributions]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISDistributionClientsFTPDistributions](
	[SSISDistributionClientsFTPDistributionsID] [int] IDENTITY(1000,1) NOT NULL,
	[DistributionClientID] [int] NOT NULL,
	[FTPUploadType] [varchar](15) NOT NULL,
	[LastUploadedDate] [datetime] NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreateSupportUserID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifySupportUserID] [int] NULL,
	[PackageVariable_workingDirectory] [varchar](150) NOT NULL,
	[PackageVariable_sftpLocation] [varchar](150) NULL,
	[PackageVariable_clientReportName] [varchar](150) NOT NULL,
	[PackageVariable_uploadFileName] [varchar](150) NOT NULL,
	[PackageVariable_sftpCredentials] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SSISDistributionClientsFTPDistributionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISDataDays]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISDataDays](
	[DataDaysID] [char](2) NOT NULL,
	[Display] [varchar](65) NOT NULL,
	[DynamicRangeValue] [varchar](200) NOT NULL,
 CONSTRAINT [PK_SSISDataDays_DataDaysID] PRIMARY KEY CLUSTERED 
(
	[DataDaysID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Display] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SSISManagedClientReports]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SSISManagedClientReports] AS

	SELECT DISTINCT dc.DistributionClientID
		, ct.ReportClientTypeID
		, ct.Name AS ReportClientType
		, tr.TemplateReportID
		, CASE WHEN tr.Name LIKE '%General Custom Reports Package' THEN gf.PackageVariable_reportName ELSE tr.Name END AS ReportName
		, CASE dc.Active WHEN 1 THEN 'Active' WHEN 0 THEN 'Inactive' ELSE NULL END AS ReportStatus
		, dc.IdentityKey AS ClientID
		, COALESCE(vip.Name, LTRIM(RTRIM(r.Name)), pcc.Description, pc.Description, entity.Name, pcp.PayerName) AS ClientName
		, dc.LastSSISRunDate
		, rf.Display AS ReportFrequency
		, dd.Display AS DeliveryDay
		, datd.Display AS DataDaysIncluded
		, RTRIM(LTRIM(STUFF((SELECT ';' + e2.Email
			FROM rpt.dbo.SSISDistributionClientsEmails e2
			WHERE e2.DistributionClientID = e.DistributionClientID
			AND e2.Active = 1
			FOR XML PATH ('')
			), 1, 1, ''))) AS EmailDistributionList
		, dc.LastDistributedDate
		, CASE WHEN ftp.DateCreated IS NOT NULL THEN 'Yes' ELSE 'No' END AS SFTPUploadConfigured
		, CASE ftp.Active WHEN 1 THEN 'Enabled' WHEN 0 THEN 'Disabled' ELSE NULL END AS UploadStatus 
		, ftp.LastUploadedDate
		, dc.DateCreated
		, ISNULL(su.FirstName + ' ', '') + ISNULL(su.LastName, '') AS CreatedBy
		
	FROM rpt.dbo.SSISDistributionClients dc WITH (NOLOCK)
	LEFT JOIN rpt.dbo.SSISTemplateReports tr WITH (NOLOCK) ON dc.TemplateReportID = tr.TemplateReportID
	LEFT JOIN common.dbo.VIP vip WITH (NOLOCK) ON  LTRIM(RTRIM(dc.IdentityKey)) = CAST(LTRIM(RTRIM(vip.VipID)) AS VARCHAR(6)) AND tr.ReportClientTypeID IN ('VIP', 'PCVIP')
	LEFT JOIN common.dbo.Reseller r WITH (NOLOCK) ON  LTRIM(RTRIM(dc.IdentityKey)) = CAST(LTRIM(RTRIM(r.ResellerID)) AS VARCHAR(6)) AND tr.ReportClientTypeID IN ('Vendor', 'VENDAM')
	LEFT JOIN common.dbo.ServiceCode pc WITH (NOLOCK) ON LTRIM(RTRIM(dc.IdentityKey)) = LTRIM(RTRIM(pc.ServiceCode)) AND tr.ReportClientTypeID IN ('DASPayer')
	LEFT JOIN common.dbo.Entity entity WITH (NOLOCK) ON LTRIM(RTRIM(dc.IdentityKey)) = LTRIM(RTRIM(entity.EntityID)) AND tr.ReportClientTypeID IN ('MULTI')
	LEFT JOIN chs.dbo.PartnerCode pcc WITH (NOLOCK) ON dc.IdentityKey = pcc.PartnerCode AND tr.ReportClientTypeID IN ('TP', 'TPC', 'ENP', 'DASPartner')
	LEFT JOIN partcredDM.dbo.Payers pcp WITH (NOLOCK) ON LTRIM(RTRIM(dc.IdentityKey)) = CAST(LTRIM(RTRIM(pcp.PayerID)) AS VARCHAR(6)) AND tr.ReportClientTypeID IN ('CREDPayer')
	LEFT JOIN common.dbo.Payer p WITH (NOLOCK) ON LTRIM(RTRIM(dc.IdentityKey)) = CAST(LTRIM(RTRIM(p.PayerID)) AS VARCHAR(6)) AND tr.ReportClientTypeID IN ('PAYAM')
	LEFT JOIN rpt.dbo.SSISDeliveryDays dd WITH (NOLOCK) ON dc.DeliveryDayID = dd.DeliveryDayID
	LEFT JOIN rpt.dbo.SSISDataDays datd WITH (NOLOCK) ON dc.DataDaysID = datd.DataDaysID
	LEFT JOIN rpt.dbo.SSISReportFrequencies rf WITH (NOLOCK) ON dc.ReportFrequencyID = rf.ReportFrequencyID
	LEFT JOIN rpt.dbo.SSISReportClientTypes ct WITH (NOLOCK) ON tr.ReportClientTypeID = ct.ReportClientTypeID
	LEFT JOIN rpt.dbo.SSISDistributionClientsEmails e WITH (NOLOCK) ON dc.DistributionClientID = e.DistributionClientID
	LEFT JOIN common.dbo.SupportUser su WITH (NOLOCK) ON dc.CreateSupportUserID = su.SupportUserID
	LEFT JOIN rpt.dbo.SSISGrandfatheredReportsMap gf WITH (NOLOCK) ON dc.DistributionClientID = gf.DistributionClientID
	LEFT JOIN rpt.dbo.SSISDistributionClientsFTPDistributions ftp WITH (NOLOCK) ON dc.DistributionClientID = ftp.DistributionClientID

	GROUP BY dc.DistributionClientID
		, e.DistributionClientID
		, ct.ReportClientTypeID
		, ct.Name
		, tr.TemplateReportID
		, tr.Name
		, dc.LastSSISRunDate
		, dc.Active
		, dc.IdentityKey
		, COALESCE(vip.Name, LTRIM(RTRIM(r.Name)), pcc.Description, pc.Description, entity.Name, pcp.PayerName)
		, rf.Display
		, dd.Display
		, datd.Display
		, dc.LastDistributedDate
		, dc.DateCreated
		, ISNULL(su.FirstName + ' ', '') + ISNULL(su.LastName, '')
		, gf.PackageVariable_reportName
		, ftp.DateCreated
		, ftp.Active
		, ftp.LastUploadedDate



GO
/****** Object:  View [dbo].[RejectionMessage]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE view [dbo].[RejectionMessage] as 


 With HistoryStatus as( SELECT 

	  vipg.VipID

	  

	  ,c.GroupID

	  ,g.Name as GroupName----Group Name

	  ,ch.[ClaimID]--DXC Claim ID

	  ,cs2.Display as CurrentStatusDiscription----Current Claim Status Display

      ,ch.[Status] --as StatusAfterProviderHold

	  , NULLIF(TRIM(sub.MemberNo), '') AS Subscriber_ID

	 , cs.Display as HIstoryDisplay

	 , ISNULL(rend.ClaimProviderID, '') as  Rendering_Provider_ClaimID--Provider Claim ID



	  , ISNULL(ISNULL(TRIM(bill.GroupName), TRIM(CONCAT(bill.FirstName, ' ', bill.LastName))), '') AS Billing_Provider_Name

	  , ISNULL(TRIM(CONCAT(rend.LastName, ' ', rend.FirstName)), '') AS Rendering_Provider_Name

    , ISNULL(rend.TaxID, '') AS Rendering_Provider_TIN

	, ISNULL(bill.TaxID, '') AS Billing_Provider_TIN



      ,p.[Name] as PayerName

	  ,p.payerIDcode

	  ,ch.TimeStmp

	 -- into #HistoryStatus

  FROM [dci].[dbo].[ClaimHistory] as ch with (NOLOCK)

  join [dci].[dbo].[Claim] as c with (NOLOCK) on ch.ClaimID=c.ClaimID

  LEFT JOIN [dci].[dbo].[ClaimMember] AS pat ON c.ClaimID = pat.ClaimID AND pat.MemberType = 1

  LEFT JOIN [dci].[dbo].[ClaimMember] AS sub ON c.ClaimID = sub.ClaimID AND sub.MemberType = 2

  LEFT JOIN [dci].[dbo].ClaimProvider AS rend ON c.ClaimID = rend.ClaimID AND rend.ProviderType = 2

  LEFT JOIN [dci].[dbo].ClaimProvider AS bill ON c.ClaimID = bill.ClaimID AND bill.ProviderType = 1

  left join [common].[dbo].[VIPGroup] as vipg with (NOLOCK) on c.groupid=vipg.groupid

  left join [common].[dbo].[Groups] as g with (NOLOCK) on c.GroupID=g.GroupID

  left join [common].[dbo].[Payer] as p with (NOLOCK) on ch.PayerID=p.PayerID

  left join [dci].[dbo].[ClaimStatus] as cs with (NOLOCK) on ch.Status=cs.ClaimStatusID

  left join [dci].[dbo].[ClaimStatus] as cs2 with (NOLOCK) on c.Status=cs2.ClaimStatusID



  where CAST(ch.TimeStmp AS DATE) BETWEEN DATEADD(DAY, DATEDIFF(DAY, 0, GETDATE()), -2) and DATEADD(DAY, DATEDIFF(DAY, 0, GETDATE()), -1)-- @startDate AND CAST(@endDate AS DATE) 

   And cs.Display =  'Rejected'-- historylevel 





	And g.GroupID NOT IN (SELECT d.GroupID

	FROM common..GroupDeactivation d WITH (NOLOCK)

	WHERE d.EndDate IS NULL)

	),



---***************************************************



RejectionError As(SELECT hc.ClaimID,

		min(ch.TimeStmp) as FirstValidationErrorDate

		

		, MIN(ch.ClaimStatus) AS ClaimStatus



		--into #ValidationError

	FROM HistoryStatus AS hc



	 JOIN dci.dbo.ClaimHistory AS ch WITH (NOLOCK) ON hc.ClaimID = ch.ClaimID

	

	where ch.Status IN (SELECT ClaimStatusID FROM dci.dbo.ClaimStatus WHERE Display like 'Rejected')

	GROUP BY hc.ClaimID

	),

---***************************************************

GetRejectionCode as (SELECT ClaimID

		, CASE 

			WHEN CHARINDEX(';', ClaimStatus) > 0 

			THEN RIGHT(ClaimStatus, CHARINDEX(';', REVERSE(ClaimStatus))-1) 

			ELSE ClaimStatus END AS RejectionErrorResponse

			--INTO #GetRejectionCode

	FROM RejectionError
),
--**************************************************************

 

  totalClaim as (SELECT hc.ClaimID

    , MIN(ci.ServiceStartDate) AS Date_of_Service

    , SUM(ci.Fee) AS Total_Claim_Fee

	--into #totalClaim

  FROM HistoryStatus AS hc

  JOIN  dci.dbo.ClaimItem AS ci WITH (NOLOCK) ON hc.ClaimID = ci.ClaimID

  GROUP BY hc.ClaimID)

--*****************************************************************

Select distinct

 hs.GroupID,

hs.GroupName,

cast(hs.TimeStmp as date) as claimSubmitdate,

hs.ClaimID,

hs.CurrentStatusDiscription,

--hs.HistoryDisplay as HistoryStatusDiscription,

hs.Rendering_Provider_ClaimID,

hs.Rendering_Provider_Name,

hs.Billing_Provider_Name,

hs.Billing_Provider_TIN As TIN,

hs.Subscriber_ID,

hs.PayerName,
hs.VipID,

hs.PayerIDCode,

cast(ci.Date_of_Service as date) as Date_of_Service,

 Total_Claim_Fee

 --, ve.ValidationErrorsResponse

, ISNULL(reports.dbo.udf_DecodeClaimStatusMessageCategory(ve.RejectionErrorResponse), ' ') AS ErrorsMessage

, ISNULL(reports.dbo.udf_DecodeClaimStatusMessageCode(ve.RejectionErrorResponse), ' ') AS MsgAdditionalDetails

, ISNULL(reports.dbo.udf_DecodeClaimStatusMessageEntity(ve.RejectionErrorResponse), ' ') AS MsgEntity

	From HistoryStatus hs

JOIN totalClaim AS ci  ON hs.ClaimID = ci.ClaimID

Join  GetRejectionCode VE ON VE.ClaimID = ci.ClaimID




	 

GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryQuestion]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryQuestion](
	[CategoryQuestionID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Height] [varchar](10) NOT NULL,
	[Width] [varchar](10) NOT NULL,
	[ShowTitle] [bit] NOT NULL,
 CONSTRAINT [PK_CategoryQuestion] PRIMARY KEY CLUSTERED 
(
	[CategoryQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_CategoryID_QuestionID] UNIQUE NONCLUSTERED 
(
	[CategoryID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimPaymentDetail]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimPaymentDetail](
	[DetailId] [int] NOT NULL,
	[MetaClaimPaymentId] [varchar](50) NULL,
	[TimeCreated] [datetime] NULL,
	[SubmitterId] [varchar](150) NULL,
	[OriginalClaimId] [varchar](150) NULL,
	[PayerName] [varchar](500) NULL,
	[SubmittedClaimAmt] [money] NULL,
	[PaidClaimAmt] [money] NULL,
	[PayeeName] [varchar](500) NULL,
	[PaymentEffective] [datetime] NULL,
	[PaymentType] [varchar](50) NULL,
	[BillingCity] [varchar](500) NULL,
	[ClaimDate] [datetime] NULL,
	[PaymentProcCode] [varchar](50) NULL,
	[OrigProcCode] [varchar](50) NULL,
	[SvcCtrlNo] [varchar](50) NULL,
	[ItemCtrlNo] [varchar](50) NULL,
	[SvcSubmittedAmt] [money] NULL,
	[SvcPaidAmt] [money] NULL,
	[CtrlNoMatches] [bit] NULL,
	[RemarkCode] [varchar](50) NULL,
	[ContractAdjCode] [varchar](50) NULL,
	[ContractAdjAmt] [money] NULL,
	[PatientAdjCode] [varchar](50) NULL,
	[PatientAdjAmt] [money] NULL,
	[StatusCode] [int] NULL,
	[OtherAdjCode] [varchar](50) NULL,
	[OtherAdjAmt] [money] NULL,
	[SecContractAdjCode] [varchar](50) NULL,
	[SecContractAdjAmt] [money] NULL,
	[PayerAdjCode] [varchar](50) NULL,
	[PayerAdjAmt] [money] NULL,
 CONSTRAINT [PK_ClaimPaymentDetail] PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dashboard]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dashboard](
	[DashboardID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[DashboardKey] [varchar](200) NOT NULL,
	[Active] [bit] NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[ResetFilter] [bit] NOT NULL,
	[Description] [varchar](1000) NULL,
 CONSTRAINT [PK_Dashboard] PRIMARY KEY CLUSTERED 
(
	[DashboardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DashboardKey] UNIQUE NONCLUSTERED 
(
	[DashboardKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DashboardCategory]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardCategory](
	[DashboardCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[DashboardID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[ResetFilter] [bit] NOT NULL,
	[APP] [varchar](15) NOT NULL,
 CONSTRAINT [PK_DashboardCategory] PRIMARY KEY CLUSTERED 
(
	[DashboardCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DashboardID_CategoryID] UNIQUE NONCLUSTERED 
(
	[DashboardID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DashboardCategoryFilter]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardCategoryFilter](
	[DashboardCategoryFilterID] [int] IDENTITY(1,1) NOT NULL,
	[DashboardCategoryID] [int] NOT NULL,
	[FilterID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_DashboardCategoryFilter] PRIMARY KEY CLUSTERED 
(
	[DashboardCategoryFilterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DashboardCategoryQuestion]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardCategoryQuestion](
	[DashboardCategoryQuestionID] [int] IDENTITY(1,1) NOT NULL,
	[DashboardCategoryID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Height] [varchar](10) NOT NULL,
	[Width] [varchar](10) NOT NULL,
	[ShowTitle] [bit] NOT NULL,
 CONSTRAINT [PK_DashboardCategoryQuestionID] PRIMARY KEY CLUSTERED 
(
	[DashboardCategoryQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DashboardCategoryQuestion_DashboardCategoryID_QuestionID] UNIQUE NONCLUSTERED 
(
	[DashboardCategoryID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DashboardFilter]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardFilter](
	[DashboardFilterID] [int] IDENTITY(1,1) NOT NULL,
	[DashboardID] [int] NOT NULL,
	[FilterID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_DashboardFilter] PRIMARY KEY CLUSTERED 
(
	[DashboardFilterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DashboardQuestion]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardQuestion](
	[DashboardQuestionID] [int] IDENTITY(1,1) NOT NULL,
	[DashboardID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Height] [varchar](10) NOT NULL,
	[Width] [varchar](10) NOT NULL,
	[ShowTitle] [bit] NOT NULL,
 CONSTRAINT [PK_DashboardQuestion] PRIMARY KEY CLUSTERED 
(
	[DashboardQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filter]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filter](
	[FilterID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[DisplayName] [varchar](50) NOT NULL,
	[Field] [varchar](100) NOT NULL,
	[DataType] [varchar](25) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[InputType] [varchar](50) NOT NULL,
	[DefaultValue] [varchar](100) NULL,
	[Required] [bit] NOT NULL,
	[Display] [bit] NOT NULL,
 CONSTRAINT [PK_Filter] PRIMARY KEY CLUSTERED 
(
	[FilterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilterDefault]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterDefault](
	[FilterDefaultID] [int] IDENTITY(1,1) NOT NULL,
	[FilterID] [int] NOT NULL,
	[DefaultValue] [varchar](100) NOT NULL,
 CONSTRAINT [PK_FilterDefault] PRIMARY KEY CLUSTERED 
(
	[FilterDefaultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_FilterDefault_FilterID_DefaultValue] UNIQUE NONCLUSTERED 
(
	[FilterID] ASC,
	[DefaultValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilterOption]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterOption](
	[FilterOptionID] [int] IDENTITY(1,1) NOT NULL,
	[FilterID] [int] NOT NULL,
	[Display] [varchar](100) NOT NULL,
	[Value] [varchar](100) NOT NULL,
 CONSTRAINT [PK_FilterOption] PRIMARY KEY CLUSTERED 
(
	[FilterOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilterQuery]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterQuery](
	[FilterQueryID] [int] IDENTITY(1,1) NOT NULL,
	[FilterID] [int] NOT NULL,
	[Query] [varchar](max) NOT NULL,
	[DisplayColumn] [varchar](50) NOT NULL,
	[ValueColumn] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FilterQuery] PRIMARY KEY CLUSTERED 
(
	[FilterQueryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_FilterID] UNIQUE NONCLUSTERED 
(
	[FilterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[QuestionKey] [varchar](200) NOT NULL,
	[MetabaseQuestionID] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[ResetFilter] [bit] NOT NULL,
	[Style] [varchar](max) NULL,
	[Description] [varchar](1000) NULL,
	[RelatedQuestionID] [int] NULL,
	[RefreshedOn] [datetime] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_QuestionKey] UNIQUE NONCLUSTERED 
(
	[QuestionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionFilter]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionFilter](
	[QuestionFilterID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[FilterID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_QuestionFilter] PRIMARY KEY CLUSTERED 
(
	[QuestionFilterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportChart]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportChart](
	[ChartID] [int] IDENTITY(1,1) NOT NULL,
	[DefinitionID] [int] NOT NULL,
	[Title] [varchar](max) NULL,
	[Type] [varchar](150) NOT NULL,
 CONSTRAINT [PK_ReportChart] PRIMARY KEY CLUSTERED 
(
	[ChartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportChartColumn]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportChartColumn](
	[ChartColumnID] [int] IDENTITY(1,1) NOT NULL,
	[ChartID] [int] NOT NULL,
	[ColumnName] [varchar](250) NOT NULL,
	[Type] [varchar](15) NOT NULL,
	[DisplayName] [varchar](250) NULL,
	[HexColor] [varchar](25) NULL,
 CONSTRAINT [PK_ReportChartColumn] PRIMARY KEY CLUSTERED 
(
	[ChartColumnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportColumn]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportColumn](
	[ColumnID] [int] IDENTITY(1,1) NOT NULL,
	[DataSourceID] [int] NOT NULL,
	[ColumnName] [varchar](max) NOT NULL,
	[DisplayName] [varchar](100) NULL,
	[CountColumn] [bit] NOT NULL,
	[GroupBy] [bit] NOT NULL,
	[OrderBy] [varchar](15) NULL,
	[Distinct] [bit] NOT NULL,
	[NullReplaceValue] [varchar](100) NULL,
	[LinkDefinitionID] [int] NULL,
	[ShowInResult] [bit] NOT NULL,
	[SortOrder] [int] NULL,
	[SqlMethod] [varchar](250) NULL,
 CONSTRAINT [PK_ReportColumn] PRIMARY KEY CLUSTERED 
(
	[ColumnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportColumnTransformation]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportColumnTransformation](
	[ColumnTransformationID] [int] IDENTITY(1,1) NOT NULL,
	[DataSourceID] [int] NOT NULL,
	[ColumnID] [int] NOT NULL,
	[CompareValue] [varchar](150) NULL,
	[TransformValue] [varchar](150) NOT NULL,
 CONSTRAINT [PK_ReportColumnTransformation] PRIMARY KEY CLUSTERED 
(
	[ColumnTransformationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDataSource]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDataSource](
	[DataSourceID] [int] IDENTITY(1,1) NOT NULL,
	[DefinitionID] [int] NOT NULL,
	[DatabaseName] [varchar](10) NOT NULL,
	[DataSourceName] [varchar](150) NOT NULL,
 CONSTRAINT [PK_ReportDataSource] PRIMARY KEY CLUSTERED 
(
	[DataSourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDataSourceRelationship]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDataSourceRelationship](
	[DataSourceRelationshipID] [int] IDENTITY(1,1) NOT NULL,
	[LeftDataSourceID] [int] NOT NULL,
	[RightDataSourceID] [int] NOT NULL,
	[Relationship] [varchar](250) NOT NULL,
	[LeftJoinColumn] [varchar](250) NOT NULL,
	[RightJoinColumn] [varchar](250) NOT NULL,
 CONSTRAINT [PK_ReportDataSourceRelationship] PRIMARY KEY CLUSTERED 
(
	[DataSourceRelationshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDefinition]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDefinition](
	[DefinitionID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
	[StyleClass] [varchar](250) NULL,
	[Type] [varchar](15) NULL,
	[DisplayKey] [varchar](50) NULL,
	[DefinitionKey] [varchar](50) NULL,
 CONSTRAINT [PK_Definition] PRIMARY KEY CLUSTERED 
(
	[DefinitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportFilter]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportFilter](
	[FilterID] [int] IDENTITY(1,1) NOT NULL,
	[DefinitionID] [int] NOT NULL,
	[DataSourceID] [int] NOT NULL,
	[ColumnID] [int] NOT NULL,
	[SqlType] [int] NULL,
	[InputType] [varchar](150) NULL,
	[Name] [varchar](250) NULL,
	[Type] [varchar](15) NOT NULL,
	[DefaultValue] [varchar](250) NULL,
	[Operator] [varchar](5) NULL,
	[Required] [bit] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[FilterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportFilterOption]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportFilterOption](
	[FilterOptionID] [int] IDENTITY(1,1) NOT NULL,
	[FilterID] [int] NOT NULL,
	[Display] [varchar](250) NOT NULL,
	[Value] [varchar](250) NULL,
	[ClearFilter] [bit] NOT NULL,
 CONSTRAINT [PK_FilterSelection] PRIMARY KEY CLUSTERED 
(
	[FilterOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportFilterOptionQuery]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportFilterOptionQuery](
	[FilterOptionQueryID] [int] IDENTITY(1,1) NOT NULL,
	[FilterID] [int] NOT NULL,
	[Query] [varchar](max) NOT NULL,
	[DisplayColumn] [varchar](150) NOT NULL,
	[ValueColumn] [varchar](150) NOT NULL,
 CONSTRAINT [PK_ReportFilterOptionQuery] PRIMARY KEY CLUSTERED 
(
	[FilterOptionQueryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportGroup]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportGroup](
	[ReportGroupID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Application] [varchar](10) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[ContainerKey] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ReportGroup] PRIMARY KEY CLUSTERED 
(
	[ReportGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportGroupDefinition]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportGroupDefinition](
	[GroupDefinitionID] [int] IDENTITY(1,1) NOT NULL,
	[ReportGroupID] [int] NOT NULL,
	[ReportDefinitionID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_ReportGroupDefinition] PRIMARY KEY CLUSTERED 
(
	[GroupDefinitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportQuery]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportQuery](
	[QueryID] [int] IDENTITY(1,1) NOT NULL,
	[DefinitionID] [int] NOT NULL,
	[Query] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ReportQuery] PRIMARY KEY CLUSTERED 
(
	[QueryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISDistributionClientsAudit]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISDistributionClientsAudit](
	[DistributionClientAuditID] [int] IDENTITY(1,1) NOT NULL,
	[DistributionClientID] [int] NULL,
	[TemplateReportID] [varchar](6) NOT NULL,
	[IdentityKey] [varchar](6) NOT NULL,
	[ReportFrequencyID] [varchar](3) NOT NULL,
	[DeliveryDayID] [varchar](3) NULL,
	[DataDaysID] [char](2) NULL,
	[LastDistributedDate] [datetime] NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreateSupportUserID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifySupportUserID] [int] NULL,
	[ActiveDateModified] [datetime] NULL,
	[ActiveModifySupportUserID] [int] NULL,
	[EntityActive] [bit] NULL,
	[PackagesActive] [bit] NULL,
	[RecipientsActive] [bit] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
	[ExecutionOrder] [int] NULL,
	[LastSSISRunDate] [datetime] NULL,
	[FirstDistributionRequiredDate] [datetime] NULL,
	[FailEmailRecipientOverride] [varchar](100) NULL,
	[NextDistributionDate] [datetime] NULL,
 CONSTRAINT [PK_SSISDistributionClients_DistributionClientAuditID] PRIMARY KEY CLUSTERED 
(
	[DistributionClientAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISDistributionClientsEmailsAudit]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISDistributionClientsEmailsAudit](
	[DistributionClientsEmailsAuditID] [int] IDENTITY(1,1) NOT NULL,
	[DistributionClientsEmailsID] [int] NULL,
	[DistributionClientID] [int] NOT NULL,
	[Email] [varchar](254) NOT NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreateSupportUserID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifySupportUserID] [int] NULL,
	[ActiveDateModified] [datetime] NULL,
	[ActiveModifySupportUserID] [int] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_SSISDistributionClientsEmailsAudit_DistributionClientsEmailsAuditID] PRIMARY KEY CLUSTERED 
(
	[DistributionClientsEmailsAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISDistributionClientsFTPDistributionsAudit]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISDistributionClientsFTPDistributionsAudit](
	[SSISDistributionClientsFTPDistributionsAuditID] [int] IDENTITY(1,1) NOT NULL,
	[SSISDistributionClientsFTPDistributionsID] [int] NULL,
	[DistributionClientID] [int] NOT NULL,
	[FTPUploadType] [varchar](15) NOT NULL,
	[LastUploadedDate] [datetime] NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreateSupportUserID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifySupportUserID] [int] NULL,
	[PackageVariable_workingDirectory] [varchar](150) NOT NULL,
	[PackageVariable_sftpLocation] [varchar](350) NULL,
	[PackageVariable_clientReportName] [varchar](150) NULL,
	[PackageVariable_uploadFileName] [varchar](150) NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
	[PackageVariable_sftpCredentials] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[SSISDistributionClientsFTPDistributionsAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISDistributionClientsSystemUserActions]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISDistributionClientsSystemUserActions](
	[SystemUserID] [int] NOT NULL,
	[ActionType] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SystemUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISReportFrequencyDeliveryDaysAllowed]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISReportFrequencyDeliveryDaysAllowed](
	[ReportFrequencyDeliveryDayID] [int] IDENTITY(1000,1) NOT NULL,
	[ReportFrequencyID] [varchar](3) NOT NULL,
	[DeliveryDayID] [varchar](3) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DisplayOrder] ASC,
	[ReportFrequencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ReportFrequencyID] ASC,
	[DeliveryDayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISTemplateReportFeatureNames]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISTemplateReportFeatureNames](
	[TemplateReportFeatureNameID]  AS ([TemplateReportID]+[FeatureName]) PERSISTED NOT NULL,
	[TemplateReportID] [varchar](6) NOT NULL,
	[FeatureName] [varchar](32) NOT NULL,
	[MultiFeatureLogicalOperator] [varchar](3) NOT NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreateSupportUserID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifySupportUserID] [int] NULL,
	[ActiveDateModified] [datetime] NULL,
	[ActiveModifySupportUserID] [int] NULL,
 CONSTRAINT [PK_SSISTemplateReportFeatureNames_TemplateReportFeatureNameID] PRIMARY KEY CLUSTERED 
(
	[TemplateReportFeatureNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SSISTemplateReportFrequenciesAllowed]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISTemplateReportFrequenciesAllowed](
	[TemplateReportFrequencyAllowedID] [int] IDENTITY(1000,1) NOT NULL,
	[TemplateReportID] [varchar](6) NOT NULL,
	[ReportFrequencyID] [varchar](3) NOT NULL,
	[DataDaysID] [char](2) NOT NULL,
 CONSTRAINT [PK_SSISTemplateReportFrequenciesAllowed_TemplateReportFrequencyAllowedID] PRIMARY KEY CLUSTERED 
(
	[TemplateReportFrequencyAllowedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zDBTestTable]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zDBTestTable](
	[DBTestTableID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Host] [varchar](255) NULL,
	[Timestmp] [datetime] NOT NULL,
 CONSTRAINT [PK_zDBTestTable] PRIMARY KEY CLUSTERED 
(
	[DBTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zPoolTestTable]    Script Date: 8/15/2025 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zPoolTestTable](
	[PoolTestTableID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Column1] [bit] NULL,
 CONSTRAINT [PK_zPoolTestTable] PRIMARY KEY CLUSTERED 
(
	[PoolTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoryQuestion] ADD  CONSTRAINT [DF_CategoryQuestion_Height]  DEFAULT ('500px') FOR [Height]
GO
ALTER TABLE [dbo].[CategoryQuestion] ADD  CONSTRAINT [DF_CategoryQuestion_Width]  DEFAULT ('50%') FOR [Width]
GO
ALTER TABLE [dbo].[CategoryQuestion] ADD  CONSTRAINT [DF_CategoryQuestion_ShowTitle]  DEFAULT ((1)) FOR [ShowTitle]
GO
ALTER TABLE [dbo].[Dashboard] ADD  CONSTRAINT [DF_Dashboard_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Dashboard] ADD  CONSTRAINT [DF_Dashboard_ResetFilter]  DEFAULT ((0)) FOR [ResetFilter]
GO
ALTER TABLE [dbo].[DashboardCategory] ADD  CONSTRAINT [DF_DashboardCategory_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[DashboardCategory] ADD  CONSTRAINT [DF_DashboardCategory_ResetFilter]  DEFAULT ((0)) FOR [ResetFilter]
GO
ALTER TABLE [dbo].[DashboardCategory] ADD  CONSTRAINT [DF_DashboardCategory_APP]  DEFAULT ((0)) FOR [APP]
GO
ALTER TABLE [dbo].[DashboardCategoryQuestion] ADD  CONSTRAINT [DF_DashboardCategoryQuestion_Height]  DEFAULT ('500px') FOR [Height]
GO
ALTER TABLE [dbo].[DashboardCategoryQuestion] ADD  CONSTRAINT [DF_DashboardCategoryQuestion_Width]  DEFAULT ('50%') FOR [Width]
GO
ALTER TABLE [dbo].[DashboardCategoryQuestion] ADD  CONSTRAINT [DF_DashboardCategoryQuestion_ShowTitle]  DEFAULT ((1)) FOR [ShowTitle]
GO
ALTER TABLE [dbo].[DashboardQuestion] ADD  CONSTRAINT [DF_DashboardQuestion_Height]  DEFAULT ('500px') FOR [Height]
GO
ALTER TABLE [dbo].[DashboardQuestion] ADD  CONSTRAINT [DF_DashboardQuestion_Width]  DEFAULT ('50%') FOR [Width]
GO
ALTER TABLE [dbo].[DashboardQuestion] ADD  CONSTRAINT [DF_DashboardQuestion_ShowTitle]  DEFAULT ((1)) FOR [ShowTitle]
GO
ALTER TABLE [dbo].[Filter] ADD  CONSTRAINT [DF_Filter_Required]  DEFAULT ((0)) FOR [Required]
GO
ALTER TABLE [dbo].[Filter] ADD  CONSTRAINT [DF_Filter_Display]  DEFAULT ((1)) FOR [Display]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_ResetrFilter]  DEFAULT ((0)) FOR [ResetFilter]
GO
ALTER TABLE [dbo].[ReportColumn] ADD  CONSTRAINT [DF_ReportColumn_CountColumn]  DEFAULT ((0)) FOR [CountColumn]
GO
ALTER TABLE [dbo].[ReportColumn] ADD  CONSTRAINT [DF_ReportColumn_GroupBy]  DEFAULT ((0)) FOR [GroupBy]
GO
ALTER TABLE [dbo].[ReportColumn] ADD  CONSTRAINT [DF_ReportColumn_OrderBy]  DEFAULT ((0)) FOR [OrderBy]
GO
ALTER TABLE [dbo].[ReportColumn] ADD  CONSTRAINT [DF_ReportColumn_Distinct]  DEFAULT ((0)) FOR [Distinct]
GO
ALTER TABLE [dbo].[ReportColumn] ADD  CONSTRAINT [DF_ReportColumn_ShowInResult]  DEFAULT ((1)) FOR [ShowInResult]
GO
ALTER TABLE [dbo].[ReportDefinition] ADD  CONSTRAINT [DF_ReportDefinition_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ReportFilter] ADD  CONSTRAINT [DF_ReportFilter_Required]  DEFAULT ((0)) FOR [Required]
GO
ALTER TABLE [dbo].[ReportFilterOption] ADD  CONSTRAINT [DF_FilterSelection_ClearFilter]  DEFAULT ((0)) FOR [ClearFilter]
GO
ALTER TABLE [dbo].[SSISDistributionClients] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[SSISDistributionClientsFTPDistributions] ADD  CONSTRAINT [DF_PackageVariable_sftpCredentials]  DEFAULT (N'sftp://DBA:usr!4dba@ftp.intranet.dentalxchange.com:22/ -hostkey="ssh-rsa 1024 gptv0Mrpp97LqEWA96Opa4U0q2jYV65I+0fXPwkzvRo=" -timeout=180 -rawsettings SendBuf=0 SshSimple=0') FOR [PackageVariable_sftpCredentials]
GO
ALTER TABLE [dbo].[SSISReportClientTypes] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[SSISReportClientTypes] ADD  DEFAULT ((4021)) FOR [CreateSupportUserID]
GO
ALTER TABLE [dbo].[SSISTemplateReports] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[SSISTemplateReports] ADD  DEFAULT ((4021)) FOR [CreateSupportUserID]
GO
ALTER TABLE [dbo].[zDBTestTable] ADD  CONSTRAINT [DF_zDBTestTable_Timestmp]  DEFAULT (getdate()) FOR [Timestmp]
GO
ALTER TABLE [dbo].[CategoryQuestion]  WITH CHECK ADD  CONSTRAINT [FK_CategoryQuestion_Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[CategoryQuestion] CHECK CONSTRAINT [FK_CategoryQuestion_Category_CategoryID]
GO
ALTER TABLE [dbo].[CategoryQuestion]  WITH CHECK ADD  CONSTRAINT [FK_CategoryQuestion_Question_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[CategoryQuestion] CHECK CONSTRAINT [FK_CategoryQuestion_Question_QuestionID]
GO
ALTER TABLE [dbo].[DashboardCategory]  WITH CHECK ADD  CONSTRAINT [FK_DashboardCategory_Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[DashboardCategory] CHECK CONSTRAINT [FK_DashboardCategory_Category_CategoryID]
GO
ALTER TABLE [dbo].[DashboardCategory]  WITH CHECK ADD  CONSTRAINT [FK_DashboardCategory_Dashboard_DashboardID] FOREIGN KEY([DashboardID])
REFERENCES [dbo].[Dashboard] ([DashboardID])
GO
ALTER TABLE [dbo].[DashboardCategory] CHECK CONSTRAINT [FK_DashboardCategory_Dashboard_DashboardID]
GO
ALTER TABLE [dbo].[DashboardCategoryFilter]  WITH CHECK ADD  CONSTRAINT [FK_DashboardCategoryFilter_DashboardCategory_DashboardCategoryID] FOREIGN KEY([DashboardCategoryID])
REFERENCES [dbo].[DashboardCategory] ([DashboardCategoryID])
GO
ALTER TABLE [dbo].[DashboardCategoryFilter] CHECK CONSTRAINT [FK_DashboardCategoryFilter_DashboardCategory_DashboardCategoryID]
GO
ALTER TABLE [dbo].[DashboardCategoryFilter]  WITH CHECK ADD  CONSTRAINT [FK_DashboardCategoryFilter_Filter_FilterID] FOREIGN KEY([FilterID])
REFERENCES [dbo].[Filter] ([FilterID])
GO
ALTER TABLE [dbo].[DashboardCategoryFilter] CHECK CONSTRAINT [FK_DashboardCategoryFilter_Filter_FilterID]
GO
ALTER TABLE [dbo].[DashboardCategoryQuestion]  WITH CHECK ADD  CONSTRAINT [FK_DashboardCategoryQuestion_DashboardCategory_DashboardCategoryID] FOREIGN KEY([DashboardCategoryID])
REFERENCES [dbo].[DashboardCategory] ([DashboardCategoryID])
GO
ALTER TABLE [dbo].[DashboardCategoryQuestion] CHECK CONSTRAINT [FK_DashboardCategoryQuestion_DashboardCategory_DashboardCategoryID]
GO
ALTER TABLE [dbo].[DashboardCategoryQuestion]  WITH CHECK ADD  CONSTRAINT [FK_DashboardCategoryQuestion_Question_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[DashboardCategoryQuestion] CHECK CONSTRAINT [FK_DashboardCategoryQuestion_Question_QuestionID]
GO
ALTER TABLE [dbo].[DashboardFilter]  WITH CHECK ADD  CONSTRAINT [FK_DashboardFilter_Dashboard_DashboardID] FOREIGN KEY([DashboardID])
REFERENCES [dbo].[Dashboard] ([DashboardID])
GO
ALTER TABLE [dbo].[DashboardFilter] CHECK CONSTRAINT [FK_DashboardFilter_Dashboard_DashboardID]
GO
ALTER TABLE [dbo].[DashboardFilter]  WITH CHECK ADD  CONSTRAINT [FK_DashboardFilter_Filter_FilterID] FOREIGN KEY([FilterID])
REFERENCES [dbo].[Filter] ([FilterID])
GO
ALTER TABLE [dbo].[DashboardFilter] CHECK CONSTRAINT [FK_DashboardFilter_Filter_FilterID]
GO
ALTER TABLE [dbo].[DashboardQuestion]  WITH CHECK ADD  CONSTRAINT [FK_DashboardQuestion_Dashboard_DashboardID] FOREIGN KEY([DashboardID])
REFERENCES [dbo].[Dashboard] ([DashboardID])
GO
ALTER TABLE [dbo].[DashboardQuestion] CHECK CONSTRAINT [FK_DashboardQuestion_Dashboard_DashboardID]
GO
ALTER TABLE [dbo].[DashboardQuestion]  WITH CHECK ADD  CONSTRAINT [FK_DashboardQuestion_Question_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[DashboardQuestion] CHECK CONSTRAINT [FK_DashboardQuestion_Question_QuestionID]
GO
ALTER TABLE [dbo].[FilterDefault]  WITH CHECK ADD  CONSTRAINT [FK_FilterDefault_Filter_FilterID] FOREIGN KEY([FilterID])
REFERENCES [dbo].[Filter] ([FilterID])
GO
ALTER TABLE [dbo].[FilterDefault] CHECK CONSTRAINT [FK_FilterDefault_Filter_FilterID]
GO
ALTER TABLE [dbo].[FilterOption]  WITH CHECK ADD  CONSTRAINT [FK_FilterOption_Filter_FilterID] FOREIGN KEY([FilterID])
REFERENCES [dbo].[Filter] ([FilterID])
GO
ALTER TABLE [dbo].[FilterOption] CHECK CONSTRAINT [FK_FilterOption_Filter_FilterID]
GO
ALTER TABLE [dbo].[FilterQuery]  WITH CHECK ADD  CONSTRAINT [FK_FilterQuery_Filter_FilterID] FOREIGN KEY([FilterID])
REFERENCES [dbo].[Filter] ([FilterID])
GO
ALTER TABLE [dbo].[FilterQuery] CHECK CONSTRAINT [FK_FilterQuery_Filter_FilterID]
GO
ALTER TABLE [dbo].[QuestionFilter]  WITH CHECK ADD  CONSTRAINT [FK_QuestionFilter_Filter_FilterID] FOREIGN KEY([FilterID])
REFERENCES [dbo].[Filter] ([FilterID])
GO
ALTER TABLE [dbo].[QuestionFilter] CHECK CONSTRAINT [FK_QuestionFilter_Filter_FilterID]
GO
ALTER TABLE [dbo].[QuestionFilter]  WITH CHECK ADD  CONSTRAINT [FK_QuestionFilter_Question_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[QuestionFilter] CHECK CONSTRAINT [FK_QuestionFilter_Question_QuestionID]
GO
ALTER TABLE [dbo].[ReportChart]  WITH CHECK ADD  CONSTRAINT [FK_ReportChart_ReportDefinition_DefinitionID] FOREIGN KEY([DefinitionID])
REFERENCES [dbo].[ReportDefinition] ([DefinitionID])
GO
ALTER TABLE [dbo].[ReportChart] CHECK CONSTRAINT [FK_ReportChart_ReportDefinition_DefinitionID]
GO
ALTER TABLE [dbo].[ReportChartColumn]  WITH CHECK ADD  CONSTRAINT [FK_ReportChartColumn_ReportChart_ChartID] FOREIGN KEY([ChartID])
REFERENCES [dbo].[ReportChart] ([ChartID])
GO
ALTER TABLE [dbo].[ReportChartColumn] CHECK CONSTRAINT [FK_ReportChartColumn_ReportChart_ChartID]
GO
ALTER TABLE [dbo].[ReportColumn]  WITH CHECK ADD  CONSTRAINT [FK_ReportColumn_ReportDataSource] FOREIGN KEY([DataSourceID])
REFERENCES [dbo].[ReportDataSource] ([DataSourceID])
GO
ALTER TABLE [dbo].[ReportColumn] CHECK CONSTRAINT [FK_ReportColumn_ReportDataSource]
GO
ALTER TABLE [dbo].[ReportColumn]  WITH CHECK ADD  CONSTRAINT [FK_ReportColumn_ReportDefinition_LinkDefinitionID] FOREIGN KEY([LinkDefinitionID])
REFERENCES [dbo].[ReportDefinition] ([DefinitionID])
GO
ALTER TABLE [dbo].[ReportColumn] CHECK CONSTRAINT [FK_ReportColumn_ReportDefinition_LinkDefinitionID]
GO
ALTER TABLE [dbo].[ReportColumnTransformation]  WITH CHECK ADD  CONSTRAINT [FK_ReportColumnTransformation_ReportColumn_ColumnID] FOREIGN KEY([ColumnID])
REFERENCES [dbo].[ReportColumn] ([ColumnID])
GO
ALTER TABLE [dbo].[ReportColumnTransformation] CHECK CONSTRAINT [FK_ReportColumnTransformation_ReportColumn_ColumnID]
GO
ALTER TABLE [dbo].[ReportColumnTransformation]  WITH CHECK ADD  CONSTRAINT [FK_ReportColumnTransformation_ReportDataSource_DataSourceID] FOREIGN KEY([DataSourceID])
REFERENCES [dbo].[ReportDataSource] ([DataSourceID])
GO
ALTER TABLE [dbo].[ReportColumnTransformation] CHECK CONSTRAINT [FK_ReportColumnTransformation_ReportDataSource_DataSourceID]
GO
ALTER TABLE [dbo].[ReportDataSource]  WITH CHECK ADD  CONSTRAINT [FK_ReportDataSource_ReportDataSource_ReportDefinitionID] FOREIGN KEY([DefinitionID])
REFERENCES [dbo].[ReportDefinition] ([DefinitionID])
GO
ALTER TABLE [dbo].[ReportDataSource] CHECK CONSTRAINT [FK_ReportDataSource_ReportDataSource_ReportDefinitionID]
GO
ALTER TABLE [dbo].[ReportDataSourceRelationship]  WITH CHECK ADD  CONSTRAINT [FK_ReportDataSourceRelationship_ReportDataSource_LeftDataSouceID] FOREIGN KEY([LeftDataSourceID])
REFERENCES [dbo].[ReportDataSource] ([DataSourceID])
GO
ALTER TABLE [dbo].[ReportDataSourceRelationship] CHECK CONSTRAINT [FK_ReportDataSourceRelationship_ReportDataSource_LeftDataSouceID]
GO
ALTER TABLE [dbo].[ReportDataSourceRelationship]  WITH CHECK ADD  CONSTRAINT [FK_ReportDataSourceRelationship_ReportDataSource_RightDataSourceID] FOREIGN KEY([RightDataSourceID])
REFERENCES [dbo].[ReportDataSource] ([DataSourceID])
GO
ALTER TABLE [dbo].[ReportDataSourceRelationship] CHECK CONSTRAINT [FK_ReportDataSourceRelationship_ReportDataSource_RightDataSourceID]
GO
ALTER TABLE [dbo].[ReportFilter]  WITH CHECK ADD  CONSTRAINT [FK_ReportFilter_ReportColumn_ColumnID] FOREIGN KEY([ColumnID])
REFERENCES [dbo].[ReportColumn] ([ColumnID])
GO
ALTER TABLE [dbo].[ReportFilter] CHECK CONSTRAINT [FK_ReportFilter_ReportColumn_ColumnID]
GO
ALTER TABLE [dbo].[ReportFilter]  WITH CHECK ADD  CONSTRAINT [FK_ReportFilter_ReportDataSource_DataSourceID] FOREIGN KEY([DataSourceID])
REFERENCES [dbo].[ReportDataSource] ([DataSourceID])
GO
ALTER TABLE [dbo].[ReportFilter] CHECK CONSTRAINT [FK_ReportFilter_ReportDataSource_DataSourceID]
GO
ALTER TABLE [dbo].[ReportFilter]  WITH CHECK ADD  CONSTRAINT [FK_ReportFilter_ReportDefinition_DefinitionID] FOREIGN KEY([DefinitionID])
REFERENCES [dbo].[ReportDefinition] ([DefinitionID])
GO
ALTER TABLE [dbo].[ReportFilter] CHECK CONSTRAINT [FK_ReportFilter_ReportDefinition_DefinitionID]
GO
ALTER TABLE [dbo].[ReportFilterOption]  WITH CHECK ADD  CONSTRAINT [FK_ReportFilterOption_ReportFilter_FilterID] FOREIGN KEY([FilterID])
REFERENCES [dbo].[ReportFilter] ([FilterID])
GO
ALTER TABLE [dbo].[ReportFilterOption] CHECK CONSTRAINT [FK_ReportFilterOption_ReportFilter_FilterID]
GO
ALTER TABLE [dbo].[ReportFilterOptionQuery]  WITH CHECK ADD  CONSTRAINT [FK_ReportFilterOptionQuery_ReportFilter_FilterID] FOREIGN KEY([FilterID])
REFERENCES [dbo].[ReportFilter] ([FilterID])
GO
ALTER TABLE [dbo].[ReportFilterOptionQuery] CHECK CONSTRAINT [FK_ReportFilterOptionQuery_ReportFilter_FilterID]
GO
ALTER TABLE [dbo].[ReportGroupDefinition]  WITH CHECK ADD  CONSTRAINT [FK_ReportGroupDefinition_ReportDefinition_DefnitIonID] FOREIGN KEY([ReportDefinitionID])
REFERENCES [dbo].[ReportDefinition] ([DefinitionID])
GO
ALTER TABLE [dbo].[ReportGroupDefinition] CHECK CONSTRAINT [FK_ReportGroupDefinition_ReportDefinition_DefnitIonID]
GO
ALTER TABLE [dbo].[ReportGroupDefinition]  WITH CHECK ADD  CONSTRAINT [FK_ReportGroupDefinition_ReportGroup_ReportGroupID] FOREIGN KEY([ReportGroupID])
REFERENCES [dbo].[ReportGroup] ([ReportGroupID])
GO
ALTER TABLE [dbo].[ReportGroupDefinition] CHECK CONSTRAINT [FK_ReportGroupDefinition_ReportGroup_ReportGroupID]
GO
ALTER TABLE [dbo].[ReportQuery]  WITH CHECK ADD  CONSTRAINT [FK_ReportQuery_ReportDefinition_DefinitionID] FOREIGN KEY([DefinitionID])
REFERENCES [dbo].[ReportDefinition] ([DefinitionID])
GO
ALTER TABLE [dbo].[ReportQuery] CHECK CONSTRAINT [FK_ReportQuery_ReportDefinition_DefinitionID]
GO
ALTER TABLE [dbo].[SSISDistributionClients]  WITH CHECK ADD  CONSTRAINT [FK_SSISDistributionClients_DataDaysID] FOREIGN KEY([DataDaysID])
REFERENCES [dbo].[SSISDataDays] ([DataDaysID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISDistributionClients] CHECK CONSTRAINT [FK_SSISDistributionClients_DataDaysID]
GO
ALTER TABLE [dbo].[SSISDistributionClients]  WITH CHECK ADD  CONSTRAINT [FK_SSISDistributionClients_DeliveryDayID] FOREIGN KEY([DeliveryDayID])
REFERENCES [dbo].[SSISDeliveryDays] ([DeliveryDayID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISDistributionClients] CHECK CONSTRAINT [FK_SSISDistributionClients_DeliveryDayID]
GO
ALTER TABLE [dbo].[SSISDistributionClients]  WITH CHECK ADD  CONSTRAINT [FK_SSISDistributionClients_ReportFrequencyID] FOREIGN KEY([ReportFrequencyID])
REFERENCES [dbo].[SSISReportFrequencies] ([ReportFrequencyID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISDistributionClients] CHECK CONSTRAINT [FK_SSISDistributionClients_ReportFrequencyID]
GO
ALTER TABLE [dbo].[SSISDistributionClients]  WITH CHECK ADD  CONSTRAINT [FK_SSISDistributionClients_TemplateReportID] FOREIGN KEY([TemplateReportID])
REFERENCES [dbo].[SSISTemplateReports] ([TemplateReportID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISDistributionClients] CHECK CONSTRAINT [FK_SSISDistributionClients_TemplateReportID]
GO
ALTER TABLE [dbo].[SSISDistributionClientsEmails]  WITH CHECK ADD  CONSTRAINT [FK_SSISDistributionClientsEmails_DistributionClientID] FOREIGN KEY([DistributionClientID])
REFERENCES [dbo].[SSISDistributionClients] ([DistributionClientID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISDistributionClientsEmails] CHECK CONSTRAINT [FK_SSISDistributionClientsEmails_DistributionClientID]
GO
ALTER TABLE [dbo].[SSISDistributionClientsFTPDistributions]  WITH CHECK ADD  CONSTRAINT [FK_SSISDistributionClientsFTPDistributions_DistributionClientID] FOREIGN KEY([DistributionClientID])
REFERENCES [dbo].[SSISDistributionClients] ([DistributionClientID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISDistributionClientsFTPDistributions] CHECK CONSTRAINT [FK_SSISDistributionClientsFTPDistributions_DistributionClientID]
GO
ALTER TABLE [dbo].[SSISGrandfatheredReportsMap]  WITH CHECK ADD  CONSTRAINT [FK_SSISGrandfatheredReportsMap_DistributionClientID] FOREIGN KEY([DistributionClientID])
REFERENCES [dbo].[SSISDistributionClients] ([DistributionClientID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISGrandfatheredReportsMap] CHECK CONSTRAINT [FK_SSISGrandfatheredReportsMap_DistributionClientID]
GO
ALTER TABLE [dbo].[SSISReportFrequencyDeliveryDaysAllowed]  WITH CHECK ADD  CONSTRAINT [FK_SSISReportFrequencyDeliveryDaysAllowed_DeliveryDayID] FOREIGN KEY([DeliveryDayID])
REFERENCES [dbo].[SSISDeliveryDays] ([DeliveryDayID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISReportFrequencyDeliveryDaysAllowed] CHECK CONSTRAINT [FK_SSISReportFrequencyDeliveryDaysAllowed_DeliveryDayID]
GO
ALTER TABLE [dbo].[SSISReportFrequencyDeliveryDaysAllowed]  WITH CHECK ADD  CONSTRAINT [FK_SSISReportFrequencyDeliveryDaysAllowed_ReportFrequencyID] FOREIGN KEY([ReportFrequencyID])
REFERENCES [dbo].[SSISReportFrequencies] ([ReportFrequencyID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISReportFrequencyDeliveryDaysAllowed] CHECK CONSTRAINT [FK_SSISReportFrequencyDeliveryDaysAllowed_ReportFrequencyID]
GO
ALTER TABLE [dbo].[SSISTemplateReportFeatureNames]  WITH CHECK ADD  CONSTRAINT [FK_SSISTemplateReportFeatureNames_TemplateReportID] FOREIGN KEY([TemplateReportID])
REFERENCES [dbo].[SSISTemplateReports] ([TemplateReportID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISTemplateReportFeatureNames] CHECK CONSTRAINT [FK_SSISTemplateReportFeatureNames_TemplateReportID]
GO
ALTER TABLE [dbo].[SSISTemplateReportFrequenciesAllowed]  WITH CHECK ADD  CONSTRAINT [FK_SSISTemplateReportFrequenciesAllowed_DataDaysID] FOREIGN KEY([DataDaysID])
REFERENCES [dbo].[SSISDataDays] ([DataDaysID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISTemplateReportFrequenciesAllowed] CHECK CONSTRAINT [FK_SSISTemplateReportFrequenciesAllowed_DataDaysID]
GO
ALTER TABLE [dbo].[SSISTemplateReportFrequenciesAllowed]  WITH CHECK ADD  CONSTRAINT [FK_SSISTemplateReportFrequenciesAllowed_ReportFrequencyID] FOREIGN KEY([ReportFrequencyID])
REFERENCES [dbo].[SSISReportFrequencies] ([ReportFrequencyID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISTemplateReportFrequenciesAllowed] CHECK CONSTRAINT [FK_SSISTemplateReportFrequenciesAllowed_ReportFrequencyID]
GO
ALTER TABLE [dbo].[SSISTemplateReportFrequenciesAllowed]  WITH CHECK ADD  CONSTRAINT [FK_SSISTemplateReportFrequenciesAllowed_TemplateReportID] FOREIGN KEY([TemplateReportID])
REFERENCES [dbo].[SSISTemplateReports] ([TemplateReportID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISTemplateReportFrequenciesAllowed] CHECK CONSTRAINT [FK_SSISTemplateReportFrequenciesAllowed_TemplateReportID]
GO
ALTER TABLE [dbo].[SSISTemplateReports]  WITH CHECK ADD  CONSTRAINT [FK_SSISTemplateReports_ReportClientTypeID] FOREIGN KEY([ReportClientTypeID])
REFERENCES [dbo].[SSISReportClientTypes] ([ReportClientTypeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SSISTemplateReports] CHECK CONSTRAINT [FK_SSISTemplateReports_ReportClientTypeID]
GO
ALTER TABLE [dbo].[SSISTemplateReportFeatureNames]  WITH CHECK ADD  CONSTRAINT [CK_SSISTemplateReportFeatureNames_MultiFeatureLogicalOperator] CHECK  (([MultiFeatureLogicalOperator]='OR' OR [MultiFeatureLogicalOperator]='AND' OR [MultiFeatureLogicalOperator]='NA'))
GO
ALTER TABLE [dbo].[SSISTemplateReportFeatureNames] CHECK CONSTRAINT [CK_SSISTemplateReportFeatureNames_MultiFeatureLogicalOperator]
GO
