USE [ddir]
GO
/****** Object:  Table [dbo].[Association]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Association](
	[AssociationID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Abbreviation] [varchar](15) NULL,
	[Url] [varchar](250) NULL,
	[LogoSource] [varchar](250) NULL,
 CONSTRAINT [PK_Association] PRIMARY KEY CLUSTERED 
(
	[AssociationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [UQ_Association_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillingActivity]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingActivity](
	[BillingActivityID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ContractID] [int] NOT NULL,
	[PriceScheduleID] [int] NULL,
	[WidgetID] [nvarchar](20) NOT NULL,
	[WidgetType] [nvarchar](10) NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[StatementItemID] [int] NULL,
	[ResellerStatementID] [int] NULL,
	[VendorStatementID] [int] NULL,
	[GroupCommissionID] [int] NULL,
	[CommissionStatementItemID] [int] NULL,
	[SubscriptionCharge] [bit] NULL,
 CONSTRAINT [PK_BillingActivity] PRIMARY KEY CLUSTERED 
(
	[BillingActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CallAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CallAudit](
	[CallAuditID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CallGUID] [varchar](50) NOT NULL,
	[CallType] [varchar](15) NOT NULL,
	[GroupId] [int] NOT NULL,
	[ContractID] [int] NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[CallTime] [int] NOT NULL,
	[InboundNumber] [varchar](30) NOT NULL,
	[OutboundNumber] [varchar](30) NULL,
	[Language] [int] NULL,
	[ZipEntry] [varchar](15) NULL,
	[ExtensionEntry] [varchar](15) NULL,
	[SelectionPageNum] [int] NULL,
	[SmsSent] [bit] NULL,
	[SmsNumber] [varchar](30) NULL,
	[CallOutcome] [varchar](15) NULL,
	[TransferChoice] [bit] NULL,
	[TransferSuccess] [bit] NULL,
	[TransferTime] [datetime] NULL,
	[TalkTime] [int] NULL,
	[CampaignID] [int] NULL,
	[MessageID] [varchar](50) NULL,
 CONSTRAINT [PK_CallAudit] PRIMARY KEY CLUSTERED 
(
	[CallAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaign]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign](
	[CampaignID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Source] [varchar](50) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Campaign] PRIMARY KEY CLUSTERED 
(
	[CampaignID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditOption]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditOption](
	[GroupID] [int] NOT NULL,
	[CreditOptionName] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_CreditOption] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[CreditOptionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DentalProduct]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DentalProduct](
	[ProductID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_DentalProduct] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dentist]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dentist](
	[GroupID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[Education] [varchar](250) NULL,
	[SubProfID] [varchar](10) NULL,
	[Active] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Dentist] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorMessage]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorMessage](
	[ErrorCode] [varchar](50) NOT NULL,
	[Description] [varchar](512) NOT NULL,
 CONSTRAINT [PK_ErrorMessage] PRIMARY KEY CLUSTERED 
(
	[ErrorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[LanguageID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[LanguageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketingSourceAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketingSourceAudit](
	[MarketingSourceAuditID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Source] [varchar](150) NOT NULL,
	[SearchZip] [varchar](10) NULL,
	[SearchCity] [varchar](250) NULL,
	[SearchState] [varchar](2) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MarketingSourceAudit] PRIMARY KEY CLUSTERED 
(
	[MarketingSourceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfferCondition]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfferCondition](
	[OfferConditionID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Condition] [varchar](500) NOT NULL,
	[Summary] [varchar](500) NULL,
	[FirstValueRequired] [bit] NOT NULL,
	[SecondValueRequired] [bit] NOT NULL,
 CONSTRAINT [PK_OfferCondition] PRIMARY KEY CLUSTERED 
(
	[OfferConditionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageFeature]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageFeature](
	[PageName] [varchar](50) NOT NULL,
	[FeatureName] [char](32) NOT NULL,
 CONSTRAINT [PK_PageFeature] PRIMARY KEY CLUSTERED 
(
	[PageName] ASC,
	[FeatureName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientMessage]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMessage](
	[PatientMessageID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GroupID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[Email] [varchar](150) NULL,
	[Insurance] [bit] NULL,
	[VisitDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserID] [int] NULL,
	[ViewedDate] [datetime] NULL,
	[PurposeOfVisit] [text] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_PatientMessage] PRIMARY KEY CLUSTERED 
(
	[PatientMessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentOption]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentOption](
	[GroupID] [int] NOT NULL,
	[PaymentOptionName] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentOption] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[PaymentOptionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentOptionAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentOptionAudit](
	[PaymentOptionAuditID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[PaymentOptionName] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Active] [bit] NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_PaymentOptionAudit] PRIMARY KEY CLUSTERED 
(
	[PaymentOptionAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Practice]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Practice](
	[GroupID] [int] NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[AddressLine1] [varchar](150) NOT NULL,
	[AddressLine2] [varchar](50) NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](2) NOT NULL,
	[Zip] [varchar](50) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Fax] [varchar](50) NULL,
	[Email] [varchar](254) NULL,
	[WebsiteUrl] [varchar](250) NULL,
	[Description] [varchar](3000) NOT NULL,
	[AcceptHMO] [bit] NULL,
	[AcceptPPO] [bit] NULL,
	[HandicapAccess] [bit] NULL,
	[PublishOnDirectory] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Lat] [float] NULL,
	[Lon] [float] NULL,
	[Approved] [bit] NOT NULL,
	[PhoneticName] [varchar](500) NULL,
	[DDSWebBasicSiteName] [varchar](50) NULL,
	[DDSWebBasicSiteDomainId] [int] NULL,
	[UsePracticePhone] [bit] NOT NULL,
 CONSTRAINT [PK_Practice] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeAssociation]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeAssociation](
	[GroupID] [int] NOT NULL,
	[AssociationID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_PracticeAssociation] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[AssociationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeAssociationAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeAssociationAudit](
	[PracticeAssociationAudit] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[AssociationID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_PracticeAssociationAudit] PRIMARY KEY CLUSTERED 
(
	[PracticeAssociationAudit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeAudit](
	[PracticeAudit] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[PhoneticName] [varchar](500) NULL,
	[AddressLine1] [varchar](150) NOT NULL,
	[AddressLine2] [varchar](50) NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](2) NOT NULL,
	[Zip] [varchar](50) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Fax] [varchar](50) NULL,
	[Email] [varchar](254) NULL,
	[WebsiteUrl] [varchar](250) NULL,
	[Description] [varchar](3000) NOT NULL,
	[Lat] [float] NULL,
	[Lon] [float] NULL,
	[AcceptHMO] [bit] NULL,
	[AcceptPPO] [bit] NULL,
	[HandicapAccess] [bit] NULL,
	[PublishOnDirectory] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Approved] [bit] NOT NULL,
	[DDSWebBasicSiteName] [varchar](50) NULL,
	[DDSWebBasicSiteDomainId] [int] NULL,
	[UsePracticePhone] [bit] NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_PracticeAudit] PRIMARY KEY CLUSTERED 
(
	[PracticeAudit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeDentalProduct]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeDentalProduct](
	[GroupID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_PracticeDentalProduct] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeDentalProductAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeDentalProductAudit](
	[GroupID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Active] [bit] NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeHours]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeHours](
	[GroupID] [int] NOT NULL,
	[CalendarDay] [int] NOT NULL,
	[OpenHour] [int] NULL,
	[OpenMinute] [int] NULL,
	[CloseHour] [int] NULL,
	[CloseMinute] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Closed] [bit] NOT NULL,
	[ByAppointment] [bit] NOT NULL,
 CONSTRAINT [PK_PracticeHours] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[CalendarDay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeHoursAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeHoursAudit](
	[PracticeHoursAuditID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[CalendarDay] [int] NOT NULL,
	[OpenHour] [int] NULL,
	[OpenMinute] [int] NULL,
	[CloseHour] [int] NULL,
	[CloseMinute] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Closed] [bit] NOT NULL,
	[ByAppointment] [bit] NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_PracticeHoursAudit] PRIMARY KEY CLUSTERED 
(
	[PracticeHoursAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeLanguage]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeLanguage](
	[GroupID] [int] NOT NULL,
	[LanguageID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_PracticeLanguage] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[LanguageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeLanguageAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeLanguageAudit](
	[PracticeLanguageAuditID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[LanguageID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_PracticeLanguageAudit] PRIMARY KEY CLUSTERED 
(
	[PracticeLanguageAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeOffer]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeOffer](
	[PracticeOfferID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GroupID] [int] NOT NULL,
	[OfferContent] [varchar](140) NOT NULL,
	[Disclaimer] [varchar](120) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_PracticeOffer] PRIMARY KEY CLUSTERED 
(
	[PracticeOfferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeOfferAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeOfferAudit](
	[PracticeOfferID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[OfferContent] [varchar](140) NOT NULL,
	[Disclaimer] [varchar](120) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeOfferOld]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeOfferOld](
	[PracticeOfferID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[OfferConditionID] [int] NOT NULL,
	[FirstValueType] [int] NULL,
	[FirstValue] [int] NULL,
	[SecondValueType] [int] NULL,
	[SecondValue] [int] NULL,
	[Comment] [varchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_PracticeOfferOld] PRIMARY KEY CLUSTERED 
(
	[PracticeOfferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeProfile]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeProfile](
	[GroupID] [int] NOT NULL,
	[PublishDentists] [bit] NULL,
	[PublishServices] [bit] NULL,
	[PublishPaymentOptions] [bit] NULL,
	[PublishCreditOptions] [bit] NULL,
	[PublishPracticeHours] [bit] NULL,
	[PublishLanguages] [bit] NULL,
	[PublishAssociations] [bit] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[PublishDentalProducts] [bit] NULL,
	[PublishClickToCall] [bit] NULL,
	[PublishOffers] [bit] NULL,
 CONSTRAINT [PK_PracticeProfile] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeProfileAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeProfileAudit](
	[PracticeProfileAuditID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[PublishDentists] [bit] NULL,
	[PublishServices] [bit] NULL,
	[PublishPaymentOptions] [bit] NULL,
	[PublishCreditOptions] [bit] NULL,
	[PublishPracticeHours] [bit] NULL,
	[PublishLanguages] [bit] NULL,
	[PublishAssociations] [bit] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[PublishDentalProducts] [bit] NULL,
	[PublishClickToCall] [bit] NULL,
	[PublishOffers] [bit] NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_PracticeProfileAudit] PRIMARY KEY CLUSTERED 
(
	[PracticeProfileAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeService]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeService](
	[GroupID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_PracticeService] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeServiceAudit]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeServiceAudit](
	[PracticeServiceAuditID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Active] [bit] NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_PracticeServiceAudit] PRIMARY KEY CLUSTERED 
(
	[PracticeServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[SearchKey] [varchar](150) NOT NULL,
	[Description] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sitemap]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sitemap](
	[SitemapID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Content] [text] NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Sitemap] PRIMARY KEY CLUSTERED 
(
	[SitemapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAgreement]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAgreement](
	[UserAgreementID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[VersionID] [int] NULL,
 CONSTRAINT [PK_UserAgreement] PRIMARY KEY CLUSTERED 
(
	[UserAgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoicestarConfig]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoicestarConfig](
	[GroupId] [int] NOT NULL,
	[VoicestarAcctID] [varchar](50) NOT NULL,
	[AdGroupID] [varchar](50) NULL,
	[ClickToCallSetup] [bit] NOT NULL,
	[ClickToCallCampaignID] [varchar](50) NULL,
	[InboundNumberSetup] [bit] NOT NULL,
	[InboundNumberCampaignID] [varchar](50) NULL,
	[InboundNumber] [varchar](10) NULL,
 CONSTRAINT [PK_VoiceStarConfig] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zDBTestTable]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zDBTestTable](
	[DBTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [nvarchar](255) NULL,
	[Timestmp] [datetime] NOT NULL,
 CONSTRAINT [PK_zDBTestTable] PRIMARY KEY CLUSTERED 
(
	[DBTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zPoolTestTable]    Script Date: 8/15/2025 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zPoolTestTable](
	[PoolTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Column1] [bit] NULL,
 CONSTRAINT [PK_zPoolTestTable] PRIMARY KEY CLUSTERED 
(
	[PoolTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Campaign] ADD  CONSTRAINT [DF_Campaign_Active]  DEFAULT (0) FOR [Active]
GO
ALTER TABLE [dbo].[CreditOption] ADD  CONSTRAINT [DF_CreditOption_Active]  DEFAULT (0) FOR [Active]
GO
ALTER TABLE [dbo].[OfferCondition] ADD  CONSTRAINT [DF_OfferCondition_FirstValueRequired]  DEFAULT (1) FOR [FirstValueRequired]
GO
ALTER TABLE [dbo].[OfferCondition] ADD  CONSTRAINT [DF_OfferCondition_SecondValueRequired]  DEFAULT (1) FOR [SecondValueRequired]
GO
ALTER TABLE [dbo].[PatientMessage] ADD  CONSTRAINT [DF_PatientMessage_Active]  DEFAULT (1) FOR [Active]
GO
ALTER TABLE [dbo].[PaymentOption] ADD  CONSTRAINT [DF_PaymentOption_Active]  DEFAULT (0) FOR [Active]
GO
ALTER TABLE [dbo].[Practice] ADD  CONSTRAINT [DF_Practice_PublishOnDirectory]  DEFAULT (0) FOR [PublishOnDirectory]
GO
ALTER TABLE [dbo].[Practice] ADD  CONSTRAINT [DF_Practice_Approved]  DEFAULT (0) FOR [Approved]
GO
ALTER TABLE [dbo].[Practice] ADD  CONSTRAINT [DF_Practice_UsePracticePhone]  DEFAULT ((0)) FOR [UsePracticePhone]
GO
ALTER TABLE [dbo].[PracticeDentalProduct] ADD  CONSTRAINT [DF_PracticeDentalProduct_Active]  DEFAULT (0) FOR [Active]
GO
ALTER TABLE [dbo].[PracticeHours] ADD  CONSTRAINT [DF_PracticeHours_Closed]  DEFAULT (0) FOR [Closed]
GO
ALTER TABLE [dbo].[PracticeHours] ADD  CONSTRAINT [DF_PracticeHours_ByAppointment]  DEFAULT (0) FOR [ByAppointment]
GO
ALTER TABLE [dbo].[PracticeProfile] ADD  CONSTRAINT [DF_PracticeProfile_PublishDentists]  DEFAULT (0) FOR [PublishDentists]
GO
ALTER TABLE [dbo].[PracticeProfile] ADD  CONSTRAINT [DF_PracticeProfile_PublishServices]  DEFAULT (0) FOR [PublishServices]
GO
ALTER TABLE [dbo].[PracticeProfile] ADD  CONSTRAINT [DF_PracticeProfile_PublishPaymentOptions]  DEFAULT (0) FOR [PublishPaymentOptions]
GO
ALTER TABLE [dbo].[PracticeProfile] ADD  CONSTRAINT [DF_PracticeProfile_PublishCreditOptions]  DEFAULT (0) FOR [PublishCreditOptions]
GO
ALTER TABLE [dbo].[PracticeProfile] ADD  CONSTRAINT [DF_PracticeProfile_PublishPracticeHours]  DEFAULT (0) FOR [PublishPracticeHours]
GO
ALTER TABLE [dbo].[PracticeProfile] ADD  CONSTRAINT [DF_PracticeProfile_PublishLanguages]  DEFAULT (0) FOR [PublishLanguages]
GO
ALTER TABLE [dbo].[PracticeProfile] ADD  CONSTRAINT [DF_PracticeProfile_PublishAssociations]  DEFAULT (0) FOR [PublishAssociations]
GO
ALTER TABLE [dbo].[PracticeService] ADD  CONSTRAINT [DF_PracticeService_Active]  DEFAULT (0) FOR [Active]
GO
ALTER TABLE [dbo].[VoicestarConfig] ADD  CONSTRAINT [DF_VoiceStarConfig_ClickToCallSetUp]  DEFAULT (0) FOR [ClickToCallSetup]
GO
ALTER TABLE [dbo].[VoicestarConfig] ADD  CONSTRAINT [DF_VoiceStarConfig_InboundNumberSetup]  DEFAULT (0) FOR [InboundNumberSetup]
GO
ALTER TABLE [dbo].[zDBTestTable] ADD  CONSTRAINT [DF_zDBTestTable_Timestmp]  DEFAULT (getdate()) FOR [Timestmp]
GO
ALTER TABLE [dbo].[CallAudit]  WITH CHECK ADD  CONSTRAINT [FK_CallAudit_Practice_GroupID] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[CallAudit] CHECK CONSTRAINT [FK_CallAudit_Practice_GroupID]
GO
ALTER TABLE [dbo].[CreditOption]  WITH NOCHECK ADD  CONSTRAINT [FK_CreditOption_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[CreditOption] CHECK CONSTRAINT [FK_CreditOption_Practice_GroupID]
GO
ALTER TABLE [dbo].[Dentist]  WITH NOCHECK ADD  CONSTRAINT [FK_Dentist_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[Dentist] CHECK CONSTRAINT [FK_Dentist_Practice_GroupID]
GO
ALTER TABLE [dbo].[PatientMessage]  WITH CHECK ADD  CONSTRAINT [FK_PatientMessage_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[PatientMessage] CHECK CONSTRAINT [FK_PatientMessage_Practice_GroupID]
GO
ALTER TABLE [dbo].[PaymentOption]  WITH NOCHECK ADD  CONSTRAINT [FK_PaymentOption_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[PaymentOption] CHECK CONSTRAINT [FK_PaymentOption_Practice_GroupID]
GO
ALTER TABLE [dbo].[PracticeAssociation]  WITH CHECK ADD  CONSTRAINT [FK_PracticeAssociation_Association_AssociationID] FOREIGN KEY([AssociationID])
REFERENCES [dbo].[Association] ([AssociationID])
GO
ALTER TABLE [dbo].[PracticeAssociation] CHECK CONSTRAINT [FK_PracticeAssociation_Association_AssociationID]
GO
ALTER TABLE [dbo].[PracticeAssociation]  WITH NOCHECK ADD  CONSTRAINT [FK_PracticeAssociation_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[PracticeAssociation] CHECK CONSTRAINT [FK_PracticeAssociation_Practice_GroupID]
GO
ALTER TABLE [dbo].[PracticeHours]  WITH NOCHECK ADD  CONSTRAINT [FK_PracticeHours_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[PracticeHours] CHECK CONSTRAINT [FK_PracticeHours_Practice_GroupID]
GO
ALTER TABLE [dbo].[PracticeLanguage]  WITH CHECK ADD  CONSTRAINT [FK_PracticeLanguage_Language_LanguageID] FOREIGN KEY([LanguageID])
REFERENCES [dbo].[Language] ([LanguageID])
GO
ALTER TABLE [dbo].[PracticeLanguage] CHECK CONSTRAINT [FK_PracticeLanguage_Language_LanguageID]
GO
ALTER TABLE [dbo].[PracticeLanguage]  WITH NOCHECK ADD  CONSTRAINT [FK_PracticeLanguage_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[PracticeLanguage] CHECK CONSTRAINT [FK_PracticeLanguage_Practice_GroupID]
GO
ALTER TABLE [dbo].[PracticeOffer]  WITH CHECK ADD  CONSTRAINT [FK_PracticeOffer_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[PracticeOffer] CHECK CONSTRAINT [FK_PracticeOffer_Practice_GroupID]
GO
ALTER TABLE [dbo].[PracticeOfferOld]  WITH CHECK ADD  CONSTRAINT [FK_PracticeOfferOld_OfferCondition_OfferConditionID] FOREIGN KEY([OfferConditionID])
REFERENCES [dbo].[OfferCondition] ([OfferConditionID])
GO
ALTER TABLE [dbo].[PracticeOfferOld] CHECK CONSTRAINT [FK_PracticeOfferOld_OfferCondition_OfferConditionID]
GO
ALTER TABLE [dbo].[PracticeOfferOld]  WITH CHECK ADD  CONSTRAINT [FK_PracticeOfferOld_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[PracticeOfferOld] CHECK CONSTRAINT [FK_PracticeOfferOld_Practice_GroupID]
GO
ALTER TABLE [dbo].[PracticeProfile]  WITH NOCHECK ADD  CONSTRAINT [FK_PracticeProfile_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[PracticeProfile] CHECK CONSTRAINT [FK_PracticeProfile_Practice_GroupID]
GO
ALTER TABLE [dbo].[PracticeService]  WITH NOCHECK ADD  CONSTRAINT [FK_PracticeService_Practice_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[PracticeService] CHECK CONSTRAINT [FK_PracticeService_Practice_GroupID]
GO
ALTER TABLE [dbo].[PracticeService]  WITH CHECK ADD  CONSTRAINT [FK_PracticeService_Service_ServiceID] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[PracticeService] CHECK CONSTRAINT [FK_PracticeService_Service_ServiceID]
GO
ALTER TABLE [dbo].[VoicestarConfig]  WITH NOCHECK ADD  CONSTRAINT [FK_VoicestarConfig_Practice_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Practice] ([GroupID])
GO
ALTER TABLE [dbo].[VoicestarConfig] CHECK CONSTRAINT [FK_VoicestarConfig_Practice_GroupId]
GO
ALTER TABLE [dbo].[Dentist]  WITH NOCHECK ADD  CONSTRAINT [CK_Dentist_GroupID] CHECK  (([dbo].[IsValidGroup]([GroupID]) = 1))
GO
ALTER TABLE [dbo].[Dentist] CHECK CONSTRAINT [CK_Dentist_GroupID]
GO
ALTER TABLE [dbo].[Dentist]  WITH NOCHECK ADD  CONSTRAINT [CK_Dentist_UserID] CHECK  (([dbo].[IsValidUser]([UserID]) = 1))
GO
ALTER TABLE [dbo].[Dentist] CHECK CONSTRAINT [CK_Dentist_UserID]
GO
ALTER TABLE [dbo].[Practice]  WITH CHECK ADD  CONSTRAINT [CK_Practice_GroupID] CHECK  (([dbo].[IsValidGroup]([GroupID]) = 1))
GO
ALTER TABLE [dbo].[Practice] CHECK CONSTRAINT [CK_Practice_GroupID]
GO
