USE [dhmo]
GO
/****** Object:  Table [dbo].[Aetna_xml]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aetna_xml](
	[xml_data] [xml] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aetna_xml_Data]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aetna_xml_Data](
	[OfficeTIN] [varchar](30) NULL,
	[CapPayee] [varchar](30) NULL,
	[Provider] [varchar](30) NULL,
	[Address1] [varchar](40) NULL,
	[Address2] [varchar](40) NULL,
	[City] [varchar](30) NULL,
	[State] [varchar](2) NULL,
	[Zip] [int] NULL,
	[OfficeNumber] [varchar](20) NULL,
	[PaymentAmount] [money] NULL,
	[TotalMemberCount] [int] NULL,
	[ProcessDate] [datetime] NULL,
	[CycleDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Capitation]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capitation](
	[CapID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SuperOfficeID] [varchar](50) NOT NULL,
	[PayerID] [int] NOT NULL,
	[CapType] [int] NOT NULL,
	[ProcessDate] [datetime] NULL,
	[LastReadDate] [datetime] NULL,
	[XML_Data] [text] NULL,
	[XSLT] [varchar](50) NULL,
	[Active] [int] NULL,
	[BatchNo] [int] NULL,
 CONSTRAINT [PK_Capitation] PRIMARY KEY NONCLUSTERED 
(
	[CapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapitationType]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapitationType](
	[CapType] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_CapitationType] PRIMARY KEY CLUSTERED 
(
	[CapType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapXRef]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapXRef](
	[CapXRefID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PayerID] [int] NOT NULL,
	[OfficeCode] [varchar](50) NOT NULL,
	[SuperOfficeID] [varchar](50) NOT NULL,
	[BatchNo] [int] NULL,
 CONSTRAINT [PK_CapXRef] PRIMARY KEY CLUSTERED 
(
	[CapXRefID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DCPOffice_20110815]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DCPOffice_20110815](
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_DCPOffice_20110815] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PlanID] [int] NOT NULL,
	[PayerID] [int] NULL,
	[OfficeCode] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[Suffix] [varchar](10) NULL,
	[Address1] [varchar](255) NULL,
	[Address2] [varchar](50) NULL,
	[City] [varchar](30) NULL,
	[State] [char](2) NULL,
	[Zip] [varchar](15) NULL,
	[DOB] [datetime] NULL,
	[Gender] [char](1) NULL,
	[MemberNo] [varchar](80) NULL,
	[RelationshipCode] [varchar](2) NULL,
	[CoverageIndicator] [char](1) NULL,
	[EffFrom] [datetime] NULL,
	[EffTo] [datetime] NULL,
	[TermDate] [datetime] NULL,
	[PlanName] [varchar](50) NULL,
	[AddEditPatient] [int] NULL,
	[GroupNo] [varchar](30) NULL,
	[Phone] [varchar](20) NULL,
	[StudentCode] [char](1) NULL,
	[SchoolName] [varchar](50) NULL,
	[SchoolCity] [varchar](50) NULL,
	[SchoolState] [varchar](50) NULL,
	[MemberLevelCopay] [int] NULL,
	[InsurancePK] [varchar](50) NULL,
	[InsSubscriberID] [varchar](80) NULL,
	[BatchNo] [int] NULL,
	[LastUpdated] [datetime] NULL,
	[LastAction] [char](1) NULL,
	[InsuranceMemberID] [varchar](50) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY NONCLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfficeServiceClient]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeServiceClient](
	[PayerID] [int] NOT NULL,
	[OfficeCode] [varchar](50) NOT NULL,
	[ServiceCode] [char](3) NULL,
	[GroupID] [int] NULL,
 CONSTRAINT [PK_OfficeServiceClient] PRIMARY KEY CLUSTERED 
(
	[PayerID] ASC,
	[OfficeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayerGroup]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayerGroup](
	[PayerGroupID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PayerID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[OfficeCode] [varchar](50) NULL,
	[BillingInfoID] [int] NULL,
	[NonBillable] [int] NULL,
	[DateModified] [datetime] NULL,
	[Active] [int] NOT NULL,
	[ProviderID] [int] NULL,
 CONSTRAINT [PK_PayerGroup] PRIMARY KEY NONCLUSTERED 
(
	[PayerID] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [UQ_PayerGroup_PayerID_OfficeCode] UNIQUE CLUSTERED 
(
	[PayerID] ASC,
	[OfficeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayerGroupAudit]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayerGroupAudit](
	[PayerGroupAudit] [int] IDENTITY(1,1) NOT NULL,
	[PayerGroupID] [int] NOT NULL,
	[PayerID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[OfficeCode] [varchar](50) NULL,
	[BillingInfoID] [int] NULL,
	[NonBillable] [int] NULL,
	[DateModified] [datetime] NULL,
	[Active] [int] NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkstation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_PayerGroupAudit] PRIMARY KEY CLUSTERED 
(
	[PayerGroupAudit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayerGroupPlan]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayerGroupPlan](
	[PayerGroupPlanID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PlanID] [int] NOT NULL,
	[PayerID] [int] NOT NULL,
	[OfficeCode] [varchar](50) NOT NULL,
	[PlanName] [varchar](100) NOT NULL,
	[BatchNo] [int] NULL,
 CONSTRAINT [PK_PayerGroupPlan] PRIMARY KEY NONCLUSTERED 
(
	[PayerGroupPlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plan]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan](
	[PlanID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PayerID] [int] NOT NULL,
	[PlanName] [varchar](100) NULL,
	[OfficeCopay] [decimal](9, 2) NULL,
	[Status] [int] NULL,
	[EffFrom] [datetime] NULL,
	[EffTo] [datetime] NULL,
	[BatchNo] [int] NULL,
	[LastUpdated] [datetime] NULL,
	[LastAction] [char](1) NULL,
	[AutoGen] [char](1) NULL,
 CONSTRAINT [PK_Plan] PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanItem]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanItem](
	[PlanItemID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PlanID] [int] NULL,
	[ProcedureCode] [varchar](5) NULL,
	[IsPercentage] [int] NULL,
	[Copay] [varchar](50) NULL,
	[Limitation] [varchar](1000) NULL,
	[SupAmount] [varchar](50) NULL,
	[OfficeVisitAmt] [decimal](18, 2) NULL,
	[BatchNo] [int] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[LastAction] [char](1) NOT NULL,
 CONSTRAINT [PK_PlanItem] PRIMARY KEY CLUSTERED 
(
	[PlanItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPDOOffice]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPDOOffice](
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_SPDOOffice] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zDBTestTable]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zDBTestTable](
	[DBTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [nvarchar](255) NULL,
	[Timestmp] [datetime] NOT NULL,
 CONSTRAINT [PK_zDBTestTable] PRIMARY KEY CLUSTERED 
(
	[DBTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zPoolTestTable]    Script Date: 8/15/2025 4:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zPoolTestTable](
	[PoolTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Column1] [bit] NULL,
 CONSTRAINT [PK_PoolTestTable] PRIMARY KEY CLUSTERED 
(
	[PoolTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Capitation] ADD  CONSTRAINT [DF_Capitation_SuperOfficeID]  DEFAULT ('') FOR [SuperOfficeID]
GO
ALTER TABLE [dbo].[Capitation] ADD  CONSTRAINT [DF_CAPITATION_ProcessDate]  DEFAULT (getdate()) FOR [ProcessDate]
GO
ALTER TABLE [dbo].[PayerGroup] ADD  CONSTRAINT [DF_PayerGroup_DateModified]  DEFAULT (getdate()) FOR [DateModified]
GO
ALTER TABLE [dbo].[PayerGroup] ADD  CONSTRAINT [DF_PayerGroup_Active]  DEFAULT (0) FOR [Active]
GO
ALTER TABLE [dbo].[zDBTestTable] ADD  CONSTRAINT [DF_zDBTestTable_Timestmp]  DEFAULT (getdate()) FOR [Timestmp]
GO
ALTER TABLE [dbo].[Capitation]  WITH CHECK ADD  CONSTRAINT [FK_Capitation_CapitationType_CapType] FOREIGN KEY([CapType])
REFERENCES [dbo].[CapitationType] ([CapType])
GO
ALTER TABLE [dbo].[Capitation] CHECK CONSTRAINT [FK_Capitation_CapitationType_CapType]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Plan_PlanID] FOREIGN KEY([PlanID])
REFERENCES [dbo].[Plan] ([PlanID])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Plan_PlanID]
GO
ALTER TABLE [dbo].[PlanItem]  WITH CHECK ADD  CONSTRAINT [FK_PlanItem_Plan_PlanID] FOREIGN KEY([PlanID])
REFERENCES [dbo].[Plan] ([PlanID])
GO
ALTER TABLE [dbo].[PlanItem] CHECK CONSTRAINT [FK_PlanItem_Plan_PlanID]
GO
