USE [ntf]
GO
/****** Object:  Table [dbo].[SAServiceAudit]    Script Date: 8/15/2025 4:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAServiceAudit](
	[SAServiceAuditID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Error] [bit] NULL,
	[ServiceCode] [varchar](4) NULL,
	[ServiceType] [varchar](32) NULL,
	[SuccessCount] [int] NULL,
	[FailureCount] [int] NULL,
	[IncomingLocalFile] [varchar](1024) NULL,
	[OutgoingLocalFile] [varchar](1024) NULL,
	[IncomingRemoteFile] [varchar](1024) NULL,
	[OutgoingRemoteFile] [varchar](1024) NULL,
	[MessageID] [varchar](50) NULL,
	[ErrorString] [varchar](256) NULL,
 CONSTRAINT [PK_SAServiceAudit] PRIMARY KEY CLUSTERED 
(
	[SAServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceDowntime]    Script Date: 8/15/2025 4:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceDowntime](
	[ServiceDowntimeID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceCode] [varchar](10) NOT NULL,
	[ServiceType] [varchar](50) NOT NULL,
	[DayOfWeek] [int] NULL,
	[OverrideDate] [datetime] NULL,
	[StartTime] [time](0) NULL,
	[EndTime] [time](0) NULL,
 CONSTRAINT [PK_ServiceDowntime] PRIMARY KEY CLUSTERED 
(
	[ServiceDowntimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceHostConfiguration]    Script Date: 8/15/2025 4:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceHostConfiguration](
	[ServiceHostConfigurationID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [varchar](32) NOT NULL,
	[ServiceCode] [varchar](32) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Processor] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ServiceHostConfiguration] PRIMARY KEY CLUSTERED 
(
	[ServiceHostConfigurationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceProperty]    Script Date: 8/15/2025 4:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceProperty](
	[ServicePropertyID] [int] IDENTITY(1,1) NOT NULL,
	[Stage] [char](3) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Property] [varchar](32) NOT NULL,
	[Val] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_ServiceProperty] PRIMARY KEY CLUSTERED 
(
	[ServicePropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [UQ_ServiceProperty_ServiceCode_ServiceType_Property_Stage] UNIQUE NONCLUSTERED 
(
	[ServiceCode] ASC,
	[ServiceType] ASC,
	[Property] ASC,
	[Stage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePropertyAudit]    Script Date: 8/15/2025 4:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePropertyAudit](
	[ServicePropertyAuditID] [int] IDENTITY(1,1) NOT NULL,
	[ServicePropertyID] [int] NULL,
	[Stage] [char](3) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Property] [varchar](32) NOT NULL,
	[Val] [varchar](1024) NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkStation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_ServicePropertyAudit] PRIMARY KEY CLUSTERED 
(
	[ServicePropertyAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zDBTestTable]    Script Date: 8/15/2025 4:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zDBTestTable](
	[DBTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [nvarchar](255) NULL,
	[Timestmp] [datetime] NOT NULL,
 CONSTRAINT [PK_zDBTestTable] PRIMARY KEY CLUSTERED 
(
	[DBTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zPoolTestTable]    Script Date: 8/15/2025 4:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zPoolTestTable](
	[PoolTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Column1] [bit] NULL,
 CONSTRAINT [PK_zPoolTestTable] PRIMARY KEY CLUSTERED 
(
	[PoolTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceProperty] ADD  CONSTRAINT [DF_ServiceProperty_Stage]  DEFAULT ('com') FOR [Stage]
GO
ALTER TABLE [dbo].[zDBTestTable] ADD  CONSTRAINT [DF_zDBTestTable_Timestmp]  DEFAULT (getdate()) FOR [Timestmp]
GO
