USE [pfs]
GO
/****** Object:  Table [dbo].[BillingActivity]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingActivity](
	[BillingActivityID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ContractID] [int] NOT NULL,
	[PriceScheduleID] [int] NULL,
	[WidgetID] [nvarchar](20) NOT NULL,
	[WidgetType] [nvarchar](10) NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[StatementItemID] [int] NULL,
	[ResellerStatementID] [int] NULL,
	[VendorStatementID] [int] NULL,
	[GroupCommissionID] [int] NULL,
	[CommissionStatementItemID] [int] NULL,
	[SubscriptionCharge] [bit] NULL,
 CONSTRAINT [PK_BillingActivity] PRIMARY KEY CLUSTERED 
(
	[BillingActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BillingActivitySummaryCommissionView]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[BillingActivitySummaryCommissionView]
AS
    SELECT  master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) AS Period ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ba.GroupCommissionID ,
            gc.SupportUserID ,
            ISNULL(ba.SubscriptionCharge, 0) AS SubscriptionCharge ,
            CASE WHEN ba.CommissionStatementItemID IS NULL
                      OR ba.CommissionStatementItemID = 0 THEN 0
                 ELSE 1
            END AS Billed ,
            COUNT_BIG(*) AS Quantity
    FROM    BillingActivity ba
            JOIN common..GroupCommission gc ON ba.GroupCommissionID = gc.GroupCommissionID
    WHERE   ( ba.GroupCommissionID IS NOT NULL
              AND ba.GroupCommissionID <> 0
            )
            AND ( gc.SupportUserID IS NOT NULL
                  AND gc.SupportUserID > 0
                )
    GROUP BY master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ba.GroupCommissionID ,
            gc.SupportUserID ,
            ISNULL(ba.SubscriptionCharge, 0) ,
            ba.CommissionStatementItemID 


GO
/****** Object:  View [dbo].[BillingActivitySummaryResellerView]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[BillingActivitySummaryResellerView]
AS
    SELECT  master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) AS Period ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ISNULL(ba.SubscriptionCharge, 0) AS SubscriptionCharge ,
            CASE WHEN ba.ResellerStatementID IS NULL
                      OR ba.ResellerStatementID = 0 THEN 0
                 ELSE 1
            END AS Billed ,
            COUNT_BIG(*) AS Quantity
    FROM    BillingActivity ba
            JOIN Common.dbo.ProductGroupPackage pgp ON ba.ContractID = pgp.ContractID
            JOIN Common.dbo.GroupResellerView grv ON pgp.GroupID = grv.GroupID
    WHERE   grv.ResellerType = 'R'
    GROUP BY master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ISNULL(ba.SubscriptionCharge, 0) ,
            ba.ResellerStatementID


GO
/****** Object:  View [dbo].[BillingActivitySummaryView]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[BillingActivitySummaryView]
WITH SCHEMABINDING 
AS
SELECT     CONVERT(DATETIME, CAST(DATEPART(Month, SubmitDate) AS NVARCHAR(2)) + '/1/' + CAST(DATEPART(Year, SubmitDate) AS CHAR(4)), 101) AS Period, ContractID, 
                      PriceScheduleID, WidgetType, ISNULL(SubscriptionCharge, 0) AS SubscriptionCharge, CASE WHEN dbo.BillingActivity.StatementItemID IS NULL OR
                      dbo.BillingActivity.StatementItemID = 0 THEN 0 ELSE 1 END AS Billed, COUNT_BIG(*) AS Quantity
FROM         dbo.BillingActivity
GROUP BY CONVERT(DATETIME, CAST(DATEPART(Month, SubmitDate) AS NVARCHAR(2)) + '/1/' + CAST(DATEPART(Year, SubmitDate) AS CHAR(4)), 101), ContractID, 
                      PriceScheduleID, WidgetType, ISNULL(SubscriptionCharge, 0), StatementItemID

GO
/****** Object:  View [dbo].[BillingActivitySummaryVendorView]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[BillingActivitySummaryVendorView]
AS
    SELECT  master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) AS Period ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ISNULL(ba.SubscriptionCharge, 0) AS SubscriptionCharge ,
            CASE WHEN ba.VendorStatementID IS NULL
                      OR ba.VendorStatementID = 0 THEN 0
                 ELSE 1
            END AS Billed ,
            COUNT_BIG(*) AS Quantity
    FROM    BillingActivity ba
            JOIN Common.dbo.ProductGroupPackage pgp ON ba.ContractID = pgp.ContractID
            LEFT JOIN Common.dbo.PMSGroup pg ON pgp.GroupID = pg.GroupID
            JOIN Common.dbo.PMS p ON pg.PMSID = p.PMSID
            JOIN Common.dbo.Reseller r ON p.ResellerID = r.ResellerID
    WHERE   r.Type = 'V'
            AND pg.IsActive = 1
    GROUP BY master.dbo.fn_NormalizeStatementPeriod(ba.SubmitDate) ,
            ba.ContractID ,
            ba.PriceScheduleID ,
            ba.WidgetType ,
            ISNULL(ba.SubscriptionCharge, 0) ,
            ba.VendorStatementID

GO
/****** Object:  Table [dbo].[ServiceProperty]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceProperty](
	[ServicePropertyID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Stage] [char](3) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Property] [varchar](32) NOT NULL,
	[Val] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_ServiceProperty] PRIMARY KEY CLUSTERED 
(
	[ServicePropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [UQ_ServiceProperty_ServiceCode_ServiceType_Property_Stage] UNIQUE NONCLUSTERED 
(
	[ServiceCode] ASC,
	[ServiceType] ASC,
	[Property] ASC,
	[Stage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PropsByCode]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  VIEW [dbo].[PropsByCode]

AS

SELECT     TOP 100 PERCENT Stage, ServiceCode, ServiceType, Property, val, ServicePropertyID
FROM         ServiceProperty
ORDER BY CASE servicecode WHEN 'com' THEN '' ELSE servicecode END, CASE servicetype WHEN 'common' THEN '' ELSE servicetype END, Property, Stage



GO
/****** Object:  View [dbo].[PropsByName]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  VIEW [dbo].[PropsByName]

AS

SELECT     TOP 100 PERCENT Stage, Property, ServiceType, ServiceCode, Val, ServicePropertyID
FROM         ServiceProperty
ORDER BY Property, CASE servicetype WHEN 'common' THEN '' ELSE servicetype END, CASE servicecode WHEN 'com' THEN '' ELSE servicecode END, Stage


GO
/****** Object:  View [dbo].[PropsByType]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  VIEW [dbo].[PropsByType]

AS

SELECT     TOP 100 PERCENT Stage, ServiceType, ServiceCode, Property, Val, ServicePropertyID
FROM         ServiceProperty
ORDER BY CASE servicetype WHEN 'common' THEN '' ELSE servicetype END, CASE servicecode WHEN 'com' THEN '' ELSE servicecode END, Property, Stage


GO
/****** Object:  Table [dbo].[ApplicationDigest]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationDigest](
	[CreditApplicationID] [int] NOT NULL,
	[ServiceCode] [char](10) NOT NULL,
	[Digest] [varchar](148) NOT NULL,
	[DigestHash] [int] NOT NULL,
	[AccountNumber] [varchar](38) NULL,
	[DateAdjudicated] [datetime] NULL,
 CONSTRAINT [PK_ApplicationDigest] PRIMARY KEY CLUSTERED 
(
	[CreditApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorizationRequest]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizationRequest](
	[AuthorizationRequestID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatusID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateModified] [datetime] NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceClientID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[UserID] [int] NULL,
	[TransactionType] [int] NOT NULL,
	[CreditPlanID] [int] NOT NULL,
	[PlanNumber] [varchar](50) NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[AccountNumber] [varchar](38) NOT NULL,
	[AuthorizationAmount] [money] NOT NULL,
	[AuthorizationNumber] [varchar](50) NULL,
	[DepartmentCode] [varchar](20) NULL,
	[SKU] [varchar](50) NULL,
	[MerchandiseDescr] [varchar](50) NULL,
	[PurchaseOrderNumber] [varchar](50) NULL,
	[TransactionID] [varchar](50) NULL,
	[PriorAuthorizationRequestID] [int] NULL,
	[RTServiceAuditID] [int] NOT NULL,
	[SAServiceAuditID] [int] NULL,
	[PatientAccountNo] [varchar](50) NULL,
	[CreditApplicationID] [int] NULL,
	[SupportUserID] [int] NULL,
 CONSTRAINT [PK_AuthorizationRequest] PRIMARY KEY CLUSTERED 
(
	[AuthorizationRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorizationRequestHistory]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizationRequestHistory](
	[AuthorizationResquestHistoryID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AuthorizationRequestID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[UserID] [int] NULL,
	[RTServiceAuditID] [int] NOT NULL,
	[SAServiceAuditID] [int] NULL,
	[TimeStmp] [datetime] NOT NULL,
	[TransactionID] [varchar](50) NULL,
	[AuthorizationNumber] [varchar](50) NULL,
	[SupportUserID] [int] NULL,
 CONSTRAINT [PK_AuthorizationRequestHistory] PRIMARY KEY CLUSTERED 
(
	[AuthorizationResquestHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorizationResponse]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizationResponse](
	[AuthorizationResponseID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AuthorizationRequestID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[TransactionID] [varchar](50) NULL,
	[AuthorizationNumber] [varchar](50) NULL,
	[Decision] [varchar](15) NOT NULL,
	[RTServiceAuditID] [int] NOT NULL,
	[Errors] [varchar](4000) NULL,
	[AuthorizationAmount] [money] NULL,
	[SupportUserID] [int] NULL,
 CONSTRAINT [PK_AuthorizationResponse] PRIMARY KEY CLUSTERED 
(
	[AuthorizationResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditApplication]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditApplication](
	[CreditApplicationID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatusID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateModified] [datetime] NOT NULL,
	[ServiceCode] [nchar](3) NOT NULL,
	[ServiceClientID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[UserID] [int] NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[SSN] [varchar](30) NOT NULL,
	[Birthdate] [datetime] NOT NULL,
	[PrimaryPhone] [varchar](30) NOT NULL,
	[PrimaryPhoneExt] [varchar](10) NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](30) NOT NULL,
	[State] [char](2) NOT NULL,
	[Zip] [varchar](10) NOT NULL,
	[MonthlyNetIncome] [money] NOT NULL,
	[HousingStatus] [varchar](10) NOT NULL,
	[BankingStatus] [varchar](10) NULL,
	[ApplicationType] [varchar](15) NOT NULL,
	[RequestedCreditLimit] [money] NOT NULL,
	[TransactionID] [varchar](50) NULL,
	[Content] [text] NULL,
	[RTServiceAuditID] [int] NOT NULL,
	[SAServiceAuditID] [int] NULL,
	[PatientAccountNo] [varchar](50) NULL,
	[UseOtherFundingSource] [bit] NULL,
	[PriorCreditApplicationID] [int] NULL,
	[OfferAccepted] [bit] NULL,
	[CreditScore] [int] NULL,
	[CoCreditScore] [int] NULL,
	[SupportUserID] [int] NULL,
 CONSTRAINT [PK_CreditApplication] PRIMARY KEY CLUSTERED 
(
	[CreditApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditApplicationHistory]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditApplicationHistory](
	[CreditApplicationHistoryID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreditApplicationID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[UserID] [int] NULL,
	[RTServiceAuditID] [int] NOT NULL,
	[SAServiceAuditID] [int] NULL,
	[TimeStmp] [datetime] NOT NULL,
	[TransactionID] [varchar](50) NULL,
	[SupportUserID] [int] NULL,
 CONSTRAINT [PK_CreditApplicationHistory] PRIMARY KEY CLUSTERED 
(
	[CreditApplicationHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditOffer]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditOffer](
	[CreditOfferID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreditApplicationID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Decision] [varchar](15) NOT NULL,
	[ReferenceNumber] [bigint] NULL,
	[AccountNumber] [varchar](38) NULL,
	[OfferType] [varchar](64) NULL,
	[LoanProgramName] [varchar](50) NULL,
	[LoanAmount] [bigint] NULL,
	[CreditLimit] [bigint] NULL,
	[InterestRate] [float] NULL,
	[LoanTerm] [bigint] NULL,
	[LoanPoints] [float] NULL,
	[LockTerm] [int] NULL,
	[MonthlyPayment] [money] NULL,
	[RequiredDownPayment] [money] NULL,
	[LoanAPR] [float] NULL,
	[Stipulations] [varchar](255) NULL,
	[Contact] [varchar](1024) NULL,
	[Fees] [varchar](2048) NULL,
	[RTServiceAuditID] [int] NOT NULL,
	[Errors] [varchar](4000) NULL,
	[Attachment] [image] NULL,
	[SupportUserID] [int] NULL,
 CONSTRAINT [PK_CreditOffer] PRIMARY KEY CLUSTERED 
(
	[CreditOfferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditPartner]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditPartner](
	[ServiceCode] [char](3) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_CreditPartner] PRIMARY KEY CLUSTERED 
(
	[ServiceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditPlan]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditPlan](
	[CreditPlanID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](1024) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Discount] [decimal](6, 5) NOT NULL,
 CONSTRAINT [PK_CreditPlan] PRIMARY KEY CLUSTERED 
(
	[CreditPlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditReport]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditReport](
	[CreditReportID] [int] IDENTITY(1000,1) NOT FOR REPLICATION NOT NULL,
	[StatusID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[GroupID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](20) NULL,
	[LastName] [varchar](50) NOT NULL,
	[SSN] [varchar](50) NULL,
	[Dob] [datetime] NULL,
	[Address1] [varchar](50) NOT NULL,
	[Address2] [varchar](25) NULL,
	[City] [varchar](30) NOT NULL,
	[State] [char](2) NOT NULL,
	[Zip] [varchar](10) NOT NULL,
	[RTServiceAuditID] [int] NULL,
	[TxResponse] [image] NULL,
	[Active] [bit] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_CreditReport] PRIMARY KEY CLUSTERED 
(
	[CreditReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorMessage]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorMessage](
	[ErrorCode] [varchar](50) NOT NULL,
	[Description] [varchar](512) NOT NULL,
 CONSTRAINT [PK_ErrorMessage] PRIMARY KEY CLUSTERED 
(
	[ErrorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Function]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Function](
	[FunctionID] [varchar](25) NOT NULL,
	[Description] [varchar](250) NULL,
 CONSTRAINT [PK_Function] PRIMARY KEY CLUSTERED 
(
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageFeature]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageFeature](
	[PageName] [varchar](50) NOT NULL,
	[FeatureName] [char](32) NOT NULL,
 CONSTRAINT [PK_PageFeature] PRIMARY KEY CLUSTERED 
(
	[PageName] ASC,
	[FeatureName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerCreditPlan]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerCreditPlan](
	[PartnerCreditPlanID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreditPlanID] [int] NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[PlanNumber] [varchar](50) NOT NULL,
	[Discount] [decimal](6, 5) NOT NULL,
	[Revolving] [bit] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_PartnerCreditPlan] PRIMARY KEY CLUSTERED 
(
	[PartnerCreditPlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [UQ_PartnerCreditPlan_CreditPlanID_PlanNumber_ServiceCode] UNIQUE NONCLUSTERED 
(
	[CreditPlanID] ASC,
	[PlanNumber] ASC,
	[ServiceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [UQ_PartnerCreditPlan_CreditPlanID_ServiceCode] UNIQUE NONCLUSTERED 
(
	[CreditPlanID] ASC,
	[ServiceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerError]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerError](
	[ErrorId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ErrorMessage] [varchar](4000) NOT NULL,
	[ErrorCode] [varchar](50) NULL,
	[UserError] [bit] NULL,
 CONSTRAINT [PK_PartnerError] PRIMARY KEY CLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PFSGroup]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PFSGroup](
	[GroupID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[AccountHolderName] [varchar](50) NULL,
	[BankName] [varchar](50) NULL,
	[ABARoutingNumber] [varchar](50) NULL,
	[BankAccountNumber] [varchar](82) NULL,
	[ServiceCode] [char](3) NULL,
	[UseOtherFundingSource] [bit] NULL,
	[SupportUserID] [int] NULL,
	[DateModified] [datetime] NOT NULL,
	[CreditRouting] [varchar](50) NULL,
	[McfStoreNumber] [int] NULL,
	[TulIndustryCode] [varchar](5) NULL,
	[TulMemberCode] [varchar](15) NULL,
	[TulInquiryPrefixCode] [varchar](10) NULL,
	[TulPassword] [varchar](50) NULL,
 CONSTRAINT [PK_PFSGroup] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PFSGroupHistory]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PFSGroupHistory](
	[PFSGroupHistoryID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GroupID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[AccountHolderName] [varchar](50) NULL,
	[BankName] [varchar](50) NULL,
	[ABARoutingNumber] [varchar](50) NULL,
	[BankAccountNumber] [varchar](82) NULL,
	[ServiceCode] [char](3) NULL,
	[UseOtherFundingSource] [bit] NULL,
	[SupportUserID] [int] NULL,
	[DateModified] [datetime] NULL,
	[TimeStmp] [datetime] NOT NULL,
	[CreditRouting] [varchar](50) NULL,
	[McfStoreNumber] [int] NULL,
	[TulIndustryCode] [varchar](5) NULL,
	[TulMemberCode] [varchar](15) NULL,
	[TulInquiryPrefixCode] [varchar](10) NULL,
	[TulPassword] [varchar](50) NULL,
 CONSTRAINT [PK_PFSGroupHistory] PRIMARY KEY CLUSTERED 
(
	[PFSGroupHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](250) NULL,
	[InternalOnly] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleFunction]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFunction](
	[RoleID] [int] NOT NULL,
	[FunctionID] [nchar](25) NOT NULL,
 CONSTRAINT [PK_RoleFunction] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTServiceAudit]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTServiceAudit](
	[RTServiceAuditID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Error] [bit] NULL,
	[ServiceCode] [char](3) NULL,
	[ServiceType] [varchar](32) NULL,
	[ClientName] [varchar](50) NULL,
	[ClientVersion] [varchar](50) NULL,
	[ParentAuditID] [int] NULL,
	[ErrorString] [varchar](256) NULL,
	[TxRequest] [image] NULL,
	[TxResponse] [image] NULL,
 CONSTRAINT [PK_RTServiceAudit] PRIMARY KEY CLUSTERED 
(
	[RTServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAServiceAudit]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAServiceAudit](
	[SAServiceAuditID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Error] [bit] NULL,
	[ServiceCode] [char](3) NULL,
	[ServiceType] [varchar](32) NULL,
	[SuccessCount] [int] NULL,
	[FailureCount] [int] NULL,
	[IncomingLocalFile] [varchar](1024) NULL,
	[OutgoingLocalFile] [varchar](1024) NULL,
	[IncomingRemoteFile] [varchar](1024) NULL,
	[OutgoingRemoteFile] [varchar](1024) NULL,
	[MessageID] [varchar](50) NULL,
	[ErrorString] [varchar](256) NULL,
 CONSTRAINT [PK_SAServiceAudit] PRIMARY KEY CLUSTERED 
(
	[SAServiceAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePropertyAudit]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePropertyAudit](
	[ServicePropertyAuditID] [int] IDENTITY(1,1) NOT NULL,
	[ServicePropertyID] [int] NULL,
	[Stage] [char](3) NOT NULL,
	[ServiceCode] [char](3) NOT NULL,
	[ServiceType] [varchar](32) NOT NULL,
	[Property] [varchar](32) NOT NULL,
	[Val] [varchar](1024) NOT NULL,
	[TriggerDate] [datetime] NULL,
	[TriggerLogin] [varchar](50) NULL,
	[TriggerWorkStation] [varchar](50) NULL,
	[TriggerAction] [varchar](20) NULL,
 CONSTRAINT [PK_ServicePropertyAudit] PRIMARY KEY CLUSTERED 
(
	[ServicePropertyAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settlement]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settlement](
	[AuthorizationRequestID] [int] NOT NULL,
	[ServiceCode] [char](3) NULL,
	[TransactionAmount] [money] NOT NULL,
	[PartnerDiscountAmount] [money] NULL,
	[NetAmount] [money] NULL,
	[DiscountAmount] [money] NULL,
	[ProviderNetAmount] [money] NULL,
	[SettledDate] [datetime] NULL,
	[FundingRequestedDate] [datetime] NULL,
	[FundedDate] [datetime] NULL,
	[AccountHolderName] [varchar](50) NULL,
	[ABARoutingNumber] [varchar](50) NULL,
	[BankAccountNumber] [varchar](82) NULL,
	[SAServiceAuditID] [int] NULL,
 CONSTRAINT [PK_Settlement] PRIMARY KEY CLUSTERED 
(
	[AuthorizationRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SettlementHistory]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettlementHistory](
	[SettlementHistoryID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AuthorizationRequestID] [int] NOT NULL,
	[ServiceCode] [char](3) NULL,
	[TransactionAmount] [money] NOT NULL,
	[PartnerDiscountAmount] [money] NULL,
	[NetAmount] [money] NULL,
	[DiscountAmount] [money] NULL,
	[ProviderNetAmount] [money] NULL,
	[SettledDate] [datetime] NULL,
	[FundingRequestedDate] [datetime] NULL,
	[FundedDate] [datetime] NULL,
	[AccountHolderName] [varchar](50) NULL,
	[ABARoutingNumber] [varchar](50) NULL,
	[BankAccountNumber] [varchar](82) NULL,
	[SAServiceAuditID] [int] NULL,
	[TimeStmp] [datetime] NOT NULL,
 CONSTRAINT [PK_SettlementHistory] PRIMARY KEY CLUSTERED 
(
	[SettlementHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Display] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TulReasonCodes]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TulReasonCodes](
	[ReasonCode] [varchar](3) NOT NULL,
	[Description] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TulReasonCodes] PRIMARY KEY CLUSTERED 
(
	[ReasonCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAgreement]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAgreement](
	[UserAgreementID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[VersionID] [int] NULL,
 CONSTRAINT [PK_UserAgreement] PRIMARY KEY CLUSTERED 
(
	[UserAgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [int] NOT NULL,
	[GroupID] [int] NULL,
	[RoleID] [nchar](10) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zDBTestTable]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zDBTestTable](
	[DBTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Host] [varchar](255) NULL,
	[Timestmp] [datetime] NOT NULL,
 CONSTRAINT [PK_zDBTestTable] PRIMARY KEY CLUSTERED 
(
	[DBTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zPoolTestTable]    Script Date: 8/15/2025 4:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zPoolTestTable](
	[PoolTestTableID] [int] IDENTITY(1,1) NOT NULL,
	[Column1] [bit] NULL,
 CONSTRAINT [PK_zPoolTestTable] PRIMARY KEY CLUSTERED 
(
	[PoolTestTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuthorizationRequest] ADD  CONSTRAINT [DF_AuthorizationRequest_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[AuthorizationRequestHistory] ADD  CONSTRAINT [DF_AuthorizationRequestHistory_TimeStmp]  DEFAULT (getdate()) FOR [TimeStmp]
GO
ALTER TABLE [dbo].[CreditApplication] ADD  CONSTRAINT [DF_CreditApplication_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[CreditApplicationHistory] ADD  CONSTRAINT [DF_CreditApplicationHistory_TimeStmp]  DEFAULT (getdate()) FOR [TimeStmp]
GO
ALTER TABLE [dbo].[CreditPlan] ADD  CONSTRAINT [DF_CreditPlan_Discount]  DEFAULT (0) FOR [Discount]
GO
ALTER TABLE [dbo].[CreditReport] ADD  CONSTRAINT [DF_CreditReport_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[CreditReport] ADD  CONSTRAINT [DF_CreditReport_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ErrorMessage] ADD  CONSTRAINT [DF_ErrorMessage_Description]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[PartnerCreditPlan] ADD  CONSTRAINT [DF_PartnerCreditPlan_Discount]  DEFAULT (0) FOR [Discount]
GO
ALTER TABLE [dbo].[PFSGroup] ADD  CONSTRAINT [DF_PFSGroup_Status]  DEFAULT (0) FOR [Status]
GO
ALTER TABLE [dbo].[PFSGroup] ADD  CONSTRAINT [DF_PFSGroup_DateModified]  DEFAULT (getdate()) FOR [DateModified]
GO
ALTER TABLE [dbo].[PFSGroupHistory] ADD  CONSTRAINT [DF_PFSGroupHistory_TimeStmp]  DEFAULT (getdate()) FOR [TimeStmp]
GO
ALTER TABLE [dbo].[ServiceProperty] ADD  CONSTRAINT [DF_ServiceProperty_Stage]  DEFAULT ('com') FOR [Stage]
GO
ALTER TABLE [dbo].[SettlementHistory] ADD  CONSTRAINT [DF_SettlementHistory_TimeStmp]  DEFAULT (getdate()) FOR [TimeStmp]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_UserRole_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[zDBTestTable] ADD  CONSTRAINT [DF_zDBTestTable_Timestmp]  DEFAULT (getdate()) FOR [Timestmp]
GO
ALTER TABLE [dbo].[ApplicationDigest]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationDigest_CreditApplication_CreditApplicationID] FOREIGN KEY([CreditApplicationID])
REFERENCES [dbo].[CreditApplication] ([CreditApplicationID])
GO
ALTER TABLE [dbo].[ApplicationDigest] CHECK CONSTRAINT [FK_ApplicationDigest_CreditApplication_CreditApplicationID]
GO
ALTER TABLE [dbo].[AuthorizationRequest]  WITH NOCHECK ADD  CONSTRAINT [FK_AuthorizationRequest_AuthorizationRequest_AuthorizationRequestID] FOREIGN KEY([AuthorizationRequestID])
REFERENCES [dbo].[AuthorizationRequest] ([AuthorizationRequestID])
GO
ALTER TABLE [dbo].[AuthorizationRequest] CHECK CONSTRAINT [FK_AuthorizationRequest_AuthorizationRequest_AuthorizationRequestID]
GO
ALTER TABLE [dbo].[AuthorizationRequest]  WITH CHECK ADD  CONSTRAINT [FK_AuthorizationRequest_CreditApplication_CreditApplicationID] FOREIGN KEY([CreditApplicationID])
REFERENCES [dbo].[CreditApplication] ([CreditApplicationID])
GO
ALTER TABLE [dbo].[AuthorizationRequest] CHECK CONSTRAINT [FK_AuthorizationRequest_CreditApplication_CreditApplicationID]
GO
ALTER TABLE [dbo].[AuthorizationRequest]  WITH NOCHECK ADD  CONSTRAINT [FK_AuthorizationRequest_CreditPlan_CreditPlanID] FOREIGN KEY([CreditPlanID])
REFERENCES [dbo].[CreditPlan] ([CreditPlanID])
GO
ALTER TABLE [dbo].[AuthorizationRequest] CHECK CONSTRAINT [FK_AuthorizationRequest_CreditPlan_CreditPlanID]
GO
ALTER TABLE [dbo].[AuthorizationRequest]  WITH NOCHECK ADD  CONSTRAINT [FK_AuthorizationRequest_RTServiceAudit_RTServiceAuditID] FOREIGN KEY([RTServiceAuditID])
REFERENCES [dbo].[RTServiceAudit] ([RTServiceAuditID])
GO
ALTER TABLE [dbo].[AuthorizationRequest] CHECK CONSTRAINT [FK_AuthorizationRequest_RTServiceAudit_RTServiceAuditID]
GO
ALTER TABLE [dbo].[AuthorizationRequest]  WITH NOCHECK ADD  CONSTRAINT [FK_AuthorizationRequest_SAServiceAudit_SAServiceAuditID] FOREIGN KEY([SAServiceAuditID])
REFERENCES [dbo].[SAServiceAudit] ([SAServiceAuditID])
GO
ALTER TABLE [dbo].[AuthorizationRequest] CHECK CONSTRAINT [FK_AuthorizationRequest_SAServiceAudit_SAServiceAuditID]
GO
ALTER TABLE [dbo].[AuthorizationRequest]  WITH NOCHECK ADD  CONSTRAINT [FK_AuthorizationRequest_Status_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[AuthorizationRequest] CHECK CONSTRAINT [FK_AuthorizationRequest_Status_StatusID]
GO
ALTER TABLE [dbo].[AuthorizationResponse]  WITH NOCHECK ADD  CONSTRAINT [FK_AuthorizationResponse_AuthorizationRequest_AuthorizationRequestID] FOREIGN KEY([AuthorizationRequestID])
REFERENCES [dbo].[AuthorizationRequest] ([AuthorizationRequestID])
GO
ALTER TABLE [dbo].[AuthorizationResponse] CHECK CONSTRAINT [FK_AuthorizationResponse_AuthorizationRequest_AuthorizationRequestID]
GO
ALTER TABLE [dbo].[AuthorizationResponse]  WITH NOCHECK ADD  CONSTRAINT [FK_AuthorizationResponse_RTServiceAudit_RTServiceAuditID] FOREIGN KEY([RTServiceAuditID])
REFERENCES [dbo].[RTServiceAudit] ([RTServiceAuditID])
GO
ALTER TABLE [dbo].[AuthorizationResponse] CHECK CONSTRAINT [FK_AuthorizationResponse_RTServiceAudit_RTServiceAuditID]
GO
ALTER TABLE [dbo].[CreditApplication]  WITH CHECK ADD  CONSTRAINT [FK_CreditApplication_CreditApplication_PriorCreditApplicationID] FOREIGN KEY([PriorCreditApplicationID])
REFERENCES [dbo].[CreditApplication] ([CreditApplicationID])
GO
ALTER TABLE [dbo].[CreditApplication] CHECK CONSTRAINT [FK_CreditApplication_CreditApplication_PriorCreditApplicationID]
GO
ALTER TABLE [dbo].[CreditApplication]  WITH NOCHECK ADD  CONSTRAINT [FK_CreditApplication_RTServiceAudit_RTServiceAuditID] FOREIGN KEY([RTServiceAuditID])
REFERENCES [dbo].[RTServiceAudit] ([RTServiceAuditID])
GO
ALTER TABLE [dbo].[CreditApplication] CHECK CONSTRAINT [FK_CreditApplication_RTServiceAudit_RTServiceAuditID]
GO
ALTER TABLE [dbo].[CreditApplication]  WITH NOCHECK ADD  CONSTRAINT [FK_CreditApplication_SAServiceAudit_SAServiceAuditID] FOREIGN KEY([SAServiceAuditID])
REFERENCES [dbo].[SAServiceAudit] ([SAServiceAuditID])
GO
ALTER TABLE [dbo].[CreditApplication] CHECK CONSTRAINT [FK_CreditApplication_SAServiceAudit_SAServiceAuditID]
GO
ALTER TABLE [dbo].[CreditApplication]  WITH NOCHECK ADD  CONSTRAINT [FK_CreditApplication_Status_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[CreditApplication] CHECK CONSTRAINT [FK_CreditApplication_Status_StatusID]
GO
ALTER TABLE [dbo].[CreditOffer]  WITH NOCHECK ADD  CONSTRAINT [FK_CreditOffer_CreditApplication_CreditApplicationID] FOREIGN KEY([CreditApplicationID])
REFERENCES [dbo].[CreditApplication] ([CreditApplicationID])
GO
ALTER TABLE [dbo].[CreditOffer] CHECK CONSTRAINT [FK_CreditOffer_CreditApplication_CreditApplicationID]
GO
ALTER TABLE [dbo].[CreditOffer]  WITH CHECK ADD  CONSTRAINT [FK_CreditOffer_RTServiceAudit_RTServiceAuditID] FOREIGN KEY([RTServiceAuditID])
REFERENCES [dbo].[RTServiceAudit] ([RTServiceAuditID])
GO
ALTER TABLE [dbo].[CreditOffer] CHECK CONSTRAINT [FK_CreditOffer_RTServiceAudit_RTServiceAuditID]
GO
ALTER TABLE [dbo].[PartnerCreditPlan]  WITH NOCHECK ADD  CONSTRAINT [FK_PartnerCreditPlan_CreditPlan_CreditPlanID] FOREIGN KEY([CreditPlanID])
REFERENCES [dbo].[CreditPlan] ([CreditPlanID])
GO
ALTER TABLE [dbo].[PartnerCreditPlan] CHECK CONSTRAINT [FK_PartnerCreditPlan_CreditPlan_CreditPlanID]
GO
ALTER TABLE [dbo].[PartnerError]  WITH CHECK ADD  CONSTRAINT [FK_PartnerError_ErrorMessage_ErrorCode] FOREIGN KEY([ErrorCode])
REFERENCES [dbo].[ErrorMessage] ([ErrorCode])
GO
ALTER TABLE [dbo].[PartnerError] CHECK CONSTRAINT [FK_PartnerError_ErrorMessage_ErrorCode]
GO
ALTER TABLE [dbo].[Settlement]  WITH NOCHECK ADD  CONSTRAINT [FK_Settlement_AuthorizationRequest_AuthorizationRequestID] FOREIGN KEY([AuthorizationRequestID])
REFERENCES [dbo].[AuthorizationRequest] ([AuthorizationRequestID])
GO
ALTER TABLE [dbo].[Settlement] CHECK CONSTRAINT [FK_Settlement_AuthorizationRequest_AuthorizationRequestID]
GO
ALTER TABLE [dbo].[Settlement]  WITH NOCHECK ADD  CONSTRAINT [FK_Settlement_SAServiceAudit_SAServiceAuditID] FOREIGN KEY([SAServiceAuditID])
REFERENCES [dbo].[SAServiceAudit] ([SAServiceAuditID])
GO
ALTER TABLE [dbo].[Settlement] CHECK CONSTRAINT [FK_Settlement_SAServiceAudit_SAServiceAuditID]
GO
ALTER TABLE [dbo].[AuthorizationRequest]  WITH NOCHECK ADD  CONSTRAINT [CK_AuthorizationRequest_GroupID] CHECK  (([GroupId] < 0))
GO
ALTER TABLE [dbo].[AuthorizationRequest] CHECK CONSTRAINT [CK_AuthorizationRequest_GroupID]
GO
ALTER TABLE [dbo].[CreditApplication]  WITH NOCHECK ADD  CONSTRAINT [CK_CreditApplication_GroupID] CHECK  (([GroupId] < 0))
GO
ALTER TABLE [dbo].[CreditApplication] CHECK CONSTRAINT [CK_CreditApplication_GroupID]
GO
ALTER TABLE [dbo].[PFSGroup]  WITH NOCHECK ADD  CONSTRAINT [CK_PFSGroup_GroupID] CHECK NOT FOR REPLICATION (([dbo].[IsValidGroup]([GroupID]) = 1))
GO
ALTER TABLE [dbo].[PFSGroup] CHECK CONSTRAINT [CK_PFSGroup_GroupID]
GO
ALTER TABLE [dbo].[Settlement]  WITH NOCHECK ADD  CONSTRAINT [CK_Settlement_Audit] CHECK  (([ProviderNetAmount] + [DiscountAmount] + [PartnerDiscountAmount] = [TransactionAmount]))
GO
ALTER TABLE [dbo].[Settlement] CHECK CONSTRAINT [CK_Settlement_Audit]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to Common..Groups table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PFSGroup', @level2type=N'COLUMN',@level2name=N'GroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BillingActivity"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 281
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BillingActivitySummaryView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BillingActivitySummaryView'
GO
