USE [dw_dxc_pre]
GO
/****** Object:  View [dbo].[enrollment_application_basic_app_info]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[enrollment_application_basic_app_info] as
        WITH getBasicAppInfo AS (

	SELECT 
		aps.ApplicationSetID AS AppSetID
		, u.FirstName AS UserFirstName
		, u.LastName AS UserLastName
		, u.BillingNPI
		, u.RenderingNPI
		, u.TaxID
		, aps.GroupID
		, g.Name AS GroupName
		, vip.VipID
		, vip.Name AS VipGroupName
		, aps.PayerID
		, p.Name AS PayerName
		, aps.Status AS CurrentAppStatusID
		, stat.Description AS CurrentAppStatus
		, CASE 
			WHEN aps.Active = 1 THEN 'Active'
			WHEN aps.Active = 0 THEN 'Deleted'
			ELSE CAST(aps.Active AS VARCHAR)
		END AS AppState
		, aps.DateCreated
		, dt.Description AS DocType
		, aps.State
		, aps.ProviderDirectoryID
		, pdp.ProviderDirectoryPayerID
		
	FROM "cred"."dbo"."ApplicationSet" AS aps 
	LEFT JOIN "common"."dbo"."Users" AS u 
		ON aps.UserID = u.UserID
	LEFT JOIN "common"."dbo"."Groups" AS g 
		ON aps.GroupID = g.GroupID
	LEFT JOIN "cred"."dbo"."ProviderFormStatus" AS stat 
		ON aps.Status = stat.ProviderFormStatusID
	LEFT JOIN "common"."dbo"."VIPGroup" vg 
		ON aps.GroupID = vg.GroupID
	LEFT JOIN "common"."dbo"."VIP" AS vip 
		ON vg.VipID = vip.VipID
	LEFT JOIN "common"."dbo"."Payer" AS p 
		ON aps.PayerID = p.PayerID
	LEFT JOIN "common"."dbo"."DocType" AS dt
		ON aps.DocType = dt.DocType
	INNER JOIN "cred"."dbo"."FormType" AS ft 
		ON aps.FormTypeID = ft.FormTypeID 
		AND ft.PayerProcessType = 'E'

	-- condition 1 the provider directory id is properly associated to the application
	LEFT JOIN "common"."dbo"."ProviderDirectoryPayer" AS pdp 
		ON (aps.providerdirectoryid IS NOT NULL 
		AND aps.providerdirectoryid = pdp.providerdirectoryid 
		AND aps.payerid = pdp.payerid)

	-- condition 2 the provider directory id is not properly associated to the application	
	LEFT JOIN "common"."dbo"."ProviderDirectory" AS pd 
		ON (aps.providerdirectoryid IS NULL 
		AND aps.userid = pd.userid)
	LEFT JOIN "common"."dbo"."ProviderDirectoryPayer" AS pd_missing 
		ON (aps.providerdirectoryid IS NULL 
		AND pd.providerdirectoryid = pd_missing.providerdirectoryid
		AND aps.payerid = pd_missing.payerid)
		
	GROUP BY 
		aps.ApplicationSetID
		, u.firstname
		, u.LastName
		, aps.GroupID
		, g.Name
		, vip.VipID
		, vip.Name
		, aps.PayerID
		, p.Name
		, aps.Status
		, stat.Description
		, aps.Active
		, aps.DateCreated
		, dt.Description
		, aps.State
		, aps.ProviderDirectoryID
		, pdp.ProviderDirectoryPayerID
		, u.BillingNPI
		, u.RenderingNPI
		, u.TaxID

) 

SELECT *
FROM getBasicAppInfo
    
GO
/****** Object:  View [dbo].[enrollment_application_detail]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[enrollment_application_detail] as
        WITH getBasicAppInfo AS (

	
	SELECT 
		AppSetID 
		, UserFirstName 
		, UserLastName 
		, BillingNPI
		, RenderingNPI
		, TaxID
		, GroupID 
		, GroupName 
		, VipID 
		, VipGroupName 
		, PayerID 
		, PayerName 
		, CurrentAppStatusID 
		, CurrentAppStatus 
		, AppState 
		, DateCreated 
		, DocType
		, State
		, ProviderDirectoryID
		, ProviderDirectoryPayerID

	FROM "dw_dxc_pre"."dbo"."enrollment_application_basic_app_info" AS aps 


) 

, getProviderFormAppSubmissionDate AS (

	SELECT 
        aps.AppSetID
		, MIN(hist.DateModified) AS ReadyForSubmissionDate

	FROM getBasicAppInfo aps
	INNER JOIN "cred"."dbo"."ProviderForm" AS pf 
        ON aps.AppSetID = pf.ApplicationSetID
	INNER JOIN "cred"."dbo"."ProviderFormHistory" AS hist 
        ON pf.ProviderFormID = hist.ProviderFormID 
        AND hist.Status = 300
	WHERE aps.PayerID != 85
	GROUP BY aps.AppSetID

) 

, getStateFormAppSubmissionDate AS (

	SELECT 
        aps.AppSetID
		, MIN(sfHist.DateModified) AS ReadyForSubmissionDate

	FROM getBasicAppInfo aps
	INNER JOIN "cred"."dbo"."ProviderStateForm" AS sf 
        ON aps.AppSetID = sf.ApplicationSetID
	INNER JOIN "cred"."dbo"."ProviderStateFormHistory" AS sfHist 
        ON sf.ProviderStateFormID = sfHist.ProviderStateFormID 
        AND sfHist.Status = 300
	WHERE aps.PayerID != 85
	GROUP BY aps.AppSetID

) 

, getDDCOPFAppSubmissionDate AS (

	SELECT 
        aps.AppSetID
		, MIN(hist.DateModified) AS DDCOSubmitDate

	FROM getBasicAppInfo aps
	INNER JOIN "cred"."dbo"."ProviderForm" pf 
        ON aps.AppSetID = pf.ApplicationSetID
	INNER JOIN "cred"."dbo"."ProviderFormHistory" hist 
        ON pf.ProviderFormID = hist.ProviderFormID 
        AND hist.Status = 600
	WHERE aps.PayerID = 85
	GROUP BY aps.AppSetID 

)

, getDDCOSFAppSubmissionDate AS (

	SELECT 
        aps.AppSetID
		, MIN(sfHist.DateModified) AS DDCOSubmitDate

	FROM getBasicAppInfo aps
	INNER JOIN "cred"."dbo"."ProviderStateForm" AS sf 
        ON aps.AppSetID = sf.ApplicationSetID
	INNER JOIN "cred"."dbo"."ProviderStateFormHistory" AS sfHist 
        ON sf.ProviderStateFormID = sfHist.ProviderStateFormID 
        AND sfHist.Status = 600
	WHERE aps.PayerID = 85
	GROUP BY aps.AppSetID 

)

, getAppDecisionHistoryID AS (

	SELECT 
        aps.AppSetID
		, MIN(hist.ProviderFormHistoryID) AS DecisionHistoryID

	FROM getBasicAppInfo aps
	INNER JOIN "cred"."dbo"."ProviderForm" pf 
        ON aps.AppSetID = pf.ApplicationSetID
	INNER JOIN "cred"."dbo"."ProviderFormHistory" hist 
        ON pf.ProviderFormID = hist.ProviderFormID
	INNER JOIN "cred"."dbo"."ProviderFormStatus" AS pfs 
        ON hist.Status = pfs.ProviderFormStatusID 
	WHERE pfs.ReportCategory IN ('Declined by Payer', 'Denial Confirmed', 'Approved by Payer', 'Approval Confirmed')
	GROUP BY aps.AppSetID

)

, getAppDecision AS (

	SELECT 
        aps.AppSetID
        , DateModified AS DecisionDate
        , Description AS Decision

	FROM getAppDecisionHistoryID aps
	INNER JOIN "cred"."dbo"."ProviderFormHistory" hist 
        ON aps.DecisionHistoryID = hist.ProviderFormHistoryID
	INNER JOIN "cred"."dbo"."ProviderFormStatus" AS pfs 
        ON hist.Status = pfs.ProviderFormStatusID

)

, getAppSFDecisionHistoryID AS (

	SELECT 
        aps.AppSetID
	    , MIN(sfHist.ProviderStateFormHistoryID) AS DecisionHistoryID

	FROM getBasicAppInfo aps
	INNER JOIN "cred"."dbo"."ProviderStateForm" AS sf 
        ON aps.AppSetID = sf.ApplicationSetID
	INNER JOIN "cred"."dbo"."ProviderStateFormHistory" AS sfHist 
        ON sf.ProviderStateFormID = sfHist.ProviderStateFormID
	INNER JOIN "cred"."dbo"."ProviderFormStatus"  AS pfs 
        ON sfHist.Status = pfs.ProviderFormStatusID 
	WHERE pfs.ReportCategory IN ('Declined by Payer', 'Denial Confirmed', 'Approved by Payer', 'Approval Confirmed')
	GROUP BY aps.AppSetID

)

, getAppSFDecision AS (

	SELECT 
        aps.AppSetID
		, DateModified AS DecisionDate
		, Description AS Decision

	FROM getAppSFDecisionHistoryID aps
	INNER JOIN "cred"."dbo"."ProviderStateFormHistory" AS sfHist 
        ON aps.DecisionHistoryID = sfHist.ProviderStateFormHistoryID
	INNER JOIN "cred"."dbo"."ProviderFormStatus" AS pfs 
        ON sfHist.Status = pfs.ProviderFormStatusID 

)

, getProviderFormsCreditedButPreviouslyBilled AS (

	SELECT 
        aps.AppSetID
		, MIN(hist.DateModified) AS CreditDate

	FROM getBasicAppInfo aps
	INNER JOIN "cred"."dbo"."ProviderForm" AS pf 
        ON aps.AppSetID = pf.ApplicationSetID
	INNER JOIN "cred"."dbo"."ProviderFormHistory" AS hist 
        ON pf.ProviderFormID = hist.ProviderFormID AND hist.Status = 565
	GROUP BY aps.AppSetID

)

, getStateFormsCreditedButPreviouslyBilled AS (

	SELECT 
        aps.AppSetID
		, MIN(sfhist.DateModified) AS CreditDate

	FROM getBasicAppInfo aps
	INNER JOIN "cred"."dbo"."ProviderStateForm" AS sf 
        ON aps.AppSetID = sf.ApplicationSetID
	INNER JOIN "cred"."dbo"."ProviderStateFormHistory" AS sfHist 
        ON sf.ProviderStateFormID = sfHist.ProviderStateFormID AND sfHist.Status = 565
	GROUP BY aps.AppSetID

)

, identifyPayerStatuses AS (

    SELECT 
        StatusID
        , Status
        , Display
        , Category
        , DXCStatus
        , PayerID
        , ROW_NUMBER() OVER(PARTITION BY StatusID ORDER BY PayerID DESC) AS PayerRecord

    FROM "common"."dbo"."ProviderDirectoryPayerStatus"
    --WHERE PayerID IN (SELECT) 
    --  OR PayerID IS NULL

)

, getPayerStatuses AS (

    SELECT StatusID
        , Status
        , Display
        , Category
        , DXCStatus
        , PayerID
    FROM identifyPayerStatuses
    WHERE PayerRecord = 1

)

, getProviderDirectoryPayerStatusByPayer AS (

    SELECT StatusID
        , [Status]
        , Display
        , Category
        , DXCStatus
        , PayerID
    FROM getPayerStatuses

)

, getPartnerCredPayerStatusInfo AS (

    SELECT 
        aps.AppSetID
	    , pdp.Status AS PartnerCredPayerStatusID
	    , sbp.Display AS PartnerCredPayerStatus

    FROM getBasicAppInfo aps
    INNER JOIN "common"."dbo"."ProviderDirectoryPayer" AS pdp 
        ON aps.ProviderDirectoryID = pdp.ProviderDirectoryID
    LEFT JOIN getProviderDirectoryPayerStatusByPayer AS sbp 
        ON sbp.StatusID = pdp.Status AND sbp.PayerID = pdp.PayerID

)

, results AS (
 
    SELECT 
		aps.AppSetID
		, UserFirstName AS ProviderFirstName
		, UserLastName AS ProviderLastName
		, BillingNPI
		, RenderingNPI
		, TaxID
		, GroupID
		, GroupName
		, VipID
		, VipGroupName
		, PayerID
		, PayerName
		, CurrentAppStatusID
		, CurrentAppStatus
		, AppState
        , CAST(DateCreated AS DATE) AS CreatedDate
        , COALESCE(CAST(pfsub.ReadyForSubmissionDate AS DATE), CAST(sfsub.ReadyForSubmissionDate AS DATE)) AS ReadyForSubmissionDate
        , COALESCE(CAST(pfddco.DDCOSubmitDate AS DATE), CAST(sfddco.DDCOSubmitDate AS DATE)) AS DDCOSubmitDate
        , (
                SELECT MIN(apsh.triggerdate) AS UpdatedOn
                FROM "cred"."dbo"."ApplicationSetHistory" AS apsh 
                INNER JOIN "cred"."dbo"."ProviderFormStatus" AS pfs 
                    ON apsh.Status = pfs.providerformstatusid
                WHERE aps.AppSetID = apsh.ApplicationSetID
                    AND pfs.providerformstatusid IN (420, 430, 500, 560)
        ) AS SubmitDate
        , (
                SELECT MIN(apsh.triggerdate) AS UpdatedOn
                FROM "cred"."dbo"."ApplicationSetHistory" AS apsh 
                INNER JOIN "cred"."dbo"."ProviderFormStatus" AS pfs 
                    ON apsh.Status = pfs.providerformstatusid
                WHERE aps.AppSetID = apsh.ApplicationSetID
                    AND pfs.providerformstatusid = 500
        ) AS SubmitToDXCDate
        , (
                SELECT MIN(apsh.triggerdate) AS UpdatedOn
                FROM "cred"."dbo"."ApplicationSetHistory" AS apsh 
                INNER JOIN "cred"."dbo"."ProviderFormStatus" AS pfs 
                    ON apsh.Status = pfs.providerformstatusid
                WHERE aps.AppSetID = apsh.ApplicationSetID
                    AND pfs.providerformstatusid IN (420, 430, 550, 560)
        ) AS SubmitToPayerDate
        , (
                SELECT MIN(apsh.triggerdate) AS UpdatedOn
                FROM "cred"."dbo"."ApplicationSetHistory" AS apsh 
                INNER JOIN "cred"."dbo"."ProviderFormStatus" AS pfs 
                    ON apsh.Status = pfs.providerformstatusid
                WHERE aps.AppSetID = apsh.ApplicationSetID
                    AND pfs.providerformstatusid >= 700
        ) AS ApprovalDate
        , COALESCE(CAST(pfcredit.CreditDate AS DATE), CAST(sfcredit.CreditDate AS DATE)) AS CreditDate
        , COALESCE(CAST(dec.DecisionDate AS DATE), CAST(sfdec.DecisionDate AS DATE)) AS DecisionDate
        , COALESCE(dec.Decision, sfdec.Decision) AS Decision
        , DocType
        , State AS FormState
        , pcsi.PartnerCredPayerStatusID
        , pcsi.PartnerCredPayerStatus
        , ProviderDirectoryPayerID

        FROM getBasicAppInfo aps
        LEFT JOIN getProviderFormAppSubmissionDate pfsub 
            ON aps.AppSetID = pfsub.AppSetID
        LEFT JOIN getStateFormAppSubmissionDate sfsub 
            ON aps.AppSetID = sfsub.AppSetID
        LEFT JOIN getDDCOPFAppSubmissionDate pfddco 
            ON aps.AppSetID = pfddco.AppSetID
        LEFT JOIN getDDCOSFAppSubmissionDate sfddco 
            ON aps.AppSetID = sfddco.AppSetID
        LEFT JOIN getProviderFormsCreditedButPreviouslyBilled pfcredit 
            ON aps.AppSetID = pfcredit.AppSetID
        LEFT JOIN getStateFormsCreditedButPreviouslyBilled sfcredit 
            ON aps.AppSetID = sfcredit.AppSetID
        LEFT JOIN getPartnerCredPayerStatusInfo pcsi 
            ON aps.AppSetID = pcsi.AppSetID
        LEFT JOIN getAppDecision dec 
            ON aps.AppSetID = dec.AppSetID
        LEFT JOIN getAppSFDecision sfdec 
            ON aps.AppSetID = sfdec.AppSetID

)

SELECT 
    AppSetID
    , ProviderFirstName
    , ProviderLastName
    , BillingNPI
	, RenderingNPI
	, TaxID
    , GroupID
    , GroupName
    , VipGroupName
    , PayerName
    , CurrentAppStatusID
    , CurrentAppStatus
    , AppState
    , CreatedDate
    , SubmitDate
    , SubmitToDXCDate
    , SubmitToPayerDate
    , ApprovalDate
    , CASE 
          WHEN COALESCE(ReadyForSubmissionDate, DDCOSubmitDate) < GETDATE() 
          THEN 'x' 
          ELSE NULL 
    END AS PreviouslyBilled
    , DecisionDate
    , Decision
    , CreditDate
    , DocType
    , FormState
    
FROM results
    
GO
/****** Object:  View [dbo].[enrollment_application_status_history]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[enrollment_application_status_history] as
        WITH getBasicAppInfo AS (

	SELECT 
        AppSetID 
		, UserFirstName 
		, UserLastName 
		, GroupID 
		, GroupName 
		, VipID 
		, VipGroupName 
		, PayerID 
		, PayerName 
		, CurrentAppStatusID 
		, CurrentAppStatus 
		, AppState 
		, DateCreated 
		, DocType
		, State
		, ProviderDirectoryID

	FROM "dw_dxc_pre"."dbo"."enrollment_application_basic_app_info" AS aps 

) 

, appHistory AS (

	SELECT 
        aps.AppSetID
		, ROW_NUMBER() OVER(PARTITION BY aps.AppSetID ORDER BY apsh.ApplicationSetHistoryID ASC) AS StatusHistoryOrder
		, pfs.description AS HistoricalStatus
		, pfs.providerformstatusid
		, apsh.triggerdate AS UpdatedOn
		, CASE
			WHEN pfs.Description = 'Created' 
            THEN NULLIF(TRIM(CONCAT(cu.FirstName, ' ', cu.LastName)), '')
			ELSE COALESCE(NULLIF(TRIM(CONCAT(su.FirstName, ' ', su.LastName)), ''), NULLIF(TRIM(CONCAT(u.FirstName, ' ', u.LastName)), '')) 
		END AS UpdatedBy

	FROM getBasicAppInfo AS aps
	INNER JOIN "cred"."dbo"."ApplicationSetHistory" AS apsh 
        ON aps.AppSetID = apsh.ApplicationSetID 
	INNER JOIN "cred"."dbo"."ProviderFormStatus" AS pfs 
        ON apsh.Status = pfs.providerformstatusid
	LEFT JOIN "common"."dbo"."Users" AS cu 
        ON apsh.CreateUserID = cu.userid
	LEFT JOIN "common"."dbo"."Users" AS u 
        ON apsh.modifyuserid = u.userid
	LEFT JOIN "common"."dbo"."SupportUser" AS su 
        ON apsh.supportuserid = su.supportuserid
	WHERE (apsh.Status <= 100 OR apsh.Status > 410)
)

, results AS (

    SELECT 
        aps.AppSetID
        , UserFirstName AS ProviderFirstName
        , UserLastName AS ProviderLastName
		, GroupID
        , GroupName
		, VipID
		, VipGroupName
        , PayerID
        , PayerName
		, DocType
        , CurrentAppStatusID 
        , CurrentAppStatus 
        , apsh.StatusHistoryOrder
        , apsh.HistoricalStatus
        , apsh.providerformstatusid
        , apsh.UpdatedOn
        , apsh.UpdatedBy

    FROM getBasicAppInfo aps
    LEFT JOIN appHistory apsh 
        ON aps.AppSetID = apsh.AppSetID
)

SELECT 
    AppSetID
	, ProviderFirstName
	, ProviderLastName
	, PayerID
	, PayerName
	, CurrentAppStatusID 
	, CurrentAppStatus 
	, StatusHistoryOrder
	, HistoricalStatus
	, providerformstatusid AS HistoricalStatusID
	, CASE 
        WHEN providerformstatusid = 100 
        THEN UpdatedOn
		ELSE NULL
    END AS CreatedOnDate
	, CASE 
        WHEN providerformstatusid = 500 
        THEN UpdatedOn
		ELSE NULL
    END AS SubmittedToDXCOnDate
	, CASE 
        WHEN providerformstatusid IN (420, 430, 550, 560)
        THEN UpdatedOn
		ELSE NULL
    END AS SubmittedToPayerOnDate
	, GroupID
	, GroupName
	, VipID
	, VipGroupName
	, DocType
	, UpdatedOn
	, UpdatedBy
    
FROM results
    
GO
/****** Object:  View [dbo].[clean_claims]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[clean_claims] as
        with rejection_statuses as (

    select concat('%', col1, ':', col2, '%') as pattern from

	(
		select 'A3' as col1 union 
		select 'A6' union
		select 'A7' union
		select 'A8' union
        select 'D0' union
        select 'DXC2' union
        select 'E0' union
        select 'E1' union
        select 'E2' union
        select 'E3' union
        select 'E4'
	) as x

    cross join

    (
        select '19' as col2 union 
        select '21' union
        select '26' union
        select '27' union
        select '28' union
        select '29' union
        select '30' union
        select '31' union
        select '32' union
        select '33' union
        select '34' union
        select '88' union
        select '89' union
        select '97' union
        select '109' union
        select '128' union
        select '153' union
        select '155' union
        select '156' union
        select '173' union
        select '504'
    ) as y

)

select
    c.ClaimID,
    c.GroupID,
    c.ClaimFileUploadID,
    c.FacilityCode,
    c.SubmitDate,

    max(coalesce(case
        when ch.Status between 200 and 330
            and rs.pattern is null
            and ch.ClaimStatus is not null
        then 1 else 0
    end, 0)) as DXC_Rejection,

    max(coalesce(case
        when ch.Status between 800 and 810
            and rs.pattern is null
            and ch.ClaimStatus is not null
        then 1 else 0
    end, 0)) as Payer_Rejection

from "dci"."dbo"."Claim" as c
left join "dci"."dbo"."ClaimHistory" as ch
    on c.ClaimID = ch.ClaimID
	and ch.ClaimStatus is not null
	and (ch.Status between 200 and 330 or ch.Status between 800 and 810)
left join rejection_statuses as rs 
    on ch.ClaimStatus like rs.pattern
where c.SubmitDate >= DATEADD(DAY, -365, GETDATE())
group by
    c.ClaimID,
    c.GroupID,
    c.ClaimFileUploadID,
    c.FacilityCode,
    c.SubmitDate




    
GO
/****** Object:  View [dbo].[clean_claim_rates_by_client_vw]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[clean_claim_rates_by_client_vw] as
        select
    cc.GroupID,
    g.Name as GroupName,
    v.VipID,
    v.Name as VipName,

    sum(DXC_Rejection) as n_dxc_rejections,
    sum(Payer_Rejection) as n_payer_rejections,
    sum(case 
        when DXC_Rejection = 1 and Payer_Rejection = 1
        then 1 else 0 end
    ) as n_dxc_rejection_and_payer_rejection,
    sum(case 
        when DXC_Rejection = 0 and Payer_Rejection = 1
        then 1 else 0 end
    ) as n_dxc_acceptance_and_payer_rejection,
    sum(case 
        when DXC_Rejection = 1 and Payer_Rejection = 0
        then 1 else 0 end
    ) as n_dxc_rejection_and_payer_acceptance,
    sum(case 
        when DXC_Rejection = 0 and Payer_Rejection = 0
        then 1 else 0 end
    ) as n_dxc_acceptance_and_payer_acceptance,
    count(*) as n_total_claims

from "dw_dxc_pre"."dbo"."clean_claims" as cc
left join "common"."dbo"."Groups" as g
  on cc.GroupID = g.GroupID
left join "common"."dbo"."VIPGroup" as vg
  on cc.GroupID = vg.GroupID
left join "common"."dbo"."VIP" as v
  on vg.VipID = v.VipID
group by
  cc.GroupID,
  g.Name,
  v.VipID,
  v.Name
    
GO
/****** Object:  View [dbo].[claim_payment_details_vw]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[claim_payment_details_vw] as
        Select 
P.ClaimPaymentID as claim_payment_ID
, P.GroupID as group_ID
, g.Name as group_name
, P.TotalCount as total_count
, P.TimeStmp as time_stmp
, P.ViewedTimeStmp as viewed_time_stmp 
, P. PaymentEffectiveDate as payment_effective_date
, P.ProductionDate as production_date
, P.PaymentAmount as payment_amount
, P.PayeePrimaryID as payee_primary_ID
, P.PayeeSecondaryID as payee_secondary_ID
, P.[SourcePartnerCode] as source_partner_code
, sc.description as source_partner_code_description
, P.[ContractID] as contract_ID
, P.[PayerName] as payer_name
, P.[TransactionID] as transaction_NO
, P.[CompanyID] as company_ID
, P.[TransCode] as transaction_handling_code
, case when p.TransCode = 'C' then'Payment Accompanies Remittance Advice'
when p.TransCode = 'D' then'Make Payment Only'
when p.TransCode = 'H' then'Notification Only'
when p.TransCode = 'I' then'Remittance Information Onl'
when p.TransCode = 'P' then' Prenotification of Future Transfers'
when p.TransCode = 'U' then'Split Payment and Remittance'
when p.TransCode = 'X' then'Handling Party’s Option to Split Payment and
Remittance'else NULL end as transaction_handling_code_description
, P.[TransactionType] as transaction_type
, P.[PaymentMethodCode] as payment_method_code
		, CASE 
			WHEN p.PaymentMethodCode = 'ACH' THEN 'Automated Clearing House'
			WHEN p.PaymentMethodCode = 'FWT' THEN 'Wire Transfer'
			WHEN p.PaymentMethodCode = 'CHK' THEN 'Check'
			WHEN p.PaymentMethodCode = 'NON' THEN 'Non-Payment Information'
			WHEN p.PaymentMethodCode = 'BOP' THEN 'Financial Institution Option'
			ELSE NULL END AS payment_method_code_description
, P.[PaymentFormatCode] as payment_format_code
, Case when P.[PaymentFormatCode] = 'CCP' then 'Cash Concentration/Disbursement plus Addenda (CCD+) (ACH)'
 when P.[PaymentFormatCode] = 'CTX' then 'Corporate Trade Exchange (CTX) (ACH)' 
 Else Null End as  payment_format_code_description
 
, p.[SenderDFICode] as  sender_dFI_code
, Case when p.[SenderDFICode] =  01 then ' USA Bank or Institution Code Number'
when p.[SenderDFICode] =  02 then 'Canadian Bank or Institution Code Number' Else Null End as sender_dFI_code_description
, P.[SenderDFINumber] as sender_dFI_number
, P.[SenderAccountNumber] as sender_account_number
, P.[SenderTaxId] as sender_tax_ID
, P.[SenderAddlId] as  originating_company_Identifier_code
, P.[ReceiverDFICode] as receiver_dFI_code
, Case when P.[ReceiverDFICode] =  01 then ' USA Bank or Institution Code Number'
when P.[ReceiverDFICode] =  02 then 'Canadian Bank or Institution Code Number' Else Null End as receiver_dFI_code_description

, P.[ReceiverDFINumber] AS receiver_dFI_number
, P.[ReceiverAcctNoQualifier] as code_indicating_type_of_account
, Case when P.[ReceiverAcctNoQualifier] = 'DA' then  'Demand Deposit'
 when P.[ReceiverAcctNoQualifier] = 'SG' then  'Savings' else NULL end as code_indicating_type_of_account_description

, P.[ReceiverAccountNumber] as receiver_account_number
, P.[SAServiceAuditID] as sA_service_audit_ID
, P.[ReceiverID] as receiver_ID
, P.[VersionID] as version_ID
, P.[RTServiceAuditID] as RT_service_audit_ID
, P.[UserId] as user_ID
, P.[ActionType] as action_type_code
 , Case when P.[ActionType] =  1 then 'Created'
  when P.[ActionType] =  2 then 'Viewed'
  when P.[ActionType] =  3 then 'Downloaded'
  when P.[ActionType] =  4 then 'Printed'
  when P.[ActionType] =  5 then  'Exported'
  when P.[ActionType] =  6 then  'Processed'
  when P.[ActionType] =  7 then 'Unprocessed' else NULL END AS action_type_description
, P.[ActionTimeStmp] as  updated_date
, P.[OrigSourcePartnerCode] as orig_source_partner_code
,  Pc.Description as orig_source_partner_code_description
, P.[Npi] as NPI
, P.[TaxId] as tax_ID
, P.[PayeeId] as payee_ID
, P.[PaymentZip] as payment_zip
, P.[EraRegistrationID] as era_registration_ID
, P.[UnMatchedClaimCount] as un_matched_claim_count
, P.[MetaClaimPaymentID] as meta_claim_payment_ID 
, P.[PayerID] as payer_ID
, P.[BillingActivityID] as billing_activity_ID
, P.[ModifySupportUserID] as modify_support_user_ID
from "dci"."dbo"."ClaimPayment" AS P WITH (NOLOCK) 
LEFT JOIN "common"."dbo"."Groups" AS G WITH (NOLOCK) ON p.GroupID = g.GroupID
LEFT JOIN "chs"."dbo"."PartnerCode" AS  PC WITH (NOLOCK)  ON  P.OrigSourcePartnerCode = PC.PartnerCode
LEFT JOIN "chs"."dbo"."PartnerCode" AS  SC WITH (NOLOCK)  ON  P.SourcePartnerCode = SC.PartnerCode
    
GO
/****** Object:  View [dbo].[clearinghouse_claim_details]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[clearinghouse_claim_details] as
        SELECT 
      mc.MetaClaimID AS Meta_Claim_ID
    , mc.OrigClaimID AS Original_Claim_ID
    , mc.PayerID AS DXC_Payer_ID
    , mc.PatientAccountNo AS Patient_Account_Number
    , mc.ProvTaxID AS Billing_Provider_Tax_ID
    , mc.PatientLastName AS Patient_Last_Name
    , mc.PatientFirstName AS Patient_First_Name
    , mc.BillProvLastName AS Billing_Provider_Last_Name
    , mc.BillProvFirstName AS Billing_Provider_First_Name
    , mc.RenderingProvLastName AS Rendering_Provider_Last_Name
    , mc.RenderingProvFirstName AS Rendering_Provider_First_Name
    , mc.ClaimTotal AS Claim_Total
    , mc.DateOfService AS Date_Of_Service
    , mc.MemberNo AS Member_Number
    , NULLIF(TRIM(mc.ClaimType), '') AS Claim_Type_Code
    , CASE ISNULL(NULLIF(TRIM(mc.ClaimType), ''), 'NA')
        WHEN 'NA' THEN 'Claim'
        WHEN 'EN' THEN 'Encounter'
        WHEN 'PB' THEN 'Pretreatment Estimate'
        WHEN 'SU' THEN 'Subrogation'
        ELSE NULL 
      END AS Claim_Type_Description
    , mc.SourcePartnerCode AS Source_Partner_Code
    , spc.Description AS Source_Partner_Description
    , mc.DestPartnerCode AS Destination_Partner_Code
    , dpc.Description AS Destination_Partner_Description
    , mc.TimeCreated AS Meta_Claim_Time_Created
    , mc.InFileID AS In_File_ID
    , mc.OutFileID AS Out_File_ID
    , mc.BatchID AS Batch_ID
    , mc.ErrorCode AS Error_Code
    , e.Description AS Error_Code_Description
    , mc.Warnings AS Warnings
    , mc.PayerName AS Payer_Name
    , mc.PayerAddress1 AS Payer_Address_Line_1
    , NULLIF(TRIM(mc.PayerAddress2), '') AS Payer_Address_Line_2
    , mc.PayerCity AS Payer_City
    , mc.PayerState AS Payer_State
    , mc.PayerZip AS Payer_Zip
    , mc.BillingProvNPI AS Billing_Provider_NPI
    , mc.RenderingProvNPI AS Rendering_Provider_NPI
    , mc.BillingProvLicNum AS Billing_Provider_License_Number
    , mc.RenderingProvLicNum AS Rendering_Provider_License_Number
    , mc.PartnerAccountNumber AS Group_ID
    , g.Name AS Group_Name
	, v.VipID AS VIP_ID
	, v.Name AS VIP_Name
    , mc.ContractID AS Contract_ID
    , mc.DestinationUpgradeReasonID AS Destination_Upgrade_Reason_ID
    , dur.Reason AS Destination_Upgrade_Reason_Description
    , mc.NeaNo AS NEA_Number
    , mc.AttachmentID AS Attachment_ID
    , mc.State 
    , mc.PayerIDCode AS Payer_ID 
    , mc.PatientDOB AS Patient_Date_Of_Birth
    , CASE ISNULL(mc.MultiPayers, 0)
        WHEN 1 THEN 'Yes'
        WHEN 0 THEN 'No'
        ELSE NULL
      END AS Is_Multiple_Payer_Claim
    , mc.OutboundPayerIDCode AS Outbound_Payer_ID
    , mc.InboundPayerIDCode AS Inbound_Payer_ID

FROM "chs"."dbo"."MetaClaim" AS mc WITH (NOLOCK)
INNER JOIN "chs"."dbo"."PartnerCode" AS spc WITH (NOLOCK) 
    ON mc.SourcePartnerCode = spc.PartnerCode
INNER JOIN "chs"."dbo"."PartnerCode" AS dpc WITH (NOLOCK) 
    ON mc.DestPartnerCode = dpc.PartnerCode
LEFT JOIN "chs"."dbo"."ErrorCode" AS e WITH (NOLOCK) 
    ON mc.ErrorCode = e.ErrorCode
LEFT JOIN "chs"."dbo"."DestinationUpgradeReason" AS dur WITH (NOLOCK) 
    ON mc.DestinationUpgradeReasonID = dur.DestinationUpgradeReasonID
LEFT JOIN "common"."dbo"."Groups" AS g WITH (NOLOCK) 
    ON mc.SourcePartnerCode = 'DCI' 
    AND mc.PartnerAccountNumber = g.GroupID
LEFT JOIN "common"."dbo"."VIPGroup" AS vg WITH (NOLOCK)
	ON g.GroupID = vg.GroupID
LEFT JOIN "common"."dbo"."VIP" AS v WITH (NOLOCK)
	ON vg.VipID = v.VipID
    
GO
/****** Object:  View [dbo].[clearinghouse_claim_statuses]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[clearinghouse_claim_statuses] as
        -- Ensure we only check the most recent enrollment application status for each provider-payer
WITH ordered_enrollment_statuses AS (
	
	SELECT
		  PayerID
		, ProviderTIN
		, EnrollmentTypeCode
		, Phone
		, ROW_NUMBER() OVER (PARTITION BY ProviderTIN, PayerID ORDER BY CreateDate DESC) AS rn

	FROM "common"."dbo"."ProviderPayerEnrollment"

)

, latest_enrollment_status AS (
	
	SELECT * FROM ordered_enrollment_statuses WHERE rn = 1

)

, ordered_claim_statuses AS (

	SELECT
		  MetaClaimID
		, ClaimStatus
		, SourcePartnerCode
		, StatusDescription
		, ROW_NUMBER() OVER (PARTITION BY MetaClaimID ORDER BY TimeCreated DESC) AS rn

	FROM "chs"."dbo"."MetaClaimStatus"
	WHERE TimeCreated >= '2024-02-01'

)

, latest_claim_status AS (

	SELECT
		  MetaClaimID
		, ClaimStatus
		, SourcePartnerCode
		, StatusDescription

		-- Get ClaimStatus category, code, and entity values
		--   ClaimStatus format is XXX:123:XXX
		--   Status Category Code is the alphanumeric string before the first ':'
		--   Status Code is the numeric string after the first ':' and before the second ':'
		--   Entity Code is the alphanumeric string after the second ':' (if one exists)
		, CASE 
			WHEN CHARINDEX(':', ClaimStatus) > 0 
            	THEN LEFT(ClaimStatus, CHARINDEX(':', ClaimStatus) - 1) 
        	ELSE ClaimStatus 
    	  END AS CategoryCode,
    	  CAST(CASE 
        	WHEN CHARINDEX(':', ClaimStatus) > 0 
            	THEN SUBSTRING(ClaimStatus, CHARINDEX(':', ClaimStatus) + 1, 
          			CASE CHARINDEX(':', ClaimStatus, CHARINDEX(':', ClaimStatus) + 1) 
                    	WHEN 0 THEN LEN(ClaimStatus) 
                    	ELSE CHARINDEX(':', ClaimStatus, CHARINDEX(':', ClaimStatus) + 1) - CHARINDEX(':', ClaimStatus) - 1 
                	END)
    	  END AS SMALLINT) AS StatusCode,
    	  CASE 
        	WHEN CHARINDEX(':', ClaimStatus, CHARINDEX(':', ClaimStatus) + 1) > 0 
            	THEN NULLIF(RIGHT(ClaimStatus, LEN(ClaimStatus) - CHARINDEX(':', ClaimStatus, CHARINDEX(':', ClaimStatus) + 1)), '')
    	  END AS EntityID
	
	FROM ordered_claim_statuses WHERE rn = 1

)

-- Grab unique group names for matching with billing provider
, distinct_group_names AS (

	SELECT * FROM "common"."dbo"."Groups"
	WHERE Name IN (
		SELECT Name
		FROM "common"."dbo"."Groups"
		GROUP BY Name
		HAVING COUNT(*) = 1
	)

)

-- Grab unique vip groups in case of duplicates
, distinct_vip_groups AS (

	SELECT DISTINCT
		  VipID
		, GroupID

	FROM "common"."dbo"."VIPGroup"

)

-- Join all data together (distinct is necessary as few claims have duplicate rejection status records)
, rejected_claims AS (

	SELECT
		  mc.SourcePartnerCode AS Source_Partner_Code
		, pc.Description AS Source_Partner_Name
		, mc.MetaClaimID AS Meta_Claim_ID
		, mc.OrigClaimID AS Original_Claim_ID
		, mc.InFileID AS In_File_ID
		, mf.Name AS In_File_Name
		, COALESCE(mc.PartnerAccountNumber, chsg.GroupID) AS Group_ID
		, COALESCE(dcig.Name, chsg.Name) AS Group_Name
		, COALESCE(dciv.VipID, chsv.VipID) AS VIP_ID
		, COALESCE(dciv.Name, chsv.Name) AS VIP_Name
		, mc.TimeCreated AS Claim_Created_At
		, mc.DateOfService AS Service_Date
		, mc.RenderingProvFirstName AS Rendering_Provider_First_Name
		, mc.RenderingProvLastName AS Rendering_Provider_Last_Name
		, mc.RenderingProvNPI AS Rendering_Provider_NPI
		, mc.BillProvFirstName AS Billing_Provider_First_Name
		, mc.BillProvLastName AS Billing_Provider_Last_Name
		, mc.BillingProvNPI AS Billing_Provider_NPI
		, mc.ProvTaxID AS Billing_Provider_Tax_ID
		, CASE
			WHEN LEN(COALESCE(les.Phone, dcig.Phone, chsg.Phone)) < 7 THEN NULL
			ELSE COALESCE(les.Phone, dcig.Phone, chsg.Phone)
		  END AS Billing_Provider_Phone
		, mc.PayerIDCode AS Payer_ID
		, mc.PayerName AS Payer_Name
		, p.Active AS Payer_Is_Active

		-- Error codes and descriptions
		, mcs.ClaimStatus AS Claim_Status
		, mcs.StatusDescription AS Claim_Status_Description
		, mcs.SourcePartnerCode AS Claim_Status_Source_Partner_Code
		, mc.ErrorCode AS Error_Code
		, ec.Description AS Error_Code_Description
		, mcs.CategoryCode AS Claim_Status_Category_Code
		, sc.Description AS Claim_Status_Category_Description
		, mcs.StatusCode AS Claim_Status_Code
		, sco.Description AS Claim_Status_Code_Description
		, mcs.EntityID AS EDI_Entity_Code
		, eec.Description AS EDI_Entity_Code_Description

		-- Enrollment application status
		, CASE les.EnrollmentTypeCode
			WHEN 100 THEN 'New Enrollment. Process Pending.'
			WHEN 101 THEN 'Enrollment has been sent to the Provider.'
			WHEN 102 THEN 'Enrollment received from Provider.'
			WHEN 103 THEN 'Enrollment sent to Payer.'
			WHEN 110 THEN 'New Enrollment. Application Set Created.'
			WHEN 115 THEN 'Enrollment Form Generated - Answers Finlaized.'
			WHEN 120 THEN 'Enrollment Form Printed - Waiting Provider Send to Payer.'
			WHEN 125 THEN 'Enrollment Form Printed - Waiting Provider Send to DentalXChange.'
			WHEN 130 THEN 'Enrollment Form Submitted to DentalXChange.'
			WHEN 141 THEN 'Enrollment Form Submitted to Payer by DentalXChange.'
			WHEN 145 THEN 'Enrollment Form Submitted to Payer by Provider.'
			WHEN 150 THEN 'Not able to be Enrolled.'
			WHEN 151 THEN 'Enrollment declined by Provider - bad data.'
			WHEN 152 THEN 'Enrollment declined by Provider - withdraw request.'
			WHEN 156 THEN 'Enrollment declined by Payer - ineligible.'
			WHEN 157 THEN 'Enrollment declined by Payer - invalid data.'
			WHEN 190 THEN 'Provider received Approval from Payer.'
			WHEN 195 THEN 'Payer Approved enrollment'
			WHEN 200 THEN 'Enrollment confirmed by DentalXChange.'
			WHEN 300 THEN 'Testing Provider Enrollment Override.'
		  END AS Latest_Enrollment_Application_Status

	FROM "chs"."dbo"."MetaClaim" AS mc WITH (NOLOCK)
	LEFT JOIN latest_claim_status AS mcs WITH (NOLOCK)
		ON mc.MetaClaimID = mcs.MetaClaimID
	LEFT JOIN "chs"."dbo"."PartnerCode" AS pc WITH (NOLOCK)
		ON mc.SourcePartnerCode = pc.PartnerCode
	LEFT JOIN "chs"."dbo"."MetaFile" AS mf WITH (NOLOCK)
		ON mc.InFileID = mf.MetaFileID
	LEFT JOIN "chs"."dbo"."ErrorCode" AS ec WITH (NOLOCK)
		ON mc.ErrorCode = ec.ErrorCode
	LEFT JOIN "common"."dbo"."Payer" AS p WITH (NOLOCK)
		ON mc.PayerID = p.PayerID

	-- Get Group, VIP info for DCI-sourced claims	
	LEFT JOIN "common"."dbo"."Groups" AS dcig WITH (NOLOCK)
		ON mc.PartnerAccountNumber = dcig.GroupID
		AND mc.SourcePartnerCode = 'DCI'
	LEFT JOIN distinct_vip_groups AS dcivg WITH (NOLOCK)
		ON dcig.GroupID = dcivg.GroupID
	LEFT JOIN "common"."dbo"."VIP" AS dciv WITH (NOLOCK)
		ON dcivg.VipID = dciv.VipID

	-- Get Group, VIP info for non DCI-sourced claims
	LEFT JOIN distinct_group_names AS chsg WITH (NOLOCK)
		ON mc.BillProvLastName = chsg.Name
		AND mc.SourcePartnerCode <> 'DCI'
	LEFT JOIN distinct_vip_groups AS chsvg WITH (NOLOCK)
		ON chsg.GroupID = chsvg.GroupID
	LEFT JOIN "common"."dbo"."VIP" AS chsv WITH (NOLOCK)
		ON chsvg.VipID = chsv.VipID


    -- Get ClaimStatus category, code, and entity descriptions
	LEFT JOIN "dci"."dbo"."StatusCategory" AS sc WITH (NOLOCK)
		ON mcs.CategoryCode = sc.CategoryCode
	LEFT JOIN "dci"."dbo"."StatusCode" AS sco WITH (NOLOCK)
		ON mcs.StatusCode = sco.StatusCode
	LEFT JOIN "dci"."dbo"."EDIEntityCode" AS eec WITH (NOLOCK)
		ON mcs.EntityID = eec.EntityID

	-- Get enrollment application status
	LEFT JOIN latest_enrollment_status AS les WITH (NOLOCK)
		ON mc.PayerID = les.PayerID
		AND mc.ProvTaxID = les.ProviderTIN

	WHERE 
		mc.TimeCreated >= '2024-02-01' --DATEADD(DAY, -30, GETDATE()) 
	-- WHERE 
		-- mcs.ClaimStatus LIKE 'A7:24:%' OR mcs.ClaimStatus = 'A7:24'
		-- Enrollment Errors:
		-- dci.StatusCategory.Description = 'Acknowledgement/Rejected for Invalid Information - The claim/encounter has invalid information as specified in the Status details and has been rejected.'
		-- dci.StatusCode.Description = 'Entity not approved as an electronic submitter.'

)

-- retrieve all rejected claims
SELECT *
FROM rejected_claims
    
GO
/****** Object:  View [dbo].[clearinghouse_enrollment_errors]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[clearinghouse_enrollment_errors] as
        

-- Ensure we only check the most recent enrollment application status for each provider-payer
WITH ordered_enrollment_statuses AS (
	
	SELECT
		  PayerID
		, ProviderTIN
		, ProviderLicense
		, NationalProviderID
		, CreateDate
		, UpdateDate
		, EnrollmentTypeCode
		, Phone
		, ROW_NUMBER() OVER (PARTITION BY ProviderTIN, PayerID ORDER BY CreateDate DESC) AS rn

	FROM "common"."dbo"."ProviderPayerEnrollment"

)

, latest_enrollment_status AS (
	
	SELECT * FROM ordered_enrollment_statuses WHERE rn = 1

)

-- Grab unique group names for matching with billing provider
, distinct_group_names AS (

	SELECT * FROM "common"."dbo"."Groups"
	WHERE Name IN (
		SELECT Name
		FROM "common"."dbo"."Groups"
		GROUP BY Name
		HAVING COUNT(*) = 1
	)

)

-- Grab unique vip groups in case of duplicates
, distinct_vip_groups AS (

	SELECT DISTINCT
		  VipID
		, GroupID

	FROM "common"."dbo"."VIPGroup"

)

-- Ensure we check only the most recent enrollment error (in rare cases there are multiple)
, ordered_claim_statuses AS (

	SELECT
		  MetaClaimID
		, TimeCreated
		, ClaimStatus
		, StatusDescription
		, SourcePartnerCode
		, ROW_NUMBER() OVER (PARTITION BY MetaClaimID ORDER BY TimeCreated DESC) AS rn

	FROM "chs"."dbo"."MetaClaimStatus"
	WHERE TimeCreated >= DATEADD(DAY, -365, GETDATE())
		-- Enrollment Errors:
		-- dci.StatusCategory.Description = 'Acknowledgement/Rejected for Invalid Information - The claim/encounter has invalid information as specified in the Status details and has been rejected.'
		-- dci.StatusCode.Description = 'Entity not approved as an electronic submitter.'
		AND (ClaimStatus LIKE 'A7:24:%' OR ClaimStatus = 'A7:24')

)

, latest_claim_status AS (

	SELECT * FROM ordered_claim_statuses WHERE rn = 1

)

-- Join all data together
, rejected_claims AS (

	SELECT
		  mc.SourcePartnerCode AS Source_Partner_Code
		, pc.Description AS Source_Partner_Name
		, mc.MetaClaimID AS Meta_Claim_ID
		, mc.OrigClaimID AS Original_Claim_ID
		, mc.InFileID AS In_File_ID
		, mf.Name AS In_File_Name
		, COALESCE(mc.PartnerAccountNumber, chsg.GroupID) AS Group_ID
		, COALESCE(dcig.Name, chsg.Name) AS Group_Name
		, COALESCE(dciv.VipID, chsv.VipID) AS VIP_ID
		, COALESCE(dciv.Name, chsv.Name) AS VIP_Name
		, mc.TimeCreated AS Claim_Created_At
		, mc.DateOfService AS Service_Date
		, mcs.TimeCreated AS Claim_Rejected_At
		, mc.RenderingProvFirstName AS Rendering_Provider_First_Name
		, mc.RenderingProvLastName AS Rendering_Provider_Last_Name
		, mc.RenderingProvNPI AS Rendering_Provider_NPI
		, mc.BillProvFirstName AS Billing_Provider_First_Name
		, mc.BillProvLastName AS Billing_Provider_Last_Name
		, mc.BillingProvNPI AS Billing_Provider_NPI
		, mc.ProvTaxID AS Billing_Provider_Tax_ID
		, CASE
			WHEN LEN(COALESCE(les.Phone, dcig.Phone, chsg.Phone)) < 7 THEN NULL
			ELSE COALESCE(les.Phone, dcig.Phone, chsg.Phone)
		  END AS Billing_Provider_Phone
		, dcig.Email AS Billing_Provider_Email
		, mc.PayerIDCode AS Payer_ID
		, mc.PayerName AS Payer_Name
		, p.Active AS Payer_Is_Active
		, p.EnrollmentRequired AS Payer_Enrollment_Required
		, CASE
		  	WHEN p.EnrollmentRequired = 0 AND eec.Description = 'Payer' THEN 1
			ELSE 0
		  END AS Is_Payer_Reenrollment_Error

		-- Error codes and descriptions
		, mcs.ClaimStatus AS Claim_Status
		, mcs.StatusDescription AS Claim_Status_Description
		, mcs.SourcePartnerCode AS Claim_Status_Source_Partner_Code
		, mc.ErrorCode AS Error_Code
		, ec.Description AS Error_Code_Description
		, sc.Description AS Claim_Status_Category_Description
		, sco.Description AS Claim_Status_Code_Description
		, eec.Description AS EDI_Entity_Code_Description

		-- Enrollment application status
		, CASE les.EnrollmentTypeCode
			WHEN 100 THEN 'New Enrollment. Process Pending.'
			WHEN 101 THEN 'Enrollment has been sent to the Provider.'
			WHEN 102 THEN 'Enrollment received from Provider.'
			WHEN 103 THEN 'Enrollment sent to Payer.'
			WHEN 110 THEN 'New Enrollment. Application Set Created.'
			WHEN 115 THEN 'Enrollment Form Generated - Answers Finlaized.'
			WHEN 120 THEN 'Enrollment Form Printed - Waiting Provider Send to Payer.'
			WHEN 125 THEN 'Enrollment Form Printed - Waiting Provider Send to DentalXChange.'
			WHEN 130 THEN 'Enrollment Form Submitted to DentalXChange.'
			WHEN 141 THEN 'Enrollment Form Submitted to Payer by DentalXChange.'
			WHEN 145 THEN 'Enrollment Form Submitted to Payer by Provider.'
			WHEN 150 THEN 'Not able to be Enrolled.'
			WHEN 151 THEN 'Enrollment declined by Provider - bad data.'
			WHEN 152 THEN 'Enrollment declined by Provider - withdraw request.'
			WHEN 156 THEN 'Enrollment declined by Payer - ineligible.'
			WHEN 157 THEN 'Enrollment declined by Payer - invalid data.'
			WHEN 190 THEN 'Provider received Approval from Payer.'
			WHEN 195 THEN 'Payer Approved enrollment'
			WHEN 200 THEN 'Enrollment confirmed by DentalXChange.'
			WHEN 300 THEN 'Testing Provider Enrollment Override.'
		  END AS Latest_Enrollment_Application_Status
		, les.CreateDate AS Latest_Enrollment_Application_Created_At
		, les.UpdateDate AS Latest_Enrollment_Application_Updated_At

	FROM "chs"."dbo"."MetaClaim" AS mc WITH (NOLOCK)
	INNER JOIN latest_claim_status AS mcs WITH (NOLOCK)
		ON mc.MetaClaimID = mcs.MetaClaimID
	LEFT JOIN "chs"."dbo"."PartnerCode" AS pc WITH (NOLOCK)
		ON mc.SourcePartnerCode = pc.PartnerCode
	LEFT JOIN "chs"."dbo"."MetaFile" AS mf WITH (NOLOCK)
		ON mc.InFileID = mf.MetaFileID
	LEFT JOIN "chs"."dbo"."ErrorCode" AS ec WITH (NOLOCK)
		ON mc.ErrorCode = ec.ErrorCode
	LEFT JOIN "common"."dbo"."Payer" AS p WITH (NOLOCK)
		ON mc.PayerID = p.PayerID

	-- Get Group, VIP info for DCI-sourced claims	
	LEFT JOIN "common"."dbo"."Groups" AS dcig WITH (NOLOCK)
		ON mc.PartnerAccountNumber = dcig.GroupID
		AND mc.SourcePartnerCode = 'DCI'
	LEFT JOIN distinct_vip_groups AS dcivg WITH (NOLOCK)
		ON dcig.GroupID = dcivg.GroupID
	LEFT JOIN "common"."dbo"."VIP" AS dciv WITH (NOLOCK)
		ON dcivg.VipID = dciv.VipID

	-- Get Group, VIP info for non DCI-sourced claims
	LEFT JOIN distinct_group_names AS chsg WITH (NOLOCK)
		ON mc.BillProvLastName = chsg.Name
		AND mc.SourcePartnerCode <> 'DCI'
	LEFT JOIN distinct_vip_groups AS chsvg WITH (NOLOCK)
		ON chsg.GroupID = chsvg.GroupID
	LEFT JOIN "common"."dbo"."VIP" AS chsv WITH (NOLOCK)
		ON chsvg.VipID = chsv.VipID

    -- Get ClaimStatus category, code, and entity descriptions
    --   ClaimStatus format is XXX:123:XXX
	--   Status Category Code is the alphanumeric string before the first ':'
	--   Status Code is the numeric string after the firstb ':' and before the second ':'
	--   Entity Code is the alphanumeric string after the second ':'
	LEFT JOIN "dci"."dbo"."StatusCategory" AS sc WITH (NOLOCK)
		ON LEFT(mcs.ClaimStatus, CHARINDEX(':', mcs.ClaimStatus) - 1) = sc.CategoryCode
	LEFT JOIN "dci"."dbo"."StatusCode" AS sco WITH (NOLOCK)
		ON SUBSTRING(mcs.ClaimStatus, CHARINDEX(':', mcs.ClaimStatus) + 1, CHARINDEX(':', mcs.ClaimStatus, CHARINDEX(':', mcs.ClaimStatus) + 1) - CHARINDEX(':', mcs.ClaimStatus) - 1) = sco.StatusCode
	LEFT JOIN "dci"."dbo"."EDIEntityCode" AS eec WITH (NOLOCK)
		ON SUBSTRING(mcs.ClaimStatus, CHARINDEX(':', mcs.ClaimStatus, CHARINDEX(':', mcs.ClaimStatus) + 1) + 1, LEN(mcs.ClaimStatus) - CHARINDEX(':', mcs.ClaimStatus, CHARINDEX(':', mcs.ClaimStatus) + 1)) = eec.EntityID

	-- Get enrollment application status
	LEFT JOIN latest_enrollment_status AS les WITH (NOLOCK)
		ON mc.PayerID = les.PayerID
		AND mc.ProvTaxID = les.ProviderTIN
		AND mc.BillingProvLicNum = les.ProviderLicense
		AND mc.BillingProvNPI = les.NationalProviderID

	WHERE 
		-- get last year of claims
		mc.TimeCreated >= DATEADD(DAY, -365, GETDATE())  --DATEADD(DAY, -365, GETDATE())

)

-- retrieve all rejected claims
SELECT *
FROM rejected_claims
    
GO
/****** Object:  View [dbo].[cred_application_basic_app_info]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[cred_application_basic_app_info] as
        WITH getBasicAppInfo AS (

	SELECT 
		aps.ApplicationSetID AS AppSetID
		, u.FirstName AS UserFirstName
		, u.LastName AS UserLastName
		, aps.GroupID
		, g.Name AS GroupName
		, vip.VipID
		, vip.Name AS VipGroupName
		, aps.PayerID
		, p.Name AS PayerName
		, aps.Status AS CurrentAppStatusID
		, stat.Description AS CurrentAppStatus
		, CASE 
			WHEN aps.Active = 1 THEN 'Active'
			WHEN aps.Active = 0 THEN 'Deleted'
			ELSE CAST(aps.Active AS VARCHAR)
		END AS AppState
		, aps.DateCreated
		, ft.FormTypeName AS FormType
		, aps.State
		, aps.ProviderDirectoryID
		, pdp.ProviderDirectoryPayerID
		, MAX(COALESCE(pdp.RenewDate, pd_missing.RenewDate)) AS RenewDate
			-- ^^ taking the max to reduce duplicates because some providers have more than 1 provider directory record
		
	FROM "cred"."dbo"."ApplicationSet" AS aps 
	LEFT JOIN "common"."dbo"."Users" AS u 
		ON aps.UserID = u.UserID
	LEFT JOIN "common"."dbo"."Groups" AS g 
		ON aps.GroupID = g.GroupID
	LEFT JOIN "cred"."dbo"."ProviderFormStatus" AS stat 
		ON aps.Status = stat.ProviderFormStatusID
	LEFT JOIN "common"."dbo"."VIPGroup" vg 
		ON aps.GroupID = vg.GroupID
	LEFT JOIN "common"."dbo"."VIP" AS vip 
		ON vg.VipID = vip.VipID
	LEFT JOIN "common"."dbo"."Payer" AS p 
		ON aps.PayerID = p.PayerID
	INNER JOIN "cred"."dbo"."FormType" AS ft 
		ON aps.FormTypeID = ft.FormTypeID 
		AND ft.PayerProcessType IN ('C', 'N')

	-- condition 1 the provider directory id is properly associated to the application
	LEFT JOIN "common"."dbo"."ProviderDirectoryPayer" AS pdp 
		ON (aps.providerdirectoryid IS NOT NULL 
		AND aps.providerdirectoryid = pdp.providerdirectoryid 
		AND aps.payerid = pdp.payerid)

	-- condition 2 the provider directory id is not properly associated to the application	
	LEFT JOIN "common"."dbo"."ProviderDirectory" AS pd 
		ON (aps.providerdirectoryid IS NULL 
		AND aps.userid = pd.userid)
	LEFT JOIN "common"."dbo"."ProviderDirectoryPayer" AS pd_missing 
		ON (aps.providerdirectoryid IS NULL 
		AND pd.providerdirectoryid = pd_missing.providerdirectoryid
		AND aps.payerid = pd_missing.payerid)
		
	GROUP BY 
		aps.ApplicationSetID
		, u.firstname
		, u.LastName
		, aps.GroupID
		, g.Name
		, vip.VipID
		, vip.Name
		, aps.PayerID
		, p.Name
		, aps.Status
		, stat.Description
		, aps.Active
		, aps.DateCreated
		, ft.FormTypeName
		, aps.State
		, aps.ProviderDirectoryID
		, pdp.ProviderDirectoryPayerID

) 

SELECT *
FROM getBasicAppInfo

-- count check (check agains sql server)
-- SELECT COUNT(*)
-- FROM getBasicAppInfo

-- tests
-- test 1 provider record match but no renew date (null check; may legit be null)
-- SELECT *
-- FROM getBasicAppInfo
-- WHERE RenewDate IS NULL
-- 	AND ProviderDirectoryID IS NOT NULL
-- 	AND CurrentAppStatus LIKE '%Appr%'

-- -- dupe check
-- SELECT AppSetID
-- FROM getBasicAppInfo
-- GROUP BY AppSetID 
-- HAVING COUNT(AppSetID) > 1

-- eof
    
GO
/****** Object:  View [dbo].[dci_claim_statuses]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[dci_claim_statuses] as
        

WITH payer_rejections AS (
  -- Get dates, statuses from payer rejected claims
  SELECT
      ch.ClaimID
    , ch.ClaimStatus
    , ch.TimeStmp
    , CASE 
        WHEN CHARINDEX(';', ClaimStatus) > 0 
        THEN RIGHT(ClaimStatus, CHARINDEX(';', REVERSE(ClaimStatus)) - 1) 
        ELSE ClaimStatus 
      END AS CS
    , ROW_NUMBER() OVER (PARTITION BY ch.ClaimID ORDER BY TimeStmp DESC) AS rn

  FROM "dci"."dbo"."ClaimHistory" AS ch
  WHERE Status = 810
    AND TimeStmp >= '2023-01-01'

)

, latest_payer_rejections AS (

  SELECT
      ClaimID
    , CS AS Payer_Rejection_Status
    , TimeStmp AS Rejected_By_Payer_At

    -- Rejection Category Code
		, CASE 
			  WHEN CHARINDEX(':', CS) > 0 
        THEN LEFT(CS, CHARINDEX(':', CS) - 1) 
        ELSE CS 
    	END AS Payer_Rejection_Category_Code

    -- Rejection Status Code
    , CAST(CASE 
        WHEN CHARINDEX(':', CS) > 0 
        THEN SUBSTRING(CS, CHARINDEX(':', CS) + 1, 
          CASE CHARINDEX(':', CS, CHARINDEX(':', CS) + 1) 
            WHEN 0 
            THEN LEN(CS) 
            ELSE CHARINDEX(':', CS, CHARINDEX(':', CS) + 1) - CHARINDEX(':', CS) - 1 
          END)
      END AS SMALLINT) AS Payer_Rejection_Status_Code

    -- Rejection Entity ID
    ,	CASE 
        WHEN CHARINDEX(':', CS, CHARINDEX(':', CS) + 1) > 0 
        THEN NULLIF(RIGHT(CS, LEN(CS) - CHARINDEX(':', CS, CHARINDEX(':', CS) + 1)), '')
    	END AS Payer_Rejection_EDI_Entity_Code

  FROM payer_rejections
  WHERE rn = 1

)


, all_claims AS (

  SELECT
      c.ClaimID AS Claim_ID
    , c.ExternalRef AS Provider_Claim_ID
    , c.DateCreated AS Claim_Created_At
    , c.TimeStmp AS Claim_Updated_At
    , c.SubmitDate AS Claim_Submitted_At

    -- Claim status
    , CASE c.Active 
        WHEN 1 THEN 'Active'
        WHEN 0 THEN 'Deactivated'
        ELSE NULL 
      END AS Claim_Active_Status
    , c.Status AS Current_Claim_Status_ID
    , cs.Category AS Current_Claim_Status_Category
    , cs.Status AS Current_Claim_Status_Name
    , cs.Display AS Current_Claim_Status

    -- Group, VIP
    , c.GroupID AS Group_ID
    , g.Name AS Group_Name
    , CASE 
        WHEN v.VipID IS NOT NULL THEN 1
        ELSE 0
      END AS Is_VIP
    , v.VipID AS VIP_ID
    , v.Name AS VIP_Name

    -- Payer
    , c.PayerID AS DXC_Payer_ID
    , p.Name AS Payer_Name
    , p.PayerIDCode AS Industry_Payer_ID

    -- Source
    , c.SourceIndicator AS Claim_Source_Indicator
    , CASE
        WHEN c.SourceIndicator = 'W' THEN 'Direct Data Entry'
        WHEN c.SourceIndicator = 'P' THEN CONCAT('Batch Upload from ', TRIM(cfu.PMSName))
        WHEN c.SourceIndicator != 'P' AND c.ClaimFileUploadID IS NOT NULL THEN TRIM(cfu.PMSName)
        WHEN c.SourceIndicator = 'S' THEN 'Web Service'
        WHEN c.SourceIndicator = 'H' THEN 'Clearinghouse'
        ELSE NULL 
    END AS Claim_Source
    , cfu.FileName AS Upload_File_Name
    , CASE cfu.Status
        WHEN 1 THEN 'Upload Not Claim'
        WHEN 2 THEN 'Upload Failed'
        WHEN 3 THEN 'Parse Failed Not Processable'
        WHEN 4 THEN 'Upload Successful'
        WHEN 5 THEN 'Parse In Progress'
        WHEN 6 THEN 'Parse Failed'
        WHEN 7 THEN 'Group Failed'
        WHEN 8 THEN 'Parse Successful'
        WHEN 9 THEN 'Parse Successful with Skipped'
        WHEN 10 THEN 'Batch Created'
        WHEN 20 THEN 'Batch Failed'
        WHEN 21 THEN 'Batch Reprocess'
        WHEN 22 THEN 'Batch Queued for Reprocess'
        WHEN 25 THEN 'Batch Ready for Upgrade'
        WHEN 27 THEN 'Batch Queued for Upgrade'
        WHEN 29 THEN 'Batch Upgraded'
        WHEN 30 THEN 'Batch Ready for Validate'
        ELSE NULL 
      END AS Claim_File_Upload_Status

    -- PMS
    , cfu.PMSName AS PMS_Name
    , cfu.PMSID AS PMS_ID

    -- Billing provider
    , NULLIF(COALESCE(TRIM(bill.GroupName), TRIM(CONCAT(bill.FirstName, ' ', bill.LastName))), '') AS Billing_Provider_Name
    , bill.TaxID AS Billing_Provider_Tax_ID
    , bill.LicNum AS Billing_Provider_License
    , NULLIF(TRIM(CONCAT(bill.Address1, ' ', bill.Address2)), '') AS Billing_Provider_Address
    , bill.City AS Billing_Provider_City
    , bill.State AS Billing_Provider_State
    , bill.Zip AS Billing_Provider_Zip

    -- Rendering provider
    , NULLIF(TRIM(CONCAT(rend.LastName, ' ', rend.FirstName)), '') AS Rendering_Provider_Name
    , NULLIF(TRIM(rend.TaxID), '') AS Rendering_Provider_Tax_ID
    , NULLIF(TRIM(rend.LicNum), '') AS Rendering_Provider_License
    , NULLIF(TRIM(rend.RenderingNPI), '') AS Rendering_Provider_NPI
    , NULLIF(TRIM(CONCAT(rend.Address1, ' ', rend.Address2)), '') AS Rendering_Provider_Address
    , rend.City AS Rendering_Provider_City
    , rend.State AS Rendering_Provider_State
    , rend.Zip AS Rendering_Provider_Zip

    -- Payer rejections
    , CASE 
        WHEN prej.Rejected_By_Payer_At IS NOT NULL 
        THEN 1 
        ELSE 0 
      END AS Rejected_By_Payer
    , prej.Rejected_By_Payer_At
    , prej.Payer_Rejection_Status
    , prej.Payer_Rejection_Category_Code
    , sc.Description AS Payer_Rejection_Category_Description
    , prej.Payer_Rejection_Status_Code
    , sco.Description AS Payer_Rejection_Status_Code_Description
    , prej.Payer_Rejection_EDI_Entity_Code
    , eec.Description AS Payer_Rejection_EDI_Entity_Code_Description

  FROM "dci"."dbo"."Claim" AS c WITH (NOLOCK)
  LEFT JOIN "common"."dbo"."Payer" AS p WITH (NOLOCK)
    ON c.PayerID = p.PayerID
  LEFT JOIN "dci"."dbo"."ClaimStatus" AS cs WITH (NOLOCK)
    ON c.Status = cs.ClaimStatusID
  LEFT JOIN "dci"."dbo"."ClaimFileUpload" AS cfu WITH (NOLOCK)
    ON c.ClaimFileUploadID = cfu.ClaimFileUploadID

  -- Get group info
  LEFT JOIN "common"."dbo"."Groups" AS g WITH (NOLOCK)
    ON c.GroupID = g.GroupID
  LEFT JOIN "common"."dbo"."VIPGroup" AS vg WITH (NOLOCK)
    ON g.GroupID = vg.GroupID
  LEFT JOIN "common"."dbo"."VIP" AS v WITH (NOLOCK)
    ON vg.VipID = v.VipID

  -- Get provider info
  LEFT JOIN "dci"."dbo"."ClaimProvider" AS rend WITH (NOLOCK)
    ON c.ClaimID = rend.ClaimID AND rend.ProviderType = 2
  LEFT JOIN "dci"."dbo"."ClaimProvider" AS bill WITH (NOLOCK)
    ON c.ClaimID = bill.ClaimID AND bill.ProviderType = 1

  -- Get payer rejection info
  LEFT JOIN latest_payer_rejections AS prej WITH (NOLOCK)
    ON c.ClaimID = prej.ClaimID
  LEFT JOIN "dci"."dbo"."StatusCategory" AS sc WITH (NOLOCK)
    ON prej.Payer_Rejection_Category_Code = sc.CategoryCode
  LEFT JOIN "dci"."dbo"."StatusCode" AS sco WITH (NOLOCK)
    ON prej.Payer_Rejection_Status_Code = sco.StatusCode
  LEFT JOIN "dci"."dbo"."EDIEntityCode" AS eec WITH (NOLOCK)
    ON prej.Payer_Rejection_EDI_Entity_Code = eec.EntityID

  WHERE 
    c.BatchNo IS NULL -- remove archived claims
    AND c.DateCreated >= '2023-01-01'

)

, get_aggregated_claim_data AS (

  SELECT 
      c.Claim_ID
    , MIN(ci.ServiceStartDate) AS Service_Started_At
    , COUNT(ci.ClaimItemID) AS Number_of_Claim_Items
    --, SUM(ci.Fee) AS Total_Claim_Fee
    , TRIM(STRING_AGG(ci.ProcCode, ', ')) AS List_of_Procedure_Codes
    , TRIM(STRING_AGG(ci.Tooth, ', ')) AS List_of_Tooth_Numbers

  FROM all_claims AS c
  LEFT JOIN "dci"."dbo"."ClaimItem" AS ci WITH (NOLOCK)
    ON c.Claim_ID = ci.ClaimID
  GROUP BY c.Claim_ID

)

SELECT 
    c.*
  , a.Service_Started_At
  , a.Number_of_Claim_Items
  , a.List_of_Procedure_Codes
  , a.List_of_Tooth_Numbers

FROM all_claims AS c
LEFT JOIN get_aggregated_claim_data AS a 
    ON c.Claim_ID = a.Claim_ID
    
GO
/****** Object:  View [dbo].[eligibility_ai_appointment_errors]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[eligibility_ai_appointment_errors] as
        SELECT *
FROM OPENQUERY(
	FRONTOFFICE,
	'

    SELECT
         "id" AS appointment_id
        , x.code AS appointment_error_code
        , x.path AS appointment_error_path
        , x.field AS appointment_error_field
        , x.message AS appointment_error_message

    FROM "frontoffice"."public"."Appointment"
    CROSS JOIN JSONB_ARRAY_ELEMENTS(
        CASE 
            WHEN JSONB_TYPEOF(errors) <> ''array'' THEN JSONB_BUILD_ARRAY(errors)::jsonb 
            ELSE errors
        END
    ) AS elem
    CROSS JOIN JSONB_TO_RECORD(elem) AS x(code TEXT, path TEXT, field TEXT, message TEXT)

	'
)
    
GO
/****** Object:  View [dbo].[eligibility_ai_appointments]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[eligibility_ai_appointments] as
        SELECT *
FROM OPENQUERY(
    FRONTOFFICE,
    '

    SELECT 
          a."id" AS appointment_id
        , a."source" AS appointment_source
        , a."clinic" AS appointment_clinic
        , a."appointmentAt" AS appointment_at
        , a."syncStatus" AS appointment_sync_status
        , a."groupId" AS dxc_group_id

        , a."patientId" AS patient_id
        , COALESCE(
            m."firstName",
            "erroredAppointmentData" -> ''patient'' ->> ''firstName''
          ) AS patient_first_name
        , COALESCE(
            m."lastName",
            "erroredAppointmentData" -> ''patient'' ->> ''lastName''
          ) AS patient_last_name
        , COALESCE(
            m."dob",
            TO_DATE("erroredAppointmentData" -> ''patient'' ->> ''dateOfBirth'', ''YYYY-MM-DD'')
          ) AS patient_dob

    FROM "frontoffice"."public"."Appointment" AS a
    LEFT JOIN "frontoffice"."public"."Member" AS m
        ON a."patientId" = m."id"

    '
)
    
GO
/****** Object:  View [dbo].[eligibility_ai_data_errors]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[eligibility_ai_data_errors] as
        SELECT *
FROM OPENQUERY(
	FRONTOFFICE,
	'
	WITH errors AS (

		SELECT
			  "id" AS eligibility_schedule_id
			, "eligibilityId" AS eligibility_id
			, "dataSource" AS verification_source
			, "lockedAt" AS verification_started_at
			, "normalisedAt" AS verification_ended_at
			, UNNEST("dataSourceErrors") AS data_source_error
		
		FROM "frontoffice"."public"."EligibilitySchedule"

	),

	messages AS (

		SELECT DISTINCT
			  "error"
			, INITCAP("message") AS message

		FROM "frontoffice"."public"."ErrorType"
	)

	SELECT
		  e.*
		, m.message AS data_source_error_message

	FROM errors AS e
	LEFT JOIN messages AS m
		ON e.data_source_error = m.error
	'
)
    
GO
/****** Object:  View [dbo].[eligibility_ai_procedures]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[eligibility_ai_procedures] as
        SELECT *
FROM OPENQUERY(
	FRONTOFFICE,
	'
	SELECT
		  "id" AS appointment_id
		, UNNEST("procedureCodes") AS procedure_code
		
	FROM "frontoffice"."public"."Appointment"
	'
)
    
GO
/****** Object:  View [dbo].[eligibility_ai_scheduling_errors]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[eligibility_ai_scheduling_errors] as
        SELECT *
FROM OPENQUERY(
	FRONTOFFICE,
	'
	WITH errors AS (

		SELECT
			  "id" AS eligibility_id
			, UNNEST("schedulingErrors") AS scheduling_error
		
		FROM "frontoffice"."public"."Eligibility"

	),

	messages AS (

		SELECT DISTINCT
			  "error"
			, INITCAP("message") AS message

		FROM "frontoffice"."public"."ErrorType"
	)

	SELECT
		  e.*
		, m."message" AS scheduling_error_message

	FROM errors AS e
	LEFT JOIN messages AS m
		ON e."scheduling_error" = m."error"
	'
)
    
GO
/****** Object:  View [dbo].[eligibility_ai_transactions]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[eligibility_ai_transactions] as
        SELECT *
FROM OPENQUERY(
    FRONTOFFICE,
    '

    -- this cte is only necessary as the InsurancePatientMapping table can sometimes (incorrectly) 
    -- list multiple relationships for the same patient/insurance pair

    WITH ordered_relationships AS (
    
        SELECT
              "patientId" AS patient_id
            , "insuranceId" AS insurance_id
            , "patientMemberId" AS patient_member_id
            , CASE
                WHEN "relationshipToSubscriber" = ''01'' THEN ''Spouse''
                WHEN "relationshipToSubscriber" = ''18'' THEN ''Self''
                WHEN "relationshipToSubscriber" = ''19'' THEN ''Child''
                WHEN "relationshipToSubscriber" = ''34'' THEN ''Other Adult''
              END AS subscriber_relationship
            , ROW_NUMBER() OVER (PARTITION BY "patientId", "insuranceId" ORDER BY "updatedAt" DESC) AS rn

        FROM "frontoffice"."public"."InsurancePatientMapping"

    )


    SELECT 
          e."id" AS eligibility_id
        , e."appointmentId" AS appointment_id
        , e."eligibilityVerificationSource" AS verification_type
        , e."status" AS verification_status
        , e."insuranceStatus" AS insurance_status
        , e."updatedAt" AS eligibility_checked_at
        
        , r."patient_member_id"
        , r."subscriber_relationship"
        , i."subscriberId" AS subscriber_id
        , s."firstName" AS subscriber_first_name
        , s."lastName" AS subscriber_last_name
        , s."dob" AS subscriber_dob

        , p."firstName" AS provider_first_name
        , p."lastName" AS provider_last_name
        , p."npi" AS provider_npi
        , p."tin" AS provider_tax_id

        , pa."name" AS payer_name
        , pa."payerIdCode" AS industry_payer_id
        , pa."dxcPayerId" AS dxc_payer_id

    FROM "frontoffice"."public"."Eligibility" AS e
    LEFT JOIN ordered_relationships AS r
        ON e."patientId" = r."patient_id"
        AND e."insuranceId" = r."insurance_id"
        AND r."rn" = 1
    LEFT JOIN "frontoffice"."public"."Insurance" AS i
        ON e."insuranceId" = i."id"
    LEFT JOIN "frontoffice"."public"."Member" AS s
        ON i."subscriberId" = s."id"
    LEFT JOIN "frontoffice"."public"."Provider" AS p
        ON e."providerId" = p."id"
    LEFT JOIN "frontoffice"."public"."Payer" AS pa
        ON e."payerId" = pa."id"
        
    '
)
    
GO
/****** Object:  View [dbo].[era_audit_detail]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[era_audit_detail] as
        WITH Transport AS
(
	SELECT DISTINCT FileId
		, TransportTime
		, REVERSE(SUBSTRING(REVERSE(RemoteURL), 0
			, CHARINDEX('/', REVERSE(RemoteURL))))				AS Delivered_File_Name
	FROM chs.dbo.TransportAudit WITH(NOLOCK)
)

SELECT mcp.SourcePartnerCode
	, mcp.TraceNumber
	, mcp.TimeCreated											AS ResponseDate
	, mcp.TaxId													AS TaxID
	, mcp.ProvPrimaryID											AS NPI
	, mcp.PayeeName												AS LocationName
	, mcp.PayerName												AS PayerName
	, tr.Delivered_File_Name									AS DeliveredFileName
	, tr.FileID
	, tr.TransportTime											AS SentDateTime
	, mcp.DestPartnerCode
	, mcp.ClaimPaymentCount
FROM chs.dbo.MetaClaimPayment mcp WITH (NOLOCK)
	INNER JOIN Transport tr ON tr.FileId = mcp.OutFileId
    
GO
/****** Object:  View [dbo].[era_routing_record_audit]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[era_routing_record_audit] as
        WITH era_routing_record_audit AS (

SELECT 
	NPI, 
    TaxID, 
    PayeeID, 
    PaymentZip, 
    SourcePartnerCode,
    COUNT(*) AS DuplicateCount

FROM "common"."dbo"."ERARegistration" AS er 

WHERE 
	Npi is not null
GROUP BY 
    NPI, TaxID, PayeeID, PaymentZip, SourcePartnerCode
HAVING 
    COUNT(*) > 1
)
SELECT * FROM era_routing_record_audit
    
GO
/****** Object:  View [dbo].[hsone_era_enrollment_claims]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[hsone_era_enrollment_claims] as
        -- BI-251 Looker Dashboard(s) | Henry Schein Claim & ERA Enrollment Dashboard
-- Evelyn Livant
-- 11/7/2024 
-- 
-- question 1 -- How many total ERA Enrollment applications are in the submitted to payer status? -  10th field -  count submitted to payer date where not null
-- question 3 -- How many total ERA Enrollment applications have been approved?  - 11th field -  count approved date where not null
-- question 4 -- What % of TINs that have 
-- question 5 --  12th field total count of distinct MetaClaimPaymentID values for HSOne // MetaClaimPayments
-- The ERA Registration isn't created until DentalXChange submits the application to the payer.
-- Used CTEs to improve performance 
-- Query ran in approximately 6 - 7 minutes and returned approximately 6 million rows

-- Grab MetaClaimPayment counts 
WITH meta_claim_payment AS (
	
	SELECT
		  mcp.MetaClaimPaymentID
		, mcp.ClaimPaymentCount
		, mcp.TaxId

	FROM "chs"."dbo"."MetaClaimPayment"  AS mcp WITH (NOLOCK)
    WHERE DestPartnerCode IN ('HS1', 'HSD', 'AXI', 'GCC')
)

-- get era count by TaxID & NPI
, erareg AS (
    SELECT erareg.TaxID
		    , erareg.NPI
		    , COUNT(erareg.ERARegistrationID) AS RegistrationRecords
	FROM "common"."dbo"."ERARegistration" AS erareg WITH (NOLOCK)
    WHERE erareg.DestPartnerCode IN (SELECT PartnerCode FROM "chs"."dbo"."PartnerPartnerCode" WITH (NOLOCK) WHERE PartnerPartnerCode IN ('HSD', 'HS1', 'HSX', 'GCC', 'AXI'))
		OR erareg.SecondaryDestPartnerCode IN (SELECT PartnerCode FROM "chs"."dbo"."PartnerPartnerCode" WITH (NOLOCK) WHERE PartnerPartnerCode IN ('HSD', 'HS1', 'HSX', 'GCC', 'AXI'))
	GROUP BY TaxID
		, NPI
)

-- Join all data together 
, hsone_erareg AS (
SELECT erareg.TaxID 
	, erareg.Npi
	, erareg.RegistrationRecords
	, tin.Content AS ApplicationTIN
	, npi.Content AS ApplicationNPI
	, app.ApplicationSetID
	, app.PayerID
	, app.GroupID
	, CAST(app.DateCreated AS DATE) AS ApplicationCreateDate
	, CAST(MAX(submission.TriggerDate) AS DATE) AS SubmittedToPayerDate
	, CAST(MIN(approval.TriggerDate) AS DATE) AS ApprovalDate 

	FROM  erareg WITH (NOLOCK)
    JOIN  "cred"."dbo"."ProviderFormAnswer" AS tin WITH (NOLOCK) ON tin.QuestionID = (SELECT QuestionID FROM "cred"."dbo"."Question" WITH (NOLOCK) WHERE Tag = 'ERA_PROV_ID_TIN')
        AND tin.Content = erareg.TaxId
    JOIN "cred"."dbo"."ProviderForm" AS pf WITH (NOLOCK) ON tin.ProviderFormID = pf.ProviderFormID
    JOIN "cred"."dbo"."ApplicationSet" AS app WITH (NOLOCK) ON pf.ApplicationSetID = app.ApplicationSetID
    JOIN "cred"."dbo"."FormType" AS ft WITH (NOLOCK) ON app.FormTypeID = ft.FormTypeID
    JOIN "common"."dbo"."DocType" AS dt WITH (NOLOCK) ON app.DocType = dt.DocType
    JOIN "cred"."dbo"."ApplicationSetHistory" AS submission WITH (NOLOCK) ON app.ApplicationSetID = submission.ApplicationSetID
        AND submission.Status IN (SELECT ProviderFormStatusID FROM "cred"."dbo"."ProviderFormStatus" WITH (NOLOCK) WHERE ReportCategory IN ('Submitted to Payer', 'Provider Completed'))
    LEFT JOIN  "cred"."dbo"."ProviderFormAnswer" AS npi WITH (NOLOCK) ON tin.ProviderFormID = npi.ProviderFormID
        AND npi.QuestionID = (SELECT QuestionID FROM "cred"."dbo"."Question" WITH (NOLOCK) WHERE Tag = 'ERA_PROV_ID_NPI')
        AND npi.Content = erareg.Npi
    LEFT JOIN "cred"."dbo"."ApplicationSetHistory" AS approval WITH (NOLOCK) ON app.ApplicationSetID = approval.ApplicationSetID
        AND approval.Status IN (SELECT ProviderFormStatusID FROM "cred"."dbo"."ProviderFormStatus" WITH (NOLOCK) WHERE ReportCategory IN ('Approved by Payer', 'Approval Confirmed'))

    GROUP BY erareg.TaxID 
	, erareg.Npi
	, erareg.RegistrationRecords
	, tin.Content 
	, npi.Content 
	, app.ApplicationSetID
	, app.PayerID
	, app.GroupID
	, app.DateCreated  
	, submission.TriggerDate 
	, approval.TriggerDate     
)

-- retrieve all fields and aggregates to expose for reporting
SELECT  
    erareg.TaxID -- question 4 with metaclaim payment field
    , erareg.Npi
    , erareg.RegistrationRecords
    , erareg.ApplicationTIN
    , erareg.ApplicationNPI
    , erareg.ApplicationSetID
    , erareg.PayerID
    , erareg.GroupID
    , erareg.ApplicationCreateDate
    , erareg.SubmittedToPayerDate -- question 1
    , SUM( CASE WHEN erareg.SubmittedToPayerDate is not null THEN 1 ELSE 0 END ) OVER () TotalSubmittedApplications
    , SUM( CASE WHEN erareg.ApprovalDate is not null THEN 1 ELSE 0 END ) OVER () TotalApprovedApplications
    , erareg.ApprovalDate -- question 3
    , mcp.MetaClaimPaymentID -- question 5 
    , mcp.ClaimPaymentCount

FROM meta_claim_payment mcp
JOIN hsone_erareg erareg  WITH (NOLOCK) ON erareg.TaxId = mcp.TaxId
    
GO
/****** Object:  View [dbo].[smilebrands_claim_status_report]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[smilebrands_claim_status_report] as
        

-- CLAIM STATUS SUMMARY BLOCK: ~5mins

with claimhistoryordered as (
    
    select 
        claimid,
        status,
        timestmp as status_updated_at,
        -- identify unchanged statuses for later removal
        lag(status) over (partition by claimid order by timestmp asc) as last_status,
        lead(timestmp) over (partition by claimid order by timestmp asc) as next_status_updated_at,
        -- determine if the claim was ever pending
        max(coalesce(pending, 0)) over (partition by claimid) as claim_pending
    
    from "dci"."dbo"."ClaimHistory" with (nolock)
    where cast(timestmp as date) >= dateadd(MONTH, datediff(MONTH, 0, getdate())-1, 0)

),

claimhistorydeduped as (

select
    claimid,
    status,
    status_updated_at,
    coalesce(datediff(hour, status_updated_at, next_status_updated_at), 0) as hours_in_status,
    claim_pending

from claimhistoryordered
where status != last_status or last_status is null

),

claimstatushistory as (

select
    claimhistorydeduped.claimid,

    -- Claim was pending at any point
    max(coalesce(claim_pending, 0)) as claim_pended,

    -- Update time by status
    -- min(claimhistorydeduped.status_updated_at) as first_status_updated_at,
    max(
    case when (claimstatus.display = 'Attachment(s) Needed') or (claimstatus.claimstatusid = 503) then claimhistorydeduped.status_updated_at else null end
    ) as attachment_needed_at,
    max(
    case when claimstatus.display = 'Ready for Submission' then claimhistorydeduped.status_updated_at else null end
    ) as ready_for_submission_at,   
    max(
    case when claimstatus.display = 'Received' then claimhistorydeduped.status_updated_at else null end
    ) as claim_received_at, 

    -- Touches by status
    count(*) as n_total_statuses,
    sum(
    case when claimstatus.claimstatusid <= 40 then 1 else 0 end
    ) as n_automated_system_statuses,
    sum(
    case when claimstatus.display = 'Validation Errors' then 1 else 0 end
    ) as n_validation_error_statuses,
    sum(
    case when claimstatus.display = 'Rejected' then 1 else 0 end
    ) as n_rejection_statuses,
    sum(
    case when claimstatus.display = 'Received / Suspended' then 1 else 0 end
    ) as n_suspended_statuses,
    sum(
    case when (claimstatus.display = 'User Resolved') or (claimstatus.display = 'Received - User Resolved') then 1 else 0 end
    ) as n_user_resolved_statuses,
    sum(
    case when claimstatus.display = 'Deleted' then 1 else 0 end
    ) as n_deleted_statuses,

    -- Duration by status
    sum(hours_in_status) as total_duration_in_hours,
    sum(
    case when claimstatus.display = 'Validation Errors' then claimhistorydeduped.hours_in_status else 0 end
    ) as validation_errors_duration_in_hours,
    sum(
    case when claimstatus.display = 'Received / Suspended' then claimhistorydeduped.hours_in_status else 0 end
    ) as suspended_duration_in_hours,
    sum(
    case when (claimstatus.display = 'Attachment(s) Needed') or (claimstatus.claimstatusid = 503) then claimhistorydeduped.hours_in_status else 0 end
    ) as attachment_needed_duration_in_hours,
    sum(
    case when claimstatus.display = 'Ready for Submission' then claimhistorydeduped.hours_in_status else 0 end
    ) as ready_for_submission_duration_in_hours

from claimhistorydeduped
left join "dci"."dbo"."ClaimStatus" as claimstatus with (nolock)
    on claimhistorydeduped.status = claimstatus.claimstatusid
group by claimhistorydeduped.claimid

),

--

-- CLAIM ITEM SUMMARY BLOCK: instant

claimitemsaggregated as (

select 
    claimid,
    -- A single claim may have different service periods for different items
    min(servicestartdate) as min_service_started_at,
    max(servicestartdate) as max_service_started_at
    -- Service end date is always NULL

from "dci"."dbo"."ClaimItem" with (nolock)
group by claimid

),

--

-- CLAIM PAYMENTS BLOCK: <1 min

-- Status 'ERA Payment Received' (code 1450) from claimstatus/claimhistory is not reliable!
claimpayments as (

select
    claimpaymentclaim.claimid,
    -- A single claim may have multiple payments
    min(claimpayment.paymenteffectivedate) as first_payment_received_at,
    max(claimpayment.paymenteffectivedate) as last_payment_received_at

from "dci"."dbo"."ClaimPaymentClaim" as claimpaymentclaim with (nolock)
left join "dci"."dbo"."ClaimPaymentDetail" as claimpaymentdetail with (nolock)
    on claimpaymentclaim.claimpaymentdetailid = claimpaymentdetail.claimpaymentdetailid
left join "dci"."dbo"."ClaimPayment" as claimpayment with (nolock)
    on claimpaymentdetail.claimpaymentid = claimpayment.claimpaymentid
group by claimid

),

claimproviders as (

select distinct
    claimid,
    renderingnpi

from "dci"."dbo"."ClaimProvider" with (nolock)
where providertype = 2

),

--

-- ATTACHMENTS REQUIRED LOGIC: times out

claimprocedureattachmentrules as (

select
    claims.claimid,
    deaprocedurecodes.procedurecode,

    deaprocedurecodes.narrative as attachment_narrative_required,
    deaprocedurecodes.xray as attachment_xray_required,
    deaprocedurecodes.periochart as attachment_periochart_required,
    deaprocedurecodes.other as attachment_other_required,
    row_number() over (partition by claims.claimid, deaprocedurecodes.procedurecode order by deaprocedurecodes.weightedorder asc) as procedure_requirement

from "dci"."dbo"."Claim" as claims with (nolock)
left join "dci"."dbo"."ClaimItem" as claimitems with (nolock)
    on claims.claimid = claimitems.claimid
left join "dci"."dbo"."ClaimProvider" as claimproviders with (nolock)
    on claims.claimid = claimproviders.claimid
    and claimproviders.providertype = 2 -- rendering provider
left join "dea"."dbo"."DEAProcedureCode" as deaprocedurecodes with (nolock)
    on claimitems.proccode = deaprocedurecodes.procedurecode
    and (-- Check for existence of group rules
    claims.groupid = deaprocedurecodes.groupid
    or deaprocedurecodes.groupid is null
    )
    and (-- Check for existence of payer rules
    claims.payerid = deaprocedurecodes.payerid
    -- or deaprocedurecodes.payerid = -1 -- no longer valid
    or deaprocedurecodes.payerid is null
    )
    and (-- Check for existence of user rules
    claims.userid = deaprocedurecodes.userid
    or deaprocedurecodes.userid is null
    )
where cast(claims.timestmp as date) >= dateadd(MONTH, datediff(MONTH, 0, getdate())-1, 0)

),

claimattachmentrules as (

select
    claimid,
    cast(
    max(
        case when attachment_narrative_required = 1 then 1 else 0 end
    ) as bit
    ) as attachment_narrative_required,
    cast(
    max(
        case when attachment_xray_required = 1 then 1 else 0 end
    ) as bit
    ) as attachment_xray_required,
    cast(
    max(
        case when attachment_periochart_required = 1 then 1 else 0 end
    ) as bit
    ) as attachment_periochart_required,
    cast(
    max(
        case when attachment_other_required = 1 then 1 else 0 end
    ) as bit
    ) as attachment_other_required,
    cast(
    max(
        case when attachment_narrative_required = 1 or attachment_xray_required = 1 or attachment_periochart_required = 1 or attachment_other_required = 1 then 1 else 0 end
    ) as bit
    ) as attachment_any_required

from claimprocedureattachmentrules
where procedure_requirement = 1
group by claimid

),

-- main joins: 35 mins

results as (

select
    vips.name as vip_name,
    allgroups.name as group_name,
    claims.claimid as claim_id,
    claimproviders.renderingnpi as rendering_provider_npi,
    case
    when claims.sourceindicator = 'W' then 'direct data entry'
    when claims.sourceindicator = 'P' then 'batch'
    when claims.sourceindicator = 'H' then 'clearinghouse'
    when claims.sourceindicator = 'S' then 'webservices'
    end as source_indicator,
    claims.timestmp as last_update,

    -- format_datetime('%F %R', coalesce(claimfileupload.uploadeddate, claims.datecreated)) as uploaded_at,
    coalesce(claimfileupload.uploadeddate, claims.datecreated) as uploaded_at,
    -- format_datetime('%F %R', claimitemsaggregated.min_service_started_at) as first_service_started_at,
    claimitemsaggregated.min_service_started_at as first_service_started_at,
    -- format_datetime('%F %R', claimitemsaggregated.max_service_started_at) as last_service_started_at,
    claimitemsaggregated.max_service_started_at as last_service_started_at,
    
    case when claimattachmentrules.attachment_any_required = 1 and claims.validateforattachment = 1 then 1 else 0 end as attachments_required,
    coalesce(claims.hasattachments, 0) as attachments_sent, --note: frequently null; null=false?
    claims.attachmentid as attachment_number,
    case when claimstatushistory.claim_pended > 0 then 1 else 0 end as claim_pended,

    -- Determine if a claim is "clean" based on attachment logic
    case
    when -- required and sent
        (claimattachmentrules.attachment_any_required = 1 and claims.validateforattachment = 1)
        and coalesce(claims.hasattachments, 0) = 1
        and claims.attachmentid is not null
        then 'clean'
    when -- not required and not sent
        (not (claimattachmentrules.attachment_any_required = 1 and claims.validateforattachment = 1))
        and (not coalesce(claims.hasattachments, 0) = 1)
        and claims.attachmentid is null
        then 'clean'
    when -- not required and sent
        (not (claimattachmentrules.attachment_any_required = 1 and claims.validateforattachment = 1))
        and coalesce(claims.hasattachments, 0) = 1
        and claims.attachmentid is not null
        then 'clean'
    when -- required and not sent
        (claimattachmentrules.attachment_any_required = 1 and claims.validateforattachment = 1)
        and (not coalesce(claims.hasattachments, 0) = 1)
        and claims.attachmentid is null
        and (claimstatushistory.claim_pended > 0)
        then 'dirty'
    when -- no info requested
        (claimattachmentrules.attachment_any_required = 1 and claims.validateforattachment = 1)
        and (not coalesce(claims.hasattachments, 0) = 1)
        and claims.attachmentid is null
        and (not (claimstatushistory.claim_pended > 0))
        then 'dirty'
    end as claim_clean_dirty,

    -- format_datetime('%F %R', claimstatushistory.attachment_needed_at) as attachment_needed_at,
    claimstatushistory.attachment_needed_at as attachment_needed_at,
    -- format_datetime('%F %R', claimstatushistory.ready_for_submission_at) as ready_for_submission_at,
    claimstatushistory.ready_for_submission_at as ready_for_submission_at,
    -- format_datetime('%F %R', claimstatushistory.claim_received_at) as claim_received_at,
    claimstatushistory.claim_received_at as claim_received_at,
    -- format_datetime('%F %R', claimpayments.first_payment_received_at) as first_payment_received_at,
    claimpayments.first_payment_received_at as first_payment_received_at,
    -- format_datetime('%F %R', claimpayments.last_payment_received_at) as last_payment_received_at,
    claimpayments.last_payment_received_at as last_payment_received_at,

    claimstatushistory.n_total_statuses,
    claimstatushistory.n_automated_system_statuses,
    (claimstatushistory.n_total_statuses - claimstatushistory.n_automated_system_statuses) as n_estimated_human_touches,
    claimstatushistory.n_validation_error_statuses,
    claimstatushistory.n_rejection_statuses,
    claimstatushistory.n_suspended_statuses,

    claimstatushistory.total_duration_in_hours / 24 as total_duration_in_days,
    claimstatushistory.validation_errors_duration_in_hours / 24 as validation_errors_duration_in_days,
    claimstatushistory.suspended_duration_in_hours / 24 as suspended_duration_in_days,
    claimstatushistory.attachment_needed_duration_in_hours / 24 as attachment_needed_duration_in_days,
    claimstatushistory.ready_for_submission_duration_in_hours / 24 as ready_for_submission_duration_in_days,

    case when claimstatushistory.n_user_resolved_statuses > 0 then 1 else 0 end as marked_resolved, --note: possible to be marked resolved more than once
    case when claimstatushistory.n_deleted_statuses > 0 then 1 else 0 end as marked_deleted

from "common"."dbo"."VIP" as vips with (nolock)

left join "common"."dbo"."VIPGroup" as vipgroups with (nolock)
    on vips.vipid = vipgroups.vipid

left join "common"."dbo"."Groups" as allgroups with (nolock)
    on vipgroups.groupid = allgroups.groupid
    and coalesce(allgroups.demoaccount, 0) = 0

left join "common"."dbo"."GroupDeactivation" as groupdeactivations with (nolock)
    on allgroups.groupid = groupdeactivations.groupid
    and groupdeactivations.enddate is not null

left join "dci"."dbo"."Claim" as claims with (nolock)
    on allgroups.groupid = claims.groupid

left join claimattachmentrules
    on claims.claimid = claimattachmentrules.claimid

left join claimstatushistory
    on claims.claimid = claimstatushistory.claimid

left join "dci"."dbo"."ClaimFileUpload" as claimfileupload with (nolock)
    on claims.claimfileuploadid = claimfileupload.claimfileuploadid

left join claimitemsaggregated
    on claims.claimid = claimitemsaggregated.claimid

left join claimpayments
    on claims.claimid = claimpayments.claimid

left join claimproviders
    on claims.claimid = claimproviders.claimid

where 
    charindex('SmileBrands', vips.name) > 0
    and vips.active = 1
    and groupdeactivations.groupdeactivationid is null
    and claims.claimid is not null
    and claims.active = 1
    and claims.batchno is null

    -- get all claims uploaded 2022 or later
    and datepart(year, coalesce(claimfileupload.uploadeddate, claims.datecreated)) >= 2022
    -- get all claims updated previous month or later
    and cast(claims.timestmp as date) >= dateadd(MONTH, datediff(MONTH, 0, getdate())-1, 0)
)

select * from results


-- Midwest Dental
-- select * from results
-- where contains_substr(vip_name, 'Midwest Dental');

-- BrightNow Ortho
-- select * from results
-- where contains_substr(vip_name, 'BrightNow')
-- and contains_substr(group_name, 'Ortho');

-- BrightNow non-Ortho
-- select * from results
-- where contains_substr(vip_name, 'BrightNow')
-- and not contains_substr(group_name, 'Ortho');

------------------------------------------------------

-- DATA NOTES --

--NOTE ON CLAIM PAYMENT DATE:
  --example claimid 214436664:
    --ERA Payment Received at (from claimhistory): 2017-08-31T17:24:25.947000
    --claimpaymentclaim: no results
    --DO NOT USE claimpaymentclaim.receiveddate as a payment received date. Use claimpayment.paymenteffectivedate
    --claimpaymentclaim.receiveddate refers to the date the payer received the claim via EDI
  --800k+ similar examples
  --issue stopped occurring after 2018

--NOTE ON CLAIM HISTORY:
  --example claimid 127064454:
    --No records in claimhistory
  --4M+ similar examples
  --issue stopped occurring after 2015
    
GO
/****** Object:  StoredProcedure [dbo].[Fragmentation_Report]    Script Date: 8/15/2025 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Fragmentation_Report]
AS
insert into DBA.DBO.Table_Fragmentation (DatabaseName,TableName,indexName,IndexType,avg_fragmentation_in_percent,record_count,FragmentationDateTime)
select DB_NAME() as DatabaseName,object_name(IPS.[object_id]) as [TableName]
    ,SI.name AS [IndexName]
    ,IPS.index_type_desc
    ,IPS.avg_fragmentation_in_percent
    ,IPS.page_count
    ,GETDATE()
     from sys.dm_db_index_physical_stats(db_id(), null, null, null, null) as IPS
inner join sys.indexes as SI with (nolock) on IPS.[object_id] = SI.[object_id] and IPS.index_id = SI.index_id
inner join sys.tables as ST with (nolock) on IPS.[object_id] = ST.[object_id]
where ST.is_ms_shipped = 0
and IPS.avg_fragmentation_in_percent >= 20 -- allow limited fragmentation
and IPS.page_count> 250 -- ignore small tables
and IPS.index_type_desc<>'heap' -- ignore heaps
and IPS.index_level=0 -- leaf levels only
and  SCHEMA_NAME(schema_id)='dbo'
ORDER BY IPS.avg_fragmentation_in_percent desc
GO
