USE [ext_raw]
GO
/****** Object:  Table [dbo].[ce_ContactHistoryFeb23partial]    Script Date: 8/15/2025 5:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ce_ContactHistoryFeb23partial](
	[Contact_ID] [nvarchar](50) NOT NULL,
	[Master_Contact_ID] [bigint] NOT NULL,
	[Media_Type] [nvarchar](50) NOT NULL,
	[Skill] [nvarchar](50) NOT NULL,
	[Agent] [nvarchar](50) NOT NULL,
	[Team] [nvarchar](50) NOT NULL,
	[DNIS_To] [nvarchar](50) NOT NULL,
	[ANI_From] [nvarchar](50) NOT NULL,
	[Phone_Type] [nvarchar](50) NULL,
	[Start_Time] [datetime2](7) NOT NULL,
	[Duration] [nvarchar](50) NOT NULL,
	[Logged] [nvarchar](50) NULL,
	[Primary_Disposition] [nvarchar](50) NULL,
	[Additional_Disposition] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ce_ContactHistoryJan23partial]    Script Date: 8/15/2025 5:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ce_ContactHistoryJan23partial](
	[Contact_ID] [nvarchar](50) NOT NULL,
	[Master_Contact_ID] [bigint] NOT NULL,
	[Media_Type] [nvarchar](50) NOT NULL,
	[Skill] [nvarchar](50) NOT NULL,
	[Agent] [nvarchar](50) NOT NULL,
	[Team] [nvarchar](50) NOT NULL,
	[DNIS_To] [nvarchar](50) NOT NULL,
	[ANI_From] [nvarchar](50) NOT NULL,
	[Phone_Type] [nvarchar](50) NULL,
	[Start_Time] [datetime2](7) NOT NULL,
	[Duration] [nvarchar](50) NOT NULL,
	[Logged] [nvarchar](50) NULL,
	[Primary_Disposition] [nvarchar](50) NULL,
	[Additional_Disposition] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ce_ExpandedCallDetail]    Script Date: 8/15/2025 5:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ce_ExpandedCallDetail](
	[contact_id] [float] NULL,
	[master_contact_id] [float] NULL,
	[media_name] [nvarchar](50) NULL,
	[contact_name] [nvarchar](50) NULL,
	[ANI] [nvarchar](50) NULL,
	[DNIS] [nvarchar](50) NULL,
	[skill_no] [nvarchar](50) NULL,
	[skill_name] [nvarchar](50) NULL,
	[campaign_no] [nvarchar](50) NULL,
	[campaign_name] [nvarchar](50) NULL,
	[agent_no] [nvarchar](50) NULL,
	[agent_name] [nvarchar](50) NULL,
	[team_no] [nvarchar](50) NULL,
	[team_name] [nvarchar](50) NULL,
	[SLA] [nvarchar](50) NULL,
	[start_date] [date] NULL,
	[start_time] [time](7) NULL,
	[PreQueue] [int] NULL,
	[InQueue] [int] NULL,
	[Agent_Time] [int] NULL,
	[PostQueue] [int] NULL,
	[Total_Time] [int] NULL,
	[Abandon_Time] [int] NULL,
	[abandon] [bit] NULL,
	[ACW_Seconds] [int] NULL,
	[ACW_Time] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiservJan24$]    Script Date: 8/15/2025 5:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiservJan24$](
	[Reference Number] [float] NULL,
	[Internal ID] [float] NULL,
	[Card Holder] [nvarchar](255) NULL,
	[Last 4 digits] [float] NULL,
	[Card Network] [nvarchar](255) NULL,
	[Subtotal] [money] NULL,
	[Total] [money] NULL,
	[Surcharge] [money] NULL,
	[Status] [nvarchar](255) NULL,
	[Date] [datetime] NULL,
	[Timestamp] [datetime] NULL,
	[Type] [nvarchar](255) NULL,
	[Authorization Code] [nvarchar](255) NULL,
	[Invoice Number] [float] NULL,
	[Entry Method] [nvarchar](255) NULL,
	[Source] [money] NULL
) ON [PRIMARY]
GO
