USE [ext_raw_pc]
GO
/****** Object:  View [dbo].[ACHPaymentMethods_vw]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ACHPaymentMethods_vw] as
        -- Base definition of PAYCONNECT.ACHPaymentMethods


select * 
from OPENQUERY(
    PAYCONNECT, 
    'select
          "id"
		, "checkingNumber"
		, "routingNumber"
		, "paymentMethodId"
		, "createdAt"
		, "updatedAt"
        
    from "payconnect_db"."public"."ACHPaymentMethods"'
)
    
GO
/****** Object:  View [dbo].[Transactions_vw]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Transactions_vw] as
        -- Base definition of PAYCONNECT.Transactions


select * 
from OPENQUERY(
    PAYCONNECT, 
    'select
          "id"
		, "userId"
		, "amount"
		, "retref"
		, "authCode"
		, "terminal"
		, "type"
		, "status"
		, "source"
		, "gatewayResponse"
		, "createdAt"
		, "updatedAt"
		, "action"
		, "parentTransactionId"
		, "merchantId"
		, "invoiceNumber"
		, "patientId"
		, "amountRefunded"
		, "amountVoided"
		, "amountAuthorized"
		, "amountCaptured"
		, "description"
		, "batchId"
		, "amountSettled"
		, "paymentMethodId"
		, "signature"
		, "legacyId"
		, "legacyReferenceNumber"
		, "migratedAt"
		, "deviceId"
		, "apiKeyId"
		, "amountSurcharged"
		, "surchargePercent"
		, "responseDescription"
		, "amountFunded"
		, "fundingId"
		, "merchantMid"
		, "orderId"
        
    from "payconnect_db"."public"."Transactions"'
)
    
GO
/****** Object:  Table [dbo].[_airbyte_raw_ACHPaymentMethods]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_ACHPaymentMethods](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_ApiKeys]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_ApiKeys](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_BackOfficeUsers]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_BackOfficeUsers](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_BackOfficeUserTokens]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_BackOfficeUserTokens](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Batches]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Batches](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_CardPaymentMethods]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_CardPaymentMethods](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Devices]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Devices](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Fundings]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Fundings](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_HelpVideos]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_HelpVideos](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_IntegratorMerchants]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_IntegratorMerchants](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Integrators]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Integrators](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_MerchantReceiptTemplateOverrides]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_MerchantReceiptTemplateOverrides](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Merchants]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Merchants](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Patients]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Patients](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_PaymentGatewayResponses]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_PaymentGatewayResponses](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_PaymentMethods]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_PaymentMethods](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_RecurringPlanInstallmentAttempts]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_RecurringPlanInstallmentAttempts](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_RecurringPlanInstallments]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_RecurringPlanInstallments](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_RecurringPlans]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_RecurringPlans](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_RolePermissions]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_RolePermissions](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Roles]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Roles](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_SequelizeMeta]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_SequelizeMeta](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Text2Pay]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Text2Pay](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Text2PayMessages]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Text2PayMessages](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_TransactionLogs]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_TransactionLogs](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Transactions]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Transactions](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_UserMerchants]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_UserMerchants](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_UserMerchantSettingOverrides]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_UserMerchantSettingOverrides](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_UserMerchantSettings]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_UserMerchantSettings](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Users]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Users](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_UserTokens]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_UserTokens](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[achpaymentmethods]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[achpaymentmethods](
	[createdat] [datetimeoffset](7) NULL,
	[routingnumber] [nvarchar](max) NULL,
	[paymentmethodid] [bigint] NULL,
	[checkingnumber] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_achpaymentmethods_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apikeys]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apikeys](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[merchantid] [bigint] NULL,
	[integratorid] [bigint] NULL,
	[active] [bit] NULL,
	[id] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[userid] [bigint] NULL,
	[token] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_apikeys_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[backofficeusers]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[backofficeusers](
	[lastname] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[firstname] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[passwordexpiredat] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[email] [nvarchar](max) NULL,
	[disabledat] [nvarchar](max) NULL,
	[username] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_backofficeusers_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[backofficeusertokens]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[backofficeusertokens](
	[createdat] [datetimeoffset](7) NULL,
	[usedat] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[userid] [bigint] NULL,
	[expiresat] [nvarchar](max) NULL,
	[token] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_backofficeusertokens_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batches]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batches](
	[amount] [float] NULL,
	[migratedat] [nvarchar](max) NULL,
	[legacygatewayid] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[merchantid] [bigint] NULL,
	[gatewayresponse] [nvarchar](max) NULL,
	[legacyid] [bigint] NULL,
	[merchantmid] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[transactioncount] [bigint] NULL,
	[gatewaybatchid] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_batches_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cardpaymentmethods]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cardpaymentmethods](
	[zipcode] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[tokenizedvalue] [nvarchar](max) NULL,
	[paymentmethodid] [bigint] NULL,
	[name] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[expiry] [nvarchar](max) NULL,
	[network] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[last4digits] [nvarchar](max) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_cardpaymentmethods_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[devices]    Script Date: 8/15/2025 5:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devices](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[capabilities] [nvarchar](max) NULL,
	[serialnumber] [nvarchar](max) NULL,
	[merchantid] [bigint] NULL,
	[name] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_devices_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fundings]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fundings](
	[date] [date] NULL,
	[createdat] [datetimeoffset](7) NULL,
	[merchantid] [bigint] NULL,
	[gatewayresponse] [nvarchar](max) NULL,
	[merchantmid] [nvarchar](max) NULL,
	[currentretries] [bigint] NULL,
	[id] [bigint] NULL,
	[transactioncount] [bigint] NULL,
	[status] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_fundings_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[helpvideos]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[helpvideos](
	[path] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[security] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[id] [nvarchar](max) NULL,
	[type] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_helpvideos_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[integratormerchants]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[integratormerchants](
	[createdat] [datetimeoffset](7) NULL,
	[merchantid] [bigint] NULL,
	[integratorid] [bigint] NULL,
	[id] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_integratormerchants_hashid] [varchar](32) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[integrators]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[integrators](
	[createdat] [datetimeoffset](7) NULL,
	[phonenumber] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[email] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[pointofcontact] [nvarchar](max) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_integrators_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[merchantreceipttemplateoverrides]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[merchantreceipttemplateoverrides](
	[createdat] [datetimeoffset](7) NULL,
	[merchantid] [bigint] NULL,
	[id] [bigint] NULL,
	[value] [nvarchar](max) NULL,
	[key] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_merchantrece__plateoverrides_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[merchants]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[merchants](
	[zipcode] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL,
	[emaillist] [nvarchar](max) NULL,
	[groupid] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[gatewayapikey] [nvarchar](max) NULL,
	[gatewayecommerceusername] [nvarchar](max) NULL,
	[paymentplanpatientemailenabledat] [datetimeoffset](7) NULL,
	[gatewaypassword] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[state] [nvarchar](max) NULL,
	[refundwithoutretrefallowedat] [datetimeoffset](7) NULL,
	[email] [nvarchar](max) NULL,
	[signaturecapturedisabledat] [datetimeoffset](7) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[address] [nvarchar](max) NULL,
	[address2] [nvarchar](max) NULL,
	[gatewaymerchantid] [nvarchar](max) NULL,
	[text2payenabled] [bit] NULL,
	[gatewayecommercemerchantid] [nvarchar](max) NULL,
	[lastfundingprocessedat] [date] NULL,
	[phonenumber] [nvarchar](max) NULL,
	[gatewayecommercepassword] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[text2paynotification] [datetimeoffset](7) NULL,
	[paymentplanpatienttextenabledat] [datetimeoffset](7) NULL,
	[status] [nvarchar](max) NULL,
	[gatewayusername] [nvarchar](max) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_merchants_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[zipcode] [nvarchar](max) NULL,
	[lastname] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL,
	[streetaddress1] [nvarchar](max) NULL,
	[streetaddress2] [nvarchar](max) NULL,
	[accountnumber] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[firstname] [nvarchar](max) NULL,
	[phonenumber] [nvarchar](max) NULL,
	[merchantid] [bigint] NULL,
	[id] [bigint] NULL,
	[state] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_patients_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentgatewayresponses]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentgatewayresponses](
	[createdat] [datetimeoffset](7) NULL,
	[responsefield] [nvarchar](max) NULL,
	[responsedescription] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[api] [nvarchar](max) NULL,
	[responsestatus] [nvarchar](max) NULL,
	[processor] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[responsecode] [nvarchar](max) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_paymentgatewayresponses_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentmethods]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentmethods](
	[createdat] [datetimeoffset](7) NULL,
	[patientid] [bigint] NULL,
	[id] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_paymentmethods_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recurringplaninstallmentattempts]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recurringplaninstallmentattempts](
	[createdat] [datetimeoffset](7) NULL,
	[installmentid] [bigint] NULL,
	[response] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[status] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_recurringpla__llmentattempts_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recurringplaninstallments]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recurringplaninstallments](
	[date] [datetimeoffset](7) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[amount] [float] NULL,
	[currentretries] [bigint] NULL,
	[planid] [bigint] NULL,
	[id] [bigint] NULL,
	[transactionid] [bigint] NULL,
	[status] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_recurringplaninstallments_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recurringplans]    Script Date: 8/15/2025 5:03:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recurringplans](
	[downpaymenttransactionid] [bigint] NULL,
	[amount] [float] NULL,
	[migratedat] [nvarchar](max) NULL,
	[installmentscount] [bigint] NULL,
	[patientid] [bigint] NULL,
	[description] [nvarchar](max) NULL,
	[userid] [bigint] NULL,
	[installmenttype] [nvarchar](max) NULL,
	[recurrence] [nvarchar](max) NULL,
	[nextbilldate] [datetimeoffset](7) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[maxretries] [bigint] NULL,
	[merchantid] [bigint] NULL,
	[paymentmethodid] [bigint] NULL,
	[downpayment] [float] NULL,
	[invoicenumber] [nvarchar](max) NULL,
	[paymentplanpatientemailenabledat] [datetimeoffset](7) NULL,
	[legacyid] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[paymentplanpatienttextenabledat] [datetimeoffset](7) NULL,
	[startdate] [datetimeoffset](7) NULL,
	[status] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_recurringplans_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rolepermissions]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rolepermissions](
	[code] [nvarchar](max) NULL,
	[roleid] [bigint] NULL,
	[id] [bigint] NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_rolepermissions_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[createdat] [datetimeoffset](7) NULL,
	[code] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_roles_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sequelizemeta]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sequelizemeta](
	[name] [nvarchar](max) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_sequelizemeta_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[text2pay]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[text2pay](
	[lastname] [nvarchar](max) NULL,
	[patientaccountnumber] [nvarchar](max) NULL,
	[amount] [float] NULL,
	[description] [nvarchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[userid] [bigint] NULL,
	[createdat] [datetimeoffset](7) NULL,
	[firstname] [nvarchar](max) NULL,
	[phonenumber] [nvarchar](max) NULL,
	[amountpaid] [float] NULL,
	[merchantid] [bigint] NULL,
	[invoicenumber] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[status] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_text2pay_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[text2paymessages]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[text2paymessages](
	[createdat] [datetimeoffset](7) NULL,
	[id] [bigint] NULL,
	[tokenexpiredat] [nvarchar](max) NULL,
	[transactionid] [bigint] NULL,
	[sid] [nvarchar](max) NULL,
	[token] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[text2payid] [bigint] NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_text2paymessages_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactionlogs]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactionlogs](
	[date] [datetimeoffset](7) NULL,
	[relatedbatchid] [bigint] NULL,
	[id] [bigint] NULL,
	[relatedtransactionid] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[transactionid] [bigint] NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_transactionlogs_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[amountauthorized] [float] NULL,
	[fundingid] [bigint] NULL,
	[surchargepercent] [float] NULL,
	[orderid] [nvarchar](max) NULL,
	[patientid] [bigint] NULL,
	[signature] [nvarchar](max) NULL,
	[amountcaptured] [float] NULL,
	[amountsurcharged] [float] NULL,
	[description] [nvarchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[amountsettled] [float] NULL,
	[type] [nvarchar](max) NULL,
	[batchid] [bigint] NULL,
	[deviceid] [bigint] NULL,
	[createdat] [datetimeoffset](7) NULL,
	[merchantid] [bigint] NULL,
	[paymentmethodid] [bigint] NULL,
	[amountrefunded] [float] NULL,
	[invoicenumber] [nvarchar](max) NULL,
	[action] [nvarchar](max) NULL,
	[legacyid] [bigint] NULL,
	[merchantmid] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[amountvoided] [float] NULL,
	[retref] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[legacyreferencenumber] [nvarchar](max) NULL,
	[amount] [float] NULL,
	[migratedat] [nvarchar](max) NULL,
	[authcode] [nvarchar](max) NULL,
	[amountfunded] [float] NULL,
	[apikeyid] [bigint] NULL,
	[terminal] [nvarchar](max) NULL,
	[userid] [bigint] NULL,
	[parenttransactionid] [bigint] NULL,
	[responsedescription] [nvarchar](max) NULL,
	[gatewayresponse] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_transactions_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usermerchants]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usermerchants](
	[createdat] [datetimeoffset](7) NULL,
	[merchantid] [bigint] NULL,
	[id] [bigint] NULL,
	[refundwithoutretrefallowedat] [datetimeoffset](7) NULL,
	[userid] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_usermerchants_hashid] [varchar](32) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usermerchantsettingoverrides]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usermerchantsettingoverrides](
	[createdat] [datetimeoffset](7) NULL,
	[merchantid] [bigint] NULL,
	[settingsid] [bigint] NULL,
	[id] [bigint] NULL,
	[value] [nvarchar](max) NULL,
	[userid] [bigint] NULL,
	[key] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_usermerchantsettingoverrides_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usermerchantsettings]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usermerchantsettings](
	[createdat] [datetimeoffset](7) NULL,
	[roles] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[value] [nvarchar](max) NULL,
	[key] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_usermerchantsettings_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[lastname] [nvarchar](max) NULL,
	[migratedat] [nvarchar](max) NULL,
	[roleid] [bigint] NULL,
	[passwordexpiredat] [nvarchar](max) NULL,
	[originipaddress] [nvarchar](max) NULL,
	[disabledat] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[firstname] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[lastloginat] [nvarchar](max) NULL,
	[phonenumber] [nvarchar](max) NULL,
	[legacyid] [bigint] NULL,
	[issystemuser] [bit] NULL,
	[id] [bigint] NULL,
	[email] [nvarchar](max) NULL,
	[username] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_users_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usertokens]    Script Date: 8/15/2025 5:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usertokens](
	[createdat] [datetimeoffset](7) NULL,
	[usedat] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[userid] [bigint] NULL,
	[expiresat] [nvarchar](max) NULL,
	[token] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_usertokens_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[_airbyte_raw_ACHPaymentMethods] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_ApiKeys] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_BackOfficeUsers] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_BackOfficeUserTokens] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Batches] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_CardPaymentMethods] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Devices] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Fundings] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_HelpVideos] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_IntegratorMerchants] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Integrators] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_MerchantReceiptTemplateOverrides] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Merchants] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Patients] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_PaymentGatewayResponses] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_PaymentMethods] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_RecurringPlanInstallmentAttempts] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_RecurringPlanInstallments] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_RecurringPlans] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_RolePermissions] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Roles] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_SequelizeMeta] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Text2Pay] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Text2PayMessages] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_TransactionLogs] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Transactions] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_UserMerchants] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_UserMerchantSettingOverrides] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_UserMerchantSettings] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Users] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_UserTokens] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
