USE [ext_raw_ec]
GO
/****** Object:  Table [dbo].[_airbyte_raw_ApiKey]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_ApiKey](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Appointment]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Appointment](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_AppointmentImport]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_AppointmentImport](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_AppointmentInsuranceMapping]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_AppointmentInsuranceMapping](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_AppointmentNotes]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_AppointmentNotes](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_AppointmentProviderMapping]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_AppointmentProviderMapping](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_AppointmentSyncBatchInfo]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_AppointmentSyncBatchInfo](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_AppointmentSyncInfo]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_AppointmentSyncInfo](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_ConnectorConfig]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_ConnectorConfig](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_DataConnectionPool]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_DataConnectionPool](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Eligibility]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Eligibility](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_EligibilityData]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_EligibilityData](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_EligibilitySchedule]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_EligibilitySchedule](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_ErrorType]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_ErrorType](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_EulaDetails]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_EulaDetails](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_GroupSetting]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_GroupSetting](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Insurance]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Insurance](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_InsurancePatientMapping]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_InsurancePatientMapping](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Integrator]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Integrator](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Member]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Member](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_MemberAlias]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_MemberAlias](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_PatientProperty]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_PatientProperty](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Payer]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Payer](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_PayerBenefit]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_PayerBenefit](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_PayerBenefitManualEntry]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_PayerBenefitManualEntry](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_PayerCredential]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_PayerCredential](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_PayerPortal]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_PayerPortal](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_PayerPortalMapping]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_PayerPortalMapping](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_PayerProperty]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_PayerProperty](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_ProcedureCode]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_ProcedureCode](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_Provider]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_Provider](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_SequelizeMeta]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_SequelizeMeta](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_UserEulaAgreement]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_UserEulaAgreement](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_airbyte_raw_UserProfile]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_airbyte_raw_UserProfile](
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_data] [nvarchar](max) NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[_airbyte_ab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apikey]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apikey](
	[lastused] [datetimeoffset](7) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[groupid] [nvarchar](max) NULL,
	[integratorid] [bigint] NULL,
	[id] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[key] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_apikey_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointment]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointment](
	[sourceid] [nvarchar](max) NULL,
	[metadata] [nvarchar](max) NULL,
	[patientid] [bigint] NULL,
	[externalappointmentid] [nvarchar](max) NULL,
	[groupid] [nvarchar](max) NULL,
	[procedurecodes] [nvarchar](max) NULL,
	[apikeyid] [bigint] NULL,
	[erroredappointmentdata] [nvarchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[lastsynced] [datetimeoffset](7) NULL,
	[id] [bigint] NULL,
	[clinic] [nvarchar](max) NULL,
	[sourcename] [nvarchar](max) NULL,
	[syncbatchid] [bigint] NULL,
	[errors] [nvarchar](max) NULL,
	[syncstatus] [nvarchar](max) NULL,
	[appointmentat] [datetimeoffset](7) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_appointment_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointmentimport]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointmentimport](
	[createdat] [datetimeoffset](7) NULL,
	[importstatus] [nvarchar](max) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[groupid] [nvarchar](max) NULL,
	[importedon] [datetimeoffset](7) NULL,
	[appointmentdata] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[importedby] [nvarchar](max) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_appointmentimport_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointmentinsurancemapping]    Script Date: 8/15/2025 5:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointmentinsurancemapping](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[appointmentid] [bigint] NULL,
	[insuranceid] [bigint] NULL,
	[id] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_appointmentinsurancemapping_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointmentnotes]    Script Date: 8/15/2025 5:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointmentnotes](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[comments] [nvarchar](max) NULL,
	[appointmentid] [bigint] NULL,
	[groupid] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[userid] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_appointmentnotes_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointmentprovidermapping]    Script Date: 8/15/2025 5:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointmentprovidermapping](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[providerid] [bigint] NULL,
	[appointmentid] [bigint] NULL,
	[id] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_appointmentprovidermapping_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointmentsyncbatchinfo]    Script Date: 8/15/2025 5:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointmentsyncbatchinfo](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[failedcount] [bigint] NULL,
	[id] [bigint] NULL,
	[batchsize] [bigint] NULL,
	[status] [nvarchar](max) NULL,
	[syncid] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_appointmentsyncbatchinfo_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointmentsyncinfo]    Script Date: 8/15/2025 5:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointmentsyncinfo](
	[sourceid] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[appointmentcount] [bigint] NULL,
	[groupid] [nvarchar](max) NULL,
	[id] [nvarchar](max) NULL,
	[batchcount] [bigint] NULL,
	[hash] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_appointmentsyncinfo_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[connectorconfig]    Script Date: 8/15/2025 5:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[connectorconfig](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[requirements] [nvarchar](max) NULL,
	[os] [nvarchar](max) NULL,
	[pms] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[checksum] [nvarchar](max) NULL,
	[downloadurl] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[version] [nvarchar](max) NULL,
	[key] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_connectorconfig_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dataconnectionpool]    Script Date: 8/15/2025 5:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dataconnectionpool](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[servicesource] [nvarchar](max) NULL,
	[isconnected] [bit] NULL,
	[connectionid] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[payercredentialid] [bigint] NULL,
	[lastconnectedat] [datetimeoffset](7) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_dataconnectionpool_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eligibility]    Script Date: 8/15/2025 5:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eligibility](
	[secondaryresult] [nvarchar](max) NULL,
	[rundate] [datetimeoffset](7) NULL,
	[patientid] [bigint] NULL,
	[groupid] [nvarchar](max) NULL,
	[eligibilitystatusoverride] [nvarchar](max) NULL,
	[payerid] [bigint] NULL,
	[insurancestatusoverride] [nvarchar](max) NULL,
	[insurancestatus] [nvarchar](max) NULL,
	[result] [nvarchar](max) NULL,
	[defaultproviderid] [bigint] NULL,
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[providerid] [bigint] NULL,
	[appointmentid] [bigint] NULL,
	[insuranceid] [bigint] NULL,
	[id] [bigint] NULL,
	[eligibilityverificationsource] [nvarchar](max) NULL,
	[schedulingerrors] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_eligibility_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eligibilitydata]    Script Date: 8/15/2025 5:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eligibilitydata](
	[createdat] [datetimeoffset](7) NULL,
	[eligibilityid] [bigint] NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[data] [nvarchar](max) NULL,
	[servicesource] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[datasource] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_eligibilitydata_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eligibilityschedule]    Script Date: 8/15/2025 5:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eligibilityschedule](
	[datasourceerrors] [nvarchar](max) NULL,
	[servicesource] [nvarchar](max) NULL,
	[retrycount] [bigint] NULL,
	[lockedat] [datetimeoffset](7) NULL,
	[nextrun] [datetimeoffset](7) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[eligibilityid] [bigint] NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[id] [bigint] NULL,
	[refid] [nvarchar](max) NULL,
	[datasource] [nvarchar](max) NULL,
	[errors] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_eligibilityschedule_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[errortype]    Script Date: 8/15/2025 5:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[errortype](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[subcategory] [nvarchar](max) NULL,
	[serviceerror] [nvarchar](max) NULL,
	[servicesource] [nvarchar](max) NULL,
	[tooltipmessage] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[error] [nvarchar](max) NULL,
	[message] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_errortype_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[euladetails]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[euladetails](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[islatest] [bit] NULL,
	[id] [nvarchar](max) NULL,
	[version] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_euladetails_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groupsetting]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groupsetting](
	[defaultproviderid] [bigint] NULL,
	[createdat] [datetimeoffset](7) NULL,
	[scheduletime] [time](7) NULL,
	[schedulereportenabled] [bit] NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[groupid] [nvarchar](max) NULL,
	[notifyonschedulebeforemininterval] [bit] NULL,
	[scheduledaysbeforeappointment] [bigint] NULL,
	[id] [bigint] NULL,
	[webhookappid] [nvarchar](max) NULL,
	[schedulemininterval] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_groupsetting_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[insurance]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[insurance](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[groupid] [nvarchar](max) NULL,
	[payerid] [bigint] NULL,
	[subscriberid] [bigint] NULL,
	[id] [bigint] NULL,
	[groupnumber] [nvarchar](max) NULL,
	[memberid] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_insurance_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[insurancepatientmapping]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[insurancepatientmapping](
	[createdat] [datetimeoffset](7) NULL,
	[patientgroupnumber] [nvarchar](max) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[patientid] [bigint] NULL,
	[relationshiptosubscriber] [nvarchar](max) NULL,
	[insuranceid] [bigint] NULL,
	[patientmemberid] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_insurancepatientmapping_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[integrator]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[integrator](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[contactemail] [nvarchar](max) NULL,
	[contactname] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[contactphone] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_integrator_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[zipcode] [nvarchar](max) NULL,
	[lastname] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL,
	[address2] [nvarchar](max) NULL,
	[address1] [nvarchar](max) NULL,
	[groupid] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[firstname] [nvarchar](max) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[dob] [date] NULL,
	[id] [bigint] NULL,
	[state] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_member_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[memberalias]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memberalias](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[member] [bigint] NULL,
	[alias] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_memberalias_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patientproperty]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patientproperty](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[lastrun] [datetimeoffset](7) NULL,
	[id] [bigint] NULL,
	[type] [nvarchar](max) NULL,
	[memberid] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_patientproperty_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payer]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payer](
	[zipcode] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL,
	[address2] [nvarchar](max) NULL,
	[address1] [nvarchar](max) NULL,
	[dxcpayerid] [nvarchar](max) NULL,
	[active] [bit] NULL,
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[isdefault] [bit] NULL,
	[payeridcode] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[state] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_payer_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payerbenefit]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payerbenefit](
	[eligibilityid] [bigint] NULL,
	[rundate] [datetimeoffset](7) NULL,
	[code] [nvarchar](max) NULL,
	[data] [nvarchar](max) NULL,
	[sources] [nvarchar](max) NULL,
	[payerid] [bigint] NULL,
	[networkname] [nvarchar](max) NULL,
	[updateddate] [datetimeoffset](7) NULL,
	[type] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_payerbenefit_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payerbenefitmanualentry]    Script Date: 8/15/2025 5:01:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payerbenefitmanualentry](
	[createdat] [datetimeoffset](7) NULL,
	[eligibilityid] [bigint] NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[procedurecode] [nvarchar](max) NULL,
	[groupid] [nvarchar](max) NULL,
	[networkname] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[networktype] [nvarchar](max) NULL,
	[value] [nvarchar](max) NULL,
	[key] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_payerbenefitmanualentry_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payercredential]    Script Date: 8/15/2025 5:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payercredential](
	[payerportalid] [bigint] NULL,
	[retrycount] [bigint] NULL,
	[groupid] [nvarchar](max) NULL,
	[payerid] [bigint] NULL,
	[externalconnectionid] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[password] [nvarchar](max) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[providerid] [bigint] NULL,
	[id] [bigint] NULL,
	[status] [nvarchar](max) NULL,
	[username] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_payercredential_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payerportal]    Script Date: 8/15/2025 5:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payerportal](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[websiteurl] [nvarchar](max) NULL,
	[mfatimeoutinseconds] [bigint] NULL,
	[id] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_payerportal_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payerportalmapping]    Script Date: 8/15/2025 5:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payerportalmapping](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[payerportalid] [bigint] NULL,
	[payerid] [bigint] NULL,
	[id] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_payerportalmapping_hashid] [varchar](32) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payerproperty]    Script Date: 8/15/2025 5:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payerproperty](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[servicesource] [nvarchar](max) NULL,
	[propertytype] [nvarchar](max) NULL,
	[payerid] [bigint] NULL,
	[id] [bigint] NULL,
	[attribute] [nvarchar](max) NULL,
	[value] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_payerproperty_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[procedurecode]    Script Date: 8/15/2025 5:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[procedurecode](
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[code] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[category] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_procedurecode_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provider]    Script Date: 8/15/2025 5:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provider](
	[lastname] [nvarchar](max) NULL,
	[npi] [nvarchar](max) NULL,
	[groupid] [nvarchar](max) NULL,
	[isvalid] [bit] NULL,
	[license] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[firstname] [nvarchar](max) NULL,
	[provider_unique] [nvarchar](max) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[phone] [nvarchar](max) NULL,
	[tin] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[salutation] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_provider_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sequelizemeta]    Script Date: 8/15/2025 5:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sequelizemeta](
	[name] [nvarchar](max) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_sequelizemeta_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usereulaagreement]    Script Date: 8/15/2025 5:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usereulaagreement](
	[isagreed] [bit] NULL,
	[createdat] [datetimeoffset](7) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[euladetailid] [nvarchar](max) NULL,
	[ipaddress] [nvarchar](max) NULL,
	[userprofileid] [bigint] NULL,
	[id] [bigint] NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_usereulaagreement_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userprofile]    Script Date: 8/15/2025 5:01:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userprofile](
	[lastname] [nvarchar](max) NULL,
	[createdat] [datetimeoffset](7) NULL,
	[firstname] [nvarchar](max) NULL,
	[deletedat] [datetimeoffset](7) NULL,
	[lastloggedin] [datetimeoffset](7) NULL,
	[middlename] [nvarchar](max) NULL,
	[id] [bigint] NULL,
	[userid] [bigint] NULL,
	[email] [nvarchar](max) NULL,
	[updatedat] [datetimeoffset](7) NULL,
	[_airbyte_ab_id] [varchar](64) NOT NULL,
	[_airbyte_emitted_at] [datetimeoffset](7) NULL,
	[_airbyte_normalized_at] [datetime2](7) NOT NULL,
	[_airbyte_userprofile_hashid] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[_airbyte_raw_ApiKey] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Appointment] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_AppointmentImport] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_AppointmentInsuranceMapping] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_AppointmentNotes] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_AppointmentProviderMapping] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_AppointmentSyncBatchInfo] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_AppointmentSyncInfo] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_ConnectorConfig] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_DataConnectionPool] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Eligibility] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_EligibilityData] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_EligibilitySchedule] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_ErrorType] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_EulaDetails] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_GroupSetting] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Insurance] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_InsurancePatientMapping] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Integrator] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Member] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_MemberAlias] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_PatientProperty] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Payer] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_PayerBenefit] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_PayerBenefitManualEntry] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_PayerCredential] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_PayerPortal] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_PayerPortalMapping] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_PayerProperty] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_ProcedureCode] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_Provider] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_SequelizeMeta] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_UserEulaAgreement] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
ALTER TABLE [dbo].[_airbyte_raw_UserProfile] ADD  DEFAULT (sysdatetimeoffset()) FOR [_airbyte_emitted_at]
GO
