USE [dw]
GO
/****** Object:  View [dbo].[Direct_Logo_NetSuite_Upload_Template]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Direct_Logo_NetSuite_Upload_Template]
AS

SELECT CAST(g.GroupID AS VARCHAR(10)) AS ExternalID
	, CAST(g.GroupID AS VARCHAR(10)) AS [Customer ID]
	, 'FALSE' AS Individual
	, ISNULL(g.Name, '') AS [Company Name]
	, '' AS [First Name]
	, '' AS [Middle Name]
	, '' AS [Last Name]		
	, CAST(NSInternalID AS VARCHAR(255)) AS Subsidiary	
	, '' AS [Represents Subsidiary]	
	, ISNULL(g.Email, '') AS [Email]
	, ISNULL(g.Phone, '') AS [Phone]
	, 'CustomER-Closed Won' AS [Status]	
	, '' AS [Sales Rep]	
	, '' AS [Lead Source]	
	, '' AS [Child Of]
	, '' AS [Category]	
	, '' AS [Inactive]	
	, '' AS [Contact 1]	
	, '' AS [Contact 1 Subsidiary]	
	, '' AS [Account]	
	, '' AS [Default Receivables Account]	
	, 'USD' AS [Primary Currency]	
	, 'Net 30' AS [Terms]	
	, '' AS [Price Level]	
	, '' AS [Credit Limit]	
	, '' AS [Tax Item]	
	, '' AS [Tax Reg. Number]	
	, '' AS [Deferred Revenue Account for Revenue Reclassification]	
	, '' AS [Additional Currency 1]	
	, 'Bill-To' AS [Label]	
	, '' AS [Attention]
	, '' AS	[Addressee]	
	, ISNULL(g.Addr, '') AS [Address 1]	
	, ISNULL(g.Addr2, '') AS [Address 2]	
	, ISNULL(g.City	, '') AS [City]
	, ISNULL(g.State, '') AS [Province/State]	
	, ISNULL(g.Zip, '') AS [Postal Code/Zip]	
	, 'United States' AS [Country]	
	, 'TRUE' AS [Default Billing]
	, 'TRUE' AS [Default Shipping]
FROM [dtt-ana-prd].common.dbo.Groups AS g WITH (NOLOCK)
JOIN erp.dbo.ERPSubsidiaryLookup AS sub WITH (NOLOCK) ON sub.Name = 'E-Business Services, Inc'

GO
/****** Object:  View [dbo].[Finance_Reporting_QA]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Finance_Reporting_QA] AS
SELECT us.BillingPeriod AS Billing_Period
	, us.ClientType AS Client_Type
	, us.ReportingClientType AS Reporting_Client_Type
	, CASE
		WHEN us.ReportingClientType = 'Manually Billed' THEN CAST(us.GroupID AS VARCHAR(10))
		WHEN us.ReportingClientType = 'Direct Logo' AND parent.ClientID IS NULL THEN CAST(us.GroupID AS VARCHAR(10))
		ELSE parent.ClientID 
		END AS Parent_Customer_Number
	, CASE
		WHEN us.ReportingClientType = 'Manually Billed' THEN us.GroupName
		ELSE parent.ClientName 
		END AS Parent_Company_Name
	, us.PartnerTranTypeName AS Product
	, us.PartnerTranSubTypeName AS Product_SubCategory
	, CASE 
		WHEN us.ExtendedPrice < 0 THEN us.Quantity * -1
		ELSE us.Quantity
		END AS Quantity
	, us.ExtendedPrice AS Extended_Price
	, us.Subscription AS Is_Subscription
	, CASE
		WHEN us.ClientType = 'Reseller' AND parent.ClientID = us.ClientID THEN CAST(us.GroupID AS VARCHAR(10))
		WHEN us.ReportingClientType = 'Manually Billed' THEN CAST(us.GroupID AS VARCHAR(10))
		WHEN us.ClientType = 'DSO' THEN CAST(us.GroupID AS VARCHAR(10))
		ELSE us.ClientID 
		END AS Customer_Number
	, CASE
		WHEN us.ClientType = 'Reseller' AND parent.ClientID = us.ClientID THEN us.GroupName
		WHEN us.ReportingClientType = 'Manually Billed' THEN us.GroupName
		WHEN us.ClientType = 'DSO' THEN us.GroupName
		ELSE e.ClientName
		END AS Company_Name
	, us.ProductGroupPackageContractStartDate AS Contract_Start_Date
	, us.ProductGroupPackageContractEndDate AS Contract_End_Date
	, us.LegacyInvoiceNumber AS Legacy_Invoice_Number
FROM erpQA.dbo.ClientUsageSummary AS us WITH (NOLOCK)
LEFT JOIN enty.dbo.Entities AS e WITH (NOLOCK) ON us.ClientID = e.ClientID
LEFT JOIN enty.dbo.Entities AS parent WITH (NOLOCK) ON e.ParentEntityID = parent.EntityID
WHERE us.ExtendedPrice IS NOT NULL
	AND us.ExtendedCost IS NULL

GO
/****** Object:  View [dbo].[Invoices]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Invoices] AS
SELECT r.NSRecordName AS NetSuite_Invoice_Type				
	, u.LegacyInvoiceNumber AS GP_Invoice_Number			
	, u.ClientUsageSummaryID AS Record_Unique_ID			
	, u.InvoiceNumber AS NetSuite_Invoice_Number			
	, u.BillingPeriod AS Billing_Period						
	, u.ClientID AS Customer_Number	
	, e.ClientName AS Company_Name
	, CASE
		WHEN u.ReportingClientType = 'Manually Billed' THEN CAST(u.GroupID AS VARCHAR(10))
		WHEN u.ReportingClientType = 'Direct Logo' AND parent.ClientID IS NULL THEN CAST(u.GroupID AS VARCHAR(10))
		ELSE parent.ClientID 
		END AS Parent_Customer_Number
	, CASE
		WHEN u.ReportingClientType = 'Manually Billed' THEN u.GroupName
		ELSE parent.ClientName 
		END AS Parent_Company_Name	
	, CASE
		WHEN u.ClientType = 'Reseller' AND parent.ClientID = u.ClientID THEN CAST(u.GroupID AS VARCHAR(10))
		WHEN u.ReportingClientType = 'Manually Billed' THEN CAST(u.GroupID AS VARCHAR(10))
		WHEN u.ClientType = 'DSO' THEN CAST(u.GroupID AS VARCHAR(10))
		ELSE u.ClientID 
		END AS Office_Customer_Number
	, CASE
		WHEN u.ClientType = 'Reseller' AND parent.ClientID = u.ClientID THEN u.GroupName
		WHEN u.ReportingClientType = 'Manually Billed' THEN u.GroupName
		WHEN u.ClientType = 'DSO' THEN u.GroupName
		ELSE e.ClientName
		END AS Office_Name
	, u.GroupID AS Group_ID									
	, u.GroupName AS Group_Name								
	, u.VipID AS DSO_Unique_Identifier						
	, u.VipName AS DSO_Name									
	, u.ResellerID AS Reseller_Unique_Identifier			
	, u.ResellerName AS Reseller_Name		
	, u.PmsID AS Practice_Management_System_Unique_Identifier
	, u.PmsName AS Practice_Management_System_Name
	, u.ClientType AS Client_Type 				
	, u.ReportingClientType AS Reporting_Client_Type 
	, u.DestinationPartnerCode AS Transaction_Destination_Customer_Unique_Identifier
	, u.DestinationPartnerName AS Transaction_Destination_Customer_Name
	, u.SourcePartnerCode AS Transactoin_Source_Customer_Unique_Identifier
	, u.SourcePartnerName AS Transaction_Source_Customer_Name
	, u.NSItemInternalID AS NetSuite_Item_Internal_ID	
	, u.PartnerTranTypeName AS Product
	, u.PartnerTranSubTypeName AS Product_SubCategory
	, i.DisplayName AS NetSuite_Item_Display_Name			
	, u.NSAccountInternalID AS NetSuite_Account_Internal_ID	
	, a.Account AS NetSuite_Account							
	, u.ItemNumber AS DXC_Item_Number						
	, u.ItemDescription AS DXC_Item_Description				
	, i.Class AS Item_Class									
	, u.Subscription AS Is_Subscription_Charge				
	, u.NSEntityName AS NetSuite_Entity_Name				
	, u.Quantity AS Quantity
	, u.UnitPrice AS Unit_Price								
	, u.ExtendedPrice AS Extended_Price						
	, u.UnitCost AS Unit_Cost								
	, u.ExtendedCost AS Extended_Cost						
	, u.SalesTaxAmount AS Sales_Tax_Amount					
	, CASE	
		WHEN u.SalesTaxStatus = 3 THEN 'Tax Success'
		WHEN u.SalesTaxStatus IS NOT NULL AND u.SalesTaxStatus != 3 THEN 'Tax Fail'
		ELSE NULL
		END AS Sales_Tax_Status								
	, u.Commission											
	, u.EarnedCommission AS Earned_Commission				
	, u.Revenue AS Calculated_Commission_Revenue	
	, u.ProductGroupPackageContractStartDate AS Group_Package_Start_Date
	, u.ProductGroupPackageContractEndDate AS Group_Package_End_Date
	, CASE 
		WHEN u.BoomiStatusID = 1 THEN 'Sync Success'
		WHEN u.BoomiStatusID = 0 THEN 'Sync Fail'
		WHEN u.BoomiStatusID IS NULL THEN 'Not Attempted'
		WHEN u.BoomiStatusID = -1 THEN 'User Ignore'
		ELSE NULL END AS Boomi_Status						
	, u.RecordModifyDate AS Record_Last_Update_Date			
	, u.RecordModifyReason AS Record_Last_Update_Action		
FROM erp.dbo.ClientUsageSummary AS u WITH (NOLOCK)
JOIN erp.dbo.ERPRecordTypeLookup AS r WITH (NOLOCK) ON u.NSRecordType = r.NSRecordType
LEFT JOIN enty.dbo.Entities AS e WITH (NOLOCK) ON u.ClientID = e.ClientID
LEFT JOIN enty.dbo.Entities AS parent WITH (NOLOCK) ON e.ParentEntityID = parent.EntityID
LEFT JOIN erp.dbo.ERPItemLookup AS i WITH (NOLOCK) ON u.NSItemInternalID = i.NSInternalID
LEFT JOIN erp.dbo.ERPAccountLookup AS a WITH (NOLOCK) ON u.NSAccountInternalID = a.NSInternalID
WHERE r.Active = 1
	AND (r.IntegrationAction LIKE 'Pass record into NetSuite%'
		OR r.NSRecordName = 'Direct Logo'
		OR r.NSRecordType IN ('M', 'W'))

GO
/****** Object:  View [dbo].[Journal_Entries]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Journal_Entries] AS
SELECT CASE je.ReportingClientType
		WHEN 'Merchant' THEN 'PayConnect Residual'
		ELSE je.ReportingClientType END AS NetSuite_Journal_Entry_Type						-- x
	, je.LegacyInvoiceNumber AS GP_Invoice_Number											-- x
	, je.ClientGLEntrySummaryID AS Record_Unique_ID											-- x
	, je.JournalEntryNumber AS NetSuite_Journal_Entry_Number								-- x
	, je.BillingPeriod AS Billing_Period													-- x
	, je.ClientID AS Customer_Number														-- x
	, e.ClientName AS Company_Name															-- x
	, je.ClientType AS Client_Type															-- x
	, je.ReportingClientType AS Reporting_Client_Type										-- x
	, je.ChildClientInformation AS Child_Customer_Number									-- x
	, ce.ClientName AS Child_Customer_Company_Name											-- x
	, je.EndUserInformation AS End_User_Customer_Number										-- x
	, eue.ClientName AS End_User_Company_Name												-- x
	, je.NSRevenueAccountID AS NetSuite_Account_Internal_ID									-- x
	, a.Account AS NetSuite_Account															-- x
	, je.NSSubsidiaryID AS NetSuite_Subsidiary_Internal_ID
	, s.Name AS NetSuite_Subsidiary
	, je.NSID AS NetSuite_Department_Internal_ID											-- x
	, je.FeatureName AS DXC_Item_Feature_Name												-- x
	, je.ItemDescription AS DXC_Item_Description											-- x
	, je.Receivable																			-- x
	, je.Revenue																			-- x
	, je.FiservInvoiceNoMemo AS	Fiserv_Invoice_Number										-- x
	, CASE je.Paid WHEN 1 THEN 'Yes' WHEN 0 THEN 'No' ELSE NULL END AS Is_Paid				-- x
	, CASE
		WHEN je.ItemDescription LIKE 'Sales Tax' THEN 'Yes' ELSE 'No' END AS Is_Sales_Tax	-- x
	, CASE
		WHEN je.BoomiStatusID = 1 THEN 'Sync Success'
		WHEN je.BoomiStatusID = 0 THEN 'Sync Fail'
		WHEN je.BoomiStatusID IS NULL THEN 'Not Attempted'
		ELSE NULL END AS Boomi_Status														-- x
	, je.RecordModifyDate AS Record_Last_Update_Date										-- x		
	, je.RecordModifyReason AS Record_Last_Update_Action									-- x	
FROM erp.dbo.ClientGLEntrySummary AS je WITH (NOLOCK)
LEFT JOIN enty.dbo.Entities AS e WITH (NOLOCK) ON je.ClientID = e.ClientID
LEFT JOIN enty.dbo.Entities AS ce WITH (NOLOCK) ON je.ChildClientInformation = ce.ClientID
LEFT JOIN enty.dbo.Entities AS eue WITH (NOLOCK) ON je.EndUserInformation = eue.ClientID
LEFT JOIN erp.dbo.ERPAccountLookup AS a WITH (NOLOCK) ON je.NSRevenueAccountID = a.NSInternalID
LEFT JOIN erp.dbo.ERPSubsidiaryLookup AS s WITH (NOLOCK) ON je.NSSubsidiaryID = s.NSInternalID

GO
/****** Object:  View [dbo].[NetSuite_Sales_Invoiced]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[NetSuite_Sales_Invoiced] AS
SELECT t.TranID AS Invoice_Number
	, CASE s.[Type] WHEN 'CustInvc' THEN 'Customer Invoice' ELSE s.[Type] END AS Invoice_Category
	, s.[TranLine] AS Invoice_Line_Number
	, CAST(s.TranDate AS DATE) AS Billing_Period
	, c.EntityID AS Customer_Number
	, c.companyname AS Company_Name
	, iq.ClientType AS Client_Type
	, s.Item AS NetSuite_Item_Internal_ID
	, i.custitem_master_item AS Master_Item_Code
	, i.ExternalID AS DXC_Item_Number
	, s.Memo AS NetSuite_Item_Description
	, s.ItemCount AS Quantity
	, tl.Rate AS Unit_Price
	, s.Amount AS Extended_Price
	, ISNULL(tl.custcol_staging_database_id, STRING_AGG(CAST(iq.Client_Usage_Summary_ID AS NVARCHAR(MAX)), '|')) AS Client_Usage_Summary_ID_List
	, t.lastmodifieddate AS Last_Modified_Date
	, t.createdby AS NetSuite_Create_User_ID
	, t.createddate AS NetSuite_Create_Date
FROM ns.dbo.salesInvoiced_copy AS s WITH (NOLOCK)
JOIN ns.dbo.Customer_copy AS c WITH (NOLOCK) ON s.Entity = c.ID
JOIN ns.dbo.Item_copy AS i WITH (NOLOCK) ON s.Item = i.ID
JOIN ns.dbo.Transaction_copy AS t WITH (NOLOCK) ON s.[Transaction] = t.ID
JOIN ns.dbo.TransactionLine_copy AS tl WITH (NOLOCK) ON s.[Transaction] = tl.[Transaction]
	AND s.TranLine = tl.ID
LEFT JOIN (
	SELECT cus.ClientUsageSummaryID AS Client_Usage_Summary_ID
		, cus.ClientID AS Customer_Number
		, cus.BillingPeriod AS Billing_Period
		, cus.ItemDescription AS Item_Description
		, SUM(cus.Quantity) OVER(PARTITION BY cus.ClientID, cus.BillingPeriod, cus.NSSalesItemID, cus.UnitPrice) AS JOINQuantity
		, cus.ItemNumber AS Item_Number
		, cus.Quantity
		, cus.ClientType
	FROM erp.dbo.ClientUsageSummary AS cus WITH (NOLOCK)
	--WHERE BoomiStatusID = 1
) AS iq ON iq.Customer_Number = c.EntityID
	AND iq.Billing_Period = CAST(s.TranDate AS DATE)
	AND iq.Item_Number = i.ExternalID
	AND iq.JOINQuantity = s.ItemCount
GROUP BY t.TranID
	, CASE s.[Type] WHEN 'CustInvc' THEN 'Customer Invoice' ELSE s.[Type] END
	, s.[TranLine]
	, CAST(s.TranDate AS DATE)
	, c.EntityID
	, c.companyname
	, iq.ClientType
	, s.Item
	, i.custitem_master_item
	, i.ExternalID
	, s.Memo
	, s.ItemCount
	, tl.Rate
	, s.Amount
	, tl.custcol_staging_database_id
	, t.lastmodifieddate
	, t.createdby
	, t.createddate

GO
/****** Object:  View [dbo].[Subscriptions]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Subscriptions] 
AS 

	SELECT *
	FROM (
		SELECT cust.EntityID AS Client_ID
			, cust.CompanyName AS Client_Name
			, sub.ID AS Subscription_ID
			, sub.name AS Subscription_Name
			, sub.Subsidiary AS Subsidiary_ID
			, subsd.Name AS Subsidiary_Name
			, c.symbol AS Currency_Type
			, CAST(ISNULL(sub.startdate, '1900-01-01') AS DATE) AS Subscription_Start_Date
			, CAST(ISNULL(sub.enddate, '9999-12-31') AS DATE) AS Subscription_End_Date
			, sub.frequency AS Billing_Frequency
			, sl.ID AS Subscription_Line_ID
			, CAST(ISNULL(sl.startdate, '1900-01-01') AS DATE) AS Subscription_Line_Start_Date
			, CAST(ISNULL(sl.enddate, '9999-12-31') AS DATE) AS Subscription_Line_End_Date
			, sl.linenumber AS Subscription_Line_Line_Number
			, pt.lineid AS Price_Tier_Line_ID
			, i.CustItem_Master_Item AS Master_Item_Code
			, i.ID AS NS_Item_Internal_ID
			, i.ItemID AS Item_Number
			, i.DisplayName AS Item_Display_Name
			, il.PartnerTranTypeID AS Partner_Tran_Type_ID
			, il.PartnerTranSubTypeID AS Partner_Tran_Sub_Type_ID
			, CAST(ISNULL(spi.startdate, '1900-01-01') AS DATE) AS Price_Start_Date
			, CAST(ISNULL(spi.enddate, '9999-12-31') AS DATE) AS Price_End_Date
			, pt.fromval AS Tier_From_Value
			, ISNULL(LEAD(pt.fromval) OVER(PARTITION BY spi.subscription, sl.linenumber, CAST(ISNULL(spi.startdate, '1900-01-01') AS DATE) ORDER BY pt.lineid ASC)-1, 999999999) AS Tier_To_Value
			, pt.value AS Tier_Price

			, sl.IsIncluded AS Is_Included
			, sl.BillingMode AS Billing_Mode
			, sub.billingsubscriptionstatus AS Billing_Subscription_Status
			, sl.subscriptionlinestatus AS Subscription_Line_Status
			, spi.status AS Price_Status
		FROM ns.dbo.Customer AS cust WITH (NOLOCK)
		JOIN ns.dbo.Subscription AS sub WITH (NOLOCK) ON sub.customer = cust.ID
		LEFT JOIN ns.dbo.SubscriptionStatus AS subs WITH (NOLOCK) ON sub.name = subs.name
		LEFT JOIN ns.dbo.PriceBook AS pb WITH (NOLOCK) ON sub.pricebook = pb.id
		LEFT JOIN ns.dbo.SubscriptionLine AS sl WITH (NOLOCK) ON sub.id = sl.subscription
		LEFT JOIN ns.dbo.SubscriptionPriceInterval AS spi WITH (NOLOCK) ON sl.subscription = spi.subscription AND sl.linenumber = spi.linenumber
		LEFT JOIN ns.dbo.PricePlan AS pp WITH (NOLOCK) ON spi.priceplan = pp.ID
		LEFT JOIN ns.dbo.PriceTiers AS pt WITH (NOLOCK) ON spi.priceplan = pt.priceplan
		LEFT JOIN ns.dbo.Currency AS c WITH (NOLOCK) ON sub.Currency = c.ID
		LEFT JOIN ns.dbo.Item AS i WITH (NOLOCK) ON sl.item = i.ID
		LEFT JOIN ns.dbo.Subsidiary AS subsd WITH (NOLOCK) ON sub.Subsidiary = subsd.ID
		LEFT JOIN erp.dbo.ERPItemLookup AS il WITH (NOLOCK) ON i.ItemID = il.ItemNumber
	) inner_query
	WHERE Is_Included = 'T'
		AND Tier_Price IS NOT NULL
GO
/****** Object:  View [dbo].[ZabSubscriptions]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ZabSubscriptions] AS
SELECT cus.entityid AS Client_ID
	, cus.companyname AS Client_Name
	, sub.id AS Subscription_ID
	, sub.name AS Subscription_Name
	, s.id AS Subsidiary_ID
	, s.Name AS Subsidiary_Name
	, cur.symbol AS Currency_Type
	, CAST(sub.custrecordzab_s_start_date AS DATE) AS Subscription_Start_Date
	, CAST(sub.custrecordzab_s_end_date AS DATE) AS Subscription_End_Date
	, d.name AS Billing_Frequency
	, si.id AS Subscription_Line_ID
	, CAST(si.custrecordzab_si_start_date AS DATE) AS Subscription_Line_Start_Date
	, CAST(si.custrecordzab_si_end_date AS DATE) AS Subscription_Line_End_Date
	, pt.id AS Price_Tier_Line_ID
	, ISNULL(si.custrecorddxc_si_master_item, mi.MasterItemCode) AS Master_Item_Code
	, si.custrecordzab_si_item AS NS_Item_Internal_ID
	, si.name AS Item_Number
	, si.custrecordzab_si_item_description AS Item_Display_Name
	, pb.custrecordzab_pb_start_date AS Price_Start_Date
	, pb.custrecordzab_pb_end_date AS Price_End_Date
	, pt.custrecordzab_pricing_tier_lower_limit AS Tier_From_Value
	, CASE WHEN pt.custrecordzab_pricing_tier_lower_limit IS NOT NULL 
		THEN ISNULL((LEAD(pt.custrecordzab_pricing_tier_lower_limit) OVER(PARTITION BY cus.entityid, sub.id, si.id ORDER BY pt.custrecordzab_pricing_tier_lower_limit ASC)) -1, 999999999) 
		ELSE NULL END AS Tier_To_Value
	, pt.custrecordzab_pricing_tier_price AS Tier_Price
	, si.custrecordzab_si_included_units AS Is_Included
	, si.custrecordzab_si_bill_in_arrears AS Billing_Mode
	, sub.IsInactive AS Billing_Subscription_Status
	, si.IsInactive AS Subscription_Line_Status
	, pb.IsInactive AS Price_Status 
FROM ns.dbo.ZABSubscription_copy AS sub WITH (NOLOCK)
LEFT JOIN ns.dbo.ZabSubscriptionItem_copy AS si WITH (NOLOCK) ON sub.id = si.custrecordzab_si_subscription
LEFT JOIN ns.dbo.Customer_copy AS cus WITH (NOLOCK) ON sub.custrecordzab_s_customer = cus.id
LEFT JOIN ns.dbo.Subsidiary_copy AS s WITH (NOLOCK) ON sub.custrecordzab_s_subsidiary = s.id
LEFT JOIN ns.dbo.Currency_copy AS cur WITH (NOLOCK) ON sub.custrecordzab_s_currency = cur.id
LEFT JOIN ns.dbo.ZabChargeScheduleDates_copy AS d WITH (NOLOCK) ON sub.custrecordzab_s_charge_schedule = d.id
LEFT JOIN ns.dbo.ZabPriceBook_copy AS pb WITH (NOLOCK) ON si.custrecordzab_si_price_book = pb.id
LEFT JOIN ns.dbo.ZabPricingTier_copy AS pt WITH (NOLOCK) ON pb.id = pt.custrecordzab_pricing_tier_price_book
LEFT JOIN erp.dbo.ERPItemLookup AS il WITH (NOLOCK) ON si.custrecordzab_si_item = il.NSInternalID
LEFT JOIN erp.dbo.ERPItemMasterItemLookup AS imi WITH (NOLOCK) ON imi.ERPItemLookupID = il.ERPItemLookupID
LEFT JOIN erp.dbo.ERPMasterItemLookup AS mi WITH (NOLOCK) ON imi.ERPMasterItemLookupID = mi.ERPMasterItemLookupID
GO
/****** Object:  Table [dbo].[NetSuite_Sales_Invoiced_Snapshot]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetSuite_Sales_Invoiced_Snapshot](
	[Invoice_Number] [nvarchar](138) NULL,
	[Client_Type] [varchar](16) NULL,
	[Create_Method] [varchar](11) NOT NULL,
	[Invoice_Category] [varchar](16) NULL,
	[Billing_Period] [datetime2](7) NULL,
	[Customer_Number] [nvarchar](83) NULL,
	[Company_Name] [nvarchar](83) NULL,
	[Invoice_Line_Number] [bigint] NULL,
	[NetSuite_Item_Internal_ID] [bigint] NULL,
	[Master_Item_Code] [nvarchar](4000) NULL,
	[NetSuite_Account_Name] [varchar](100) NULL,
	[NetSuite_Account_Type] [varchar](35) NULL,
	[DXC_Item_Number] [nvarchar](255) NULL,
	[NetSuite_Item_Description] [nvarchar](4000) NULL,
	[Quantity] [float] NULL,
	[Unit_Price] [float] NULL,
	[Extended_Price] [float] NULL,
	[Unit_Cost] [float] NULL,
	[Extended_Cost] [float] NULL,
	[Invoice_Total] [float] NULL,
	[Client_Usage_Summary_ID_List] [nvarchar](255) NULL,
	[Client_Usage_Summary_ID_Match_Type] [varchar](28) NULL,
	[Last_Modified_Date] [datetime2](7) NULL,
	[NetSuite_Create_User_ID] [bigint] NULL,
	[NetSuite_Create_User_Name] [nvarchar](83) NULL,
	[NetSuite_Create_User_Type] [nvarchar](4000) NULL,
	[NetSuite_Create_Date] [datetime2](7) NULL,
	[Invoice_Line_Level_Net_Amount] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NetSuite_Sales_Invoiced_Snapshot_2]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetSuite_Sales_Invoiced_Snapshot_2](
	[Invoice_Number] [nvarchar](138) NULL,
	[Client_Type] [varchar](16) NULL,
	[Create_Method] [varchar](11) NOT NULL,
	[Invoice_Category] [varchar](16) NULL,
	[Billing_Period] [datetime2](7) NULL,
	[Customer_Number] [nvarchar](83) NULL,
	[Company_Name] [nvarchar](83) NULL,
	[Invoice_Line_Number] [bigint] NULL,
	[NetSuite_Item_Internal_ID] [bigint] NULL,
	[Master_Item_Code] [nvarchar](4000) NULL,
	[NetSuite_Account_Name] [varchar](100) NOT NULL,
	[NetSuite_Account_Type] [varchar](35) NOT NULL,
	[DXC_Item_Number] [nvarchar](255) NULL,
	[NetSuite_Item_Description] [nvarchar](4000) NULL,
	[Quantity] [float] NULL,
	[Unit_Price] [float] NULL,
	[Extended_Price] [float] NULL,
	[Unit_Cost] [float] NULL,
	[Extended_Cost] [float] NULL,
	[Invoice_Total] [float] NULL,
	[Client_Usage_Summary_ID_List] [nvarchar](255) NULL,
	[Client_Usage_Summary_ID_Match_Type] [varchar](28) NULL,
	[Last_Modified_Date] [datetime2](7) NULL,
	[NetSuite_Create_User_ID] [bigint] NULL,
	[NetSuite_Create_User_Name] [nvarchar](83) NULL,
	[NetSuite_Create_User_Type] [nvarchar](4000) NULL,
	[NetSuite_Create_Date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NetSuite_Sales_Invoiced_Snapshot_copy]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetSuite_Sales_Invoiced_Snapshot_copy](
	[Invoice_Number] [nvarchar](138) NULL,
	[Client_Type] [varchar](25) NULL,
	[Create_Method] [varchar](11) NOT NULL,
	[Invoice_Category] [varchar](16) NULL,
	[Billing_Period] [date] NULL,
	[Customer_Number] [nvarchar](83) NULL,
	[Company_Name] [nvarchar](83) NULL,
	[Invoice_Line_Number] [bigint] NULL,
	[NetSuite_Item_Internal_ID] [bigint] NULL,
	[Master_Item_Code] [nvarchar](4000) NULL,
	[DXC_Item_Number] [nvarchar](255) NULL,
	[NetSuite_Item_Description] [nvarchar](4000) NULL,
	[Quantity] [float] NULL,
	[Unit_Price] [float] NULL,
	[Extended_Price] [float] NULL,
	[Unit_Cost] [float] NULL,
	[Extended_Cost] [float] NULL,
	[Invoice_Total] [float] NULL,
	[Client_Usage_Summary_ID_List] [nvarchar](255) NULL,
	[Client_Usage_Summary_ID_Match_Type] [varchar](28) NULL,
	[Last_Modified_Date] [datetime2](7) NULL,
	[NetSuite_Create_User_ID] [bigint] NULL,
	[NetSuite_Create_User_Name] [nvarchar](83) NULL,
	[NetSuite_Create_User_Type] [nvarchar](4000) NULL,
	[NetSuite_Create_Date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions_Snapshot]    Script Date: 8/15/2025 7:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions_Snapshot](
	[Client_ID] [nvarchar](83) NULL,
	[Client_Name] [nvarchar](83) NULL,
	[Subscription_ID] [bigint] NULL,
	[Subscription_Name] [nvarchar](220) NULL,
	[Subsidiary_ID] [bigint] NULL,
	[Subsidiary_Name] [nvarchar](83) NULL,
	[Currency_Type] [nvarchar](4) NULL,
	[Subscription_Start_Date] [date] NULL,
	[Subscription_End_Date] [date] NULL,
	[Billing_Frequency] [nvarchar](20) NULL,
	[Subscription_Line_ID] [bigint] NULL,
	[Subscription_Line_Start_Date] [date] NULL,
	[Subscription_Line_End_Date] [date] NULL,
	[Subscription_Line_Line_Number] [bigint] NULL,
	[Price_Tier_Line_ID] [bigint] NULL,
	[Master_Item_Code] [nvarchar](4000) NULL,
	[NS_Item_Internal_ID] [bigint] NULL,
	[Item_Number] [nvarchar](250) NULL,
	[Item_Display_Name] [nvarchar](4000) NULL,
	[Partner_Tran_Type_ID] [int] NULL,
	[Partner_Tran_Sub_Type_ID] [int] NULL,
	[Price_Start_Date] [date] NULL,
	[Price_End_Date] [date] NULL,
	[Tier_From_Value] [bigint] NULL,
	[Tier_To_Value] [bigint] NOT NULL,
	[Tier_Price] [float] NULL,
	[Is_Included] [nchar](1) NULL,
	[Billing_Mode] [nvarchar](32) NULL,
	[Billing_Subscription_Status] [nvarchar](25) NULL,
	[Subscription_Line_Status] [nvarchar](25) NULL,
	[Price_Status] [nvarchar](25) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monthly period the record is being billed for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Billing_Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of client associated to the record; class in the erp system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Client_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'More granular reporting client type of the responsible client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Reporting_Client_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the parent of the client associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Parent_Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name associated to the parent of the client associated to the record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Parent_Company_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaction type description/name associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Product'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaction subtype description/name associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Product_SubCategory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Count of billable transactions (usage volume)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Extended Price associated to the grouped item numbers for the billing period associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Extended_Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the record is a subscription charge' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Is_Subscription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the client associated to the record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name associated to the client associated to the record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Company_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Agree date of the product contract associated to the single provider office associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Contract_Start_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'End date of the product contract associated to the single provider office associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Contract_End_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the invoice associated to the record from the legacy ERP system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA', @level2type=N'COLUMN',@level2name=N'Legacy_Invoice_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Displays data from the summary level usage table data for various DentalXChange client types' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Finance_Reporting_QA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite record type associated to the usage record; indicates if the record is a usage, invoice, or commission record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Invoice_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the invoice associated to the usage record from the legacy ERP system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'GP_Invoice_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the usage record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Record_Unique_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the invoice associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Invoice_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monthly period the usage record is being billed for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Billing_Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the client associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name associated to the client associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Company_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the parent of the client associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Parent_Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the parent customer of the client associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Parent_Company_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Group ID/office that generated the usage/invoice record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Office_Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Group Name/office that generated the usage/invoice record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Office_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the group/single provider office associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Group_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the group/single provider office associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Group_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the DSO/Dental Services Organization associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'DSO_Unique_Identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the DSO/Dental Services Organization associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'DSO_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the reseller associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Reseller_Unique_Identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the reseller associated to the usage record if one exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Reseller_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Practice Management System unique identifier associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Practice_Management_System_Unique_Identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Practice Management System name associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Practice_Management_System_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of client associated to the usage record; class in the erp system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Client_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'More granular reporting client type of the responsible client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Reporting_Client_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Destination office/customer unique identifier where the transaction associated to the record was delivered' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Transaction_Destination_Customer_Unique_Identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Destination office/customer name where the transaction associated to the record was delivered' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Transaction_Destination_Customer_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Source office/customer unique identifier where the transaction associated to the record originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Transactoin_Source_Customer_Unique_Identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Source office/customer name where the transaction associated to the record originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Transaction_Source_Customer_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite Item unique id associated to the item number associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Item_Internal_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaction type description/name associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Product'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaction subtype description/name associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Product_SubCategory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name displayed in Netsuite for the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Item_Display_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Account information posted through the Boomi Integration by NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Account_Internal_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Account name associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the item associated to the usage record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'DXC_Item_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description of the item associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'DXC_Item_Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite item class associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Item_Class'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the record is a subscription charge' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Is_Subscription_Charge'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Individual child account information associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'NetSuite_Entity_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Count of billable transactions (usage volume)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit price associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Unit_Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Extended Price associated to the grouped item numbers for the billing period associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Extended_Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit cost associated to the usage record; usually applies to a rebate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Unit_Cost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Extended cost associated to the usage record; usually applies to a rebate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Extended_Cost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Amount in sales tax charged to the customer through Avalara' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Sales_Tax_Amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the sales tax amount charged to the customer through Avalara was successful' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Sales_Tax_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Commission amount associated to the usage record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Commission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Commission value associated to the usage record to be pushed to the ERP system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Earned_Commission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Revenue the commission amount associated to the usage record was calculated from when commission depends on revenue' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Calculated_Commission_Revenue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Agree date of the product contract associated to the Group ID/office associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Group_Package_Start_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'End date of the product contract associated to the Group ID/office associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Group_Package_End_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether usage record was successfully synced to NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Boomi_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Record_Last_Update_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Record_Last_Update_Action'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Displays invoice fields from the summary level usage data for various DentalXChange client types' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite record type associated to the record; indicates if the record is a Direct Logo or PayConnect residual record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'NetSuite_Journal_Entry_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the statement associated to the record from the legacy ERP system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'GP_Invoice_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the record; autoincrementing numeric value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Record_Unique_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the journal entry associated to the record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'NetSuite_Journal_Entry_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monthly period the record is being billed for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Billing_Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the client associated to the record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name associated to the client associated to the record; updated by the ERP system integration' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Company_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of client associated to the record; class in the erp system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Client_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'More granular reporting client type of the responsible client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Reporting_Client_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the child client associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Child_Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name associated to the child client associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Child_Customer_Company_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the end user client associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'End_User_Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name associated to the end user client associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'End_User_Company_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Account information posted through the Boomi Integration by NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'NetSuite_Account_Internal_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Account name associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'NetSuite_Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite unique identifier associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'NetSuite_Subsidiary_Internal_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Subsidiary name associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'NetSuite_Subsidiary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Department unique identifier associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'NetSuite_Department_Internal_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Provider side transaction type category associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'DXC_Item_Feature_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description of the item associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'DXC_Item_Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Debit amount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Receivable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Credit amount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Revenue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fiserv payment file invoice number associated to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Fiserv_Invoice_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether a payment has been received through the DentalXChange production system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Is_Paid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the record is a sales tax amount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Is_Sales_Tax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether usage record was successfully synced to NetSuite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Boomi_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Record_Last_Update_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason the record was created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries', @level2type=N'COLUMN',@level2name=N'Record_Last_Update_Action'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Displays journal entry fields from the summary level data for various DentalXChange client types' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Journal_Entries'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Invoice unique ID that displays on the Invoice PDF in the Invoice # field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Invoice_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the invoice is a customer invoice or a journal entry' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Invoice_Category'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Invoice line unique identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Invoice_Line_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monthly period the invoice is being billed for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Billing_Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the client associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Customer_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the client associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Company_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite customer class associated to the client associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Client_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite Item unique id associated to the item number associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'NetSuite_Item_Internal_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy Great Plains (GP) Master Item code associated to the invoice line item' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Master_Item_Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the item associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'DXC_Item_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description displayed in NetSuite for the item associated to the invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'NetSuite_Item_Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quantity of items being charged for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit price of items being charged for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Unit_Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Total price of items being charged for' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Extended_Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier associated to the billing server record associated to the invoice line' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Client_Usage_Summary_ID_List'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was last modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'Last_Modified_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite internal unique identifier of the user that created the invoice/charge' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'NetSuite_Create_User_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced', @level2type=N'COLUMN',@level2name=N'NetSuite_Create_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Displays invoice data from NetSuite using the NetSuite ODBC connector' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NetSuite_Sales_Invoiced'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client unique identifier of the client associated to the subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Client_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client name of the client associated to the subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Client_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Subscription unique identifier associated to the subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subscription_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Subscription name associated to the subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subscription_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Subsidiary unique identifier associated to the subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subsidiary_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Subsidiary name associated to the subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subsidiary_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Currency type associated to the subscription; default to USD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Currency_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the subscription started' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subscription_Start_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the subscription ended' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subscription_End_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Frequency at which the subscription is billed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Billing_Frequency'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the line associated to the subscription; subscriptions have one (1) line per item' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subscription_Line_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the subscription line started' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subscription_Line_Start_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the subscription line ended' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subscription_Line_End_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the line associated to the subscription line; subscription lines have one (1) line per pricing tier per item' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subscription_Line_Line_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier of the price tier associated to the subscription line' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Price_Tier_Line_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy GP master item code associated to the subscription line' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Master_Item_Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite item unique identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'NS_Item_Internal_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy GP item number associated to the subscription line' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Item_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Legacy GP item name associated to the subscription line' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Item_Display_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) unique identifier for the general product line or parent transaction type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Partner_Tran_Type_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clearinghouse (CHS) unique identifier for the specific transaction completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Partner_Tran_Sub_Type_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the price tier started' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Price_Start_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the price tier ended' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Price_End_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Minimum number of transactions included in the price tier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Tier_From_Value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Maximum number of transactions included in the price tier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Tier_To_Value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Price associated to the tier associated to the subscription line''s line' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Tier_Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the line is included in the subscription' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Is_Included'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Billing mode associated to the subscription; defaults to In A Rears (i.e. the transactions/subscriptions are billed after they have been completed or the period has ended)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Billing_Mode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the billing subscription is active' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Billing_Subscription_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the subscription line is active' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Subscription_Line_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the price tier is active' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions', @level2type=N'COLUMN',@level2name=N'Price_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Displays data from the NetSuite Subscriptions data set' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Subscriptions'
GO
