USE [entyDev]
GO
/****** Object:  Table [dbo].[Entities]    Script Date: 8/15/2025 7:59:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entities](
	[EntityID] [int] IDENTITY(1,1) NOT NULL,
	[ClientType] [varchar](25) NOT NULL,
	[BillingClientType] [varchar](25) NULL,
	[ReportingClientType] [varchar](25) NULL,
	[SalesClientType] [varchar](25) NULL,
	[SupportClientType] [varchar](25) NULL,
	[ProductionClientType] [varchar](25) NULL,
	[ClientID] [varchar](50) NOT NULL,
	[ClientName] [varchar](100) NULL,
	[AddressLine1] [varchar](100) NULL,
	[AddressLine2] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](2) NULL,
	[Zip] [varchar](15) NULL,
	[Phone] [varchar](50) NULL,
	[PhoneExt] [varchar](10) NULL,
	[EntityDatabaseTable] [varchar](150) NOT NULL,
	[EntityClientIDColumn] [varchar](150) NOT NULL,
	[IsDemoAccount] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ParentEntityID] [int] NULL,
	[VendorEntityID] [int] NULL,
	[BillingEntityID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUserID] [int] NULL,
	[CreateUserDatabaseTable] [varchar](150) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyUserID] [int] NULL,
	[ModifyUserDatabaseTable] [varchar](150) NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
	[Email] [varchar](254) NULL,
	[NSSubsidiaryID] [int] NULL,
 CONSTRAINT [PK_Entities_EntityID] PRIMARY KEY CLUSTERED 
(
	[EntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Entities_EntityDatabaseTable_ClientID] UNIQUE NONCLUSTERED 
(
	[EntityDatabaseTable] ASC,
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Entities]  WITH CHECK ADD  CONSTRAINT [FK_Entities_BillingEntityID] FOREIGN KEY([BillingEntityID])
REFERENCES [dbo].[Entities] ([EntityID])
GO
ALTER TABLE [dbo].[Entities] CHECK CONSTRAINT [FK_Entities_BillingEntityID]
GO
ALTER TABLE [dbo].[Entities]  WITH CHECK ADD  CONSTRAINT [FK_Entities_ParentEntityID] FOREIGN KEY([ParentEntityID])
REFERENCES [dbo].[Entities] ([EntityID])
GO
ALTER TABLE [dbo].[Entities] CHECK CONSTRAINT [FK_Entities_ParentEntityID]
GO
ALTER TABLE [dbo].[Entities]  WITH CHECK ADD  CONSTRAINT [FK_Entities_VendorEntityID] FOREIGN KEY([VendorEntityID])
REFERENCES [dbo].[Entities] ([EntityID])
GO
ALTER TABLE [dbo].[Entities] CHECK CONSTRAINT [FK_Entities_VendorEntityID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entity unique identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'EntityID'
GO
EXEC sys.sp_addextendedproperty @name=N'Caption', @value=N'Provider | DSO | Payer | Trading Partner | Reseller' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'ClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of client associated to the entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'ClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NetSuite class designation associated to the entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'BillingClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of client associated to the entity; higher level of granularity than the Client Type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'ReportingClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sales type associated to the entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'SalesClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client services type associated to the entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'SupportClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Production type associated to the entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'ProductionClientType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entity unique identifier from their origin table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'ClientID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name associated to the entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'ClientName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Street address associated to the entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'AddressLine1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Suite or additional address line associated to the entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'AddressLine2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'City where the entity does business' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'City'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'State where the entity does business' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zip code where the entity does business' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'Zip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entity''s phone number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entity''s phone extension' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'PhoneExt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Production database where the entity information originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'EntityDatabaseTable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Database table column where the Client ID originated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'EntityClientIDColumn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates if the Client ID is a demo account' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'IsDemoAccount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates if the Client ID is active in it''s origin system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'EntityID of the Client ID''s parent account' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'ParentEntityID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'EntityID of the Client ID''s associated vendor account' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'VendorEntityID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'EntityID of the Client ID''s billing entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'BillingEntityID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entity create date from the origin system if it exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entity create user from the origin system if it exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'CreateUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates if the create user id is a common.dbo.SupportUser.SupportUserID or common.dbo.Users.UserID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'CreateUserDatabaseTable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modify Date from the origin system if it exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modify user from the origin system if it exists' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'ModifyUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates if the Modify User is a common.dbo.SupportUser.SupportUserID or a common.dbo.Users.UserID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'ModifyUserDatabaseTable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record was last created/modified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'RecordModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SupportUserID of the support user who last created/modified the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'RecordModifySupportUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason for the latest create/update to the record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'RecordModifyReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary email address provided by the entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Detailed audit of the dbo.Entities table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Entities'
GO
