USE [rptDev]
GO
/****** Object:  Table [dbo].[ClientInvoiceDetail]    Script Date: 8/15/2025 8:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientInvoiceDetail](
	[ClientInvoiceDetailID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [varchar](25) NOT NULL,
	[ClientID] [varchar](10) NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[FileName] [varchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[DXCHomeSentDate] [datetime] NULL,
 CONSTRAINT [PK_ClientInvoiceDetail_ClientInvoiceDetailID] PRIMARY KEY CLUSTERED 
(
	[ClientInvoiceDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
