USE [trx]
GO
/****** Object:  Table [dbo].[ClientSubscriptionEvents]    Script Date: 8/15/2025 8:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientSubscriptionEvents](
	[ClientSubscriptionEventID] [int] IDENTITY(1,1) NOT NULL,
	[ProductionSubscriptionID] [varchar](80) NOT NULL,
	[ProductionSubscriptionDatabaseTable] [varchar](150) NOT NULL,
	[ProductionSubscriptionIDColumn] [varchar](60) NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[ClientID] [varchar](50) NOT NULL,
	[ClientName] [varchar](180) NOT NULL,
	[ClientDatabaseTable] [varchar](150) NOT NULL,
	[ClientIDColumn] [varchar](60) NOT NULL,
	[ClientState] [varchar](2) NULL,
	[ReportingClientType] [varchar](50) NOT NULL,
	[ServiceCode] [varchar](3) NULL,
	[PartnerID] [varchar](10) NULL,
	[BundleName] [varchar](50) NULL,
	[GroupID] [int] NULL,
	[GroupName] [varchar](50) NULL,
	[VipID] [int] NULL,
	[VipName] [varchar](60) NULL,
	[MultilocationEntityID] [int] NULL,
	[MultilocationEntityName] [varchar](50) NULL,
	[PmsID] [int] NULL,
	[PmsName] [varchar](255) NULL,
	[ResellerID] [int] NULL,
	[ResellerName] [varchar](40) NULL,
	[NSItemInternalID] [int] NULL,
	[ItemNumberShort] [varchar](30) NULL,
	[ItemNumber] [varchar](30) NULL,
	[InvoiceClientID] [varchar](50) NULL,
	[InvoiceClientName] [varchar](180) NULL,
	[MasterItemCode] [varchar](50) NULL,
	[SubscriptionID] [bigint] NULL,
	[SubscriptionName] [varchar](220) NULL,
	[SubscriptionCheckDate] [datetime] NULL,
	[HasInvoiceClientSubscription] [bit] NULL,
	[SubscriptionLineID] [bigint] NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
	[ClientType] [varchar](50) NULL,
	[EntityRelationshipTypeDescription] [varchar](100) NULL,
	[EntityID] [int] NULL,
	[EntityName] [varchar](50) NULL,
	[NSEntityName] [varchar](500) NULL,
	[UsageDetail] [varchar](500) NULL,
	[NSZabUsageID] [int] NULL,
	[SourceProcess] [varchar](50) NULL,
	[ProductionSubscriptionStartDate] [datetime] NULL,
	[ProductionSubscriptionEndDate] [datetime] NULL,
	[PrepaidSubscriptionItem] [bit] NOT NULL,
	[Billable] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [float] NULL,
	[UnitCost] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientTransactions]    Script Date: 8/15/2025 8:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientTransactions](
	[ClientTransactionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [varchar](20) NOT NULL,
	[TransactionDatabaseTable] [varchar](150) NOT NULL,
	[TransactionIDColumn] [varchar](60) NOT NULL,
	[ParentTransactionID] [varchar](38) NULL,
	[ParentTransactionDatabaseTable] [varchar](150) NULL,
	[ParentTransactionIDColumn] [varchar](60) NULL,
	[DXCApplicationName] [varchar](100) NOT NULL,
	[PartnerTranTypeID] [int] NOT NULL,
	[PartnerTranTypeName] [varchar](50) NOT NULL,
	[FeatureName] [varchar](32) NULL,
	[SourcePartnerCode] [varchar](15) NULL,
	[SourcePartnerDescription] [varchar](128) NULL,
	[DestinationPartnerCode] [varchar](15) NULL,
	[DestinationPartnerDescription] [varchar](128) NULL,
	[MasterDestinationPartnerCode] [varchar](15) NULL,
	[MasterDestinationPartnerDescription] [varchar](128) NULL,
	[GroupID] [int] NULL,
	[GroupName] [varchar](50) NULL,
	[VipID] [int] NULL,
	[VipName] [varchar](60) NULL,
	[MultilocationEntityID] [int] NULL,
	[MultilocationEntityName] [varchar](50) NULL,
	[PayerID] [int] NULL,
	[PayerIDCode] [varchar](80) NULL,
	[PayerName] [varchar](100) NULL,
	[PmsID] [int] NULL,
	[PmsName] [varchar](255) NULL,
	[ResellerID] [int] NULL,
	[ResellerName] [varchar](40) NULL,
	[MerchantID] [varchar](50) NULL,
	[MerchantName] [varchar](50) NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
	[BillingProviderTaxID] [varchar](80) NULL,
	[RenderingProviderNPI] [varchar](30) NULL,
	[IsPrint] [bit] NULL,
	[RemoteURL] [varchar](255) NULL,
	[SourceProcess] [varchar](50) NULL,
	[DeliveryTransactionID] [varchar](255) NULL,
	[DeliveryTransactionDatabaseTable] [varchar](150) NULL,
	[DeliveryTransactionIDColumn] [varchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDimensions]    Script Date: 8/15/2025 8:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDimensions](
	[TransactionDimensionID] [int] IDENTITY(1,1) NOT NULL,
	[ClientTransactionID] [int] NOT NULL,
	[DimensionDatabaseTable] [varchar](150) NOT NULL,
	[DimensionIDColumn] [varchar](60) NOT NULL,
	[Content] [varchar](500) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
	[trxRuleID] [int] NULL,
	[trxGranularRuleID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionEvents]    Script Date: 8/15/2025 8:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionEvents](
	[TransactionEventID] [int] IDENTITY(1,1) NOT NULL,
	[ClientTransactionID] [int] NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[PartnerTranSubTypeID] [int] NOT NULL,
	[PartnerTranSubTypeName] [varchar](50) NOT NULL,
	[TransactionDirection] [varchar](10) NULL,
	[ClientID] [varchar](50) NOT NULL,
	[ClientName] [varchar](180) NOT NULL,
	[ClientDatabaseTable] [varchar](150) NOT NULL,
	[ClientIDColumn] [varchar](60) NOT NULL,
	[ClientState] [varchar](2) NULL,
	[TransactionClientType] [varchar](50) NULL,
	[ReportingClientType] [varchar](50) NOT NULL,
	[ProductGroupPackageContractID] [varchar](15) NULL,
	[PayerSetName] [varchar](32) NULL,
	[ParClass] [varchar](15) NULL,
	[BillingModel] [varchar](50) NOT NULL,
	[BillingPeriod] [date] NOT NULL,
	[NSItemInternalID] [int] NULL,
	[ItemNumberShort] [varchar](30) NULL,
	[ItemNumber] [varchar](30) NULL,
	[Revenue] [float] NULL,
	[UnitPrice] [float] NULL,
	[UnitCost] [float] NULL,
	[RecordModifyDate] [datetime] NOT NULL,
	[RecordModifySupportUserID] [int] NOT NULL,
	[RecordModifyReason] [varchar](200) NOT NULL,
	[InvoiceClientID] [varchar](50) NULL,
	[InvoiceClientName] [varchar](180) NULL,
	[MasterItemCode] [varchar](50) NULL,
	[SubscriptionID] [bigint] NULL,
	[SubscriptionName] [varchar](220) NULL,
	[SubscriptionCheckDate] [datetime] NULL,
	[HasInvoiceClientSubscription] [bit] NULL,
	[SubscriptionLineID] [bigint] NULL,
	[Quantity] [int] NULL,
	[ClientType] [varchar](50) NULL,
	[NSEntityName] [varchar](500) NULL,
	[UsageDetail] [varchar](500) NULL,
	[SourceProcess] [varchar](50) NULL,
	[NSZabUsageID] [int] NULL,
	[PrepaidSubscriptionItem] [bit] NOT NULL,
	[Billable] [bit] NOT NULL
) ON [PRIMARY]
GO
